
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

/* DOZZLE PLEX THEME */
@import url(https://theme-park.dev/CSS/themes/dozzle/dozzle-base.css);
:root {
  --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/preset-light2.png") center center/cover no-repeat fixed;
  --modal-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/preset-dark2.png") center center/cover no-repeat fixed;
  --accent-color: 229, 160, 13;
  --button-color: #cc7b19;
  --button-color-hover: #e59029;
  --button-text: #eee;
  --button-text-hover: #FFF;
  --text-color: #eee;
  --text-strong-color: #fff;
  --text-muted: #bbb;
  --border-color: rgb(255 255 255 / 25%);
  --logo-color: rgb(var(--accent-color));
  --body-background-color: var(--main-bg-color);
  --border-hover-color: rgb(var(--accent-color));
}