/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/placeholders.css");
@import url("/css/defaults/transparent.css");
@import url("/css/defaults/servarr-base.css");

:root {
    --calendar-in-cinemas: 53 197 244;
    --calendar-downloading: 122 67 182;
    --calendar-unmonitored: 173 173 173;
    --calendar-unaired: 93 156 236;
    --calendar-missing: 240 80 80;
    --calendar-missing-unmonitored: 255 165 0;
    --calendar-available: 39 194 76;
}

[class*="MovieSearchInput-sectionTitle-"] {
    color: var(--text-hover);
}

[class*="MovieSearchInput-containerOpen-"] [class*="MovieSearchInput-movieContainer-"] {
    border: none !important;
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover) !important;
    box-shadow: 0 0 10px 1px transparent !important;
}

[class*="MovieSearchInput-highlighted-"] {
    background: var(--transparency-dark-10);
}

[class*="MovieSearchInput-movieContainer-"]::-webkit-scrollbar-thumb {
    background: var(--transparency-light-25);
}

/* MOVIES PAGE */
[class*="MovieIndexPoster-controls-"] {
    background-color: rgb(var(--accent-color)) !important;
}

[class*="MovieTitlesTableContent-blankpad-"],
[class*="MovieHistoryTableContent-blankpad-"] {
    color: var(--text);
}

/* OVERVIEW PAGE */
[class*="MovieIndexOverviews-container-"],
[class*="MovieIndexOverviews-container-"]:hover {
    background-color: transparent !important;
}

[class*="MovieIndexOverview-container-"]:hover [class*="MovieIndexOverview-content-"] {
    background-color: transparent;
}

[class*="AddListMovieOverview-container-"]:hover [class*="AddListMovieOverview-content-"] {
    background: var(--transparency-light-10);
}

[class*="AddListMoviePoster-title-"] {
    background: var(--transparency-light-10);
}

[class*="MovieIndexOverview-content-"]:hover {
    background: var(--transparency-dark-10) !important;
}

[class*="MovieIndexOverview-link-"]:hover {
    text-decoration: none;
}

/* MOVIE PAGE */
[class*="MovieDetailsSeason-season-"],
[class*="MovieDetailsSeason-collapseButtonContainer-"] {
    border: none !important;
    background: var(--transparency-dark-25) !important;
}

[class*="MovieDetailsSeason-actionButton-"],
[class*="MovieDetailsSeason-collapseButtonIcon-"] {
    color: var(--text) !important;
}

[class*="MovieFileStatus-missing"].colorImpaired {
    background: transparent;
}

[class*="MovieDetailsSeason-seasonNumber-"] {
    color: var(--text-hover);
}

[class*="MovieDetailsSeason-collapseButtonContainer-"] {
    border: none !important;
    background: var(--transparency-dark-25) !important;
}

[class*="MovieFileEditorTable-container-"] {
    border: 1px solid transparent;
    background: var(--transparency-dark-25);
}

/* @supports (backdrop-filter: blur(1em)) or (-webkit-backdrop-filter:blur(1em)) {
    [class*="Tooltip-tooltip-"][class*="Tooltip-inverse-"],
    [class*="Popover-title-"],
    [class*="SeasonInfo-title-"],
    [class*="Popover-body-"],
    [class*="Tooltip-body-"],
    [class*="Tooltip-tooltipContainer-"],
    [class*="Tooltip-tooltip-"][class*="Tooltip-default-"] {
        -webkit-backdrop-filter: saturate(1) blur(1.5em);
        backdrop-filter: saturate(1) blur(1.5em);
        background: rgb(var(--accent-color),0.05);
        color: white;
    }
} */

[class*="MovieDetails-selectedTab-"] {
    border-bottom: 4px solid rgb(var(--accent-color));
}

[class*="MovieDetails-tabList-"] {
    color: var(--text-hover);
}

/* POSTERS */
[class*="MovieIndexPoster-title-"],
[class*="MovieIndexPoster-nextAiring-"],
[class*="MovieIndexPosterInfo-info-"],
[class*="MovieIndexPosterInfo-info-"],
[class*="MovieCreditPoster-title-"] {
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

/* SEARCH BAR */
[class*="AddNewMovie-searchIconContainer-"] {
    border: none;
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

[class*="MovieSearchInput-container-"] [class*="Input-input-"] {
    background: transparent;
    border-bottom: solid 1px var(--text);
}

[class*="MovieSearchInput-container-"] [class*="Input-input-"]:focus {
    border-bottom: none;
    background: transparent;
}

[class*="MovieSearchResult-alternateTitle-"] {
    color: var(--text-hover);
    font-size: 12px;
}

[class*="AddNewMovieSearchResult-year-"] {
    color: var(--text-hover) !important;
}

/* SEARCH RESULTS */
[class*="AddNewMovieSearchResult-searchResult-"],
[class*="AddNewMovieSearchResult-underlay-"] {
    background-color: transparent !important;
}

[class*="AddNewMovieSearchResult-searchResult-"]:hover,
[class*="AddNewMovieSearchResult-underlay-"]:hover {
    background: var(--transparency-dark-10) !important;
}

[class*="AddNewmovieModalContent-year-"] {
    color: var(--text-hover);
}

[class*="RootFolderSelectInputSelectedValue-movieFolder-"] {
    color: var(--text-hover);
}

[class*="RootFolderSelectInputOption-movieFolder-"] {
    color: var(--text-muted);
}

/* Drop down menu/button*/
[class*="ImportMovieSelectMovie-button-"] {
    border: none !important;
    background: var(--transparency-dark-25) !important;
}

[class*="ImportMovieSelectMovie-content-"],
[class*="ImportMovieSelectMovie-searchIconContainer-"] {
    border: none;
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover);
}

[class*="ImportMovieSearchResult-movie-"]:hover {
    background: var(--transparency-light-10);
}

[class*="ImportMovieTitle-year-"] {
    color: var(--text-muted);
}

/* DISCOVER */
[class*="DiscoverMovieOverview-link-"] {
    color: var(--text);
}

[class*="DiscoverMovieOverview-link-"]:hover {
    color: var(--text-hover);
    text-decoration: none;
}

[class*="DiscoverMoviePoster-title-"],
[class*="DiscoverMoviePosterInfo-info-"] {
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

/*Title*/
[class*="AddListMovieOverview-link-"] {
    color: var(--text);
}

[class*="AddListMovieOverview-link-"]:hover {
    color: var(--text-hover);
}

[class*="AddListMovieOverview-content-"]:hover {
    background: var(--transparency-dark-10) !important;
}

/*Posters*/
[class*="AddListMoviePoster-title-"] {
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

/* CALENDAR */
[class*="CalendarEvent-downloaded-"] {
    background: rgb(var(--calendar-available) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloaded-"]:hover {
    background: rgb(var(--calendar-available) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-missing-"],
[class*="CalendarEvent-missingMonitored"] {
    background: rgb(var(--calendar-missing) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-missing-"]:hover,
[class*="Calendar-calendar-"] [class*="CalendarEvent-missingMonitored"]:hover {
    background: rgba(var(--calendar-missing) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-missingUnmonitored-"] {
    background: rgb(var(--calendar-missing-unmonitored) / .7) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-missingUnmonitored-"]:hover {
    background: rgb(var(--calendar-missing-unmonitored) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-unreleased-"],
[class*="CalendarEvent-continuing-"] {
    background: rgb(var(--calendar-unaired) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unreleased-"]:hover,
[class*="Calendar-calendar-"] [class*="CalendarEvent-continuing-"]:hover {
    background: rgb(var(--calendar-unaired) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-event-"] {
    background: rgb(var(--calendar-unmonitored) / .7);
    border-left-color: transparent;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-event-"]:hover {
    background: rgb(var(--calendar-unmonitored) / .5);
    border-left-color: transparent;
}

[class*="CalendarEvent-unmonitored-"] {
    background: rgb(var(--calendar-unmonitored) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unmonitored-"]:hover {
    background: rgb(var(--calendar-unmonitored) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-downloading-"],
[class*="CalendarEvent-queue-"] {
    background: rgb(var(--calendar-downloading) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloading-"]:hover,
[class*="Calendar-calendar-"] [class*="CalendarEvent-queue-"]:hover {
    background: rgb(var(--calendar-downloading) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-movieTitle-"],
[class*="CalendarEvent-movieInfo-"] {
    color: #fff !important;
}

[class*="CalendarEventGroup-movieTitle-"] {
    color: var(--text-hover) !important;
}

/* Custom filter */
[class*="SelectMovieModalContent-path-"] {
    color: var(--text);
}