/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

body {
    background-color: transparent !important;
}

.container {
    max-width: 100% !important;
    padding-right: 2rem !important;
}

#stats {
    background: var(--transparency-dark-15) !important;
    padding-left: .0rem !important;
    padding-right: 1.11rem !important;
    box-shadow: none;
}

#hd {
    padding-left: 0.8rem !important;
}

.double-val-label>span.success {
    background-color: #28a745 !important;
}

.servicetile:hover,
.servicetile:focus {
    text-shadow: 0 0 20px #000;
}

#servicetitle:hover,
#servicetitle:focus {
    text-shadow: 0 0 20px #000;
}

#servicetitle {
    color: var(--text-hover) !important;
}

.btnoffline,
.btnunknown,
.btnonline {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
    -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
}

.btnonline {
    background-color: #28a745 !important;
}

#time {
    background: var(--transparency-dark-15) !important;
    color: var(--text-hover) !important;
    box-shadow: none;
}

#slidertable {
    background: var(--transparency-dark-15) !important;
    box-shadow: none;
}

#textslider {
    color: var(--text-hover) !important;
}

.dtg {
    color: var(--text-hover) !important;
}

.datemin {
    color: var(--text-hover) !important;
}

#center {
    background-color: rgba(0, 0, 0, .0) !important;
    box-shadow: 0px 0px 0px 0px #ffffff00, 0px 0px 0px 0px #ffffff00, 10px 0px 10px 0px #ffffff00, -10px 0px 10px 2px #ffffff00 !important;
}

/*Service tile*/
.col-lg-4 {
    background: var(--transparency-dark-15) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
    box-shadow: none;
}

.col-lg-4:hover {
    background: var(--transparency-dark-10) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
    box-shadow: none;
}

.servicetile,
.servicetile:hover,
.servicetile:focus {
    color: #ffffff;
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.servicetile {
    color: #ffffff;
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#servicetitle:hover,
#servicetitle:focus {
    text-shadow: none !important;
    font-weight: inherit !important;
}

#clock {
    background: var(--transparency-dark-15) !important;
    color: var(--text-hover) !important;
    box-shadow: none;
}

.date {
    color: var(--text-hover) !important;
}

#summary {
    background-color: #e84242 !important;
    border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    box-shadow: 0px 2px 5px rgb(15, 15, 15) !important;
}

.pace,
.pace-progress {
    background: var(--transparency-dark-15) !important;
}

.pace,
.pace-progress-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .15) !important;
}

.footer {
    color: transparent !important;
}

.footer:hover {
    text-shadow: 0 0 15px transparent !important;
}

#footer {
    color: transparent !important;
}

.alpaca-control-label,
.alpaca-control.radio {
    color: black !important;
}

.navbar-brand {
    text-shadow: 0 0 15px #000000 !important;
}

.Rtable-cell {
    color: #000000 !important;
}

#colorkey {
    color: #000000 !important;
}

/* ButtonShadow */
.btnoffline,
.btnunknown,
.btnonline {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

@media only screen and (max-width: 775px) {
    #slidertable {
        display: none !important;
    }

    #time {
        display: none !important;
    }
}