/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

@import url(https://use.fontawesome.com/releases/v5.15.1/css/all.css);

body,
.tableScrollContainer,
.settings-tabs-wrapper .settings-tabs-container {
    background: var(--main-bg-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: #fff;
}

* {
    outline: none !important;
}

/* Scrollbar */
@media only screen and (min-width: 768px) {
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body {
        overflow-y: auto;
        height: 100%;
        background: var(--main-bg-color)
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .2);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
}

/* TEXT */
body,
#onboarding-dark #page-main,
p,
h1,
h2,
h3,
h4,
h5,
h6,
#choose-product-dialog .choose-title h1,
label.control-label,
.emptyMessage,
.bt-navbar #choose-share-type-menu .container-fluid .menu-item h2,
.bt-navbar .choose-dropdown-menu .container-fluid .menu-item h2,
UL.jqueryFileTree A,
.settings-tabs-wrapper .settings-tabs-container,
.bt-checkbox label,
.bt-radio label,
.settings-tabs-wrapper .settings-tabs-buttons .left-nav-button,
#licenses-tab #unlicensed-container h1,
#licenses-tab #unlicensed-container .unlicensed-text,
#support-tab #page-menu .support-content>a h5,
#support-tab #page-menu .support-content>button h5,
#support-tab #page-menu .support-content>a p,
.modal-header .transfer-path .labelContainer .secondaryLine,
.transfer-table .transfer-row .nameLabel {
    color: var(--text);
}

/* ACCENTS */
#choose-product-dialog .product-container .product:hover {
    border-color: var(--accent-color);
}

.text-success {
    color: #4CAF50;
}

#historyContainer .table-filter-panel .filter-item.active,
.resizableTableContainer .table-filter-panel .filter-item.active,
.tableContainerWithFilterPanel .table-filter-panel .filter-item.active {
    color: var(--accent-color)
}

/* NAVBAR */
.bt-navbar {
    background-color: rgb(0 0 0 / 25%);
}

.bt-navbar .btn.dropdown-toggle {
    background-color: rgb(255 255 255 / 8%);
}

.bt-navbar .btn.dropdown-toggle:hover {
    background-color: rgb(255 255 255 / 16%);
}

.bt-navbar .btn.btn-tab.active,
.bt-navbar .btn.btn-tab:active {
    background-color: rgb(0 0 0 / 25%);
    border-bottom-color: var(--accent-color);
}

.bt-navbar .btn:hover {
    background-color: rgb(255 255 255 / 8%) !important;
}

.bt-navbar .btn#try-pro-button {
    background-color: rgb(0 0 0 / 50%);
    color: var(--button-text);
}

.bt-navbar .btn#try-pro-button:hover {
    background-color: rgb(255 255 255 / 8%);
}

.bt-navbar .btn.btn-tab {
    background: transparent;
}

/* SIDE MENU */
/* DROPDOWN MENU */
.bt-navbar #choose-share-type-menu,
.bt-navbar .choose-dropdown-menu {
    background: var(--modal-bg-color);
}

.dropdown-menu {
    background-color: var(--modal-bg-color);
    border: 1px solid #ccc;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 2px;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}

.dropdown-menu {
    background: var(--modal-bg-color);
    border: 1px solid rgba(255, 255, 255, .1);
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .2);
}

.sync-level .add-folder-mode .option-text {
    color: var(--text-hover);
}

.sync-level .add-folder-mode .option-description {
    color: var(--text);
    white-space: normal;
}

.sync-level .add-folder-mode li.selected a {
    background-color: rgb(0 0 0 / 25%);
}

.sync-level .add-folder-mode li:not(.selected) a:focus,
.sync-level .add-folder-mode li:not(.selected) a:hover {
    background-color: rgb(255 255 255 / .08);
}

.sync-level .add-folder-mode .btn-group {
    background-color: transparent !important;
}

button.selectpicker.btn-default {
    border-color: #ccc0 !important;
    color: var(--text) !important;
    background-color: rgb(0 0 0 / 25%) !important;
}

.btn-group.open .dropdown-toggle {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    border: none;
    background: rgb(0 0 0 / 50%) !important;
}

/* ICONS */
.mycon.mycon-folder-rw,
.mycon.mycon-folder-owner,
.mycon.mycon-folder-encrypted,
.mycon.mycon-file,
.mycon.mycon-plus {
    background-image: none !important;
}

.mycon.mycon-folder-rw:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f07b";
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    color: var(--text);
    font-style: normal;
}

.mycon.mycon-folder-owner:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f65e";
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    color: var(--text);
    font-style: normal;
}

.mycon.mycon-folder-encrypted:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f023";
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    color: var(--text);
    font-style: normal;
}

.mycon.mycon-file:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f064";
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    color: var(--text);
    font-style: normal;
}

.mycon.mycon-plus:before {
    font-family: "Font Awesome 5 Free";
    font-size: 24px;
    content: "\f0c1";
    font-weight: bold;
    width: 24px;
    height: 24px;
    margin-left: 5px;
    color: var(--text);
    font-style: normal;
}

.bt-navbar #choose-share-type-menu .container-fluid .menu-item:focus,
.bt-navbar #choose-share-type-menu .container-fluid .menu-item:hover,
.bt-navbar .choose-dropdown-menu .container-fluid .menu-item:focus,
.bt-navbar .choose-dropdown-menu .container-fluid .menu-item:hover {
    background-color: rgb(255 255 255 / 8%);

}

.bt-navbar #choose-share-type-menu .container-fluid .menu-item .menu-item-description:hover,
.bt-navbar .choose-dropdown-menu .container-fluid .menu-item .menu-item-description:hover {
    margin-left: 6px;
    padding-top: 4px;
    color: var(--text-hover);
}

.bt-navbar #choose-share-type-menu .arrow,
.bt-navbar .choose-dropdown-menu .arrow {
    background: var(--modal-bg-color);
}

.popout-parent {
    background: var(--modal-bg-color);
}

.context-menu li a:focus,
.context-menu li a:hover {
    background-color: rgb(255 255 255 / 8%);
}

.context-notification .context-notification-inner {
    background: var(--modal-bg-color);
}

#general-settings #languagedrop {
    background-color: rgb(0 0 0 / 25%);
    border: transparent;
}

.popout-anchor.popout-open {
    color: var(--text-hover);
}

/* MODALS */
.modal-header,
.modal-footer {
    background: var(--modal-bg-color);
    color: var(--text);
}

.modal-content,
.modal-body,
.modal-body .fileTreeContainer,
.modal-page {
    color: var(--text);
    background: var(--modal-bg-color);
}

.modal-body .horizontal-separator .horizontal-separator-text {
    background-color: var(--modal-bg-color);
    color: var(--text);
}

#choose-product-dialog .product-container .product {
    background-color: rgb(255 255 255 / 0.08);
    border: 1px solid transparent;
}

.modal-header .close:hover {
    background: rgb(255 255 255 / 8%);
}

ul.jqueryFileTree a.active,
ul.jqueryFileTree a:hover {
    background-color: rgb(255 255 255 / 8%);
    color: var(--text-hover);
}

.modal-filter:before,
.modal-input:before {
    background: -owg-linear-gradient(left, transparent, transparent);
    background: transparent !important;
    background: -moz-linear-gradient(left, transparent, transparent);
    background: -o-linear-gradient(left, transparent, transparent);
    background: linear-gradient(left, transparent, transparent);
}

.nav-tabs.nav-sub-tabs {
    background-color: transparent;
    border-bottom-color: rgb(255 255 255 / .1);
}

#file-sharing-content .shareOptionsContainer .shareOption:hover,
#sharing-content .shareOptionsContainer .shareOption:hover,
.sharing-dialog-content .shareOptionsContainer .shareOption:hover {
    background-color: rgb(255 255 255 / 8%);
    color: var(--text-hover);
}

#sharing-content .nav-tabs.nav-sub-tabs>li {
    background-color: var(--modal-bg-color);
}

#sharing-content .nav-tabs.nav-sub-tabs>li>a {
    border: 1px solid #cacaca;
    color: #606060;
    background: white;
}

#sharing-content .nav-tabs.nav-sub-tabs>li.active a,
.nav-tabs.nav-sub-tabs>li.active a:focus,
.nav-tabs.nav-sub-tabs>li.active a:hover {
    background: var(--button-color-hover) !important;
    border: 1px solid var(--button-color-hover);
    color: var(--button-text)
}

.activity-filter.open,
.main-filter.open,
.modal-filter.open,
.modal-input.open {
    background: var(--main-bg-color) !important;
}

.modal-header .transfer-path .labelContainer {
    border-left: 1px solid rgb(255 255 255 / .1);
}

.modal-filter .btn,
.modal-input .btn {
    background: transparent;
}

.modal-filter .btn:hover,
.modal-input .btn:focus,
.modal-filter animating {
    background: rgb(255 255 255 / .08) !important;
}

/* PAGES */
#archive-onboarding.fixed .tutorial-background,
#onboarding-dark.fixed .tutorial-background,
#syncall-tutorial.fixed .tutorial-background {
    background-color: var(--main-bg-color);
    color: var(--text);
}

#historyContainer .table-filter-panel,
.resizableTableContainer .table-filter-panel,
.tableContainerWithFilterPanel .table-filter-panel {
    background-color: rgb(0 0 0 / 25%);
    border-bottom: 1px solid rgb(255 255 255 / 10%);
}
.section-header {
    border-bottom: 1px solid rgb(255 255 255 / .1);
}
/* FOOTER */
#sync-core-state {
    background-color: rgb(0 0 0 / 50%);
    border-top: 1px solid rgb(255 255 255 / 10%);
}

#statusPanel {
    background: var(--modal-bg-color);
}

.status-panel-shown #statusPanel {
    border-top: 1px solid rgb(255 255 255 / 20%);
}

#statusPanel .nav-pills a.tab-button .header,
#statusPanel .nav-pills a.tab-button .value,
#statusPanel .nav-pills a.tab-button span[class$=-speed-label] {
    color: var(--text);
}

#statusPanel .nav-pills li {
    border-bottom: 1px solid rgb(255 255 255 / .1);
}

#statusPanel .nav-pills a.tab-button:focus,
#statusPanel .nav-pills a.tab-button:hover,
#statusPanel .nav-pills .active>a {
    background-color: rgb(255 255 255 / 8%);
}

#statusPanel .tab-content {
    background-color: transparent;
}

#statusPanel .chart-wrapper {
    background-color: rgb(0 0 0 / 25%);
    border-right: 1px solid rgba(255, 255, 255, .1);
}

.resizableTableContainer .tableHeaderContainer {
    border-bottom: 1px solid rgba(255, 255, 255, .1);
    background: var(--modal-bg-color);
}

.c3 {
    filter: invert(1) !important;
}

/* SETTINGS */
.settings-tabs-wrapper .settings-tabs-buttons .left-nav-button.active {
    background-color: rgb(0 0 0 / 25%);
    color: var(--accent-color);
}

.settings-tabs-wrapper .settings-tabs-buttons .left-nav-button:hover:not(.active) {
    background-color: rgb(255 255 255 / 8%);
}

.settings-tabs-wrapper .settings-tabs-buttons .left-nav-button:hover:not(.active) .txt-button {
    color: var(--text-hover);
}

#support-tab #page-menu .support-content>a,
#support-tab #page-menu .support-content>button {
    background-color: transparent;
}

#support-tab #page-menu .support-content>a:hover h5,
#support-tab #page-menu .support-content>a:hover p,
#support-tab #page-menu .support-content>button:hover h5,
#support-tab #page-menu .support-content>button:hover p {
    color: var(--text-hover);
}

.settings-tabs-wrapper .settings-tabs-buttons {
    border-right: 1px solid rgb(255 255 255 / 10%);
    background: rgb(0 0 0 / 25%);
}

/* IDENTITY */
#my-devices .my-devices .single-my-device:hover:not(.disabled) {
    background-color: rgb(255 255 255 / 8%);
}

#my-devices .my-devices .link-device-block #device-to-qr .device-link {
    color: var(--accent-color);
}

#my-devices .my-devices .link-device-block #device-to-qr:hover:not(:disabled) .device-link-text {
    text-decoration: underline;
    color: var(--text-hover);
}

/* BUTTONS */
.btn {
    border-color: var(--button-color);
    background: var(--button-color);
    color: var(--button-text);
    margin-right: 5px;
    box-shadow: none;
    border: transparent;
    border-radius: 2px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active {
    border-color: var(--button-color-hover);
    color: var(--text-hover);
    background-color: var(--button-color-hover);
    box-shadow: none !important;
}

.transfer-table .transfer-row .optionsColumn .options-button {
    background-color: transparent;
    color: var(--button-text);
}

.transfer-table .transfer-row .optionsColumn .options-button.active,
.transfer-table .transfer-row .optionsColumn .options-button:hover {
    background-color: rgb(255 255 255 / 8%);
}

/* FORMS */
.form-control {
    color: var(--text) !important;
    background-color: rgba(0, 0, 0, .25) !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    background-color: rgba(0, 0, 0, .5) !important;
    color: var(--text-hover) !important;
}

/* TABLE */
#advanced-settings-dialog .verticalScrollContainer tr:active,
#advanced-settings-dialog .verticalScrollContainer tr:focus,
#advanced-settings-dialog .verticalScrollContainer tr:hover {
    background-color: rgb(255 255 255 / 8%);
    color: var(--text-hover);
}

.table-hover>tbody>tr.active,
.table-hover>tbody>tr:hover:not(.no-hover) {
    background-color: rgb(255 255 255 / 8%);
    color: var(--text-hover);
}

/* PLACEHOLDER TEXT */
::placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

:-moz-placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

:-ms-input-placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

::-webkit-input-placeholder {
    color: var(--text) !important;
    opacity: .5;
}
