
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* MOVIEMATCH ORGANIZR-DARK THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/moviematch/moviematch-base.css);
:root {
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #1b1b1b;
  --text-color: #96a2b4;
  --text-color-hover: #fff;
  --button-color: #2cabe3;
  --button-color-hover: rgb(44 171 227 / .8);
  --button-text: #eee;
  --button-text-hover: #fff;
  --accent-color:#2cabe3;
  --accent-color-hover: #fff;
  --link-color: #2cabe3;
  --link-color-hover: #fff;
  --text-muted: #bbb;
  --logo-color: invert(65%) sepia(83%) saturate(2026%) hue-rotate(167deg) brightness(90%) contrast(97%);
}