@import url("/css/defaults/servarr-darker-base.css");
:root {
    --main-bg-color: #202020;

    --modal-bg-color: #2a2a2a;
    --modal-header-color: #2a2a2a;
    --modal-footer-color: #2a2a2a;

    --drop-down-menu-bg: #333;

    --button-color: #5899eb;
    --button-color-hover: #3483e7;
    --button-text: #eee;
    --button-text-hover: #fff;

    --accent-color: 53, 197, 244;
    --accent-color-hover: rgb(33, 147, 181);
    --link-color: #35c5f4;
    --link-color-hover: rgb(53, 197, 244, .8);
    --label-text-color: #272a36;

    --text: #ccc;
    --text-hover: #fff;
    --text-muted: #bebebe;

    /*Specials*/
    --arr-queue-color: #35c5f4;
    --side-menu-active: #333333;
    --scroller-hover: #606060;
    --scroller: #707070;
    --border-color: #606060;
    --label-color: #35c5f4;
    --label-info: #5d9cec;
    --header-color: #2a2a2a;
    --toolbar-background: #262626;
    --side-menu-color: #2a2a2a;
    --side-menu-link-color: #35c5f4;
}
/* SCROLLER */
[class*=ImportSeriesSelectSeries-results-]::-webkit-scrollbar-thumb:hover,
[class*=OverlayScroller-thumb-]:hover {
    background-color: var(--scroller-hover) !important;
}

[class*="OverlayScroller-thumb-"],
[class*=Scroller-scroller-]::-webkit-scrollbar-thumb {
    background-color: var(--scroller) !important;
}

/* SEARCH DROP DOWN */
[class*="SeriesSearchInput-containerOpen-"] [class*="SeriesSearchInput-seriesContainer-"] {
    border: 1px solid var(--drop-down-menu-bg);
    background-color: var(--drop-down-menu-bg);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    color: #e1e2e3;
}

/* SERIES PAGE */
[class*="SeriesIndexPoster-controls-"] {
    background-color: var(--label-color) !important;
    color: #fff !important;
}

[class*="SeriesIndexPoster-posterContainer-"]>span>button {
    background-color: transparent;
    color: white !important;
}

[class*="SeriesIndexPoster-action-"]:hover,
[class*=SeriesIndexPoster-action-] .fa-search:hover {
    color: #ccc !important;
}