/* GRAFANA BLUR THEME */
body {
	background-image: url("https://cdn.rawgit.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://cdn.rawgit.com/gilbN/theme.park/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-color: rgba(0,0,0,.0);
	color:#FFFFFF;
}
.main-view {
    background: linear-gradient(180deg,#ffffff00 10px,#ffffff00 100px);
}

/* sidemenu */
.sidemenu-open .sidemenu {
    background: rgba(0, 0, 0, .25);
}
.sidemenu__logo:hover {
    background: rgba(0, 0, 0, .25);
}
.sidemenu-item.active, .sidemenu-item:hover {
    background-color: rgba(0, 0, 0, .25);
}

/* Dashboard dropdown menu */
.search-dropdown__col_1 {
    background: transparent;
}
.search-container {
    left: 0px;
}
.navbar-page-btn {
    color: #FFFFFF;
}

/* Panel fullscreen navbar */
.panel-in-fullscreen .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25));
}

/* Dashboard search menu */
.search-field-wrapper {
	background-image: url("https://cdn.rawgit.com/gilbN/GrafOrg/master/Resources/blur-noise.png"), url("https://cdn.rawgit.com/gilbN/GrafOrg/master/Resources/blur-light.png");
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-color: rgba(0,0,0,.0);
	box-shadow: none;
}
.search-field-wrapper>input {
	height: 55px;
    background-color: rgba(0, 0, 0, 0.25);
}
.search-field-icon {
    background-color: rgba(0, 0, 0, .25);
}

/* Dashboard settings menu */
.dashboard-settings__aside {
    background: rgba(0, 0, 0, .25);
}
.dashboard-page--settings-open .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25));
}
.navbar-button--primary {
    border-color: #ffffff00;
}
.dashboard-settings__aside-header {
    color: #ffffff;
}
.dashboard-settings__nav-item {
    color: #ffffff;
}
.bootstrap-tagsinput {
    background-color: #09090b;
}
.gf-form-select-wrapper .gf-form-input {
    background-color: #393a3b;
}

/* Variable label color */
.template-variable {
    color: #FFFFFF !important;
}

/* Variable label box */
.gf-form-label {
    background-color: rgba(0, 0, 0, 0.25);
	border: none ;
}
.gf-form-input:focus {
    color: #FFF !important;
    background-color: #262626 !important;
    border: none !important;
}

/* Variable dashboard dropdown */
.variable-value-link {
    padding: 7.4px 10px;
    background-color: rgba(0, 0, 0, 0.25);
    border: none;
    color: #FFFFFF;
}

/* Variable input box */
.gf-form-input {
	color: #FFFFFF !important;
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: 0px solid #262628 !important;

}

/* NAVBAR BUTTONS */
.navbar-button {
    color: #FFFFFF;
    background-color: #00000040;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25));
}

/* Custom Range Refreshing every X Dropdown */
.gf-timepicker-absolute-section select {
    background-color: #393a3b;
}

/* PANEL BACKGROUND COLOR*/
.panel-container {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(255, 255, 255, 0.1);
}
.panel-container.panel-transparent {
	background-color: rgba(0, 0, 0, .25);
}
.panel-header:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
/* ////PANEL BACKGROUND COLOR//// */

.graph-legend-table .graph-legend-series:nth-child(odd) {
    background: rgba(0, 0, 0, 0);
}

/* Panel text color*/
div.flot-text {
    color: #fff !important;
}

/* panel loading circle*/
.panel-loading {
    color: #ffffff;
}

/* panel resize arrow */
.theme-dark .react-grid-item>.react-resizable-handle:after {
    border-right: 2px solid #fff;
    border-bottom: 2px solid #fff;
}

/* table panel background color */
.table-panel-container {
    background-color: rgba(0, 0, 0, .25);
}
