/* GRAFANA BLUR THEME */
body {
	color:#FFFFFF !important;
	background-color: #333333 !important;
}
.theme-dark, .theme-light, .preloader {
	background-image: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"),
	url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-light.png") !important;
	background-repeat: repeat, no-repeat!important;
	background-attachment: fixed, fixed!important;
	background-position: center center, center center!important;
	background-size: auto, cover!important;
	-webkit-background-size: auto, cover!important;
	-moz-background-size: auto, cover!important;
	-o-background-size: auto, cover!important;
}
.page-header-canvas {
    background: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none !important;
    border-bottom: none !important;
}
.main-view {
    background: linear-gradient(180deg,#ffffff00 10px,#ffffff00 100px) !important;
}

/* login page */
.login {
background-image: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"),
url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-light.png") !important;
background-repeat: repeat, no-repeat!important;
background-attachment: fixed, fixed!important;
background-position: center center, center center!important;
background-size: auto, cover!important;
-webkit-background-size: auto, cover!important;
-moz-background-size: auto, cover!important;
-o-background-size: auto, cover!important;
background-color: rgba(0,0,0,.0) !important;
color:#FFFFFF !important;
}
.login-branding {
    border-right: none !important;
}
/* Configuration menu */
.card-item {
    background: rgba(0, 0, 0, .25) !important;
}
.card-item:hover {
    background: hsla(0,0%,100%,.08) !important;
}
.card-item-sub-name, .card-item-type {
    color: #FFF !important;
}
.gf-form--has-input-icon .gf-form-input-icon {
    color: #fff !important;
}
.gf-tabs-link.active, .gf-tabs-link.active:focus, .gf-tabs-link.active:hover {
    background: rgba(0, 0, 0, 0.25) !important;
}
.filter-table tbody tr:nth-child(odd) {
    background: hsla(0,0%,100%,.08) !important;
}
.cta-form {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
.empty-list-cta {
    background-color: rgba(0, 0, 0, .25) !important;
}

/* sidemenu */
.sidemenu-open .sidemenu {
    background: rgba(0, 0, 0, .25) !important;
}
.sidemenu__logo:hover {
    background: rgba(0, 0, 0, .25) !important;
}
.sidemenu-item.active, .sidemenu-item:hover {
    background-color: rgba(0, 0, 0, .25) !important;
}

/* Dashboard dropdown menu */
.search-dropdown__col_1 {
    background: transparent !important;
}
.search-container {
    left: 0px !important;
}
.navbar-page-btn {
    color: #FFFFFF !important;
}

/* Panel fullscreen navbar */
.panel-in-fullscreen .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25)) !important;
}

/* Dashboard search menu */
.search-field-wrapper>input {
	height: 55px !important;
}

/* Dashboard settings menu */
.dashboard-settings__aside {
    background: rgba(0, 0, 0, .25) !important;
}
.dashboard-page--settings-open .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25)) !important;
}
.navbar-button--primary {
    border-color: #ffffff00 !important;
}
.dashboard-settings__aside-header {
    color: #ffffff !important;
}
.dashboard-settings__nav-item {
    color: #ffffff !important;
}
.bootstrap-tagsinput {
    background-color: #09090b !important;
}
.gf-form-select-wrapper .gf-form-input {
    background-color: #00000000 !important;
}
.gf-form-select-wrapper {
    background-color: hsla(0,0%,100%,.08) !important;
}

/* Variable label color */
.template-variable {
    color: #f79520 !important;
}

/* Variable label box */
.gf-form-label {
    background-color: rgba(0, 0, 0, 0.25) !important;
	border: none !important;
}
.gf-form-input:focus {
    color: #FFF !important;
    background-color: #262626 !important;
    border: none !important;
		box-shadow: none !important;
}
.variable-option.highlighted, .variable-option:hover {
    background-color: hsla(0,0%,100%,.1) !important;
}

/* Variable dashboard dropdown */
.variable-value-link {
    padding: 7.4px 10px !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    color: #FFFFFF !important;
}

/* Variable input box */
.gf-form-input {
	color: #FFFFFF !important;
    background-color: rgba(255, 255, 255, 0.15) !important;
    border: 0px solid #262628 !important;

}

/* NAVBAR BUTTONS */
.navbar-button {
    color: #FFF !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)) !important;
    border: none !important;
}

/* Custom Range Refreshing every X Dropdown */
.gf-timepicker-absolute-section select {
    background-color: #393a3b !important;
}

/* PANEL BACKGROUND COLOR*/
.panel-container {
    background-color: rgba(0, 0, 0, .25);
    border: transparent;
}
.panel-container.panel-transparent {
	background-color: rgba(0, 0, 0, .25);
	border: transparent;
}
.panel-header:hover {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
/* ////PANEL BACKGROUND COLOR//// */

.graph-legend-table .graph-legend-series:nth-child(odd) {
    background: transparent !important;
}

/* Panel text color*/
div.flot-text {
    color: #FFF !important;
}

/* panel loading circle*/
.panel-loading {
    color: #FFF !important;
}

/* panel resize arrow */
.theme-dark .react-grid-item>.react-resizable-handle:after {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

/* table panel background color */
.table-panel-container {
    background-color: rgba(0, 0, 0, .25) !important;
}
/* table panel border size */
.table-panel-table td {
    padding: .45em 0 .45em 1.1em;
    border-bottom: 1px solid #171819;
    border-right: 1px solid #171819;
}
/* Edit panel tabs  */
.tabbed-view-header {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.25);
    border-bottom: none;
}
.tabbed-view-panel-title {
    padding-left: 10px;
}
/* buttons  */
.btn-inverse {
border-color: #b56d16;
    color: #fff;
    background-color: #cc7b19;
    -webkit-transition: background-color .1s;
    transition: background-color .1s;
	}
	.btn-inverse.active, .btn-inverse.disabled, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse[disabled] {
		color: #fff;
    background-color: #e59029;
}
.btn-outline-disabled {
    color: #fff;
}
