body {
	background-color: #1f1f1f;
	color:#FFFFFF;
}

/* LOGIN MENU */
div.login-ui {
    background: inherit;
}
.login-ui div.login-dialog {
    background: rgba(0, 0, 0, .25);
}

input[type="submit"], button, a.button {
    background-color: #cc7b19;
}
input[type="submit"]:hover, button:hover, a.button:hover {
    background-color: #e59029;
}


/* HOME MENU */
.header h2 {
    color: white;
    background-color: rgba(0, 0, 0, 0.25);
}

.connection .icon.vnc, .connection .icon.rdp {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-monitor.png);
}
.connection .icon.ssh, .connection .icon.telnet {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-text.png);
}

.user-menu .menu-dropdown .menu-title  {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-user.png);
    background-color: transparent;
}
.user-menu .menu-dropdown .menu-contents li a[href="#/"] {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-home-dark.png);
}
.user-menu .menu-dropdown .menu-contents li a[href="#/settings/users"], .user-menu .menu-dropdown .menu-contents li a[href="#/settings/connections"], .user-menu .menu-dropdown .menu-contents li a[href="#/settings/sessions"], .user-menu .menu-dropdown .menu-contents li a[href="#/settings/preferences"] {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-config-dark.png);
}
.user-menu .menu-dropdown .menu-contents li a.logout {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-logout-dark.png);
}
.icon.user {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-user.png);
}
.pager .icon.first-page {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-first-page.png);
}
.pager .icon.prev-page {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-prev-page.png);
}
.pager .icon.next-page {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-next-page.png);
}
.pager .icon.last-page {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/guac-last-page.png);
}
.loading::before{
    background-image:url('https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/cog.png');
}
table.sorted th.sort-primary.sort-descending:after {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/up.png);
}

.menu-dropdown .menu-indicator {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/down.png);
}
.menu-dropdown .menu-indicator:hover {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/down.png);
	color: #f9be03;
}
table.sorted th.sort-primary:after {
    background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/guacamole/down.png);
}
.menu-dropdown.open, .menu-dropdown.open:hover {
    background: rgba(0, 0, 0, 0.25);
}
.menu-dropdown {
    border-left: none;
    background: rgba(0, 0, 0, 0.25);
}
.menu-dropdown .menu-contents li a {
    display: block;
    cursor: pointer;
    color: white;
    text-decoration: none;
    padding: .75em;
    background: #1f1f1f;
}
.menu-dropdown .menu-contents li a.current, .menu-dropdown .menu-contents li a.current:hover {
    background-color: rgba(0,0,0,.25);
    opacity: .9;
}
.menu-dropdown .menu-contents li a:hover {
    background-color: rgba(0,0,0,.25);
}
.menu-dropdown:hover {
    background: rgba(0, 0, 0, 0.25);
}

.menu-dropdown .menu-contents {
    background: #1f1f1f;

}
.header .filter input {
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -khtml-border-radius: 0;
    border-radius: 0;
    border: 0;
    border-left: 1px solid rgba(0,0,0,0.125);
    background-color: transparent;
    color: white;
}
.header .filter {
	background-color: rgba(0, 0, 0, 0.25);
}
.filter .search-string {
    background-image: url(/magnifier.png);
	background-color: rgba(0, 0, 0, 0.25);
	border: 0;
}
div.location, input[type=text], input[type=email], input[type=number], input[type=password], textarea {
    color: white;
}


.user a:visited, .connection a:visited, .connection-group a:visited {
    text-decoration: none;
    color: white;
}
.recent-connections .connection:hover {
    background: hsla(0, 0%, 100%, 0.08);
}
.list-item:not(.selected) .caption:hover {
    background: hsla(0, 0%, 100%, 0.07);
}
.list-item .name {
    color: white;
}

/* SIDE MENU */

.menu-content {
    background-color: #1f1f1f;
}
.clipboard, .clipboard-service-target {
    background: rgba(0, 0, 0, 0.25);
    color: white;
}
/* NOTIFICATION BOX */
.notification.error {
    background: #1f1f1f;
	color: white;
}
.notification {
    background: #1f1f1f;
    color: white;
}

/* SETTINGS */
.page-tabs .page-list li a[href]:visited {
    color: white;
}
.page-tabs .page-list li a[href] {
    color: white;
}
.page-tabs .page-list li a[href]:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.user a:visited, .connection a:visited, .connection-group a:visited {
    text-decoration: none;
    color: white;
}
.user a, .connection a, .connection-group a {
    text-decoration: none;
    color: white;
}
div.location, input[type=text], input[type=email], input[type=number], input[type=password], textarea {
    border: 0;
    background: rgba(0, 0, 0, .25);
}
.location-chooser .dropdown {
    background: #666;
}
