
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

#footer:after {
    color: grey;
    content: "Monitorg-plex beta v1";
}

body {
	background-image: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"),
	url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-light.png") !important;
	background-repeat: repeat, no-repeat;
	background-attachment: fixed, fixed;
	background-position: center center, center center;
	background-size: auto, cover;
	-webkit-background-size: auto, cover;
	-moz-background-size: auto, cover;
	-o-background-size: auto, cover;
	background-color: rgba(0,0,0,.0) !important;
	color:#FFFFFF !important;
}

#includedContent {
background-color: transparent;
background: transparent;
}


/* Settings */
	/* Text Color */
.alpaca-control-label, .alpaca-control.radio {
    color: white !important;
}
.Rtable-cell {
    color: white !important;
}
#colorkey {
    color: white !important;
}
.settingstitle {
    text-shadow: none !important;
}
#reginfo {
    color: white !important;
}
#infodata {
    background-color: transparent !important;
    box-shadow: none !important;
}
/* Sidebar */
#sidebar-wrapper {
    box-shadow: none !important;
	    background-color: transparent;
}
.sidebar-nav li:hover:before {
    -webkit-transition: none !important;
    transition: none !important;
    background-color: rgba(0, 0, 0, 0.07);
}
.sidebar-nav li:before {
    background-color: rgba(0, 0, 0, 0.07);
    transition: none !important;
	-webkit-transition: none !important;
}
    .sidebar-nav li:first-child a {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(2):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(3):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(4):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(5):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(6):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(7):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(8):before {
        background-color: rgba(0, 0, 0, 0.07);
    }
    .sidebar-nav li:nth-child(9):before {
        background-color: rgba(0, 0, 0, 0.07);
    }

#modalloading {
	position: fixed;
    width: 24rem;
    left: calc(50% - 12rem);
    top: 25%;
    margin: 0 auto;
    padding: 1rem;
    color: black;
    text-align: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.750);
    box-shadow: .5rem .5rem 1rem rgb(15, 15, 15);
    border: 1px solid #888;
    border-radius: 4px;
    z-index: 2000;
    cursor: wait;
    }

.container {
    max-width: 100% !important;
    padding-right: 2rem !important;
}
#stats {
     background-color: rgba(0,0,0,.15) !important;
     padding-left: .0rem !important;
     padding-right: 1.11rem !important;
	 box-shadow: none;
}
#hd {
    padding-left: 0.8rem !important;
}
.double-val-label>span.success {
    background-color: #28a745 !important;
}
.servicetile:hover, .servicetile:focus {
     text-shadow: 0 0 20px #000;
}
#servicetitle:hover, #servicetitle:focus {
    text-shadow: 0 0 20px #000;
}
#servicetitle {
    color: #fff !important;
}
.btnoffline, .btnunknown, .btnonline  {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
    -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
}
.btnonline {
    background-color: #28a745 !important;
}
#time {
    background-color: rgba(0,0,0,.15) !important;
    color: #fff !important;
	box-shadow: none;
}
#slidertable {
background-color: rgba(0,0,0,.15) !important;
box-shadow: none;
}
#textslider {
    color: #fff !important;
}
.dtg {
   color: #fff !important;
}
.datemin {
   color: #fff !important;
}
#center {
    background-color: rgba(0,0,0,.0) !important;
        box-shadow: 0px 0px 0px 0px #ffffff00, 0px 0px 0px 0px #ffffff00, 10px 0px 10px 0px #ffffff00, -10px 0px 10px 2px #ffffff00 !important;
}
/*Service tile*/
.col-lg-4 {
    background-color: rgba(0,0,0,.15) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
	box-shadow: none;
}
.col-lg-4:hover {
    background-color: hsla(0,0%,100%,.08) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
    box-shadow: none;
}
.servicetile, .servicetile:hover, .servicetile:focus {
    color: #ffffff;
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}
.servicetile {
    color: #ffffff;
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}


#clock {
    background-color: rgba(0,0,0,.15) !important;
    color: #fff !important;
    box-shadow: none;
}
.date {
    color: #fff !important;
}
#summary {
    background-color: #e84242 !important;
    border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    box-shadow: 0px 2px 5px rgb(15, 15, 15) !important;
}
.pace, .pace-progress {
    background: rgba(0,0,0,.15) !important;
}
.pace, .pace-progress-inner {
    box-shadow: 0 0 10px rgba(0,0,0,.15), 0 0 5px rgba(0,0,0,.15) !important;
}
.footer {
    color: white !important;
}
.footer:hover {
    text-shadow: 0 0 15px transparent !important;
}
#footer {
    color: transparent !important;
}

.navbar-brand {
    text-shadow: 0 0 15px #000000 !important;
	}

/* ButtonShadow */
.btnoffline, .btnunknown, .btnonline {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

@media only screen and (max-width: 775px) {
    #slidertable {
        display: none !important;
    }

    #time {
        display: none !important;
    }
}
