body {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}

/* Navbar */
.navbar-default {
  background-color: rgba(0,0,0,.7) !important;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    background-color: rgba(0, 0, 0, .25) !important;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: rgba(0, 0, 0, .25) !important;
}
.navbar-default, .navbar-inverse {
    border: 0px solid rgba(0, 0, 0, 0.6) !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3) !important;
}
.navbar-default .navbar-brand {
    color: #ffffff !important;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff !important;
    background-color: rgba(0, 0, 0, .25) !important;
}
.navbar-default .navbar-nav > li > a, .navbar-inverse .navbar-nav > li > a {
    border-right: 1px solid rgba(0, 0, 0, 0) !important;
    border-left: 1px solid rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}
.dropdown-menu {
    background-color: #141a1d !important;
    border: 0px !important;
}
.modal-content {
    background-color: #141a1d !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td {
    background-color: #141a1d !important;
}
.multi-column-dropdown li a:hover {
    background-color: #141a1d !important;
}
.close, .close:hover, .close:focus {
    color: #ffffff !important;
}

/* System Overview */
.dashboard-sidebar .nav > .active > a, .dashboard-sidebar .nav > .active:hover > a, .dashboard-sidebar .nav > .active:focus > a {
    color: #ff8c00 !important;
    border-left: 2px solid #ff8c00 !important;
}

/* System Overview metrics */
.gaugeChartTitle, .gaugeChartUnits, .gaugeChartMax, .gaugeChartMin, .gaugeChartLabel, .easyPieChartTitle, .easyPieChartLabel, .easyPieChartUnits {
    color: #ffffff !important;
}
.netdata-legend-value, .netdata-legend-toolbox, .netdata-legend-toolbox-button, .dygraph-axis-label {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}
.netdata-legend-resize-handler {
    background-color: rgba(0, 0, 0, 0) !important;
    color: #ffffff !important;
}
.netdata-legend-name-table-line {
    border-bottom-width: 0px !important;
}

/* Sidebar */
.dashboard-sidebar .nav > li > a {
    color: #ffffff !important;
}
.dashboard-sidebar .nav > li > a:hover, .dashboard-sidebar .nav > li > a:focus {
    color: #ff8c00 !important;
    border-left: 1px solid #ff8c00 !important;
}
