body {
  background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

/* VERSION */

#footer-region::after {
    content: "\A Orgarr V.1.1";
    white-space: pre;
}

@media (max-width: 991px) {
    .toolbar .page-toolbar .x-toolbar-left-1 {
        display: block;
    }
    .toolbar .page-toolbar .btn-group {
        display: block;
    }
    .btn-group.btn-group-collapse > .btn {
        margin: 2px;
        display: block;
        float: none;
        border-radius: 4px!important;
        word-wrap: normal;
        white-space: normal;
    }
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}

.modal-content {
      box-shadow: 0 0 10px 1px #000;
      border-radius: 3px;
      background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
      background-repeat: repeat, no-repeat;
      background-attachment: fixed, fixed;
      background-position: center center, center center;
      background-size: auto, cover;
      -webkit-background-size: auto, cover;
      -moz-background-size: auto, cover;
      -o-background-size: auto, cover;*/
}
/* scroller */
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .25);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: hsla(0,0%,100%,.08);

}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(0, 0, 0, .25);
}

/* navbar and searchbar */
.navbar-nzbdrone li a {
    color: hsla(0,0%,100%,.7);
}
.navbar-nzbdrone li a:hover {
    background-color: hsla(0,0%,100%,.08);
    color: #ffffff;
}
.search .input-group .input-group-addon, .search .input-group input {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFF;
    border-color: rgba(0, 0, 0, .25);
    height: 40px;
}
.search .input-group .input-group-addon, .search .input-group input:focus {
    color: #FFF;
}
.tt-suggestion.tt-cursor {
    background-color: #191a1c !important;
    color: #ffffff !important;
}
.search .tt-dropdown-menu {
    background-color: #1f1f1f;
}
.fa-search {
    color: white;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 50px;
}
.navbar-inverse, .navbar-toggle {
    background-color: rgba(0, 0, 0, .25);
    border-color: rgba(0, 0, 0, .25);
    color: #FFF;
}
.navbar-nzbdrone .navbar-toggle:focus, .navbar-nzbdrone .navbar-toggle:hover {
    color: #FFF;
    background-color: hsla(0,0%,100%,.08);
}
@media (max-width: 767px) {
.navbar-nzbdrone .navbar-collapse .navbar-nav li:focus, .navbar-nzbdrone .navbar-collapse .navbar-nav li:hover {
    background-color: hsla(0,0%,100%,.08);
    }
}
/* Form Stuff */

.form-control {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25) !important;
    border: 1px solid rgba(0, 0, 0, .25);
}

.form-control:focus {
    background-color: #1f1f1f !important;
    border-color: rgba(0, 0, 0, 0.51);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.bootstrap-tagsinput {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25);
    color: #FFF;
}
.form-group i {
    color: #ffffff;
}

/* /Movies/Series/Season page */
.started #page {
    background-color: rgba(0, 0, 0, .25);
    color: White;
    box-shadow: none;
    max-width: 1280px;
}
.series-item a {
    color: #FFF;
}
.series-posters .series-posters-item, .movie-posters-item {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #444;
    box-shadow: 0 0 10px 1px #000000 !important;
}
.movie-posters-item {
    min-height: 302px !important;
}
.header-text .year {
    color: #FFF;
}
.backdrop .navbar-nzbdrone {
    opacity: 0.98;
    box-shadow: 0 0 10px 1px #000;
    border-radius: 3px;
    background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.series-page-header, .movie-page-header {
  opacity: 0.98;
  box-shadow: 0 0 10px 1px #000;
  color: #ffffff;
  background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}
.series-season, .movie-tabs-card {
  opacity: 0.98;
  box-shadow: 0 0 10px 1px #000;
  color: #ffffff;
  background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}
.episode-title-cell {
    color: #ffffff;
}
a, .episode-title-cell {
    color: #FFFFFF !important;
    text-decoration: none;
}
th.sortable:hover, .table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .25);
    color: #ffffff;
}
.progress.episode-progress .progressbar-back-text {
    color: #000 !important;
}
.text-warning {
    color: #ffffff;
}

/* SEARCH */
#add-series-screen .new-series .search-item,
#add-movies-screen .new-movies .search-item {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFFFFF !important;
    box-shadow: none;
}
div.form-group > label {
    font-weight: 500;
}
#add-series-screen .add-series-search > input.form-control.x-series-search,
#add-movies-screen .add-movies-search > input.form-control.x-movies-search {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFFFFF !important;
    border: none;
    box-shadow: none;
}
#add-series-screen .search-item select.form-control,
#add-movies-screen .search-item select.form-control {
    background-color: #1f1f1f ;
    color: #FFFFFF;
}
.dropdown-menu>li>a {
      color: #ffffff;
}
.dropdown-menu>li>a:hover {
    color: #000;
}

.input-group.input-group-lg.add-series-search > .input-group-addon,
.input-group.input-group-lg.add-movies-search > .input-group-addon {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .25);
    border: 0px solid rgba(0, 0, 0, .25);
}
/* Add Movies */
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: hsla(0,0%,100%,.08);
    border-color: #FFF;
}
.discoverable-list-item:hover {
    background-color: #1f1f1f;
    color: white;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active,
.btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    background-color: hsla(0,0%,100%,.08);
}

/* Add Series */
#add-series-screen .existing-series {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    box-shadow: 0 0 10px 1px #000000;
}

/* Calendar page */

.calendar .success {
    border-color: rgba(25, 255, 0, .15);
    background-color: rgba(25, 255, 0, .15);
    color: #FFF;
}
.calendar .premiere {
    border-color: rgba(45, 66, 85, 100);
    background-color: rgba(45, 66, 85, 100);
}
.calendar .primary {
    border-color: rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .10);
}
.calendar .danger {
    border-color: rgba(171, 0, 0, .50);
    background-color: rgba(171, 0, 0, .50);
    color: #fff;
}
.event .primary {
    border-color: rgba(0, 0, 0, .25);
}
    /* upcoming panel */
.event h4, .date h4, .event .episode-title {
    color: #FFFFFF !important;
}
.event .episode-title {
    color: #f9be03 !important;
}
.event .episode-title:focus, .event .episode-title:hover {
    color: #f9be03;
    text-decoration: underline;
    background-color: transparent;
}
a:focus, a:hover {
    color: #ffffff;
}
.event p {
    color: #FFF;
}
.fc-title {
    color: #FFF;
}
/* calendar month */

.calendar th {
    background-color: hsla(0,0%,100%,.08);
    color: #FFFFFF;
}
.fc-day.fc-today.fc-state-highlight,
.fc-day-number.fc-today.fc-state-highlight,
.fc-day-top.fc-today.fc-state-highlight {
    background-color: hsla(0,0%,100%,.08);
    color: #f9be03;
}

/* Activity Page */
.popover.in {
    opacity: .9;
}
.popover {
    background-color: #000;
    color: #fff;
}
.popover > .popover-title {
    background-color: #000;
    color: #fff;
    border: none;
}
.popover.left > .arrow,
.popover.left > .arrow:after {
    border-left-color: #000;
}
.popover.right > .arrow:after {
    border-right-color: #000;
}

.backgrid-paginator ul .active span {
    background-color: rgba(0, 0, 0, 0);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: hsla(0,0%,100%,.08);
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: hsla(0,0%,100%,.08);
}

/* Season Pass */
.alert-info {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: #ffffff;
    color: #ffffff;
}
/* alerts */
.alert-warning {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: #f0ad4e;
}
.alert-danger, .manual-import-error {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: #d9534f;
}

/* Settings Page */
legend {
    color: #FFFFFF;
}

/* Settings Page - Profile */
/*thingy*/

.thingy {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.add-card .center {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}

.metadata-item {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
}

/* Settings add thingy*/

.add-thingy {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
}

.add-thingy > div > .btn-default,
.add-thingy > div > div > .btn.btn-xs.btn-default.dropdown-toggle {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
    outline-style: none;
}

.add-thingy > div > .btn-default:hover,
.add-thingy > div > div > .btn.btn-xs.btn-default.dropdown-toggle:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #FFF;
    outline-style: none;
}
li.save-and-add {
    color: #ffffff;
}

/* Settings qualities*/
ul.qualities li {
    border: 1px solid rgba(0, 0, 0, .25);
    background: rgba(0, 0, 0, .25);
}
ul.qualities li:hover {
    border: 1px solid rgba(0, 0, 0, .25);
    background: rgba(255, 255, 255, .25);
}
ul.qualities li.selected .quality-label {
    color: #ffffff;
}

/* Settings Quality sliders */
#quality-definition-list .rows .row .ui-slider .ui-slider-range {
    background-color: rgb(46, 47, 49);
}
#quality-definition-list .rows .row .ui-slider .ui-slider-handle {
    background-color: #f5f5f5;
    border: 1px solid #c7c7c7;
}
#quality-definition-list .rows .row .ui-slider {
    border: 1px solid #2e2f31;
}
.label-warning {
    background-color: #d58512;
}
.label-info {
    background-color: #337ab7;
}

/* SYSTEM logs */
pre {
    color: #fff;
    background-color: rgba(0, 0, 0, .25);
}

/* BUTTONS */
  /* YES/NO Switch */
.well {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25);
}
.toggle p span {
    color: rgba(0, 0, 0, 0);
}

.toggle input:checked ~ p span:nth-child(1) {
    color: #FFFFFF;
}

.toggle input:not(:checked) ~ p span:nth-child(2) {
    color: #FFFFFF;
}
  /* Close X button */
.close,
.close:hover,
.close:focus {
    color: #FFF !important;
    opacity: 1;
}
.btn-default {
    color: hsla(0,0%,100%,.7);
    background-color: rgba(0, 0, 0, .25);
    border-color: none;
    outline-style: none;
}
.btn-default:hover, .btn-default.active, .btn-default.active:hover {
    color: #FFFFFF;
    background-color: hsla(0,0%,100%,.08);
    border-color: none;
    outline-style: none;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
    border-color: #FFF;
}
.fc-state-default {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
    border-color: #FFF;
    outline-style: none;
    background-image: none;
    text-shadow: none;
}
.fc-state-default:hover {
  background-color: hsla(0,0%,100%,.08);
}
.input-group-btn > button.btn.btn-icon-only.dropdown-toggle,
.btn.btn-icon-only.x-copy-api-key.hidden-xs {
    color: #FFFFFF;
    background-color: #5cb85c;
}
.input-group-btn > button.btn.btn-icon-only.dropdown-toggle:hover {
    color: #FFFFFF;
    background-color: #449d44;
}

.btn {
    color: #FFF;
    outline: 0 !important;
}
.btn.btn-lg.btn-block.x-search-auto {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
}
.btn.btn-lg.btn-block.x-search-auto:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.05);
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
}
.modal-footer > button:not([class*="btn-primary"]):not([class*="btn-danger"]):not([class*="btn-success"]) {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
    border-color: rgba(0, 0, 0, .25);
    outline-style: none;
}
.modal-footer > button:hover:not([class*="btn-primary"]):not([class*="btn-danger"]):not([class*="btn-success"]) {
    color: #FFF;
    background-color: rgba(255, 255, 255, .25);
    border-color: rgba(255, 255, 255, .25);
    outline-style: none;
}
/* green button */
 .btn-success, {
  color: #FFF;
  border-color: #FFF;
}

/* save button */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus,
.btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: transparent;
}

/* blue button */
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
}
.btn-success.focus, .btn-success:focus, .btn-success:hover {
    color: #fff;
    background-color: #449d44 !important;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: hsla(0,0%,100%,.08);
    border-color: #FFF;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: transparent;
}
.btn-primary, .btn-danger {
    border-color: transparent;
}
.dropdown-menu {
      background-color: #1f1f1f;
}
.dropdown-menu>li>a {
      color: #ffffff;
}
.dropdown-menu>li>a:hover {
    color: #000 !important;
}

/* -------------------------SONARR V3------------------------------*/

/* Error/loading page */

.Page-page-10MZd, .ErrorPage-version-1NWV-, .LoadingMessage-loadingMessage-2gMqW {
    color: white !important;
}

/* Series Overview page */
.SeriesIndexPoster-title-1LWvk, .SeriesIndexPoster-nextAiring-2dTrg, .SeriesIndexPosterInfo-info-URLdY {
	background-color: rgba(0, 0, 0, .25) !important;
}

.SeriesIndexOverview-container-2zNbo:hover .SeriesIndexOverview-content-3ZT3A {
    background-color: hsla(0,0%,100%,.08) !important;
}

/* Series X page */
.SeriesDetailsSeason-season-1YnGm, .SeriesDetailsSeason-collapseButtonContainer-3XxzX {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}
.SeriesDetails-seriesNavigationButton-1lMzE {
    margin-right: 8px !important;
    color: hsla(0,0%,100%,.7) !important;
}
.SeriesDetails-seriesNavigationButton-1lMzE:hover {
    color: #FFF !important;
}
.SeriesDetailsSeason-actionButton-3v1uD {
    color: hsla(0,0%,100%,.7) !important;
}
.SeriesDetailsSeason-actionButton-3v1uD:hover {
    color: #FFF !important;
}
.IconButton-button-20Niq:hover {
    color: #fff !important;
}
.fa-search {
    color: hsla(0,0%,100%,.7) !important;
}
.fa-search:hover {
    color: #FFF !important;
}
/* Search page */
.AddNewSeriesSearchResult-searchResult-30ozE {
    background-color: rgba(0, 0, 0, .25) !important;
}
.AddNewSeriesSearchResult-searchResult-30ozE:hover {
    background-color: hsla(0,0%,100%,.08) !important;
}
.AddNewSeries-searchIconContainer-3iiEV {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}
.SeriesSearchInput-containerOpen-3CRkE .SeriesSearchInput-seriesContainer-3lxJI {
    border: none !important;
    background-color: #12181d !important;
}

.SeriesSearchInput-sectionTitle-3he-k {
    color: #fff !important;
}
/* Import page page */
.ImportSeriesSelectSeries-button-AkdHs {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}
.ImportSeriesSelectSeries-content-2AQQa, .ImportSeriesSelectSeries-searchIconContainer-WJlHu {
    border: none !important;
    background-color: #323232 !important;
	color: white !important;
}
.ImportSeriesSearchResult-series-wStU8:hover {
    background-color: hsla(0,0%,100%,.08) !important;
}
.ImportSeriesTitle-year-29XGK {
	color: white !important;
}
/* Season pass page */
.SeasonPassSeason-season-3Lc-4 {
    border: none;
    background-color: rgba(0, 0, 0, .25) !important;
}
.SeasonPassSeason-allEpisodes-vxHTz {
    background-color: #5cb85c;
}
/* Calendar page */
.CalendarEvent-seriesTitle-1JEPE {
    color: #ffffff !important;

}
.CalendarEvent-downloaded-1wXUG {
    border-left-color: #5cb85c!important;
}
.CalendarEvent-event-27nY_ {
    border-bottom: none !important;
}
.CalendarEvent-event-27nY_:hover {
    background-color: hsla(0,0%,100%,.08) !important;
	    border-bottom: none !important;
}
.AgendaEvent-event-1-I4T:hover {
    background-color: hsla(0,0%,100%,.08) !important;
}
/* Activity page */
.EpisodeTitleLink-link-1ZCTO:hover {
    color: #f9be03 !important;
}
/* Settings page */
.FormLabel-label-33NSU {
    font-weight: normal !important;
}
.FormInputHelpText-helpText-1p8aX {
    color: #ffffff !important;
}
/* Settings language modal */
.LanguageProfileItem-languageProfileItem-1lE9m {
    border: none !important;
    background: #1e1e1e !important;
}
.OverlayScroller-thumb-1hKLj {
    background-color: hsla(0,0%,100%,.08) !important;
}
.OverlayScroller-thumb-1hKLj:hover {
    background-color: hsla(0,0%,100%,.08) !important;
}
/* Modal table options */
.TableOptionsColumn-column-2z0me {
    border: none;
}
/* File Name Tokens */
.NamingOption-option-33lWx {
    border: 0px;
}
.NamingOption-token-1veip {
    background-color: #1f1f1f;
}
.NamingOption-example-2-1sK {
    background-color: #333333;
}
.NamingOption-option-33lWx:hover .NamingOption-token-1veip {
    background-color: #383838;
}
.NamingOption-option-33lWx:hover .NamingOption-example-2-1sK {
    background-color: #4e4e4e;
}

/* -------------------------LIDARR STUFF------------------------------*/

.LoadingIndicator-ripple-1264V {
    border: 2px solid #FFFFFF;
}
  /* Popup modal */
.Modal-large-I2McN, .Modal-modal-3oHjA, .ModalContent-modalContent-1B9AX {
    background-color: #282828;
    color: #FFF;
}
.ModalHeader-modalHeader-P3MTG, .ModalFooter-modalFooter-3izCM {
    background-color: #323232;
    color: #FFF;
}
.ModalFooter-modalFooter-3izCM a:first-child, .ModalFooter-modalFooter-3izCM button:first-child {
    background-color: #656565 !important;
    border-color: transparent;
}
.ModalFooter-modalFooter-3izCM a:first-child, .ModalFooter-modalFooter-3izCM button:first-child:hover {
    margin-left: 0;
    background-color: hsla(0,0%,100%,.3) !important;
    color: white;
    border-bottom-color: transparent;
}
.Button-default-1X0nf {
    border-color: transparent;
    background-color: #656565;
    color: #FFF;
}
.Button-default-1X0nf:hover {
    border-color: transparent;
    background-color: hsla(0,0%,100%,.3) !important;
    color: #fff;
}
.TagInput-input-2UK6_ {
    background-color: transparent;
    color: #FFF;
}
.TagInput-suggestion-3jRkQ, .TagInput-containerOpen-2g0Wc, .TagInput-suggestionsContainer-1vjHY {
    background-color: #1e1e1e !important;
}
.TagInput-suggestion-3jRkQ:hover {
      background-color: hsla(0,0%,100%,.3) !important;
}

  /* Main Menu Header */
.PageHeader-header-1lnFT {
    background-color: rgba(0, 0, 0, .7);
}
.PageToolbar-toolbar-1oL_w {
    background-color: rgba(0, 0, 0, .25);
    color: hsla(0,0%,100%,.7);
}
.PageHeader-donate-3Lk-h {
    color: #c4273c !important;
}
.PageToolbarButton-toolbarButton-3b5EM:hover {
    color: #FFF;
}
.MenuButton-menuButton-3cqRJ:hover {
    color: #FFF;
}
.MenuItem-menuItem-211VP, .MenuContent-menuContent-e2UAN {
    background-color: #191a1c;
    color: #e1e2e3;
}
.MenuItem-menuItem-211VP:hover, .MenuItem-menuItem-211VP:focus {
    background-color: hsla(0,0%,100%,.08) !important;
    color: #fbfcfc;
    text-decoration: none;
}

/* Sidebar */
@media only screen and (max-width: 768px) {
.PageSidebar-sidebar-2UXc0 {
  background: rgba(0, 0, 0, .25);
  background-image: url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-noise.png"), url("https://cdn.jsdelivr.net/gh/gilbN/theme.park@de2024ba0794e71eb80c1b66b37820e66d944ded/Resources/blur-light.png");
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;*/
}
}
.PageSidebar-sidebarContainer-2kLcI {
  background: transparent;
}
.PageSidebarItem-isActiveLink-1JpOZ {
    color: hsla(0,0%,100%,.7) !important;
}
.PageSidebarItem-isActiveItem-34xgs {
    border-left: 3px solid hsla(0,0%,100%,.08);
}
.PageSidebar-sidebar-2UXc0 {
    background-color: rgba(0, 0, 0, .25);
}
.PageSidebarItem-isActiveParentLink-2qgS5 {
    background-color: rgba(0, 0, 0, 0);
}
.PageSidebarItem-isActiveParentLink-2qgS5:hover {
    background-color: hsla(0,0%,100%,.08);
}
.PageSidebarItem-link-2ron8:hover, .PageSidebarItem-link-2ron8:focus {
    color: #FFF !important;
    background-color: hsla(0,0%,100%,.08);
    text-decoration: none;
}
.PageSidebarItem-link-2ron8 {
    color: hsla(0,0%,100%,.7) !important;
}
/*ARTIST PAGE*/
.ArtistIndexPoster-title-3bXfu {
    background-color: rgba(0, 0, 0, .25);
}
.ArtistDetailsSeason-albumType-23-Z4 {
    border: none;
    background-color: rgba(0, 0, 0, .25);
}
.ArtistDetailsSeason-albumCount-14dOS {
    color: #ffffff;
}
.ArtistDetailsSeason-collapseButtonContainer-3EuJ8 {
    border: none;
    background-color: rgba(0, 0, 0, .25);
}
.ArtistDetails-metadataMessage-iAuvq {
    color: #ffffff;
}
    /*ARTIST ALBUM PAGE*/

.AlbumDetailsMedium-medium-3pu-U {
    border: none;
    background-color: rgba(0, 0, 0, .25);
}
.AlbumDetailsMedium-collapseButtonContainer-2MSYO {
    border-top: none;
    background-color: rgba(0, 0, 0, .25);
}
.ArtistIndexOverview-container-3_iEh:hover .ArtistIndexOverview-content-3zZhb, .ArtistIndexProgressBar-progress-3DLoM  {
    background-color: hsla(0,0%,100%,.08);
}
.ArtistIndexBanner-title-3TKM6 {
    background-color: rgba(0, 0, 0, .25);
    color: #fff;
}


  /* Table view*/
.VirtualTableRow-row-2osBd:hover {
    background-color: rgba(0, 0, 0, .25);
}
  .VirtualTableRow-row-2osBd:hover, .ArtistIndexHeader-sortName-3sIoX:hover, .ArtistIndexHeader-artistType-1bUEX:hover, .ArtistIndexHeader-trackCount-2fAYt:hover,
  .ArtistIndexHeader-qualityProfileId-33lgF:hover, .ArtistIndexHeader-languageProfileId-F8uCr:hover, .ArtistIndexHeader-metadataProfileId-258c_:hover,
  .ArtistIndexHeader-nextAlbum-2P-CJ:hover, .ArtistIndexHeader-lastAlbum-18Y9w:hover, .ArtistIndexHeader-added-z5UiU:hover, .ArtistIndexHeader-genres-3YVsn:hover, .ArtistIndexHeader-albumCount-1CnIC:hover,
  .ArtistIndexHeader-trackProgress-5psBe:hover, .ArtistIndexHeader-latestAlbum-KzyAA:hover, .ArtistIndexHeader-actions-KjYeY:hover, {
    background-color: rgba(0, 0, 0, .25);
    color: #FFF;
}
.IconButton-button-20Niq:hover {
    color: #fff;
}
  /* Table options*/
.TableOptionsColumn-column-2z0me {
    background: rgba(0, 0, 0, .25);
    color: #FFF;
}
/* Fix rating border*/
.ArtistIndexRow-ratings-nqXPx {
    border-top: 1px solid #eee !important;
}
/* ADD NEW ARTIST */
.AddNewArtist-searchIconContainer-3iE_u, .Input-input-dS7Oc, .AddNewArtist-clearLookupButton-2ym1-, .AddNewArtistSearchResult-searchResult-3_U8e,
.ImportArtistSelectArtist-button-WUML4, .PageContentFooter-contentFooter-1t6xx {
    border: none;
    background-color: rgba(0, 0, 0, .25);
    color: #FFF;
}
.AddNewArtistSearchResult-searchResult-3_U8e:hover {
    background-color: hsla(0,0%,100%,.08);
    color: inherit;
    text-decoration: none;
}
.ImportArtistSearchResult-artist-IVs0T:hover {
    background-color: hsla(0,0%,100%,.08);
}
.Input-input-dS7Oc:focus {
    outline: 0;
    border-color: transparent;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
    background-color: rgb(30, 30, 30);
}
    /* IMPORT ARTIST */
.ImportArtistSelectArtist-content-15Mcv {
    background-color: #1e1e1e;
    color: #FFF;
}
.ImportArtistSelectArtist-searchIconContainer-27n_z {
    background-color: #656565;
    border-color: transparent;
}

.Button-default-1X0nf {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
}
.AddNewArtist-noResults-L1xcp, .AddNewArtist-message-c33sh {
    color: #FFF;
}
.Button-default-1X0nf:hover {
    background-color: hsla(0,0%,100%,.08);
}


/* IMPORT */
  /* Text color */
.ImportArtistSelectFolder-header-1AE_l, .PageContent-content-2-LcY, .FieldSet-legend-3mbvV {
    color: #FFF;
}

.TableRow-row-2tPLX {
  color: #FFF;
}
.TableRow-row-2tPLX:hover {
    background-color: hsla(0,0%,100%,.08);
    color: #FFF;
}

/* ALBUM STUDIO */
.AlbumStudioAlbum-season-24TO6, .AlbumStudioAlbum-tracks-2V7st {
    border: none;
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;

}

  /* CALENDAR */
.CalendarDay-day-3WaqW, .CalendarDays-days-287Rk {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 14.28%;
    flex: 1 0 14.28%;
    overflow: hidden;
    min-height: 70px;
    border-bottom: 1px solid hsla(0,0%,100%,.08);
    border-left: 1px solid hsla(0,0%,100%,.08);
    border-right: 1px solid hsla(0,0%,100%,.08);
}
.CalendarDay-dayOfMonth-3ZysC {
    border-bottom: 1px solid hsla(0,0%,100%,.08);
    background-color: rgba(0, 0, 0, .25);
}
.DayOfWeek-dayOfWeek--jS1P {
    background-color: hsla(0,0%,100%,.08);
}
.CalendarDay-isToday-1ZMWk {
    background-color: hsla(0,0%,100%,.08) !important;
}

  /* SETTINGS */
      /* TEXT */
.Settings-summary-1BIsi {
    color: #fff;
}
      /* PROFILES/INDEXERS/DL-CLIENTS/IMPORT-LIST/CONNECTIONS */
.Card-card-SvrkG {
    background-color: rgba(0, 0, 0, .25);
    box-shadow: 0 0 10px 1px #000000;
    color: #fff;
}

.QualityProfiles-addQualityProfile-2q4Re, .QualityProfiles-center-3qTb_, .LanguageProfiles-center-18sh2,
.MetadataProfiles-center-3V4Ro, .Indexers-center-3HUez, .Restrictions-center-3cS8T, .DownloadClients-center-30cx9, .ImportLists-center-3IXCL, .Notifications-center-13jM2 {
    background-color: rgba(0, 0, 0, .25);
    border: none;
    color: #c2c6c8;
}
.Indexers-center-3HUez, .Restrictions-center-3cS8T, .DownloadClients-center-30cx9, .ImportLists-center-3IXCL, .Notifications-center-13jM2 {
    display: inline-block;
    padding: 15px 20px 15px;
    border-radius: 4px;
}
  /* CONNECTIONS */
.Label-danger-1rVtt.Label-outline-2ZP8n {
    color: #FFF;
    background-color: #f05050;
}
  /* EDIT QUALITY PROFILES */
.QualityProfileItem-qualityProfileItem-2Xr42, .QualityProfileItemGroup-qualityProfileItemGroup-3SvgI {
    border: none;
    background: #1e1e1e;
    color: #FFF;
}
.QualityProfileItemGroup-qualityProfileItemGroup-3SvgI.QualityProfileItemGroup-editGroups-19C_2 {
    background: #323232;
}

/* -------------------------BAZARR------------------------------*/
  /* TOP MENU */
  #divmenu {
      background-color: transparent !important;
  	box-shadow: none !important;
  	opacity: 1;
  }
  #divdetails {
      background-color: rgba(0, 0, 0, .25);
  	box-shadow: none;
  }
.ui.inverted.menu {
    border: 0 solid transparent;
    background: transparent !important;
}

  /* SEARCH BAR */
.prompt {
background-color: rgba(0, 0, 0, .25) !important;
color: #FFF;
border-color: rgba(0, 0, 0, .25);
}
.ui.input>input {
    background: rgba(0, 0, 0, 0.25) !important;
    border: none;
    color: #FFF !important;
}
.ui.input.focus>input, .ui.input>input:focus {
    border-color: transparent;
}

.ui.search>.results {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    -webkit-transform-origin: center top;
    transform-origin: center top;
    white-space: normal;
    text-align: left;
    text-transform: none;
    background: #fff;
    margin-top: .5em;
    width: 18em;
    border-radius: .28571429rem;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    border: 1px solid #d4d4d5;
    z-index: 998;
}

 /* OVERVIEW */
#fondblanc {
    background-color: rgba(0, 0, 0, 0.25);
    box-shadow: none;
	color: #FFF !important;
}
.ui.table thead th {
    color: #ffffff;
}
.ui.table {
    color: #ffffff;
}
.ui.table tr td {
    border-top: 1px solid rgba(255, 255, 255, 0.25);
}
.ui.selectable.table tbody tr:hover, .ui.table tbody tr td.selectable:hover {
    background: hsla(0,0%,100%,.08) !important;
    color: #ffffff!important;
}
.ui[class*="very basic"].table:not(.sortable):not(.striped) td:last-child, .ui[class*="very basic"].table:not(.sortable):not(.striped) th:last-child {
    background-color: transparent !important;
}
i.black.icon {
    color: #ffffff !important;
}
.ui.label {
    color: rgb(0, 0, 0) !important;
}

 /* MOVIES EDITOR */

.ui.sortable.table thead th.sorted {
    background: rgba(0,0,0,.05);
    color: #ffffff;
}
.ui.sortable.table thead th.sorted:hover {
    background: hsla(0,0%,100%,.08);
    color: #FFF;
}
.ui.sortable.table thead th {
    color: #ffffff;
}
.ui.sortable.table thead th:hover {
    background: hsla(0,0%,100%,.08);
    color: #FFF;
}
.ui.menu .ui.dropdown .menu>.item {
    background: #191a1c!important;
    color: #FFF!important;
}
.ui.menu .ui.dropdown .menu>.item:hover {
    color: #FFF !important;
    background-color: hsla(0, 0%, 0%, 0.8) !important;
}

 /* EDIT SERIES/MOVIE MODAL */
.ui.modal>.header {
    background: #323232;
    color: #ffffff;
}
.ui.modal>.content {
    background: #282828;
    color: white;
}
.ui.modal>.actions {
    background: #323232;
}
.ui.modal .actions>.button {
    margin-left: .75em;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
	transition: background-color .1s;
}
.ui.modal > .close {
    top: .7rem;
    right: .4rem;
}
 /* CANCEL BUTTON */
.ui.button {
	background: hsla(0,0%,100%,.25) !important;
    color: #ffffff;
	transition: background-color .1s;
}
.ui.button:hover, .ui.button:focus {
    background-color: hsla(0,0%,100%,.3) !important;
    color: #FFF;
}
.ui.active.button:active, .ui.button:active {
    background-color: hsla(0,0%,100%,.2) !important;
    color: #ffffff;
}
 /* SAVE BUTTON */
.ui.blue.button, .ui.blue.buttons .button {
    background-color: #cc7b19 !important;
    color: #fff;
    font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif;
    text-transform: uppercase;
    transition: background-color .1s;
}
.ui.blue.button:hover, .ui.blue.buttons .button:hover {
    background-color: #e59029 !important;
}
.ui.blue.button:active, .ui.blue.buttons .button:active {
    background-color: #955a12 !important;
}

 /* DROPDOWN */
.ui.default.dropdown:not(.button)>.text, .ui.dropdown:not(.button)>.default.text {
    color: rgba(191,191,191,.80);
    color: #FFF;
}
.ui.modal>.content>.ui.selection.dropdown {
    background: #555;

}
.ui.selection.active.dropdown {
    border-color: transparent;
	border: none;
}
.ui.selection.dropdown:focus {
    border-color: transparent;
}
.ui.selection.dropdown:focus .menu {
    border-color: #282828;
}
.ui.selection.dropdown .menu>.item {
    background-color: #191a1c;
	color: #FFF;
	border-top: none;
}
.ui.selection.active.dropdown .menu {
    border: none;
}
.ui.selection.active.dropdown:hover {
    border-color: transparent;
}
.ui.dropdown .menu>.item:hover {
    color: #FFF;
    background-color: hsla(0, 0%, 0%, 0.8) !important;
}
.ui.toggle.checkbox .box:before, .ui.toggle.checkbox label:before {
    background: hsla(0,0%,100%,.3);
}
.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    border-color: hsla(0,0%,100%,.3);
}
.ui.toggle.checkbox .box:hover::before, .ui.toggle.checkbox label:hover::before {
    background-color: hsla(0,0%,100%,.3);
}
.ui.toggle.checkbox input:focus~.box:before, .ui.toggle.checkbox input:focus~label:before {
    background-color: hsla(0,0%,100%,.3);
}
.ui.checkbox input:focus~label {
    color: hsla(0,0%,100%,.3);
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #cc7b19 !important;
}
.ui.toggle.checkbox input:checked~.box:before, .ui.toggle.checkbox input:checked~label:before {
    background-color: #cc7b19!important;
}
.ui.toggle.checkbox input:focus:checked~.box:before, .ui.toggle.checkbox input:focus:checked~label:before {
	background-color: #cc7b19!important;
}

.ui.multiple.dropdown>.label {
    background: #323232;
}
a.ui.active.label:hover, a.ui.labels .active.label:hover {
    background-color: #323232;
    border-color: #323232;
}

 /* EDITOR BUTTON */
.ui.basic.button, .ui.basic.buttons .button {
    background: rgba(0, 0, 0, 0.25) none!important;
    color: rgb(255, 255, 255)!important;
}

.ui.basic.button:hover, .ui.basic.buttons .button:hover {
    background: hsla(0,0%,100%,.08) !IMPORTANT;
    color: #fff!important;
}

 /* HISTORY PAGE */
 #bottommenu {
    background-color: #323232 !important;
}
 .ui.tabular.menu .active.item, .ui.segment {
    background: none rgba(255,255,255,.08);
}
.ui.tabular.menu .item:hover {
    background-color: rgba(255,255,255,.08) !important;
}
.ui.tabular.menu .item:visited {
    background-color: rgba(255,255,255,.08) !important;
}
.ui.attached:not(.message)+.ui.attached.segment:not(.top) {
    background-color: transparent;
	border: none;
}
.ui.header {
    color: #ffffff;
}
.ui.dividing.header {
    border-bottom: none;
}
.ui.selection.dropdown {
    color: #FFF;
	background: rgba(0, 0, 0, .25);
}

 /* SETTINGS PAGE */

.ui.list .list>.item .header, .ui.list>.item .header {
    color: #FFF;
}
.ui.checkbox label, .ui.checkbox+label {
    color: #ffffff;
}
.ui.selection.visible.dropdown>.text:not(.default) {
    color: #fff;
}
.ui.checkbox label:hover, .ui.checkbox+label:hover {
    color: #db2828;
}
.ui.attached.info.message, .ui.info.message {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.ui.info.message {
    background-color: rgba(255,255,255,.08);
    color: #00c1ff;
}
.ui.input {
    color: #000;
}
