/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* SABNZBD PLEX THEME */

body {
    background-image: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"),
  url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-light.png") !important;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  background-color: transparent;
  color:hsla(0,0%,100%,.7)!important;
  font-family: Open Sans Bold,Helvetica Neue,Helvetica,Arial,sans-serif !important;
  font-size: 1.4em !important;
  color: white;
}
/* scroller */
::-webkit-scrollbar-corner {
  background-color:  hsla(0,0%,100%,.08) !important;
}
::-webkit-scrollbar {
  width: 10px!important;
  height: 10px!important;
  background: rgba(0, 0, 0, .25)!important;

}
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 2px!important;
  border-radius: 2px !important;
  background-color: hsla(0,0%,100%,.08) !important;
}
/* navbar */
.navbar-inverse {
  background-color: rgba(0, 0, 0, .25);
  border-color: transparent !important;
}
.navbar-btn {
  background-color: rgb(204, 123, 25) !important;
  border-color: transparent !important;
}
.main-content {
  background-color: rgba(0, 0, 0, 0.15);
  border: none;
}
.dropdown-menu {
  background-color: rgb(25, 26, 28);
}
.dropdown-menu>li>a {
  color: #fff;
}
.dropdown-menu>li>a:hover, .dropdown-menu>li>a:focus {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.08);
}
.menu-options .form-control {
  background-color: rgb(25, 26, 28);
}
.form-control:focus {
  border-color: #ffffff;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(255, 255, 255, 0.6);
}
.caret {
  border-top-color: white !important;
}

.btn-default {
  color: #fff;
  background-color: rgb(204, 123, 25);
  border-color: rgb(204, 123, 25);
}
.btn-default:focus, .btn-default.focus {
  color: #fff;
  background-color: #42a543;
  border-color: #2d2c2c;
}
.btn-default:hover {
  color: #fff;
  background-color: rgb(229, 144, 41);
  border-color: rgb(229, 144, 41);
}
.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
  color: #fff;
  background-color: #42a543;
  border-color: #2d2c2c;
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
 color: #fff;
  background-color: rgb(25, 26, 28);
  border-color: rgb(25, 26, 28);
}
.btn-group>.btn:hover, .btn-group-vertical>.btn:hover, .btn-group>.btn:focus, .btn-group-vertical>.btn:focus, .btn-group>.btn:active, .btn-group-vertical>.btn:active, .btn-group>.btn.active, .btn-group-vertical>.btn.active {
  z-index: 0;
}
.ui-slider-horizontal, .ui-slider-range-min {
  background-color: rgb(249, 190, 3) !important;
}
/* History */
.caret {
  border-top-color: white !important;
}
a, a:active, a:hover, a:focus {
  color: white;
}
.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.25);
}
tbody.no-downloads tr td {
  border-bottom: 1px solid #1f1f1f !important;
}
tbody>tr>td:last-child {
  border-right: 1px solid transparent !important;
}
tr td {
  border-top: 1px solid transparent!important;
}
tbody>tr>td:first-child {
  border-left: 1px solid transparent!important;
}
table {
  background-color: rgba(0, 0, 0, 0.25) !important
}
table:hover {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
.table-hover>tbody>tr:hover {
  background-color: rgba(0, 0, 0, 0.1) !important
}
tbody>tr:last-child td {
  border-bottom: 1px solid transparent !important;
}
.history-table, tr td.status, .history-table, tr td.history-completedon, .history-table, tr td.row-extra-text, .history-table tr td.status, .history-table tr td.history-completedon, .history-table tr td.row-extra-text {
  color: #fff;
}


.multioperations-selector {
  border: 1px solid #2d2c2c !important;
  background-color: #2d2c2c !important;
}
#history-options .hover-button {
  color: white;
}

.pagination>li>a, .pagination>li>span, .pagination>li>span:hover {
  color: white;
}
.pagination>li>a, .pagination>li>span {
  background-color: rgba(0, 0, 0, 0.25) !important;
  border: none !important;
}
.pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border-color: transparent;
}
.pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
  color: white;
  background-color: rgba(0, 0, 0, .25);
  border-color: transparent;
}


.search-box input {
  border: transparent;
}
.form-control {
  color: white;
  background-color: #1b1a1a;
}

/*Settings*/
.navbar-default {
  background-color: #161a1e;
  border: none;
}
.navbar-default .navbar-nav>li>a {
  color: #dddddd !important;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-logo:hover {
  background-color: transparent !important;
}
.navbar-default .navbar-nav>li>a:hover {
      background-color: hsla(0,0%,100%,.08) !important;
  color: white !important;
}
.navbar-default .navbar-nav>li>a.active {
  background-color: hsla(0,0%,0%,.15) !important;
  color: rgb(249, 190, 3) !important;
}
#content {
  color: #fff;
}
.colmask {
  border: none;
  background-color: rgba(0, 0, 0, .25);
}
table {
  border-color: transparent!important;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
  border-top: transparent;
}
.section, #addFeed, #addFeedContent {
  border-bottom: 1px solid transparent;
}
.alt, .infoTableSeperator.alt {
  background-color: rgba(0, 0, 0, .25);
}
.info-container {
  color: #fff;
}
.col2 table {
  background-color: transparent !important;
}
.col2 table:hover {
  background-color: transparent !important;
}
/*General Settings*/
.Key tr:nth-child(odd), .tab-pane tr:nth-child(odd), .even {
  background-color: transparent;
}
.path {
  color: #fff;
}
.col2 h3 {
  background: transparent;
}
.btn-default.sabnzbd_restart {
  color: #fff;
  background-color: #a94442;
  border-color: transparent;
}
.btn-default.sabnzbd_restart:hover {
  color: #fff;
  background-color: #d93935;
  border-color: transparent;
}

.btn-default.saveButton {
  color: #fff;
  background-color: #3c763d;
  border-color: transparent;
}
.btn-default.saveButton:hover {
  color: #fff;
  background-color: #42a543;
  border-color: transparent;
}
.form-control.advanced-button.config-hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.25);
  border-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px !important;
}
.form-control.advanced-button.config-hover:hover {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 3px !important;
}
.col2 p, .col2-cats {
  color: #fff;
}

/*Input*/
input[type="text"], input[type="email"], input[type="url"], input[type="number"], input[type="password"], textarea, select {
  border: none;
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 3px !important;
  color: #fff !important;
}
input[type="text"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="number"]:focus, input[type="password"]:focus, textarea:focus, select:focus {
  border: none;
  background-color: rgb(25, 26, 28);
  border-radius: 3px !important;
}

textarea:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="email"]:hover, input[type="month"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="time"]:hover, input[type="url"]:hover, input[type="week"]:hover, textarea:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="email"]:focus, input[type="month"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="time"]:focus, input[type="url"]:focus, input[type="week"]:focus {
  background-color: rgba(255, 255, 255, 0.25);
  border: none;
}

/*Servers*/
.Servers .ct-label {
  color: white;
}
.Servers .ct-series-a .ct-point {
  stroke: #337ab7;
  stroke-width: 4px;
}
.Servers .ct-series-a .ct-line {
  stroke: #ffffff;
}
.Servers .ct-series-a .ct-area {
  fill: #ffffff;
}

/*Categories*/
.Categories form:first-of-type tr:last-of-type {
  background-color: transparent;
}
.catTable {
  background-color: transparent !important;
}
.catTable:hover {
  background-color: transparent !important;
}
.Categories form.sorting-row:nth-child(2n-1) tr {
  background-color: transparent;
}
input[disabled], select[disabled] {
  background-color: #1f1f1f;
}
.btn-default.delCat {
  color: #fff;
  background-color: #a94442;
  border-color: #2d2c2c;
}
.btn-default.delCat:hover {
  color: #fff;
  background-color: #d93935;
  border-color: transparent;
}
.btn-default.fileBrowser {
  color: #fff;
  background-color: #337ab7;
  border-color: #2d2c2c;
}
.btn-default.fileBrowser:hover {
  color: #fff;
  background-color: #458fce;
  border-color: #2d2c2c;
}
/*Folder modal*/
.list-group-item {
  background-color: rgba(0, 0, 0, 0.25);
  border: none;
}

/*Switches*/
.btn-default.restoreDefaults {
  color: #fff;
  background-color: #a94442;
  border-color: #2d2c2c;
}
.btn-default.restoreDefaults:hover {
  color: #fff;
  background-color: #d93935;
  border-color: transparent;
}

/*Sorting*/
.btn-default.clearBtn {
  color: #fff !important;
  background-color: #a94442;
  border-color: transparent;
}
.btn-default.clearBtn:hover {
  color: #fff !important;
  background-color: #d93935;
  border-color: none;
}
.btn-default.patternKey {
  color: #fff !important;
  background-color: #337ab7;
  border-color: transparent;
}
.btn-default.patternKey:hover {
  color: #fff !important;
  background-color: #458fce;
  border-color: #2d2c2c;
}
input[type="button"], input[type="submit"] {
  background: rgba(255, 255, 255, 0.25);
  border: none;
  color: white !important;
  border-radius: 3px !important;
}
input[type="button"]:hover, input[type="submit"]:hover {
  color: #fff !important;
  background-color: rgba(255, 255, 255, 0.3);
  border-color: rgba(255, 255, 255, 0.3);
}

.btn-default:active:hover, .btn-default.active:hover, .open>.dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open>.dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open>.dropdown-toggle.btn-default.focus {
  color: #fff !important;
  background-color: rgb(229, 144, 41) !important;
  border-color: rgb(229, 144, 41);
}
.btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
  color: #fff;
  background-color: #1f1f1f !important;
  border-color: #2d2c2c;
}
.example {
  background-color: rgba(255,255,255,0.15);
}
/*Add nzb modal*/
.modal-body {
  background-color: #282828;
}
.modal-header {
  background-color: #323232;
}
.modal-body>.nav-tabs>li>a {
  color: white !important;
  opacity: 1 !important;
}
.modal-body>.nav-tabs>li.active>a, .modal-body>.nav-tabs>li.active>a:hover, .modal-body>.nav-tabs>li.active>a:focus {
  color: #555;
  background-color: hsla(0,0%,100%,.08);
  border: transparent;
  border-bottom-color: transparent;
  cursor: default;
}
.modal-body>.nav-tabs>li>a:hover {
  border-color: transparent !important;
}
.modal-body>.nav>li>a:hover, .modal-body>.nav>li>a:focus {
  background-color: hsla(0,0%,100%,.08) !important;
}
.modal-body>.tab-content>.active {
  background-color: #282828 !important
}
#modal-options .tab-content h4 {
  color: white;
}
#modal-options .options-switch label, #modal-options #options-orphans .process-all-orphaned {
  color: white;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #fff;
  border: 0;
  border-bottom: none;
}
.form-control {
  border: transparent;
}
.fade.in {
  background: rgba(0, 0, 0, 0.6);
}
.btn-default.btn-file {
  color: #fff;
  background-color: #337ab7;
  border-color: #2d2c2c;
}
.btn-default.btn-file:hover {
  color: #fff;
  background-color: #458fce;
  border-color: #2d2c2c;
}

/*modal*/
.modal-content {
  background-color: #282828;
}
/* Scheduling */
.time {
  color: #fff;
}

