/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

body {
    background: var(--main-bg-color);
}

a {
    color: var(--link-color);
}

a:hover {
    color: #fff;
}

#content:before {
    background: var(--main-bg-color);
}

* {
    outline: none !important;
}

/* TEXT */
body {
    color: var(--text);
}

/* ACCENTS */
.badge-dark {
    color: var(--button-text);
    background-color: var(--accent-color);
}

/* NAVBAR */
#nav .bg-dark {
    background: hsla(0, 0%, 0%, .25) !important;
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--text);
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
    color: var(--text-hover);
}

#navbarSupportedContent ul li {
    background-color: transparent !important;
    border: none !important;
}

/* DROPDOWN MENU */
.dropdown-menu {
    color: #fff;
    background: var(--modal-bg-color);
    border: 1px solid transparent;
}

.dropdown-item.active,
.dropdown-item:active,
.dropdown:active:hover {
    color: var(--text-hover);
    background-color: rgb(0 0 0 / 25%) !important;
}

.dropdown-item {
    color: var(--text);
}

.dropdown-item:hover,
.dropdown-item:focus {
    color: var(--text-hover);
    text-decoration: none;
    background-color: rgb(255 255 255 / 8%);
}


/* CARDS */
.card {
    background: rgb(255 255 255 / 8%) !important;
    border: 1px solid transparent;
}

.card-header {
    background-color: rgb(0 0 0 / 25%);
    border-bottom: 1px solid rgba(255, 255, 255, .125) !important;
}

ul li {
    background-color: rgb(255 255 255 / 8%) !important;
    border: none !important;
}

ul li:hover {
    background-color: rgb(255 255 255 / 16%) !important;
    border: none;
}

/* SETTINGS */
.plugin_content .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    color: var(--text-hover) !important;
    background-color: rgb(0 0 0 / 25%) !important;
    border-color: #4440 #4440 transparent;
}

.plugin_content .nav-tabs {
    border-bottom: 1px solid rgb(255 255 255 / 20%);
}

.alert-secondary {
    background-color: rgb(255 255 255 / 20%);
}

/* BUTTONS */
.btn {
    border-color: var(--button-color);
    background: var(--button-color);
    color: var(--button-text);
    margin-right: 5px;
}

.btn:hover,
.btn:focus,
.btn:active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    border-color: var(--button-color-hover);
    color: var(--text-hover);
    background-color: var(--button-color-hover);
    box-shadow: none !important;
}

.badge-primary {
    color: var(--button-text);
    background-color: var(--accent-color);
}

.badge-secondary {
    color: var(--button-text);
    background-color: rgb(0 0 0 / 25%);
}

/* FORMS */
.form-control {
    color: var(--text) !important;
    background-color: rgba(0, 0, 0, .25) !important;
    border: 1px solid transparent !important;
    box-shadow: none !important;
    transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    background-color: rgb(0 0 0 / 50%) !important;
    color: var(--text-hover) !important;
}

/* PLACEHOLDER TEXT */
::placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

:-moz-placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

:-ms-input-placeholder {
    color: var(--text) !important;
    opacity: .5 !important;
}

::-webkit-input-placeholder {
    color: var(--text) !important;
    opacity: .5;
}