/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/transparent.css");

body {
    font-family: Open Sans Bold, Helvetica Neue, Helvetica, Arial, sans-serif;
    background: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover) !important;
}

/* Scrollbar */

@media only screen and (min-width: 768px) {
    html {
        height: 100%;
        width: 100%;
        overflow: auto;
    }

    body {
        overflow-y: auto;
        background: var(--main-bg-color);
        background-repeat: repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: center center, center center;
        background-size: auto, cover;
        -webkit-background-size: auto, cover;
        -moz-background-size: auto, cover;
        -o-background-size: auto, cover;
    }
}

.expand::-webkit-scrollbar-track {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.expand::-webkit-scrollbar {
    background-color: transparent !important;
}

.expand::-webkit-scrollbar-thumb {
    background: var(--transparency-dark-20) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.expand::-webkit-scrollbar-thumb:hover {
    background: var(--transparency-light-50) !important;
}

body::-webkit-scrollbar-track {
    background-color: transparent !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body::-webkit-scrollbar {
    background-color: transparent !important;
}

body::-webkit-scrollbar-thumb {
    background: var(--transparency-dark-20) !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

body::-webkit-scrollbar-thumb:hover {
    background: var(--transparency-light-50) !important;
}

.flex-child {
    border-radius: 0px;
    background: var(--transparency-light-10);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}

#includedContent {
    background-color: transparent;
    background: transparent;
}

body {
    opacity: 1;
    transition: 1s opacity;
    background-color: #00000000;
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto:400', sans-serif !important;
    color: #FFFFFF;
    padding: 10px 10px 0;
}

.btn {
    font-weight: 600 !important;
}

body.fade-out {
    opacity: 0;
    transition: none;
}

.left,
.right,
.category-filter-item,
.nav-item,
.filesize,
.path {
    color: var(--text-hover);
}

#username:hover,
#password:hover {
    text-shadow: 0 0 1rem transparent;
}

#categoryFilter,
#auto-update {
    color: var(--text-hover) !important;
    background-color: transparent !important;
    box-shadow: none;
    border-radius: 0px;
}

#markform {
    background: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;

}

.slide {
    border: 1px solid transparent;
}

.expandtoggle {
    background-color: transparent !important;
}

.expandtoggle:hover {
    background: var(--transparency-light-10) !important;
}

.expandtoggle:checked~.expandtoggle::before {
    content: "";
    background: url(/resources/logarr/increase.png) no-repeat;
    background-size: 2em;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: row-resize;
}

.expandtoggle::before {
    background: url(/resources/logarr/decrease.png) no-repeat;
    background-size: 2em;
    content: "";
    display: inline-block;
    width: 2em;
    height: 2em;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    transition: .5s;
    cursor: pointer;
}

.expand {
    height: 43rem;
    width: auto;
    overflow: auto;
    transition: height 0.5s;
    color: rgb(255, 255, 255);
    background: var(--transparency-dark-30);
    word-wrap: break-word;
    padding: 0 10px 0 10px;
}

.header-brand,
.logheader {
    text-shadow: none !important;
}

/* Settings */
/* Text Color */
.alpaca-control-label,
.alpaca-control.radio {
    color: var(--text-hover) !important;
}

.alpaca-form-buttons-container {
    background-color: transparent !important;
}

.Rtable-cell {
    color: var(--text-hover) !important;
}

#colorkey {
    color: var(--text-hover) !important;
}

.settingstitle {
    text-shadow: none !important;
}

#reginfo {
    color: var(--text-hover) !important;
}

#infodata {
    background-color: transparent !important;
    box-shadow: none !important;
}

.input_icon {
    color: var(--button-color) !important;
}

.input_icon:hover {
    color: var(--button-color-hover) !important;
}

.input:hover,
input.form-control:hover,
select.form-control:hover {
    border: .2rem solid transparent;
}

.input:focus,
input.form-control:focus,
select.form-control:focus {
    border: .2rem solid transparent;
}

input:invalid {
    border: .2rem solid transparent;
}

input:valid {
    border: .2rem solid transparent;
}

/* Sidebar */
#sidebar-wrapper {
    box-shadow: none !important;
    background: var(--transparency-dark-10);
}

.sidebar-nav li:hover:before {
    -webkit-transition: none !important;
    transition: none !important;
    background: var(--transparency-dark-10);
}

.sidebar-nav li:before {
    background: var(--transparency-dark-10);
    transition: none !important;
    -webkit-transition: none !important;
}

.sidebar-nav li:first-child a {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(2):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(3):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(4):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(5):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(6):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(7):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(8):before {
    background: var(--transparency-dark-10);
}

.sidebar-nav li:nth-child(9):before {
    background: var(--transparency-dark-10);
}

#modalloading {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover) !important;
    border: 1px solid transparent !important;
    box-shadow: 0.5rem 0.5rem 1rem rgb(15, 15, 15, 0.45) !important;
}

.modaltextloading,
.modalloadingspinner {
    color: var(--text-hover) !important;
}

.container {
    max-width: 100% !important;
    padding-right: 2rem !important;
}

#stats {
    background: var(--transparency-dark-15) !important;
    padding-left: .0rem !important;
    padding-right: 1.11rem !important;
    box-shadow: none;
}

#hd {
    padding-left: 0.8rem !important;
}

.double-val-label>span.success {
    background-color: #28a745 !important;
}

.servicetile:hover,
.servicetile:focus {
    text-shadow: 0 0 20px #000;
}

#servicetitle:hover,
#servicetitle:focus {
    text-shadow: 0 0 20px #000;
}

#servicetitle {
    color: var(--text-hover) !important;
}

.btnoffline,
.btnunknown,
.btnonline {
    box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
    -webkit-box-shadow: 0 0.2rem 1rem rgba(0, 0, 0, 0.9) !important;
}

.btnonline {
    background-color: #28a745 !important;
}

.btn {
    background-color: var(--button-color) !important;
    border: none !important;
}

.btn:hover {
    background-color: var(--button-color-hover) !important;
    border: none !important;
}

.btn-primary,
.btn-primary:hover {
    border-color: transparent;
}

.btn-group>.btn-group:not(:first-child)>.btn,
.btn-group>.btn:not(:first-child) {
    color: var(--text-hover) !important;
}

.btn-group>.btn:first-child {
    color: var(--text-hover) !important;
}

#time {
    background: var(--transparency-dark-15) !important;
    color: var(--text-hover) !important;
    box-shadow: none;
}

#slidertable {
    background: var(--transparency-dark-15) !important;
    box-shadow: none;
}

#textslider {
    color: var(--text-hover) !important;
}

.dtg {
    color: var(--text-hover) !important;
}

.datemin {
    color: var(--text-hover) !important;
}

#center {
    background-color: rgba(0, 0, 0, .0) !important;
    box-shadow: 0px 0px 0px 0px #ffffff00, 0px 0px 0px 0px #ffffff00, 10px 0px 10px 0px #ffffff00, -10px 0px 10px 2px #ffffff00 !important;
}

/*Service tile*/
.col-lg-4 {
    background: var(--transparency-dark-15) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
    box-shadow: none;
}

.col-lg-4:hover {
    background: var(--transparency-dark-10) !important;
    margin: 1rem .1rem 1.5rem 1rem !important;
    width: 9rem !important;
    box-shadow: none;
}

.servicetile,
.servicetile:hover,
.servicetile:focus {
    color: var(--text-hover);
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

.servicetile {
    color: var(--text-hover);
    text-shadow: none !important;
    text-decoration: none !important;
    outline: 0;
    font-weight: inherit !important;
    -webkit-transition: none !important;
    -moz-transition: none !important;
    -ms-transition: none !important;
    -o-transition: none !important;
    transition: none !important;
}

#servicetitle:hover,
#servicetitle:focus {
    text-shadow: none !important;
    font-weight: inherit !important;
}

#clock {
    background: var(--transparency-dark-15) !important;
    color: var(--text-hover) !important;
    box-shadow: none;
}

.date {
    color: var(--text-hover) !important;
}

#summary {
    background-color: #e84242 !important;
    border-radius: 23px 22px 22px 23px/23px 23px 22px 22px;
    box-shadow: 0px 2px 5px rgb(15, 15, 15) !important;
}

.pace,
.pace-progress {
    background: var(--transparency-dark-15) !important;
}

.pace,
.pace-progress-inner {
    box-shadow: 0 0 10px rgba(0, 0, 0, .15), 0 0 5px rgba(0, 0, 0, .15) !important;
}

.pace .pace-activity {
    border-top-color: var(--text-hover) !important;
    border-left-color: var(--text-hover) !important;
}

.footer {
    color: var(--text-hover) !important;
}

.footer:hover {
    text-shadow: 0 0 15px transparent !important;
}

#footer {
    color: transparent !important;
}

.navbar-brand {
    text-shadow: 0 0 15px #000000 !important;
}

/* ButtonShadow */
.btnoffline,
.btnunknown,
.btnonline {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}

.logrollmodal {
    background: var(--modal-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    border: 1px solid transparent !important;
}

.modalimgpath,
.modaltext,
#uploadbutton {
    color: var(--text-hover) !important;
}

.file-upload {
    background-color: var(--button-color) !important;
    color: var(--button-text) !important;
}

.file-upload:hover {
    background-color: var(--button-color-hover) !important;
    color: var(--button-text) !important;
}

@media only screen and (max-width: 775px) {
    #slidertable {
        display: none !important;
    }

    #time {
        display: none !important;
    }
}

@media only screen and (max-width: 768px) {
    #dateRight {
        background: var(--transparency-dark-15) !important;
        color: var(--text-hover) !important;
        box-shadow: none;
    }
}