/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/placeholders.css");
@import url("/css/defaults/transparent.css");
@import url("/css/defaults/servarr-base.css");

:root {
    --calendar-downloaded: 39 194 76;
    --calendar-downloading: 122 67 182;
    --calendar-unmonitored: 173 173 173;
    --calendar-missing: 240 80 80;
    --calendar-unreleased: 93 156 236; 
  }

[class*="AuthorSearchInput-sectionTitle-"] {
    color: var(--text-hover);
}

[class*="AuthorSearchInput-containerOpen-"] [class*="AuthorSearchInput-authorContainer-"] {
    border: none !important;
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover) !important;
    box-shadow: 0 0 10px 1px transparent !important;
}

[class*="AuthorSearchInput-highlighted-"] {
    background: var(--transparency-dark-10)
}

/* LIBRARY PAGE */
[class*="AuthorIndexPoster-controls-"] {
    background-color: rgb(var(--accent-color)) !important;
}

/* OVERVIEW PAGE */
[class*="AuthorIndexOverview-container-"],
[class*="AuthorIndexOverview-container-"]:hover {
    background-color: transparent !important;
}

[class*="AuthorIndexOverview-container-"]:hover [class*="AuthorIndexOverview-content-"] {
    background-color: transparent;
}

[class*="AuthorIndexOverview-content-"]:hover {
    background: var(--transparency-dark-10) !important;
}

[class*="AuthorIndexOverview-link-"]:hover {
    text-decoration: none;
}

/*AUTHOR PAGE*/
[class*="AuthorDetailsSeason-albumType-"],
[class*="AuthorDetailsSeason-collapseButtonContainer-"] {
    border: none !important;
    background: var(--transparency-dark-25) !important;
}

[class*="AuthorDetailsSeason-header-"],
[class*="AuthorDetailsSeason-bookCount-"],
[class*="AuthorDetails-metadataMessage-"],
[class*="AuthorDetailsSeason-bookCount-"] {
    color: var(--text-hover);
}

/*AUTHOR PAGE*/
[class*="AuthorDetailsMedium-mediumNumber-"] {
    color: var(--text-hover);
}

[class*="AuthorDetailsMedium-medium-"] {
    border: none;
    background: var(--transparency-dark-25);
}

[class*="AuthorDetails-selectedTab-"] {
    border-bottom: 4px solid rgb(var(--accent-color));
}

[class*="AuthorDetailsMedium-collapseButtonContainer-"] {
    border: none;
    background: var(--transparency-dark-25);
}

[class*="AuthorIndexProgressBar-progress-"] {
    background: var(--transparency-dark-10);
}

[class*="AuthorIndexBanner-title-"],
[class*="AuthorIndexBannerInfo-info-"] {
    background: var(--transparency-dark-25);
    color: var(--text-hover);
}

[class*="AuthorDetailsHeader-monitorToggleButton-"]:hover,
[class*="AuthorDetails-authorNavigationButton-"]:hover,
[class*="AuthorDetails-authorUpButton-"]:hover,
[class*="BookDetailsHeader-monitorToggleButton-1F9Pp"]:hover,
[class*="BookDetails-bookUpButton-"]:hover,
[class*="BookDetails-bookNavigationButton-"]:hover {
    color: var(--text-hover);
}

/* POSTERS */
[class*="AuthorIndexPoster-title-"],
[class*="AuthorIndexPosterInfo-info-"],
[class*="BookIndexPoster-title-"],
[class*="BookIndexPosterInfo-info-"] {
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

/* SEARCH BAR */
[class*="AddNewItem-searchIconContainer-"]{
    border: none;
    background: var(--transparency-light-10);
    color: var(--text-hover);
}

[class*="AuthorSearchInput-input-"][class*="Input-input-"] {
    background: transparent;
    border-bottom: solid 1px var(--text);
}

[class*="AuthorSearchInput-input-"][class*="Input-input-"]:focus {
    border-bottom: none;
    background: transparent;
}

[class*="AuthorSearchResult-alternateTitle-"] {
    color: var(--text-hover);
    font-size: 12px;
}

/* SEARCH RESULTS */
[class*="AddNewAuthorSearchResult-year-"] {
    color: var(--text-hover);
}

[class*="AddNewAuthorSearchResult-searchResult-"],
[class*="AddNewAuthorSearchResult-underlay-"],
[class*="AddNewAuthorSearchResult-underlay-"] {
    background-color: transparent;
}

[class*="AddNewAuthorSearchResult-searchResult-"]:hover,
[class*="AddNewAuthorSearchResult-underlay-"]:hover,
[class*="AddNewAuthorSearchResult-underlay-"]:hover {
    background: var(--transparency-dark-10);
    color: inherit;
    text-decoration: none;
}

/* IMPORT ARTIST */
[class*="ImportAuthorSelectAuthor-content-"],
[class*="ImportAuthorSelectAuthor-searchIconContainer-"] {
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text-hover);
    border: 1px solid transparent;
}

[class*="ImportAuthorName-disambiguation-"] {
    color: var(--text-muted);
}

[class*="ImportAuthorSearchResult-author-"]:hover {
    background: var(--transparency-light-10);
}

/* IMPORT */
/* Text color */
[class*="ImportAuthorSelectFolder-header-"] {
    color: var(--text-hover);
}

/* IMPORT NEW ARTIST */
/* Drop down menu/button*/
[class*="ImportAuthorSelectAuthor-button-"] {
    border: none;
    background: var(--transparency-dark-25) !important;
    color: var(--text-hover);
}

/* CALENDAR */
[class*="CalendarEvent-downloaded-"]:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-downloaded) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloaded-"]:hover:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-downloaded) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-missing-"]:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-missing) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-missing-"]:hover:not([class*="AgendaEvent-"]) {
    background: rgba(var(--calendar-missing) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-unreleased-"]:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-unreleased) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unreleased-"]:hover:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-unreleased) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-unmonitored-"]:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-unmonitored) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unmonitored-"]:hover:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-unmonitored) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-downloading-"]:not([class*="AgendaEvent-"]),
[class*="CalendarEvent-queue-"]:not([class*="AgendaEvent-"]) {
    background: rgb(var(--calendar-downloading) / .7) !important;
    border-left-color: transparent !important;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloading-"]:hover:not([class*="AgendaEvent-"]),
[class*="Calendar-calendar-"] [class*="CalendarEvent-queue-"]:hover:not([class*="AgendaEvent-"])  {
    background: rgb(var(--calendar-downloading) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-authorName-"] a,
[class*="CalendarEvent-authorName-"],
[class*="CalendarEvent-bookTitle-"] a,
[class*="CalendarEvent-bookTitle-"]{
color: #eee !important;
}

[class*="CalendarEvent-authorName-"] a:hover,
[class*="CalendarEvent-bookTitle-"]  a:hover{
color: #fff !important;
}

/* Library */
[class*="AuthorIndexPoster-link-"],
[class*="AuthorIndexPoster-title-"] {
    background: var(--transparency-light-10);
}

/* Add New*/
[class*="AddNewAuthorSearchResult-underlay-"],
[class*="AddNewBookSearchResult-underlay-"] {
    background-color: transparent;
}

[class*="AddNewAuthorSearchResult-underlay-"]:hover,
[class*="AddNewBookSearchResult-underlay-"]:hover {
    background: var(--transparency-dark-10);
    color: inherit;
    text-decoration: none;
}

/*Author Page*/
[class*="AuthorDetails-tab-"] {
    color: var(--text-hover);
}

[class*="AuthorIndexBanner-title-"] {
    background: var(--transparency-dark-10);
}

[class*="AuthorIndexOverview-container-"]:hover [class*="AuthorIndexOverview-content-"] {
    background: var(--transparency-dark-10);
}

/*Books Tab*/
[class*="AuthorDetailsSeason-bookType-"] {
    border: none;
    background: var(--transparency-dark-25);
}

[class*="AuthorDetailsSeason-books-"] {
    border-top: 1px solid rgb(255 255 255 / 50%);
}

[class*="AuthorDetails-tabList-"] {
    border-bottom: 1px solid rgb(255 255 255 / 50%);
    color: var(--text-hover);
}

[class*="BookDetails-selectedTab-"] {
    border-bottom: 4px solid rgb(var(--accent-color));
}

[class*="BookshelfBook-book-"] {
    border: 1px solid transparent;
    background: var(--transparency-dark-25) !important;
    ;
}

[class*="BookshelfBook-missingWanted-"] {
    background-color: #f05050;
    color: #fff;
}

/* Files Tab*/
[class*="BookFileEditorTableContent-filesTable-"] {
    border: 1px solid rgb(255 255 255 / 10%);
    border-top: 1px solid rgb(255 255 255 / 50%);
    background: var(--transparency-dark-25);
}

/*Series Tab*/
[class*="AuthorDetailsSeries-bookType-"] {
    border: none;
    background: var(--transparency-dark-25);
}

[class*="AuthorDetailsSeries-collapseButtonContainer-"] {
    border: none;
    background: var(--transparency-dark-25);
}

[class*="AuthorDetailsSeries-bookTypeLabel-"] {
    color: var(--text-hover);
}

[class*="AuthorDetailsSeries-bookCount-"] {
    color: var(--text-hover);
}

/*Search Tab*/

[class*="AuthorDetails-selectedTab-"] {
    border-bottom: 4px solid rgb(var(--accent-color));
}

[class*="AuthorDetails-metadataMessage-"] {
    color: var(--text);
}

[class*="AuthorDetails-metadataMessage-"] [class*="Link-to-"] {
    color: rgb(var(--accent-color));
}

[class*="AuthorDetails-metadataMessage-"] [class*="Link-to-"]:hover {
    color: var(--accent-color-hover);
}

/*Specific Book Page*/
[class*="BookDetails-tab-"] {
    color: var(--text-hover);
}