
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */
/* Based on https://github.com/themightykitten/ruTorrent-MaterialDesign */
@import url(https://use.fontawesome.com/releases/v5.0.7/css/all.css);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,600,700,300);

@font-face
{
	font-family:'Roboto'!important
}

html,body
{
	font-family:'Roboto' !important;
	background: var(--main-bg-color);
	color:#fff;
	text-shadow:0 -1px 0 #000
}

div#preload
{
	width:0;
	height:0;
	display:none;
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/menus.png);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/r_bg.gif);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/asc.gif);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/desc.gif);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pnl_open.gif);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pnl_close.gif);
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png)
}

hr {
    background-color: rgba(255, 255, 255, 0.08);
    height: 1px;
    border-width: 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

div#cover
{
	background:var(--main-bg-color)
}

div#msg {
    background: rgba(0, 0, 0, 0.25);
    border-top: 1px solid #3330;
    border-bottom: 1px solid #0000;
    font-size: 11px;
    font-weight: 700;
    text-shadow: 0 -3px 0 #0000;
}

div#sc
{
	border:1px solid #333;
	background-color:#181818
}

div#sc li.se_act div
{
	background-color:#333;
	color:#888
}

div#lng
{
	background-color:#181818;
	border:1px solid #333
}

ul.CMenu
{
	opacity:.98;
	border:1px solid #333;
	border-right:1px solid #070707;
	border-left:1px solid #1b1b1b;
	border-bottom:1px solid #000;
	background:#000;
	padding:0;
	border-radius:5px
}

ul.CMenu li
{
	background:#181818
}

ul.CMenu li.menuitem:first-child
{
	border-top-right-radius:5px;
	border-top-left-radius:5px
}

ul.CMenu li.menuitem:last-child
{
	border-bottom-right-radius:5px;
	border-top-left-radius:5px
}

ul.CMenu li a
{
	color:#757571;
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/menus.png) no-repeat 0 0
}

ul.CMenu li a.dis
{
	color:#333
}

ul.CMenu li a.dis:hover
{
	color:#333
}

ul.CMenu li hr
{
	background-color:#000;
	height:1px;
	border-width:0;
	border-bottom:1px solid #1b1b1b;
	padding:0;
	margin:0;
	width:100%
}

ul.CMenu li a.exp
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/menus.png) no-repeat right -22px
}

ul.CMenu li a.exp:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/menus.png) no-repeat right -44px
}

ul.CMenu li a.sel
{
	color:#178FD1;
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/menus.png) no-repeat 0 -66px
}

ul.CMenu li ul li a.sel
{
	color:#178FD1
}

ul.CMenu li a:hover
{
	background-color:#888;
	color:#fff;
	text-shadow:0 -1px 0 #000
}

ul.CMenu li:hover ul li a
{
	background-color:#181818;
	color:#666
}

ul.CMenu li:hover ul li a:hover
{
	color:#fff;
	text-shadow:0 -1px 0 #000
}

ul.CMenu li ul li a.dis
{
	color:#333
}

ul.CMenu li ul li a.dis:hover
{
	background-color:#181818;
	color:#333
}

div.stable-body table tbody tr.even:nth-child(2n+1) td
{
	background:rgba(255, 255, 255, 0.08)!important
}

.stable-body td
{
	border-bottom:1px solid #ff000000!important;
}

.stable-body tr.odd td
{
	background:#2A2A2A!important
}

#tdetails
{
	overflow:hidden
}

#StatusBar
{
	border-top:1px solid #292828!important;
	background:#1E1E1E;
	margin-top:-2px
}

#sel
{
	border:1px dotted #555
}

div#t
{
	background-color:rgba(0, 0, 0, 0.25);
	background-image:none;
	border-bottom:none;
	padding:4px 0 2px 0;
	height: 40px;
}

div#t a
{
	margin:4px 5px 0 5px
}

#mnu_logoff.top-menu-item {
        margin-left: 15px;
}

div#t a:hover
{
	background:none
}

div#t div.TB_Separator
{
	border:none;
	background:none;
	margin:0 5px;
	height:40px
}

div#t div#add
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat 0 0
}

div#t div#add:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat 0 -24px
}

div#t div#create
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -24px 0
}

div#t div#create:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -24px -24px
}

div#t div#remove
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -48px 0
}

div#t div#remove:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -48px -24px
}

div#t div#start
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -72px 0
}

div#t div#start:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -72px -24px
}

div#t div#pause
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -96px 0
}

div#t div#pause:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -96px -24px
}

div#t div#stop
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -120px 0
}

div#t div#stop:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -120px -24px
}

div#t div#moveu
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -144px 0
}

div#t div#moveu:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -144px -24px
}

div#t div#moved
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -168px 0
}

div#t div#moved:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -168px -24px
}

div#t div#search
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -192px 0
}

div#t div#search:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -192px -24px
}

div#t div#rss
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -241px 0
}

div#t div#rss:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -241px -24px
}

div#t div#setting
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -264px 0
}

div#t div#setting:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -264px -24px
}

div#t div#plugins
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/plugin.png) no-repeat 0 center
}

div#t div#plugins:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pluginh.png) no-repeat 0 center
}

div#t div#help
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -288px 0
}

div#t div#help:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/toolbar.png) no-repeat -288px -24px
}

div#t div#go
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/go.png) no-repeat 0 0
}

div#t div#go:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/goh.png) no-repeat 0 0
}

div select {
    -webkit-appearance:none !important;
    background:#1f1f1f  url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dropdown.png) no-repeat 0 0;
    background-position: right;
    border: 1px solid #1f1f1f ;
    padding-right: 15px !important;
}

.stg_con
{
	background-color:transparent
}

.stg_con fieldset
{
	border:none;
	border-top:1px solid #888;
	border-radius:0
}

.stg_con td input
{
	padding:1px 4px
}

#st_ao_h,#st_throttle_h
{
	height:360px !important
}

a
{
	color:#fff;
	font-family:'Roboto'
}
.flot-text {
    color: #fff !important;
}
.flot-overlay{
    border:none !important;
}
div#stg-header
{
	background:#273238 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dlg-toolbars.gif) no-repeat scroll 0 -72px;
	text-shadow:0 -1px 0 #000
}

div#CatList
{
	border:none;
	background-color:rgba(0, 0, 0, 0.25);
	border-right:1px solid transparent;
	border-left:none
}

div#CatList ul li span
{
	color:#D4D6C9
}

div#CatList ul li.sel span
{
	color:#AACF27
}

div#CatList ul li
{
	border:none;
	margin:5px;
	font-family:'Roboto'
}

div#CatList ul li.sel
{
	background-color:transparent;
	color:#009DDD;
	text-shadow:0 -1px 0 #000;
	border:none
}

#-_-_-all-_-_-,#-_-_-dls-_-_-,#-_-_-com-_-_-,#-_-_-act-_-_-,#-_-_-iac-_-_-,#-_-_-err-_-_-
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png)
}

.catpanel
{
	font-size:12px;
	font-family:'Roboto';
	padding:2px 30px;
	height:22px;
    line-height:25px;
    background-image: none;
	background:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pnl_open.gif) 0 0 no-repeat !important;
	background-color:#273238;
	font-weight:700;
	color:#DCDCDC;
	text-shadow:0 -1px 0 #000;
	border:none
}

.catpanelcont
{
	margin:15px 2px;
	transition:all .3s cubic-bezier(0.68,-0.55,0.27,1.55) 0
}

#-_-_-all-_-_-
{
	background-position:4px -175px
}

#-_-_-dls-_-_-
{
	background-position:4px 2px
}

#-_-_-com-_-_-
{
	background-position:4px -15px
}

#-_-_-act-_-_-
{
	background-position:4px -159px
}

#-_-_-iac-_-_-
{
	background-position:4px -31px
}

#-_-_-err-_-_-
{
	background-position:4px -95px
}

div#CatList ul li.RSS
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png);
	background-position:4px -207px
}

div#CatList ul li.disRSS
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png)
}

.stable-icon
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png)
}

.Icon_File
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/file.gif) no-repeat left center
}

.Icon_Dir
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dir.gif) no-repeat left center
}

.Icon_Share
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dir.gif) no-repeat left center
}

div#CatList ul li.sel span
{
	color:#009DDD
}

div#flabel_cont ul li
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png);
	background-position:4px -352px
}

div.tab
{
	background:transparent;
	font-family:'Roboto'
}

div#lcont
{
	background:rgba(0, 0, 0, 0.25);
	font-family:'Roboto'
}

div#gcont table td.Header
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png) no-repeat 0 -286px;
	font-family:'Roboto';
	color:#D4D6C9;
	padding-left:17px
}

div#gcont table tr
{
	background:rgba(0, 0, 0, 0.45);
	font-family:'Roboto';
	color:#D4D6C9
}

div#gcont table tr td
{
	background:rgba(0, 0, 0, 0.15);
}

div#gcont table
{
	font-family:'Roboto'
}

div.graph_tab
{
	color:#FFF;
	border-color:transparent;
	background-color:rgba(0, 0, 0, 0.25)
}

div.table_tab
{
	background-color: rgba(0, 0, 0, 0.45);
	font-family:'Roboto'
}

div#modalbg
{
	background-color:#181818
}

div#List
{
	margin-right:6px;
	border:none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#FileList,div#TrackerList,div#PeerList,div#Speed
{
	background-color:rgba(0, 0, 0, 0.25);
}

.dlg-window
{
	background-color:#222;
	box-shadow:0 19px 38px rgba(0,0,0,0.60)
}

* > fieldset
{
    border: 1px solid rgba(255, 255, 255, 0.08);
	border-radius:2px
}

a.dlg-close
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/close.png) no-repeat scroll left center
}

a.dlg-close:hover
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/close.png) no-repeat scroll left center
}

a.dlg-close:link,a.dlg-close:visited
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/close.png) no-repeat scroll left center
}

div.dlg-header
{
	background-color:rgba(0, 0, 0, 0.25);
	border-bottom:none;
	font-family:'Roboto';
	text-transform:uppercase;
	font-weight:700;
	font-size:1em
}
.tskconsole {
    font-size: 11px;
    font-family: monospace;
    line-height: 11px;
    background: rgba(0, 0, 0, 0.25);
    white-space: pre;
    overflow: scroll;
    height: 198px;
    width: 580px;
    cursor: text;
}
fieldset
{
	background-color:transparent;
	font-family:'Roboto'
}

legend
{
	color:#999;
	text-transform:uppercase;
	font-weight:500;
	font-size:1em
}

td.disabled,label.disabled,span.disabled,div.disabled
{
	color:#b9b9b9
}

disabled
{
	opacity:50%
}

div#stg .lm
{
	margin:5px 0 5px 5px;
	padding:10px 5px 0;
	background:none;
	border:none
}

.lm li,.lm li.first,.lm li.last,.lm li div.toggle
{
	background:transparent none repeat scroll 0 0;
	text-transform:uppercase;
	font-size:.9em;
	margin:0 0 3px
}

.lm li a
{
	font-size:1em;
	font-weight:400;
	color:#dedede;
	transition:all .5s
}

.lm li a:hover
{
	color:#fff;
	transition:all .5s
}

.lm li a.focus
{
	color:#FFF;
	background:none
}

input.disabled
{
	background-color:#181818;
	color:#333;
	border:1px solid #333
}

legend
{
	color:#FFF;
}

select.cols
{
	border:1px solid #333
}

div#dragmask
{
	border:1px dotted #333
}

div#tdetails {
    padding: 0;
    margin: 0;
    background-color: transparent;
    color: #fff;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

div#tdcont
{
	background:transparent;
	border:none;
	padding:0
}

div#HDivider
{
	background:rgba(0, 0, 0, 0.45);
	cursor:e-resize;
	height:0;
	margin:0;
	padding:0;
	width:5px
}
div#RSSList {
    border: none !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    overflow: hidden;
    display: block;
    -moz-user-select: none;
    -moz-user-focus: normal;
    -moz-user-input: enabled;
}
div#HDivider:hover,div#VDivider:hover
{
	background:rgba(255, 255, 255, 0.08);
}

div#tcreate textarea#trackers
{
	color:#fff;
	border:none!important;
	background: rgba(0, 0, 0, 0.25);
	border-radius:2px;
	cursor:text;
}

input[type="text"],input[type="password"],select
{
	color:#fff;
	border:none;
	background:rgba(0, 0, 0, 0.25) url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x scroll 0 -138px;
	border-radius:2px
}

input[type="text"][disabled],input[type="password"][disabled],input[type="file"][disabled],select[disabled]
{
	color:#fff;
	border:none;
	background:rgba(0, 0, 0, 0.08) url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat scroll 0 0!important;
	border-radius:2px;
	opacity:.2
}

#StatusBar table tr td.pstatus2
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/green.png) no-repeat scroll 5px center!important
}

textarea
{
	border:none;
	border-radius:2px
}

#hostcookies,#lookat,#message,#FS_downlink
{
	color:#fff;
	border:none!important;
	background:rgba(0, 0, 0, 0.25);
	border-radius:2px
}

input.Button
{
	background:var(--default-button-color) none repeat scroll 0 0;
	border-radius:2px;
	border:none;
	color:#FFF;
	cursor:pointer;
	display:inline;
	font-weight:700;
	text-transform:uppercase;
	height:21px;
	line-height:2px;
	margin:0 10px 0 5px;
	padding:0;
	text-shadow:none
}

input.Button:hover,input.Button:focus
{
	background:var(--default-button-color-hover) none repeat scroll 0 0;
}

#mainlayout
{
	max-width:1000px
}

ul#tabbar
{
	background:rgba(0, 0, 0, 0.45);
	border:none;
	color:#606060;
	height:24px;
	text-shadow:none
}

ul#tabbar li a
{
	background:none;
	border:none;
	color:#bbbbbb;
	cursor:pointer;
	font-family:inherit;
	line-height:24px;
	margin:2px 2px 0;
	padding:4px 15px 3px;
	font-weight:500;
	text-shadow:none;
	top:0
}

ul#tabbar li a:hover
{
	color:#fff;
	text-shadow:none;
	background:none
}

ul#tabbar li.selected a
{
	background:none;
	border-bottom:2px solid var(--default-button-color);
	color:#eee;
	padding:4px 15px 5px;
	font-weight:700;
	text-shadow:none;
	top:0;
	transition:all .2s cubic-bezier(.18,.89,.32,1.28) 0
}

.tabbar li
{
	margin-left:1px;
	margin-right:2px
}

.tabbar
{
	background:none;
	border:none;
	color:#038ba9;
	height:21px;
	padding:4px;
	text-shadow:none
}

.tabbar li a
{
	background:none;
	border:none;
	color:#606060;
	cursor:pointer;
	font-family:inherit;
	line-height:24px;
	margin:-2px 1px 0;
	padding:4px 15px 3px;
	font-weight:500;
	text-shadow:none;
	top:0;
	transition:all .5s
}

.tabbar li a:hover
{
	color:#fff;
	background:none;
	border:none
}

.tabbar li.selected a
{
	background:none;
	border:none;
	border-bottom:2px solid #fff;
	color:#ececec;
	font-weight:700;
	margin:0 2px 0 0;
	padding:4px 15px 3px;
	text-shadow:none;
	top:0
}

#fMan_navbut
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/directory.png)!important;
	border:1px solid #181818!important
}

#fMan_navbut:hover
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/refresh.png)!important
}

#fMan_pathsel
{
	max-width:600px!important
}

#meter-disk-value
{
	border-radius:2px;
	overflow:hidden
}

div#dlgProps textarea#prop-trackers
{
	background:#222#ff8000;
	border:1px solid #333
}

div.dlg-window {
    background: var(--modal-bg-color);
    color: #fff;
    border-top: 1px solid transparent;
    border-right: 1px solid transparent;
    border-left: 1px solid transparent;
    border-bottom: 1px solid transparent;
    border: none;
}

#stg_c
{
	font-weight:300!important
}

.dlg-header
{
	background-color:#222;
	border-bottom:none
}

#FS_main div.dlg-header
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/share.png)!important
}

div#yesnoDlg div.dlg-header
{
	background:rgba(0, 0, 0, 0.25);
	text-shadow:0 -1px 0 #000
}

div#stg-header
{
	background:rgba(0, 0, 0, 0.25);
	text-shadow:0 -1px 0 #000
}

div#dlgHelp-header,div#dlgHelp div.dlg-header
{
	background:rgba(0, 0, 0, 0.25);
	text-shadow:0 -1px 0 #000
}

div#tadd
{
	margin:5px;
	height:300px!important;
	width:450px!important
}

div#tadd-header {
    background: rgba(0, 0, 0, 0.25);
    border-bottom: 1px solid #3330;
    text-shadow: 0 -1px 0 #000;
}

#addtorrenturl label:nth-of-type(2),#addtorrenturl br,#addtorrent label:last-of-type,#addtorrent br:last-of-type,#addtorrent br:nth-last-of-type(2)
{
	display:none!important
}

#addtorrent hr:last-of-type
{
	margin-bottom:15px
}

#tadd_label,#tadd_label_select
{
	margin:5px 0 5px 25px
}

#addtorrent span,#addtorrent label,#tadd_label_select,#tadd_label
{
	clear:both;
	float:left
}

#addtorrent span:first-of-type,#addtorrent label:nth-of-type(2)
{
	margin-top:10px
}

#addtorrenturl
{
	margin-top:15px
}

Input.TextboxLarge
{
	border:none
}

div.tab
{
	background-color:rgba(0, 0, 0, 0.25)
}

div#t div#ind
{
	height:34px;
	width:34px;
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/ajax-loader-small.gif) no-repeat 0 center;
	margin:2px 6px
}

tr#rrow td *
{
	margin-top:-2px
}

tr#rrow td a#mnu_go div#go
{
	margin-top:-5px
}

span#loadimg
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/ajax-loader.gif) no-repeat center center
}

.meter-value-start-color
{
	background-color:#E05400
}

.meter-value-end-color
{
	background-color:#8FBC00
}


    ::-webkit-scrollbar {
        width: 14px;
    }
    ::-webkit-scrollbar-thumb {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.2);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb:hover {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.5);
        background-clip: padding-box;
    }

input#clear_log,input#add_url,input#add_button
{
	margin-top:2px
}

div#lcont div.std
{
	background:rgba(0, 0, 0, 0.25);
	height:17px;
	line-height:17px;
	border-bottom:1px solid transparent;
}

div#lcont div.std:nth-child(2n+1)
{
	background:rgba(255, 255, 255, 0.08);
}

#StatusBar
{
	border-top:1px solid #333;
	background:#000 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0 0;
	color:#888;
	font-family:Roboto
}

#StatusBar table tr td
{
	padding-right:5px;
	border:none;
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) no-repeat right -208px
}

#StatusBar table tr td td
{
	background:none
}

#StatusBar table tr td:last-child
{
	border-top:red
}

#st_up
{
	background:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status.png) no-repeat 6px 2px
}

#st_down
{
	background:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status.png) no-repeat 6px -18px
}

.statuscell
{
	padding-right:5px;
	border:none
}

#stup_speed
{
	color:#AACF27
}

#stdown_speed
{
	color:#178FD1
}

#stup_total,#stdown_total
{
	color:#fff
}

span#ds,span#dl
{
	color:#178FD1
}

span#ra
{
	color:#F70000
}

span#us,span#ul
{
	color:#AACF27
}

span.det
{
	color:#fff
}

.stable-head table tr td
{
	border-right:1px solid #242424!important;
	font-family:Roboto!important
}

.Icon_Dir
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png);
	background-position:0 -272px
}

.Icon_File
{
	background-image:url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png);
	background-position:0 -256px
}

.Icon_Torrent
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/torrent.png) no-repeat scroll left center!important
}

.Icon_Vid
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/video.png) no-repeat scroll left center!important
}

.Icon_Mp3
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/mp3.png) no-repeat scroll left center!important
}

.Icon_Img
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/image.png) no-repeat scroll left center!important
}

.Icon_Nfo
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/nfo.png) no-repeat scroll left center!important
}

.Icon_Sfv
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/text.png) no-repeat scroll left center!important
}

.Icon_UpD
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/up.png) no-repeat scroll left center!important
}

.Icon_Rar,.Icon_Zip
{
	background:transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/archive.zip) no-repeat scroll left center!important
}






@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

.stable { border: 1px solid; border-color: #333333 #181818 #181818 #333333; }
.stable td { padding: 2px; }
.stable-head { color: #dcdcdc; background: rgba(0, 0, 0, 0.45); border: none; text-shadow: 0px 1px 0px #000; font-family: Ubuntu; }
div#tdcont .stable-head { border: none; }
div#tdcont .stable { border: none; }
.stable-head table tr { background: transparent; border: none; }
.stable-head table tr td { border: none; font-family: Ubuntu; height: 18px; line-height: 18px; cursor: pointer; }
.stable-head div.resz { border: 1px solid #FF0000; background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/s.gif) no-repeat scroll left center; }
.stable-body { background: window; text-shadow: 0px 1px 0px #000; color: #CACCCC; }
.stable-body td { border-bottom: 1px solid #333333; }
.stable-body td div { font-family: Ubuntu, Verdana, Arial, Helvetica, sans-serif; height: 16px !important; }
.stable-body tr.odd td { background: #333333 }
.stable-body tr.even td { background: #191919 }
.stable-body tr { height: 22px; }
.stable-body { background: transparent }
.stable-body tr.selected td{ background: rgba(0, 0, 0, 0.25); color: #fff; text-shadow: 0px -1px 0px #000; }
div.stable-body table tbody tr.even td {    background: rgba(0, 0, 0, 0.08); }
div.stable-body table tbody tr.even td:nth-child(2n+1) { color: #ffffff; }
div.stable-body table tbody tr.even:nth-child(2n+1) td { background: #181818 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0px -64px; }
.stable-move-header { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/header_move.gif) repeat-x scroll center top; border: 1px solid #0099FF; }

.stable-move-header { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/header_move.gif) repeat-x scroll center top rgba(128,128,128,0.7); border: 1px solid #0099FF; }
.gecko .stable-move-header { background: rgba(128,128,128,0.7); -moz-opacity: 0.7; }
.ie .stable-move-header { background: rgba(128,128,128,0.7); filter:alpha(opacity=70) }
.webkit .stable-move-header { background: rgba(128,128,128,0.7); }

.stable-active-header { border-color: threedface !important }
.stable-separator-header { background: #181818; }
.stable-scrollpos { background: #181818 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0px -37px; height: 17px; line-height: 17px; border-bottom: 1px solid #333333; }
.stable-scrollpos:nth-child(2n+1) { background: #181818 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0px -64px; }

.meter-value { float: left; border: 1px inset #1b1b1b; border-bottom: none; background: #96CE00 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0px -138px; }
.stable-body tr.selected span.meter-value { color: #fff; }
.meter-text { line-height: 16px; position: relative; text-align: left; float: left; width: 0px; height: 0px; overflow: visible; left: 40%; font-size: 11px; font-family: Ubuntu; z-index: 1; text-shadow: 0px 0px 2px #000; }




@font-face {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 400;
    src: local('Ubuntu'), url(https://themes.googleusercontent.com/static/fonts/ubuntu/v5/_xyN3apAT_yRRDeqB3sPRg.woff) format('woff');
}

.tskconsole, .exconsole, .console, .starterConsole { background: #333333 }
#tsk_btns input.Button {
        margin: 0px 3px
        }
        
        #tsk_btns .scplay {
                display:none
                }

.cCell { color: black }
#meter-disk-value, #qmeter-disk-value, #qmeter-band-value { float: left; border: 1px inset #1b1b1b; border-bottom: none; background: #96CE00 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/headers.png) repeat-x 0px -138px; }
#meter-disk-text, #qmeter-disk-text, #meter-band-text { color: #fff; text-shadow: 0px 0px 2px #000; position: relative; text-align: left; float: left; width: 0px; height: 0px; overflow: visible; left: 40%; font-size: 11px; font-family: Ubuntu; z-index: 1; }
#meter-disk-holder, #qmeter-disk-holder, #meter-band-holder { width: 100px; height: 16px; line-height: 16px; border-right: none; padding-left: 25px; margin-left: 0px; background: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png) no-repeat 3px -336px; }

#meter-cpu-text { position: absolute; left: 65px; top: 0px; color: #fff; text-shadow: 0px 0px 2px #000; font-size: 11px; font-family: Ubuntu; }
#meter-cpu-holder { width: 100px; height: 16px; line-height: 16px; border-right: none; margin-left: 0px; padding-left: 25px; background: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/status_icons.png) no-repeat 3px -320px; }
#meter-cpu-td {}

div.graph_tab { color: #FFF; border-color: transparent; }
div#tcreate div.dlg-header { background: rgba(0, 0, 0, 0.25); border-bottom: 1px solid transparent; text-shadow: 0px -1px 0px #000; background-image: none !important; }
div#dlgAddRSS { background-color: #222222; border-top: 1px solid transparent; border-right: 1px solid transparent; border-left: 1px solid transparent; border-bottom: 1px solid transparent; }
div#dlgAddRSS-header, div#dlgAddRSS div.dlg-header { background: rgba(0, 0, 0, 0.25); border-bottom: 1px solid transparent; text-shadow: 0px -1px 0px #000; background-image: none !important; }



.lf li input.TextboxFocus { background-color: transparent; color: #009DDD }

.cCell { color:#333; }

.Cell0 { background-color: #FFFDF0; border: 1px dotted #888888; }

.Cell1 { background-color: #7EB400; }

.Cell2 { background-color: #75A602; }

.Cell3 { background-color: #6D9A02; }

.Cell4 { background-color: #628C02; }

.Cell5 { background-color: #5B8101; }

.Cell6 { background-color: #527501; }

.Cell7 { background-color: #4A6801; }

.Cell8 { background-color: #435F01; }

.Cell9 { background-color: #3B5401; }

.CellA { background-color: #C1C3C3; }

.CellB { background-color: #999A9A; }

.CellC { background-color: #767776; }

.CellD { background-color: #6B6C6B; }

.CellE { background-color: #60605E; }

.CellF { background-color: #000; color:#fff; }

#tCellNotSupported { text-align: center; }

#tRowNotSupported { vertical-align: middle; color: red; }

div#dlgEditRules-header,#dlgEditRatioRules-header,div#dlgEditRules div.dlg-header { background:#181818 url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dlg-toolbars.gif) no-repeat 0 -72px !important; border-bottom: 1px solid #333333; text-shadow: 0px -1px 0px #000; }
div#dlgEditRules,div#dlgEditRatioRules { width:600px; }

.lfc_rru, .lfc_rur { width:250px;}
.lf_rru, .lf_rur { border:none; border-radius:2px; background-color:#2D2D2D;}

#exratio_buttons1 input.Button {margin:0px 3px;}

#autodl-tb { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/autodll-irc1.png) no-repeat center; }
#autodl-tb:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/autodll-irc2.png) no-repeat center; }
#autodl-multiselect-header { background-image: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/dlg-autodl-irc.gif"); }

.shieven { background: #191919; }
.shiodd { background: #333333; }

div#webuiUpdateToggle.pause { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pauseui.png) no-repeat; }
div#webuiUpdateToggle.pause:hover {	background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pauseuih.png) no-repeat; }

div#webuiUpdateToggle.resume { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/playui.png) no-repeat; }
div#webuiUpdateToggle.resume:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/playuih.png) no-repeat; }

div#webuiRefresh { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/refreshui.png) no-repeat; }
div#webuiRefresh:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/refreshuih.png) no-repeat; }

div#linkproxy {	background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/proxy.png) no-repeat; }
div#linkproxy:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/proxyh.png) no-repeat; }

div#linklogs {	background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/linklogs.png) no-repeat; }
div#linklogs:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/linklogsh.png) no-repeat; }

div#linkseedboxmanager { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/seedboxmanager.png) no-repeat; }
div#linkseedboxmanager:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/seedboxmanagerh.png) no-repeat; }

div#plugin { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/plugin.png) no-repeat; }
div#plugin:hover { background: transparent url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/pluginh.png) no-repeat; }

#maillayout #letterform table tr td { background: #181818 }
#maillayout #replyform table tr td { background: #181818 }

div#chat { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/chat.png); }
div#chat:hover { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/chat3.png); }
div#tchat div.dlg-header { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/chat2.png); }

#userlist,#chatselect,#chatarea,#chatselect option
{
        border:none !important;
                background-color:#6F6F6F !important;
                        border-radius:2px !important;
                                color:#fff !important
                                }

div#logoff { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/logoff.png); }
div#logoff:hover { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/logoff3.png); }
div#logoffDlg div.dlg-header { background-image: url(https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/rutorrent/logoff2.png); }

.noty_alert, .noty_success { color: #000000; text-shadow: 0 -1px 0 #ffffff }

