
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

body {
    background: var(--main-bg-color);  
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
  }
  /* scroller */
::-webkit-scrollbar-corner {
    background-color:  hsla(0,0%,100%,.08);
}
::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .25);
}
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.25) !important;
}
/* MINI RIGHT SCROLL BAR */
.OverlayScroller-thumb-1Lhfi {
background-color: hsla(0,0%,100%,.25) !important;
}
.OverlayScroller-thumb-1Lhfi:hover {
    background-color: rgba(255, 255, 255, 0.45) !important;
}
  /* LINKS */
  .Link-to-6fmSq {
      color: #FFF;
  }
  .Link-to-6fmSq:hover {
      color: #FFF;
      text-decoration: underline;
  }
  
  /* LOADING PAGE */
  .ErrorPage-page-3GptQ, .ErrorPage-version-3txe6, .LoadingMessage-loadingMessage-1gR5r {
      color: #FFF;
  }
  .LoadingIndicator-ripple-358v5 {
    border: 2px solid #fff;
  }
  
  /* MODAL */
  .ModalHeader-modalHeader-gpcvG {
      background: var(--main-bg-color);
      color: #fff;
  }
  .ModalContent-modalContent--txrl {
      background: var(--main-bg-color);
      color: #fff;
  }
  .ModalFooter-modalFooter-1N5Ku {
      background: var(--main-bg-color);
      color: #fff;
  }
  
  /* INPUT */
      .TagInput-internalInput-Jbb1T {
      background-color: transparent;
      color: #fff;
      }
      .SelectInput-select-1qCdc {
          background-color: #1e1e1e !important;
      }
      .AutoSuggestInput-suggestionsList-_bVXO, .AutoSuggestInput-suggestionsContainerOpen-3TAB7, .AutoSuggestInput-suggestionsContainer-3MmlD {
      background-color: #323232 !important;
      color: white;
      border: none !important;
      }
      .AutoSuggestInput-suggestionHighlighted-2BWyt {
      background-color: hsla(0,0%,100%,.08);
      }
      .FormInputHelpText-helpText-3_AVV {
      color: #fff;
      }
  
  /* HEADER */
  
      .PageHeader-header-1IhlM {
          background-color: rgba(0, 0, 0, .7);
      }
  
      .PageHeader-donate-ZT-3N {
      color: #c4273c !important;
      }
  
  /* SIDE MENU */
  
      @media only screen and (max-width: 768px) {
      .PageSidebar-sidebar-3IOcI {
      background-color: rgba(0, 0, 0, .45) !important;
      }
      }
      .PageSidebar-sidebar-2UXc0 {
          background-color: rgba(0, 0, 0, .45);
      }
      .PageSidebar-sidebarContainer-3Hxpq {
          background-color: rgba(0, 0, 0, .45) !important;
      }
      .PageSidebar-sidebar-3IOcI {
          background-color: transparent;
      }
      
      .PageSidebarItem-link-TuHn2:hover, .PageSidebarItem-link-TuHn2:focus {
          color: #FFF !important;
          background-color: hsla(0,0%,100%,.08);
          text-decoration: none;
      }
      .PageSidebarItem-isActiveLink-1Hupc {
          color: #FFF;
          background-color: hsla(0,0%,100%,.08);
      }
      .PageSidebarItem-isActiveParentLink-2uxKf {
          background-color: transparent;
      }
  
      @media only screen and (max-width: 768px) {
      .PageSidebar-sidebarContainer-3Hxpq {
          background: var(--main-bg-color) !important;
      }
      }
  
  
      .fa-search:hover {
      color: #FFF !important;
      }
      .Icon-default-3C-KJ:hover {
      color: #fff;
      }
      .MonitorToggleButton-toggleButton-3CcN9 {
      color: #dadada;
      }
  
      .Table-table-2C3O8 {
      color: #fff;
      }
  
      .Popover-title-326tA, .SeasonInfo-title-1tid_, .Popover-body-10Yh7 {
          background-color: #1f1f1f !important;
      }
      .Tooltip-tooltipContainer-2693s {
      color: #fff;
      }
  
  
      /* TOP MENU  */
      .PageToolbar-toolbar-1Lo1N {
          background-color: rgba(0, 0, 0, .25);
          color: hsla(0,0%,100%,.7);
      }
  
      /* HOVEL LABELS */
      .Label-default-2zdw6 {
          border-color: #1b1b1b;
          background-color: #1b1b1b;
      }
      /* TOP HEADER DROPDOWN */
      .MenuItem-menuItem-zB-Up, .MenuContent-menuContent-3Zkj4 {
      background: var(--modal-bg-color);
      color: #e1e2e3;
      }
      .MenuItem-menuItem-zB-Up:hover, .MenuItem-menuItem-zB-Up:focus {
          background: hsla(0,0%,100%,.08) !important;
          color: #fbfcfc;
          text-decoration: none;
      }
      .MenuItemSeparator-separator-1ayq0 {
      background-color: #e1e2e3;
      }
      
      /* TOP HEADER HOVER */
      .PageToolbarButton-toolbarButton-QiQEt:hover {
      color: #FFF;
      }
      .MenuButton-menuButton-3nh0N:hover {
      color: #FFF;
      }
      /* ALPHABET JUMP BAR */
      .PageJumpBar-jumpBar-3owcF {
      color: #FFF;
      }
  
  /* ADD NEW */
  
      /* SEARCH BAR */
      .Input-input-2YWzR {
          border: none;
          background-color: rgba(0, 0, 0, .25);
          color: #FFF
      }
      .Input-input-2YWzR:focus {
      outline: 0;
      border-color: transparent;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, .25);
      }
      .Button-default-2uiHU:hover {
      border-color: transparent;
      background-color: hsla(0,0%,100%,.3) !important;
      color: #fff;
      }
      /* TEXT COLOR */
      .PageContentBody-innerContentBody-tEszh {
      color: #fff;
      }
  
  
  /* IMPORT */
  
      .FieldSet-legend-3x6NF {
      color: #FFF;
      }
      .TableRow-row-33xJE:hover {
      background-color: hsla(0,0%,100%,.08);
      color: #FFF;
      }
      .VirtualTableRow-row-2-JS9:hover {
      background-color: hsla(0,0%,100%,.08);
      }
  
  
  /* MASS EDITOR */
      /* FOOTER */
      .PageContentFooter-contentFooter-3ODMj {
      border: none;
      background-color: rgba(0, 0, 0, .25);
      color: #FFF;
      }
  
  /* SEASON PASS */
  
      .SeasonPassSeason-season-2FWuT {
          border: none;
          background-color: rgba(0, 0, 0, .25) !important;
      }
      .SeasonPassSeason-allEpisodes-1zGja {
          background-color: #5cb85c;
      }
  
  /* CALENDAR */
      .Button-default-2uiHU {
          color: #FFF;
          background-color: rgba(0, 0, 0, .25);
          border-color: transparent;
      }
      .DayOfWeek-dayOfWeek-1iw4D {
          background-color: hsla(0,0%,100%,.08);
      }
  
      .CalendarDay-day-2TMXA {
          -webkit-box-flex: 1;
          -webkit-flex: 1 0 14.28%;
          flex: 1 0 14.28%;
          overflow: hidden;
          min-height: 70px;
          border-bottom: 1px solid hsla(0,0%,100%,.08);
          border-left: 1px solid hsla(0,0%,100%,.08);
          border-right: 1px solid hsla(0,0%,100%,.08);
      }
      .CalendarEvent-event-3Uyb9 {
          border-bottom: none !important;
      }
      .CalendarEvent-event-3Uyb9:hover {
          background-color: hsla(0,0%,100%,.08) !important;
          border-bottom: none !important;
      }
        /* CALENDAR COLORS */
      .CalendarEvent-downloading-1kwSO {
        border-left-color: var(--calendar-Downloading);
      }
      .CalendarEvent-downloaded-2vSrJ {
        border-left-color: var(--calendar-Downloaded);
      }
      .CalendarEvent-unreleased-mSAoI {
        border-left-color: var(--calendar-Unreleased);
      }
      .CalendarEvent-partial-2_4q1 {
        border-left-color: var(--calendar-Partial);
      }
      .CalendarEvent-unmonitored-Zvc-m {
        border-left-color: var(--calendar-Unmonitored);
      }
      .CalendarEvent-missing-1y6vZ {
        border-left-color: var(--calendar-Missing);
      }
  
  /* SETTINGS */
  
      .Settings-summary-3KPAv {
          color: #fff;
      }
  
      /* PROFILES */
      .Card-card-1iGZk, .QualityProfiles-addQualityProfile-2U2Io {
      background-color: rgba(0,0,0,.45);
      box-shadow: 0 0 10px 1px #000000;
      color: #fff;
      }
      .QualityProfiles-center-1iiKm, .LanguageProfiles-center-7EV_2, .ReleaseProfiles-center-114Qx {
      background-color: rgba(0, 0, 0, .25);
      border: none;
      color: #c2c6c8;
      }
      .QualityProfileItem-qualityProfileItem-VFp-W, .QualityProfileItemGroup-qualityProfileItemGroup-2U1l5 {
      border: none;
      background-color: rgba(0, 0, 0, .25);
      color: #FFF;
      }
      .QualityProfileItemGroup-qualityProfileItemGroup-2U1l5.QualityProfileItemGroup-editGroups-2KzDp {
      background: rgba(0, 0, 0, 0.25);
      }
      /* PROFILES */
      .Indexers-center-11Csq {
      background-color: rgba(0, 0, 0, .25);
      border: none;
      color: #c2c6c8;
      }
  
      /* DOWNLOAD CLIENTS */
      .DownloadClients-center-FvACx {
      background-color: rgba(0, 0, 0, .25);
      border: none;
      color: #c2c6c8;
      }
  
      /* CONNECTIONS */
      .Notifications-center-8iwmy {
      background-color: rgba(0, 0, 0, .25);
      border: none;
      color: #c2c6c8;
      }
  
      /* LOG */
      .Alert-info-1J8mE {
      border-color: transparent;
      background-color: rgba(0, 0, 0, 0.25);
  }
  
  /* -------------------------LIDARR STUFF------------------------------*/
  
  .LoadingIndicator-ripple-1264V {
      border: 2px solid #FFFFFF;
  }
    /* Popup modal */
  .Modal-large-I2McN, .Modal-modal-3oHjA, .ModalContent-modalContent-1B9AX {
      background-color: #282828;
      color: #FFF;
  }
  .ModalHeader-modalHeader-P3MTG, .ModalFooter-modalFooter-3izCM {
      background-color: #323232;
      color: #FFF;
  }
  .ModalFooter-modalFooter-3izCM a:first-child, .ModalFooter-modalFooter-3izCM button:first-child {
      background-color: #656565 !important;
      border-color: transparent;
  }
  .ModalFooter-modalFooter-3izCM a:first-child, .ModalFooter-modalFooter-3izCM button:first-child:hover {
      margin-left: 0;
      background-color: hsla(0,0%,100%,.3) !important;
      color: white;
      border-bottom-color: transparent;
  }
  .Button-default-1X0nf {
      border-color: transparent;
      background-color: #656565;
      color: #FFF;
  }
  .Button-default-1X0nf:hover {
      border-color: transparent;
      background-color: hsla(0,0%,100%,.3) !important;
      color: #fff;
  }
  .Button-primary-1F1YL {
      border-color: transparent;
  }
  .Button-primary-1F1YL:hover {
      border-color: transparent;
  }
  .TagInput-input-3E1DX {
      background-color: transparent;
      color: #FFF;
  }
  .TagInput-suggestion-3jRkQ, .TagInput-containerOpen-2g0Wc, .TagInput-suggestionsContainer-1vjHY {
      background-color: #1e1e1e !important;
  }
  .TagInput-suggestion-3jRkQ:hover {
        background-color: hsla(0,0%,100%,.3) !important;
  }
  
    /* Main Menu Header */
  .PageHeader-header-1lnFT {
      background-color: rgba(0, 0, 0, .7);
  }
  .PageToolbar-toolbar-1oL_w {
      background-color: rgba(0, 0, 0, .25);
      color: hsla(0,0%,100%,.7);
  }
  .PageHeader-donate-3Lk-h {
      color: #c4273c !important;
  }
  .PageToolbarButton-toolbarButton-3b5EM:hover {
      color: #FFF;
  }
  .MenuButton-menuButton-3cqRJ:hover {
      color: #FFF;
  }
  .MenuItem-menuItem-211VP, .MenuContent-menuContent-e2UAN {
      background-color: #191a1c;
      color: #e1e2e3;
  }
  .MenuItem-menuItem-211VP:hover, .MenuItem-menuItem-211VP:focus {
      background-color: hsla(0,0%,100%,.08) !important;
      color: #fbfcfc;
      text-decoration: none;
  }
  .ArtistSearchInput-sectionTitle-3Xr5V {
      color: #fff;
  }
  .ArtistSearchInput-containerOpen-OZAuD .ArtistSearchInput-artistContainer-331xe {
      border: none;
      background: var(--modal-bg-color);
      color: #fff;
      box-shadow: 0 0 10px 1px #000000;
  }
  .ArtistSearchInput-artistContainer-331xe::-webkit-scrollbar-thumb {
      background-color: rgba(255, 255, 255, 0.25);
  }
  .ArtistSearchInput-highlighted-2oxYA {
      background-color: hsla(0,0%,100%,.08)
  }
  
  /* Sidebar */
  @media only screen and (max-width: 768px) {
  .PageSidebar-sidebar-2UXc0 {
    background: rgba(0, 0, 0, .25);
    background-image: var(--main-bg-color); 
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
  }
  }
  .PageSidebar-sidebarContainer-2kLcI {
    background: transparent;
  }
  .PageSidebarItem-isActiveLink-1JpOZ {
      color: hsla(0,0%,100%,.7) !important;
  }
  .PageSidebarItem-isActiveItem-34xgs {
      border-left: 3px solid hsla(0,0%,100%,.08);
  }
  .PageSidebar-sidebar-2UXc0 {
      background-color: rgba(0, 0, 0, .25);
  }
  .PageSidebarItem-isActiveParentLink-2qgS5 {
      background-color: rgba(0, 0, 0, 0);
  }
  .PageSidebarItem-isActiveParentLink-2qgS5:hover {
      background-color: hsla(0,0%,100%,.08);
  }
  .PageSidebarItem-link-2ron8:hover, .PageSidebarItem-link-2ron8:focus {
      color: #FFF !important;
      background-color: hsla(0,0%,100%,.08);
      text-decoration: none;
  }
  .PageSidebarItem-link-2ron8 {
      color: hsla(0,0%,100%,.7) !important;
  }
  /*ARTIST PAGE*/
  .ArtistIndexPoster-title-38afV {
      background-color: rgba(0, 0, 0, .25);
  }
  .ArtistDetailsSeason-albumType-3aBd- {
      border: none;
      background-color: rgba(0, 0, 0, .25);
  }
  .ArtistDetailsSeason-header-2GIDr {
      color: #fff;
  }
  .ArtistDetailsSeason-albumCount-14dOS {
      color: #ffffff;
  }
  .ArtistDetailsSeason-collapseButtonContainer-1c4Kb {
      border: none;
      background-color: rgba(0, 0, 0, .25);
  }
  .ArtistDetails-metadataMessage-2NtMl {
      color: #ffffff;
  }
  .ArtistDetailsSeason-albumCount-36Ow9 {
      color: #ffffff;
  }
      /*ARTIST ALBUM PAGE*/
  .AlbumDetailsMedium-mediumNumber-3ZUko {
      color: #fff;
  }
  .AlbumDetailsMedium-medium-dqPTF {
      border: none;
      background-color: rgba(0, 0, 0, .25);
  }
  .AlbumDetailsMedium-collapseButtonContainer-33Y3Z {
      border-top: none;
      background-color: rgba(0, 0, 0, .25);
  }
  .ArtistIndexOverview-container-3_iEh:hover .ArtistIndexOverview-content-3zZhb, .ArtistIndexProgressBar-progress-3DLoM  {
      background-color: hsla(0,0%,100%,.08);
  }
  .ArtistIndexBanner-title-3TKM6 {
      background-color: rgba(0, 0, 0, .25);
      color: #fff;
  }
  .ProgressBar-container-14z4A {
      background-color: rgba(255, 255, 255, 0.25);
  }
  /* OVERVIEW PAGE */
  .ArtistIndexOverview-container-29HZM, .ArtistIndexOverview-container-29HZM:hover {
    background-color: transparent !important;
  }
  .ArtistIndexOverview-content-hiNUl:hover{
    background-color: hsla(0,0%,100%,.08) !important;
  }
  .ArtistIndexOverview-container-29HZM:hover .ArtistIndexOverview-content-hiNUl {
    background-color: transparent;
  }
  .ArtistIndexOverview-content-hiNUl:hover {
  text-decoration: none;
  }
  /* BANNER PAGE */
  .ArtistIndexBanner-title-dKZ3c {
      background-color: rgba(0, 0, 0, .25);
  }
  
    /* Table view*/
  .VirtualTableRow-row-2osBd:hover {
      background-color: rgba(0, 0, 0, .25);
  }
    .VirtualTableRow-row-2osBd:hover, .ArtistIndexHeader-sortName-3sIoX:hover, .ArtistIndexHeader-artistType-1bUEX:hover, .ArtistIndexHeader-trackCount-2fAYt:hover,
    .ArtistIndexHeader-qualityProfileId-33lgF:hover, .ArtistIndexHeader-languageProfileId-F8uCr:hover, .ArtistIndexHeader-metadataProfileId-258c_:hover,
    .ArtistIndexHeader-nextAlbum-2P-CJ:hover, .ArtistIndexHeader-lastAlbum-18Y9w:hover, .ArtistIndexHeader-added-z5UiU:hover, .ArtistIndexHeader-genres-3YVsn:hover, .ArtistIndexHeader-albumCount-1CnIC:hover,
    .ArtistIndexHeader-trackProgress-5psBe:hover, .ArtistIndexHeader-latestAlbum-KzyAA:hover, .ArtistIndexHeader-actions-KjYeY:hover {
      background-color: rgba(0, 0, 0, .25);
      color: #FFF;
  }
  .IconButton-button-20Niq:hover {
      color: #fff;
  }
    /* Table options*/
  .TableOptionsColumn-column-2H7ic {
      background: rgba(0, 0, 0, .25);
      color: #FFF;
      border: none;
  }
  /* Fix rating border*/
  .ArtistIndexRow-ratings-nqXPx {
      border-top: 1px solid #eee !important;
  }
  /* ADD NEW ARTIST */
  .AddNewArtist-searchIconContainer-7ygSM, .Input-input-dS7Oc, .AddNewArtist-clearLookupButton-2ym1-, .AddNewArtistSearchResult-searchResult-N5Vx4,
  .ImportArtistSelectArtist-button-WUML4, .PageContentFooter-contentFooter-1t6xx {
      border: none;
      background-color: rgba(0, 0, 0, .25);
      color: #FFF;
  }
  .AddNewArtistSearchResult-searchResult-N5Vx4:hover {
      background-color: hsla(0,0%,100%,.08);
      color: inherit;
      text-decoration: none;
  }
  .ImportArtistSearchResult-artist-IVs0T:hover {
      background-color: hsla(0,0%,100%,.08);
  }
  .Input-input-dS7Oc:focus {
      outline: 0;
      border-color: transparent;
      box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0), 0 0 8px rgba(0, 0, 0, 0);
      background-color: rgb(30, 30, 30);
  }
      /* IMPORT ARTIST */
      .ImportArtistSelectArtist-content-qicZY {
          background-color: #1e1e1e;
          color: #FFF;
          border: 1px solid #00000000;
      }
      .ImportArtistSelectArtist-button-1zPPw {
          border: 1px solid #00000000;
          background-color: #1f1f1f;
      }
      .ImportArtistSelectArtist-searchIconContainer-3YJva {
          background-color: rgba(0, 0, 0, .25);
          border-color: transparent;
      }
      .ImportArtistSearchResult-artist-11vxQ:hover {
          background-color: rgba(255, 255, 255, 0.08);
      }
  
  .Button-default-1X0nf {
      color: #FFF;
      background-color: rgba(0, 0, 0, .25);
  }
  .AddNewArtist-noResults-L1xcp, .AddNewArtist-message-c33sh {
      color: #FFF;
  }
  .Button-default-1X0nf:hover {
      background-color: hsla(0,0%,100%,.08);
  }
  
  
  /* IMPORT */
    /* Text color */
  .ImportArtistSelectFolder-header-1AE_l, .PageContent-content-2-LcY, .FieldSet-legend-3mbvV {
      color: #FFF;
  }
  
  .TableRow-row-2tPLX {
    color: #FFF;
  }
  .TableRow-row-2tPLX:hover {
      background-color: hsla(0,0%,100%,.08);
      color: #FFF;
  }
  
  /* ALBUM STUDIO */
  .AlbumStudioAlbum-album-mOsjl, .AlbumStudioAlbum-tracks-14O0r {
      border: none;
      background-color: rgba(0, 0, 0, 0.25);
      color: #fff;
  }
  .AlbumStudioAlbum-missingWanted-1jEbu {
      background-color: #f05050;
  }
  .AlbumStudioAlbum-allTracks-1KGPc {
      background-color: #0b8750;
  }
  
    /* CALENDAR */
  .CalendarDay-day-3WaqW, .CalendarDays-days-287Rk {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 14.28%;
      flex: 1 0 14.28%;
      overflow: hidden;
      min-height: 70px;
      border-bottom: 1px solid hsla(0,0%,100%,.08);
      border-left: 1px solid hsla(0,0%,100%,.08);
      border-right: 1px solid hsla(0,0%,100%,.08);
  }
  .CalendarDay-dayOfMonth-3ZysC {
      border-bottom: 1px solid hsla(0,0%,100%,.08);
      background-color: rgba(0, 0, 0, .25);
  }
  .DayOfWeek-dayOfWeek--jS1P {
      background-color: hsla(0,0%,100%,.08);
  }
  .CalendarDay-isToday-1ZMWk {
      background-color: hsla(0,0%,100%,.08) !important;
  }
  
    /* SETTINGS */
        /* TEXT */
  .Settings-summary-1BIsi {
      color: #fff;
  }
        /* PROFILES/INDEXERS/DL-CLIENTS/IMPORT-LIST/CONNECTIONS */
  .Card-card-SvrkG {
      background-color: rgba(0, 0, 0, .25);
      box-shadow: 0 0 10px 1px #000000;
      color: #fff;
  }
  .LanguageProfileItem-languageProfileItem-18XGg {
    border: none;
    background: rgba(0, 0, 0, 0.25);
}
  
  .QualityProfiles-addQualityProfile-2q4Re, .QualityProfiles-center-3qTb_, .LanguageProfiles-center-18sh2,
  .MetadataProfiles-center-dOatB, .Indexers-center-3HUez, .Restrictions-center-3cS8T, .DownloadClients-center-30cx9, .ImportLists-center-17Qdu, .Notifications-center-13jM2 {
      background-color: rgba(0, 0, 0, .25);
      border: none;
      color: #c2c6c8;
  }
  .Indexers-center-3HUez, .Restrictions-center-3cS8T, .DownloadClients-center-30cx9, .ImportLists-center-17Qdu, .Notifications-center-13jM2 {
      display: inline-block;
      padding: 15px 20px 15px;
      border-radius: 4px;
  }
    /* CONNECTIONS */
  .Label-danger-1rVtt.Label-outline-2ZP8n {
      color: #FFF;
      background-color: #f05050;
  }
    /* EDIT QUALITY PROFILES */
  .QualityProfileItem-qualityProfileItem-VFp-W, .QualityProfileItemGroup-qualityProfileItemGroup-2U1l5 {
      border: none;
      background-color: rgba(0, 0, 0, .25);
      color: #FFF;
  }
  .QualityProfileItemGroup-qualityProfileItemGroup-2U1l5.QualityProfileItemGroup-editGroups-2KzDp {
      background: rgba(0, 0, 0, 0.25);
  }  