:root {
  --main-bg-color: radial-gradient(at top center, rgba(0, 0, 0, 0.25), hsla(0, 14%, 18%, 0.55) , hsla(0, 18%, 5%, 0.9)) center center/cover no-repeat fixed, linear-gradient(to bottom, #df89de 0%, hsl(276, 100%, 3%) 100%) center center/cover no-repeat fixed;

  --modal-bg-color: var(--main-bg-color);
  --modal-header-color: var(--main-bg-color);
  --modal-footer-color: var(--main-bg-color);

  --drop-down-menu-bg: var(--main-bg-color);

  --button-color: rgb(134, 84, 132);
  --button-color-hover: rgba(134, 84, 132, .8);
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color: 217, 164, 217;
  --accent-color-hover: rgb(var(--accent-color),.8);
  --link-color: rgb(199, 118, 197);
  --link-color-hover: rgb(217, 164, 217);
  --label-text-color: #fff;

  --text:#ddd;
  --text-hover: #fff;
  --text-muted: #999;

  /*Specials*/
  --arr-queue-color: #6b5; /* Servarr apps + Bazarr*/
  --plex-poster-unwatched: rgb(134, 84, 132);
  --petio-spinner: invert(68%) sepia(13%) saturate(766%) hue-rotate(170deg) brightness(90%) contrast(79%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 134, 84, 132;
  --overseerr-gradient: radial-gradient(at top center, rgba(0, 0, 0, 0.25), hsla(0, 14%, 18%, 0.55) , hsla(0, 18%, 5%, 0.9)) center center/cover no-repeat fixed, linear-gradient(to bottom, rgb(223, 137, 222, .85) 0%, hsl(276, 100%, 3%) 100%) center center/cover no-repeat fixed;
}