:root {
  --main-bg-color: linear-gradient(135deg, transparent 40%, rgba(20, 9, 27, 0.5)) center center/cover no-repeat fixed,
   radial-gradient(at center center, rgba(243, 217, 217, 0.25), hsla(0, 14%, 18%, 0.55), rgba(14, 0, 19, 0.7)) center center/cover no-repeat fixed,
   radial-gradient(at bottom center, rgba(0, 0, 0, 0.25), hsla(0, 14%, 18%, 0.55), rgb(10, 4, 12)) center center/cover no-repeat fixed,
    radial-gradient(at center center, #ff8a00 50%, #37033a 100%) center center/cover no-repeat fixed;

  --modal-bg-color: var(--main-bg-color);
  --modal-header-color: var(--main-bg-color);
  --modal-footer-color: var(--main-bg-color);

  --drop-down-menu-bg: var(--main-bg-color);

  --button-color: #924e00;
  --button-color-hover: #723d00;
  --button-text: #eee;
  --button-text-hover: hsla(0, 0%, 100%, 0.95);

  --accent-color: 255, 138, 0;
  --accent-color-hover: rgb(var(--accent-color),.8);
  --link-color: #ff8a00;
  --link-color-hover: #bd6500;
  --label-text-color: hsla(0, 18%, 5%, 0.95);

  --text:#ddd;
  --text-hover: #fff;
  --text-muted: #999;

  /*Specials*/
  --arr-queue-color: #6b5; /* Servarr apps + Bazarr*/
  --plex-poster-unwatched: #ff8a00;
  --petio-spinner: invert(68%) sepia(13%) saturate(766%) hue-rotate(170deg) brightness(90%) contrast(79%); /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
  --gitea-color-primary-dark-4: 255, 138, 0;
  --overseerr-gradient: linear-gradient(135deg, transparent 40%, rgba(20, 9, 27, 0.5)) center center/cover no-repeat fixed,
  radial-gradient(at center center, rgba(243, 217, 217, 0.25), hsla(0, 14%, 18%, 0.55), rgba(14, 0, 19, 0.7)) center center/cover no-repeat fixed,
  radial-gradient(at bottom center, rgba(0, 0, 0, 0.25), hsla(0, 14%, 18%, 0.55), rgb(10, 4, 12, .85)) center center/cover no-repeat fixed,
   radial-gradient(at center center, rgb(255, 138, 0, .85) 50%, rgb(55, 3, 58, .85) 100%) center center/cover no-repeat fixed;
}
