/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */
@import url(https://use.fontawesome.com/releases/v5.0.7/css/all.css);
@import url("/css/defaults/placeholders.css");


* {
    outline: none !important;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

body {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text);
}

/* Scrollbar */
@media only screen and (min-width: 768px) {
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body {
        overflow-y: auto;
        height: 100%;
        background: var(--main-bg-color);
        background-repeat: repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: center center, center center;
        background-size: auto, cover;
        -webkit-background-size: auto, cover;
        -moz-background-size: auto, cover;
        -o-background-size: auto, cover;
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .2);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
}

div#torrent_container {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

div#torrent_inspector #inspector_header #torrent_inspector_name,
.prefs-section .title {
    color: var(--text-hover);
}

/* Toolbar */
div#toolbar {
    background: rgba(0, 0, 0, .25);
    background-image: none;
    border-bottom: 1px solid transparent;
}

div#toolbar>div#toolbar-separator {
    display: none
}

/* Open torrent folder*/
div#toolbar>div#toolbar-open {
    background-image: none;
}

div#toolbar>div#toolbar-open:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-open:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f07c";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
    margin-right: 5px;
}

/* Stop Icon */
div#toolbar>div#toolbar-remove {
    background-image: none;
}

div#toolbar>div#toolbar-remove:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-remove:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f28d";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
    margin-left: 5px;
}

/* Start Icon */
div#toolbar>div#toolbar-start {
    background-image: none;
}

div#toolbar>div#toolbar-start:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-start:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f152";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
    margin-left: 5px;
}

/* Pause Icon */
div#toolbar>div#toolbar-pause {
    background-image: none;
}

div#toolbar>div#toolbar-pause:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-pause:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f04c";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
    margin-left: 5px;
}

/* Start-all Icon */
div#toolbar>div#toolbar-start-all {
    background-image: none;
}

div#toolbar>div#toolbar-start-all:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-start-all:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f101";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
    margin-left: 5px;
}

/* Pause-all Icon */
div#toolbar>div#toolbar-pause-all {
    background-image: none;
}

div#toolbar>div#toolbar-pause-all:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-pause-all:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f28b";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
}

/* Info Icon */
div#toolbar>div#toolbar-inspector {
    background-image: none;
}

div#toolbar>div#toolbar-inspector:hover:before {
    color: var(--accent-color-hover);
}

div#toolbar>div#toolbar-inspector:before {
    font-family: "Font Awesome 5 Free";
    font-size: 33px;
    content: "\f05a";
    font-weight: 900;
    display: inline-block;
    color: rgb(var(--accent-color));
}

/* Statusbar */
#statusbar {
    border-bottom: 1px solid transparent;
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25)
}

#statusbar #filter input#torrent_search {
    outline: none;
    border: none;
    border-radius: 2px;
}

#statusbar #filter input#torrent_search.blur {
    color: #999;
    outline: none;
    border: none;
    border-radius: 2px;
}

#statusbar #speed-info #speed-dn-icon {
    background: none;
}

#statusbar #speed-info #speed-dn-icon:before {
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    content: "\f0d7";
    font-weight: 900;
}

#statusbar #speed-info #speed-up-icon {
    background: none;
}

#statusbar #speed-info #speed-up-icon:before {
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    content: "\f0d8";
    font-weight: 900;
}

ul.torrent_list,
ul.torrent_list li.torrent.even {
    background: rgba(0, 0, 0, 0.25);
}

ul.torrent_list li.torrent div.torrent_name {
    color: var(--text-hover);
}

ul.torrent_list li.torrent.selected {
    background-color: rgba(0, 0, 0, 0.25);
}

ul.torrent_list li.torrent {
    border-bottom: 1px solid rgba(204, 204, 204, 0.1);
    padding: 4px 30px 5px 14px;
    color: var(--text);
    background-color: rgba(255, 255, 255, 0.08);
}

/* Modal */
div.dialog_container div.dialog_window {
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    border: none !important;
    opacity: 1;
}

div.dialog_container div.dialog_window h2.dialog_heading,
div#upload_container div.dialog_window div.dialog_message label {
    color: var(--text)  
}

input {
    color: var(--text-hover);
    background: rgba(0, 0, 0, .25)
}

#add-dialog-folder-input,
#torrent_upload_url {
    color: var(--text-hover);
    outline: none;
}

div.dialog_container div.dialog_window div.dialog_message {
    color: var(--text);
}

/* Button*/
div.dialog_container div.dialog_window a {
    background-color: var(--button-color);
    border: 1px solid var(--button-color);
    color: var(--button-text);
}

div.dialog_container div.dialog_window a:hover,
div.dialog_container div.dialog_window a:active {
    background: none;
    background-color: var(--button-color-hover);
    border: 1px solid var(--button-color-hover);
}

/* ul.torrent_list div.torrent_progress_bar.complete.leeching {
    background-position: left 0px;
    background: var(--progress-color);
    border-color: var(--progress-color);
    } */

/* ul.torrent_list div.torrent_progress_bar {
        height: 100%;
        position: absolute;
        top: 0px;
        left: 0px;
        background-image: none;
        background-repeat: repeat-x;
        border: 1px solid #888;
    } */

.ui-widget-content {
    border: 1px solid transparent;
    background: var(--drop-down-menu-bg);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text);
}

.ui-widget-header {
    color: var(--text-hover) !important;
}

.ui-widget .ui-widget {
    box-shadow: none;
}

.ui-widget {
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

#download-dir,
#seedRatioLimit,
#idle-seeding-limit,
#speed-limit-up,
#speed-limit-down,
#alt-speed-up,
#alt-speed-down,
#peer-limit-per-torrent,
#peer-limit-global,
#blocklist-url,
#blocklist-update-button,
#peer-port {
    color: black;
    outline: none;
}

.ui-widget-header {
    border: 1px solid transparent;
    background: none;
    color: #222;
    font-weight: bold;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
    border: 1px solid transparent;
    background: rgba(255, 255, 255, .1) !important;
    font-weight: normal;
    color: var(--text);
}

.ui-state-active a,
.ui-state-active a:link,
.ui-state-active a:visited {
    color: var(--text);
    text-decoration: none;
}

.ui-state-default a,
.ui-state-default a:link,
.ui-state-default a:visited {
    color: var(--text);
    text-decoration: none;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default {
    border: 1px solid transparent;
    background: rgba(0, 0, 0, 0.25);
    font-weight: normal;
    color: var(--text);
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
    padding-bottom: 0px;
}

/*Close Icon*/
ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close {
    background-image: none;
}

ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close:hover:before {
    color: var(--text-hover);
}

ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close:before {
    font-family: "Font Awesome 5 Free";
    font-size: 10px;
    content: "\f00d";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Inspector*/
div#torrent_inspector {
    border-left: 1px solid transparent;
    -moz-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>* {
    border-color: transparent;
    height: auto;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector div.inspector_torrent_file_list_entry_name,
div#torrent_inspector ul.tier_list .tracker_activity,
div#torrent_inspector ul.tier_list table,
div#torrent_inspector div.tracker_host {
    color: var(--text);
}

/*Info button*/
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f05a";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info.selected {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info.selected:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-info.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f05a";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Peers Button*/
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0c0";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers.selected {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers.selected:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-peers.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0c0";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Tracker Button*/
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f233";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers.selected {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers.selected:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-trackers.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f233";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Files Button*/
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0c5";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files.selected {
    background-image: none;
    background-color: rgba(0, 0, 0, 0.25);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files.selected:hover:before {
    color: var(--text-hover);
}

div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files:active,
div#torrent_inspector #inspector-tabs-wrapper #inspector-tabs>#inspector-tab-files.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0c5";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

tr.inspector_peer_entry.odd {
    background-color: rgba(255, 255, 255, 0.1);
}

/* Priority buttons */
div.file-priority-radiobox>* {
    border-color: transparent;
    width: auto;
}

/*Low pri*/
div.file-priority-radiobox>div.low {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.low:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.low:before {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f107";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.file-priority-radiobox>div.low:active,
div.file-priority-radiobox>div.low.selected {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.low:active,
div.file-priority-radiobox>div.low.selected:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.low:active,
div.file-priority-radiobox>div.low.selectedbefore {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f107";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Normal pri*/
div.file-priority-radiobox>div.normal {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.normal:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.normal:before {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f068";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.file-priority-radiobox>div.normal:active,
div.file-priority-radiobox>div.normal.selected {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.normal:active,
div.file-priority-radiobox>div.normal.selected:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.normal:active,
div.file-priority-radiobox>div.normal.selectedbefore {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f068";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*High pri*/
div.file-priority-radiobox>div.high {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.high:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.high:before {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f106";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.file-priority-radiobox>div.high:active,
div.file-priority-radiobox>div.high.selected {
    background-color: transparent;
    background-image: none;
}

div.file-priority-radiobox>div.high:active,
div.file-priority-radiobox>div.high.selected:hover:before {
    color: var(--text-hover);
}

div.file-priority-radiobox>div.high:active,
div.file-priority-radiobox>div.high.selectedbefore {
    font-family: "Font Awesome 5 Free";
    font-size: 30px;
    content: "\f106";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div#torrent_inspector li.inspector_tracker_entry.odd {
    background-color: rgba(255, 255, 255, 0.1);
}

/*Bottom Toolbar*/
div.torrent_footer {
    border-top: 1px solid transparent;
    background-color: rgba(0, 0, 0, .25);
    background-image: none;
    height: 30px;
}

div.torrent_footer>div {
    border: 1px solid transparent;
}

/* Settings Icon */
div.torrent_footer #settings_menu {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #settings_menu:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #settings_menu:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f013";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.torrent_footer #settings_menu:active,
div.torrent_footer #settings_menu.selected {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #settings_menu:active,
div.torrent_footer #settings_menu.selected:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #settings_menu:active,
div.torrent_footer #settings_menu.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f013";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/* Prefs Icon */
div.torrent_footer #prefs-button {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #prefs-button:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #prefs-button:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0ad";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.torrent_footer #prefs-button:active,
div.torrent_footer #prefs-button.selected {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #prefs-button:active,
div.torrent_footer #prefs-button.selected:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #prefs-button:active,
div.torrent_footer #prefs-button.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0ad";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/* Turtle Icon */
div.torrent_footer #turtle-button {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #turtle-button:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #turtle-button:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f3fd";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.torrent_footer #turtle-button:active,
div.torrent_footer #turtle-button.selected {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #turtle-button:active,
div.torrent_footer #turtle-button.selected:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #turtle-button:active,
div.torrent_footer #turtle-button.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f3fd";
    font-weight: 900;
    display: inline-block;
    color: var(--text-hover);
}

/* Compact Icon */
div.torrent_footer #compact-button {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #compact-button:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #compact-button:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0ca";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

div.torrent_footer #compact-button:active,
div.torrent_footer #compact-button.selected {
    background-color: transparent;
    background-image: none;
}

div.torrent_footer #compact-button:active,
div.torrent_footer #compact-button.selected:hover:before {
    color: var(--text-hover);
}

div.torrent_footer #compact-button:active,
div.torrent_footer #compact-button.selected:before {
    font-family: "Font Awesome 5 Free";
    font-size: 20px;
    content: "\f0ca";
    font-weight: 900;
    display: inline-block;
    color: var(--text);
}

/*Compact mode*/
ul.torrent_list li.torrent div.torrent_name.paused,
ul.torrent_list li.torrent.compact div.torrent_name {
    color: var(--text);
}

/* Settings menu */
.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
    border: 1px solid transparent;
    background: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: var(--text-hover);
    outline: none;
}

.ui-icon,
.ui-widget-content .ui-icon {
    background-image: url(/resources/transmission/icons.png);
}