@import url("/css/addons/unraid/login-page/alien/alien-base.css");
:root {
    --main-bg: radial-gradient(ellipse at center,rgba(0, 255, 119, 0.1) 0,rgba(0,255,119,0) 100%) center center/cover no-repeat fixed, 
    url(/css/addons/unraid/login-page/alien/wallpaper/nightmare.png) center center/cover no-repeat fixed;
    --logo: url(/css/addons/unraid/login-page/alien/logo/wings_red.png) center no-repeat;
    --text-color: #e22828;
    --input-color: #e22828;
    --link-color: #e22828;
    --link-color-hover: #f07777;
    --case-color: #e22828;
    --button-text-color: #e22828;
    --button-text-color-hover: #000;
    --button-color: #e22828;
    --button-color2: #e22828;
    --button-color-hover: #db3232;
    --button-color2-hover: #db3232;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: rgba(0, 0, 0, 0.55);
    --text-shadow: 0 0 8px;
    --box-shadow: 0 0 15px;
}