@import url("https://theme-park.dev/CSS/addons/unraid/login-page/alien/alien_base.css");
:root {
    --main-bg: radial-gradient(ellipse at center,rgba(0, 255, 119, 0.1) 0,rgba(0,255,119,0) 100%) center center/cover no-repeat fixed, 
    url(https://theme-park.dev/CSS/addons/unraid/login-page/alien/wallpaper/scanner.jpg) center center/cover no-repeat fixed;
    --logo: url(https://theme-park.dev/CSS/addons/unraid/login-page/alien/logo/nostromogreen2.png) center no-repeat;
    --text-color: #37f592;
    --input-color: #37f592;
    --link-color: #37f592;
    --link-color-hover: #68ffff;
    --case-color: #37f592;
    --button-text-color: #37f592;
    --button-text-color-hover: #000;
    --button-color: #37f592;
    --button-color2: #0C833D;
    --button-color-hover: #68ffff;
    --button-color2-hover: #68ffff;
    --input-font: 'Share Tech Mono', monospace;
    --text-font: 'Share Tech Mono', monospace;   /*'VT323', 'Share Tech Mono'*/
    --div-background-color-15: rgba(0, 255, 111, 0.03);
    --text-shadow: 0 0 8px;
    --box-shadow: 0 0 15px;
}