/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/placeholders.css");
@import url("/css/defaults/transparent.css");

* {
    outline: none;

}

body {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text)
}



/* TEXT COLOR */
.matches-title,
.matches-list:empty::before,
.card-stack:empty::after,
footer,
.Field_Label {
    color: var(--text);
}

/* ACCENTS */
.matches-section hr {
    border: 0.5px solid rgb(var(--accent-color));
}

.matches-section hr::before,
.matches-title .matches-count {
    background: rgb(var(--accent-color));
    color: var(--button-text);
}

.Logo {
    color: rgb(var(--accent-color));
}

/* FORMS */
.login-form input,
input,
.TextInput {
    background: var(--transparency-dark-25);
    border: 1px solid transparent;
    color: var(--text)
}

.login-form input:focus,
input:focus,
.TextInput:focus {
    background: #fff;
    border: 1px solid transparent;
    color: black;
}

input:focus {
    outline: none;
}

.Select_Element {
    border: 2px solid var(--button-color);
    color: var(--button-text);
}

/* BUTTONS */
.login-form .room-code-container .generate-button,
.login-form .submit-button,
.ButtonPrimary,
.AddRemoveList_Add,
.SegmentedControlsListItem {
    background: var(--button-color);
    color: var(--button-text);
    border: 1px solid var(--button-color);
}

.login-form .room-code-container .generate-button:hover,
.login-form .submit-button:hover,
.ButtonPrimary:hover,
.ButtonPrimary:active .ButtonSecondary:hover,
.ButtonSecondary:active,
.ButtonTertiary:hover,
.ButtonTertiary:active,
.AddRemoveList_Add:hover,
.AddRemoveList_Add:active,
.SegmentedControlsListItem:hover,
.SegmentedControlsListItem:active {
    background: var(--button-color-hover);
    color: var(--button-text-hover);
    border-color: var(--button-color-hover);
}

@media (hover: hover) {
    .ButtonSecondary:hover {
        color: var(--button-text-hover);
        border-color: var(--button-color-hover);
    }
}

.ButtonSecondary {
    border: 2px solid var(--button-color);
    color: var(--button-color);
}

.ButtonTertiary {
    color: var(--button-color);
    transition: background-color var(--button-color-hover) ease-in-out;
}

.SegmentedControlOption {
    color: var(--button-text);
}

/* CARDS */
.card {
    border: 1px solid transparent;
}

.Card_MoreInfoButton:hover {
    color: rgb(var(--accent-color));
}

.RoomInfoBar {
    background: var(--transparency-dark-25);
}

/* MENUS POPOVER */
.PopoverMenuButton:hover {
    background: var(--transparency-light-15) !important;
    color: var(--mm-white);
}