/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* PLEX ORGANIZR THEME */
* {
  outline: none;
}

#plex > div.FullPageBackground-backgroundContainer-3pQGmT > div > div:nth-child(2) {
  background: var(--main-bg-color);
}

.Link-primary-3jzk1w {
  color: var(--link-color) !important;
}

.DisclosureArrow-isSelected-2pyYzm {
  border-color: var(--link-color);
}

.Link-isSelected-2ZBOC {
  color: var(--accent-color);
}

.ServerSettingsServerMenuButton-button-156qhk {
  -webkit-filter: none !important;
  filter: none !important;
}

.NavBarActivityButton-isHighlighted-2YqjDs:hover .NavBarActivityButton-activityIcon-3gF_TD {
  background-color: var(--button-color-hover);
}

.NavBarActivityButton-isHighlighted-2YqjDs .NavBarActivityButton-label-O3mt7Y {
  color: var(--link-color);
}

.NavBarActivityButton-isHighlighted-2YqjDs .NavBarActivityButton-activityIcon-3gF_TD {
  background-color: var(--link-color);
}

.NavBarActivityButton-isHighlighted-2YqjDs:hover .NavBarActivityButton-label-O3mt7Y {
  color: var(--button-color-hover);
}

.PageHeaderTabButton-isSelected--LulaD {
  background-color: rgba(0, 0, 0, .15);
  color: var(--link-color);
}

.btn-primary,
.Button-primary-BXmP5W {
  border-color: var(--button-color);
  background-color: var(--button-color);

}
.Button-primary-3Mfwv1.isDisabled {
  background-color: var(--button-color);
  color: rgba(0,0,0,.4);
  opacity: .4;
}
.btn-primary:focus,
.btn-primary:hover,
.Button-primary-BXmP5W:hover {
  color: #fff;
  background-color: var(--button-color-hover);
}

.Button-primary-3Mfwv1.isDisabled,
.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: var(--button-color);
}

.background,
.background-container {
  opacity: 0;
  transition: opacity .5s;
}

.MetadataPosterCardOverlay-isActionsMenuOpen-1K9yNU .MetadataPosterCardOverlay-background-2EwyB,
.MetadataPosterCardOverlay-overlay-1giDeK:hover .MetadataPosterCardOverlay-background-2EwyB {
  background: -webkit-radial-gradient(50% 50% farthest-corner, rgba(0, 0, 0, 0.5) 0, #000000 100%) !important;
  background: radial-gradient(farthest-corner at 50% 50%, rgba(0, 0, 0, 0.5) 50%, #000000 100%) !important;
}

/* Sidebar */
.SourceSidebar-openSidebar-1KW2H8,
.SourceSidebar-collapsedSidebar-2U6H_u {
  background: rgba(0, 0, 0, 0.45);
}

.SourceSidebar-expandedSidebar-2nQ2kA {
  background: rgba(0, 0, 0, 0.95);
}

/* Navbar */
.NavBar-container-1YySYJ {
  background: rgba(0, 0, 0, 0.45);
}

.Menu-menu-2zqgoE {
  background: var(--modal-bg-color);
}

/*Text*/
.help-block,
.ClaimedServer-messageHeader-ZDhlAv,
.btn-gray,
.text-muted label {
  color: #fff;
}

/*Agents*/
.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: rgba(0, 0, 0, 0.25);
}

/*Modal*/
.modal-header,
.modal-footer,
.modal-body-with-panes,
.ModalHeader-modalHeader-aJOI_i,
.EditHomeModalContent-modalBody-1Poux5,
.EditHomeModalContent-footer-G8dmWw {
  background: var(--modal-bg-color);
}

.modal-header,
.ModalHeader-modalHeader-aJOI_i {
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.modal-footer,
.EditHomeModalContent-footer-G8dmWw {
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.modal-body {
  background: var(--modal-bg-color);
}

body>div.user-select-modal.modal.modal-transparent.fade.in>div>div.modal-content>div>div.modal-body {
  background: none;
}

#pin-form>div {
  background: none;
}

.modal-list {
  background-color: rgba(0, 0, 0, 0.25);
}

.match-result-list-item>.match-result .match-score-info {
  color: #eee;
}

.fix-incorrect-match-modal .match-location {
  color: #eee;
}

/*Modal icon color*/
.edit-section-modal .wizard-blocks-group>.wizard-block {
  color: #ffffff;
}

.edit-lock-addon {
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.25);
  border-color: #32323200;
}

.well {
  background-color: rgba(0, 0, 0, 0.25);
  border: 1px solid transparent;
}

.files ul li {
  color: #fff;
}


.MetadataPosterCardFace-face-3oaw1P:hover {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.PlayButton-playButton-3g-Gk-:hover .PlayButton-playCircle-2hG_PH {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.PageHeaderTabDropdown-isSelected-1ERAX6 {
  border-color: var(--accent-color);
}

.SelectedMenuItem-isSelected-2P2GgF,
.SelectedMenuItem-isSelected-2P2GgF .SelectedMenuItem-selectedIcon-1JCon {
  color: var(--accent-color);
}

.Badge-primary-3UX8_g,
.alert-bar.notify {
  background-color: var(--accent-color);
}

.PrePlayCastCell-posterCardLinkContainer-1Ce-QB:hover {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.SourceSidebarServerHeader-title-2oT9aS {
  color: var(--accent-color);

}

.SourceSidebarLink-isSelected-7ttE4w {
  box-shadow: inset 4px 0 0 0 var(--accent-color);
}

.MetadataPosterCardOverlay-unplayedBadge-OAvdeH {
  background-color: var(--poster-unwatched);
}
.PosterCardOverlayProgress-progressBar-1s57tW,
.MetadataPosterCard-legacyMultiVersionBadge-2CCcrj,
.MetadataPosterCardOverlay-unplayedBadge-OAvdeH {
  background-color: var(--accent-color);
  color: #000;
}

.Spinner-spinner-CSMaLA {
  border-color: var(--accent-color) transparent transparent var(--accent-color);
  border-top-color: var(--accent-color) !important;
  border-left-color: var(--accent-color) !important;
}
.CircularProgressBar-circularProgressBar-CcbTjD  {
stroke-width: 2;
stroke: var(--accent-color);
stroke-dashoffset: 0;
}
.loading {
  border-color: var(--accent-color) transparent transparent var(--accent-color);
}

.PlayPauseOverlay-playCircle-1xl6BG {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
}

.SeekBar-seekBarFill-1x5nN0 {
  background-color: var(--accent-color);
}

.SeekBar-seekBarBuffer-2Td4tP {
  background-color: var(--accent-color);
  opacity: .2;
}

.VolumeSlider-fill-1JmRfE {
  background-color: var(--accent-color);
}

.IconButton-isActive-3RXALk {
  color: var(--accent-color);
}

.IconButton-isActive-3RXALk:hover {
  color: var(--accent-color);
  opacity: .7
}

.MetadataPosterCardFace-isSelected-2dld-q {
  box-shadow: 0 0 0 2px var(--accent-color);
}

.SelectButton-isSelected-1XM2EB .SelectButton-selectCircle-16d-90 {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  color: #000;
}
.SelectButton-selectedCircle-2zHVBT {
  border-color: var(--button-color);
  background-color: var(--button-color);
  color: #000;
}
.SelectButton-selectButton-1C3dP4.isActive .SelectButton-selectCircle-2NTkCS,
.SelectButton-selectButton-Yy19xn.isActive .SelectButton-selectCircle-16d-90 {
  background-color: var(--button-color);
}
.btn-gray.selected {
  color: var(--accent-color);
}

a {
  color: var(--link-color);
}

a:hover, .artwork-file-container:hover a {
  color: #eee;
}

.media-poster-container.selected .media-poster {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3), inset 0 0 0 3px var(--accent-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3), inset 0 0 0 3px var(--accent-color);
}

.media-poster-container.selected .media-poster:before {
  border-color: var(--accent-color) var(--accent-color) transparent transparent;
}

.force-hover .media-poster-container .media-poster,
.force-hover .media-poster-container .media-poster-fade,
.media-poster-container:focus .media-poster,
.media-poster-container:focus .media-poster-fade,
.media-poster-container:hover .media-poster,
.media-poster-container:hover .media-poster-fade {
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, .3), inset 0 0 0 2px var(--accent-color);
  box-shadow: 0 0 4px rgba(0, 0, 0, .3), inset 0 0 0 2px var(--accent-color);
}

.label-primary {
  background-color: var(--button-color);
}

.label-primary[href]:focus,
.label-primary[href]:hover {
  background-color: var(--button-color-hover);
  background-color: var(--button-color-hover);
}

.Link-isSelected-2ZBOCj {
  color: var(--accent-color);
}

.Link-link-3v-v0b:hover {
  color: #fff !important;
}

.SessionTile-playProgressPercent-1ptKaF {
  background-color: var(--accent-color);
}

.SessionTile-transcodeProgressPercent-2KFcyo {
  background-color: var(--accent-color);
  opacity: .3;
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selected,
.edit-section-modal .wizard-blocks-group>.wizard-block.selected:hover {
  color: var(--accent-color);
}

.ServerMenuItem-selectedServerMenuItem-2adnD7 {
  color: var(--accent-color);
}

.ServerMenuItem-selectedIcon-g_vsnY {
  color: var(--accent-color);
}

.NavBarActivityMenuStatusItem-statusButtonIndicator-2cc7cL {
  color: var(--accent-color);
}

.MetadataTitleProgress-unwatchedCircle-1x2O97 {
  background-color: var(--accent-color);
}

.MultiSelectPageHeader-multiSelectPageHeader-v5rhWY {
  box-shadow: 0 2px 0 0 var(--accent-color);
}

.MultiSelectPageHeader-selectedTitle-iKZPvL {
  color: var(--accent-color);
}

.PlexPassUpsell-icon-c1vt03 {
  color: var(--accent-color);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: var(--accent-color);
}

.edit-lock-addon.locked {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}

.media-poster-container.selected .media-poster:after {
  color: #eee;
}

.PosterCardLink-hoveredLink-3BYG1D {
  box-shadow: 0 0 0 1px var(--accent-color), 0 0 4px rgba(0, 0, 0, .3)
}

.MetadataPosterCard-legacyUnwatchedTag-2p_o9e {
  background-color: var(--poster-unwatched);
}

.MetadataPosterCardProgressBar-bar-28PJbT {
  background-color: var(--accent-color);
  transition: transform .6s ease-in-out;
}

.Button-primary-3Mfwv1 {
  background-color: var(--button-color);
  color: #fff;
}

.Button-primary-3Mfwv1:hover {
  background-color: var(--button-color-hover);
  color: #fff;
}

.Spinner-spinner-5E5Wk_ {
  border-color: var(--accent-color) transparent transparent var(--accent-color);
}

.PageHeaderMultiselectActions-container-5A7tEU {
  border: 2px solid var(--accent-color);
}

.PageHeaderMultiselectActions-count-HmMkQF {
  color: var(--accent-color);
}
.MetadataPosterCard-legacyUnwatchedEpisodesBadge-PxtEaD {
  background-color: var(--poster-unwatched);
  color: #ffffff;
}
.MetadataPosterCard-hoveredSelectedLink-3XsEZh, .MetadataPosterCard-selectedLink-2yBNf3 {
  box-shadow: 0 0 0 2px var(--accent-color), 0 0 4px rgba(0,0,0,.3);
}
