/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

* {
  outline: none;
}

/* TEXT */
body,
p,
label,
[class*="PrePlaySummary-summary-"],
[class*="ClaimedServer-messageHeader-"],
[class*="MetadataPosterCardTitle-isSecondary-"],
[class*="MetadataPosterCardTitle-isSecondary-"] a {
  color: var(--text) !important;
}

[class*="SourceSidebarLink-title-"],
[class*="SourceSidebarLink-sourceLink-"],
[class*="Link-default-"],
[class*="PrePlayTertiaryTitle-tertiaryTitle-"] {
  color: var(--text);
}

[class*="MetadataPosterCardActions-editButton-"],
[class*="MetadataPosterCardActions-moreButton-"] {
  color: rgb(var(--accent-color)) !important;
}

[class*="MetadataPosterCardActions-editButton-"]:hover,
[class*="MetadataPosterCardActions-moreButton-"]:hover {
  color: var(--accent-color-hover) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
[class*="PrePlayPrimaryTitle-primaryTitle-"] a,
[class*="PrePlayLeftTitle-leftTitle-"],
[class*="PrePlayPrimaryTitle-primaryTitle-"],
[class*="CollapsibleText-readMore-"],
[class*="HubTitle-hubTitle-"],
[class*="FormLabel-label-"],
[class*="ServerDashboardPageHeader-headerTitle-"],
[class*="SidebarList-sidebarListHeader-"],
[class*="MenuHeader-menuHeader-WuKJVD"],
[class*="PrePlayDetailsGroupItem-label-"],
[class*="PageHeader-pageHeader-"],
[class*="PageHeaderTitle-title-"] {
  color: var(--text-hover) !important;
}

.text-muted {
  color: var(--text-muted);
}

/* LINKS */

a,
[class*="Link-primary-"],
[class*="Link-isSelected-"],
[class*="PrePlayDetailsGroupItem-groupItem-"] a,
[class*="MetadataPosterCardTitle-title-"] a,
a[class*="MetadataPosterCardTitle-title-"],
[class*="PrePlayTagListLink-tagsListLink-"][class*="Link-default-"] {
  color: var(--link-color)
}

a:hover,
[class*="Link-link-"]:hover,
.artwork-file-container:hover a,
[class*="MetadataPosterCardTitle-title-"] a:hover,
a[class*="MetadataPosterCardTitle-title-"]:hover {
  color: var(--link-color-hover);
}

[class*="MetadataPosterCardTitle-title-"][class*="MetadataPosterCardTitle-isSecondary-377V8A"] [class*="Link-link-1Kt-hA"]:hover,
[class*="MetadataPosterCardTitle-title-"][class*="MetadataPosterCardTitle-isSecondary-377V8A"]:hover,
[class*=".MetadataTableRow-title-"] a:hover,
a[class*="MetadataTableRow-title-"]:hover {
  color: var(--text-hover) !important;
}

[class*="TopUsersCell-playHistoryLink-"][class*="Link-link-"] {
  color: var(--label-text-color) !important;
}

/* BODY */
[class*="FullPageBackground-backgroundContainer-"] [class*="CrossFadeImage-crossFade-"],
#plex>[class*="background-container-"]>div>div>div:nth-child(2),
#plex>div[class*="FullPageBackground-backgroundContainer-"]>div>div:nth-child(2),
#plex>div[class*="FullPageBackground-backgroundContainer-"]>div>div:nth-child(4) {
  background: var(--main-bg-color) !important;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

[class*="BottomBar-bottomBar-"] {
  background-color: rgb(0 0 0 / 70%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
}

/* SIDEBAR */

/* TEMP */
[class*="SourceSidebarLink-isSelected-"] {
  box-shadow: inset 2px 0 0 0 rgb(var(--accent-color));
  background: rgb(var(--accent-color), 0.05);
}

/* /TEMP */

[class*="SourceSidebar-openSidebar-"][class*="SourceSidebar-sidebar-"],
[class*="SourceSidebar-sidebar-"] {
  background: rgba(0, 0, 0, .25);
}

[class*="SourceSidebar-expandedSidebar-"][class*="SourceSidebar-sidebar-"] {
  background: var(--modal-bg-color) !important;
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

[class*="DisclosureArrow-isSelected-"] {
  border-color: rgb(var(--accent-color));
}

[class*="SourceSidebarLink-isSelected-"]:before {
  background-color: rgb(var(--accent-color)) !important;
}

[class*="SourceSidebarLink-isSelected-"] [class*="SourceSidebarLink-iconContainer-"],
[class*="SourceSidebarLink-isSelected-"] [class*="SourceSidebarLink-title-"] {
  color: rgb(var(--accent-color));
}

[class*="SourceSidebarLink-sourceLink-"]:hover [class*="SourceSidebarLink-iconContainer-"],
[class*="SourceSidebarLink-sourceLink-"]:hover [class*="SourceSidebarLink-title-"] {
  color: var(--accent-color-hover);
}

[class*="SourceSidebarServerHeader-title-"] {
  color: rgb(var(--accent-color));
}

/* NAVBAR */
[class*="NavBar-container-"] {
  background: rgba(0, 0, 0, .25) !important;
}

[class*="NavBarActivityButton-isHighlighted-"] [class*="NavBarActivityButton-activityIcon-"] {
  color: rgb(var(--accent-color));
}

/* old plex web */
.NavBarActivityButton-isHighlighted-2YqjDs .NavBarActivityButton-activityIcon-3gF_TD {
  background-color: rgb(var(--accent-color));
  color: var(--label-text-color);
}

.NavBarActivityButton-isHighlighted-2YqjDs:hover .NavBarActivityButton-activityIcon-3gF_TD {
  background-color: var(--accent-color-hover);
  color: var(--label-text-color) !important;
}

/* /old plex web */

[class*="NavBarActivityButton-isHighlighted-"]:hover [class*="NavBarActivityButton-activityIcon-"] {
  color: var(--accent-color-hover);

}

[class*="NavBarActivityButton-isHighlighted-"] [class*="NavBarActivityButton-label-"] {
  color: rgb(var(--accent-color));
}

[class*="NavBarActivityButton-isHighlighted-"]:hover [class*="NavBarActivityButton-label-"] {
  color: var(--accent-color-hover);
}




/* ACCENTS */

[class*="DisclosureArrow-default-"] {
  border-color: rgb(var(--accent-color));
}

a:hover [class*="DisclosureArrow-disclosureArrow-"],
button:hover [class*="DisclosureArrow-disclosureArrow-"] {
  border-color: var(--accent-color-hover);
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  color: rgb(var(--accent-color))
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background-color: rgb(var(--accent-color), .03);

}

.btn-gray:focus,
.btn-gray:hover {
  color: var(--accent-color-hover);
}

[class*="PageHeaderTabButton-isSelected-"],
[class*="PageHeaderTabDropdown-isSelected-"],
[class*="MultiSelectPageHeader-selectedTitle-"],
[class*="PageHeaderMultiselectActions-container-"],
[class*="PageHeaderMultiselectActions-count-"],
[class*="PivotTab-selectedButton-"],
[class*="PivotTabDropdown-isSelected-"],
[class*="PageHeaderTitle-detail-"] {
  color: rgb(var(--accent-color));
  border-color: rgb(var(--accent-color));
}

[class*="PivotTab-selectedButton-"]:after {
  background-color: rgb(var(--accent-color));
}

[class*="PivotTab-selectedButton-"]:hover:after {
  background-color: var(--link-color-hover);
}

[class*="MetadataPosterCardOverlay-unplayedBadge-"],
[class*="MetadataPosterCard-legacyUnwatchedTag-"],
[class*="MetadataPosterCard-legacyUnwatchedEpisodesBadge-"],
[class*="MetadataPosterCardOverlay-versionBadge-"] {
  background-color: var(--plex-poster-unwatched);
}

[class*="MetadataPosterCardFace-"]:hover,
[class*="PosterCardLink-hoveredLink-"] {
  box-shadow: 0 0 0 1px rgb(var(--accent-color)), 0 0 4px rgb(0 0 0 / 30%);
}

[class*="MultiSelectPageHeader-multiSelectPageHeader-"] {
  box-shadow: 0 2px 0 0 rgb(var(--accent-color));
}

[class*="MetadataPosterCardFace-isSelected-"],
[class*="MetadataPosterCard-hoveredSelectedLink-"],
[class*="MetadataPosterCard-selectedLink-"] {
  box-shadow: 0 0 0 2px rgb(var(--accent-color)), 0 0 4px rgb(0 0 0 / 30%);
}

[class*="SelectButton-isSelected-"] [class*="SelectButton-selectCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
  box-shadow: 0 0 4px rgb(0 0 0 / 60%);
  color: rgba(0, 0, 0, .75);
  transform: scale(1.4);
}

[class*="SelectButton-selectButton-"].isActive [class*="SelectButton-selectCircle-"] {
  background: rgb(var(--accent-color-hover));
}

[class*="PlayButton-playButton-"]:hover [class*="PlayButton-playCircle-"],
[class*="PlayPauseOverlay-playCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
  color: #1f2326;
}

[class*="PosterCardOverlayProgress-progressBar-"],
[class*="MetadataPosterCardProgressBar-bar-"],
[class*="SeekBar-seekBarFill-"],
[class*="VolumeSlider-fill-"],
[class*="SessionTile-playProgressPercent-"] {
  background-color: rgb(var(--accent-color));
}

[class*="SeekBar-seekBarBuffer-"],
[class*="SessionTile-transcodeProgressPercent-"] {
  background-color: rgba(var(--accent-color), .3);
}

[class*="SessionTileDetails-playerContainer-"] {
  background-color: rgba(var(--accent-color), .2)
}

[class*="SessionTileDetails-videoStreamInformation-"] {
  background-color: rgba(var(--accent-color), .15)
}

[class*="SessionTileDetails-audioStreamInformation-"] {
  background-color: rgba(var(--accent-color), .1)
}

[class*="SessionTileDetails-subtitlesStreamInformation-"] {
  background-color: rgba(var(--accent-color), .05);
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(3) {
  background-color: rgba(var(--accent-color), .2) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(4) {
  background-color: rgba(var(--accent-color), .15) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(5) {
  background-color: rgba(var(--accent-color), .1) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(6) {
  background-color: rgba(var(--accent-color), .05) !important;
}

[class*="TopUsersCell-playHistoryLink-"] {
  background-color: rgb(var(--accent-color));
  color: #fff;
}

[class*="TopPlayedColumnHeader-emptyTitleBackground-"] {
  background-color: rgba(var(--accent-color), .3);
}

[class*="SelectedMenuItem-isSelected-"],
[class*="SelectedMenuItem-isSelected-"] [class*="SelectedMenuItem-selectedIcon-"],
[class*="IconButton-isActive-"] {
  color: rgb(var(--accent-color));
}

[class*="IconButton-isActive-"]:hover {
  color: rgb(var(--accent-color-hover));
}

[class*="Spinner-spinner-"] {
  border-color: rgb(var(--accent-color)) transparent transparent rgb(var(--accent-color));
  border-top-color: rgb(var(--accent-color)) !important;
  border-left-color: rgb(var(--accent-color)) !important;
}

[class*="CircularProgressBar-circularProgressBar-"] {
  stroke-width: 2;
  stroke: rgb(var(--accent-color));
  stroke-dashoffset: 0;
}

.loading {
  border-color: rgb(var(--accent-color)) transparent transparent rgb(var(--accent-color));
}

.media-poster-container.selected .media-poster,
.media-poster-container:hover .media-poster {
  -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 30%), inset 0 0 0 3px rgb(var(--accent-color));
  box-shadow: 0 0 4px rgb(0 0 0 / 30%), inset 0 0 0 3px rgb(var(--accent-color));
}

.media-poster-container.selected .media-poster:before {
  border-color: rgb(var(--accent-color)) rgb(var(--accent-color)) transparent transparent;
}

.media-poster-container.selected .media-poster:after {
  color: var(--label-text-color);
}

[class*="NavBarActivityMenuStatusItem-statusButtonIndicator-"] {
  color: rgb(var(--accent-color));
}

[class*="SelectButton-selectedCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
}

/* MODAL */
[class*="ModalContent-modalContent-"] {
  background: var(--modal-bg-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

.modal-header {
  padding: 15px 20px;
  background: var(--modal-header-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.modal-content {
  position: relative;
  background: var(--modal-bg-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  background-clip: padding-box;
  outline: none;
}

.modal-footer {
  padding: 15px 20px;
  margin-top: 0;
  background: var(--modal-footer-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.modal-body-with-panes .modal-nav-pane {
  background-image: none;
  background: rgba(0, 0, 0, .25);
}

.well,
.files ul li {
  color: var(--text);
  background-color: rgb(255 255 255 / 10%);
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selectable:hover {
  color: var(--text-hover);
  background-color: rgba(255, 255, 255, .05);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selectable {
  color: var(--text)
}

.striped-list-item>.striped-list-inner-item>.selected,
.striped-list-item>a.selected {
  border-left: 3px solid rgb(var(--accent-color));
}

.modal-header>h4>.modal-icon {
  color: var(--text-hover);
}

/* BUTTONS */
.btn-primary {
  border-color: var(--button-color);
  color: var(--button-text);
  background-color: var(--button-color);
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
}

.btn-primary:focus,
.btn-primary:hover {
  color: var(--button-text-hover);
  background-color: var(--button-color-hover);
}

[class*="Button-primary"].isDisabled {
  background: var(--button-color);
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: var(--button-color);
}

.btn-gray.selected {
  color: rgb(var(--accent-color));
}

.btn-gray {
  color: var(--text);
}

.edit-lock-addon.locked {
  color: var(--button-text-hover);
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.edit-lock-addon {
  color: var(--button-color-hover);
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 30%), inset -2px 2px 2px rgb(0 0 0 / 10%);
  box-shadow: 0 0 2px rgb(0 0 0 / 30%), inset -2px 2px 2px rgb(0 0 0 / 10%);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selected,
.edit-section-modal .wizard-blocks-group>.wizard-block.selected:hover {
  color: rgb(var(--accent-color));
}

.edit-section-modal .wizard-blocks-group>.wizard-block {
  color: var(--text);
}

[class*="Button-primary-"],
.selectize-control.multi .selectize-input>div {
  background-color: var(--button-color);
  color: var(--button-text);
}

[class*="Button-primary-"]:hover,
.selectize-control.multi .selectize-input>div.active {
  background-color: var(--button-color-hover);
  color: var(--button-text-hover);
}

/* DROPDOWN MENU */
[class*="Menu-menu-"],
.selectize-dropdown,
.selectize-dropdown.form-control {
  background: var(--drop-down-menu-bg);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}

[class*="ServerMenuItem-selectedServerMenuItem-"],
[class*="ServerMenuItem-selectedIcon-"] {
  color: rgb(var(--accent-color));
}

[class*="Tooltip-tooltip-"] {
  background-color: var(--button-color);
  color: var(--button-text);
}

[class*="Tooltip-tooltipBottomArrow-"]:after {
  border-top-color: var(--button-color);
}

[class*="Tooltip-tooltipTopArrow-"]:after {
  border-bottom-color: var(--button-color);
}

[class*="Tooltip-tooltipRightArrow-"]:after {
  border-left-color: var(--button-color);
}

[class*="Tooltip-tooltipLeftArrow-"]:after {
  border-right-color: var(--button-color);
}

/* SETTINGS */
[class*="SettingsFormSection-sectionWrapper-"],
[class*="ServerDashboardPageSection-section-"],
hr {
  border-top: 2px solid rgb(255 255 255 / 30%);
}

[class*="SettingsFormSection-sectionWrapper-"]:last-of-type,
[class*="ClaimedServer-container-"] {
  border-bottom: 2px solid rgb(255 255 255 / 30%);
}

/* ALERTS */
.alerts-container .page-count {
  margin-right: 15px;
  font-size: 14px;
  color: var(--text);
  vertical-align: top;
}

/* SYNC */
.filter-bar .dropdown.open>a {
  color: rgb(var(--accent-color));
}

/* TABLE */

[class*="TableHeaderTitle-tableHeaderTitle-"] {
  color: var(--text-hover);
}