/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

* {
  outline: none;
}

/* TEXT */
body,
h1,
h2,
h3,
h4,
h5,
p,
label,
[class*="ClaimedServer-messageHeader-"] {
  color: var(--text-color) !important;
}

.text-muted {
  color: var(--text-muted);
}

/* LINKS */

a,
[class*="Link-primary-"],
[class*="Link-isSelected-"] {
  color: var(--link-color)
}

a:hover {
  color: var(--link-color-hover);
}

/* BODY */
[class*="FullPageBackground-backgroundContainer-"] [class*="CrossFadeImage-crossFade-"],
#plex>[class*="background-container-"]>div>div>div:nth-child(2),
#plex>div[class*="FullPageBackground-backgroundContainer-"]>div>div:nth-child(2) {
  background: var(--main-bg-color) !important;
}

[class*="BottomBar-bottomBar-"] {
  background-color: rgb(0 0 0 / 70%);
  box-shadow: 0 0 4px 0 rgb(0 0 0 / 50%);
}

/* SIDEBAR */
[class*="SourceSidebar-openSidebar-"][class*="SourceSidebar-sidebar-"],
[class*="SourceSidebar-sidebar-"] {
  background: rgba(0, 0, 0, .25);
}

[class*="SourceSidebar-expandedSidebar-"][class*="SourceSidebar-sidebar-"] {
  background: var(--modal-bg-color) !important;
}

[class*="DisclosureArrow-isSelected-"] {
  border-color: rgb(var(--accent-color));
}

[class*="SourceSidebarLink-isSelected-"] {
  box-shadow: inset 4px 0 0 0 rgb(var(--accent-color)) !important;
}

[class*="SourceSidebarServerHeader-title-"] {
  color: rgb(var(--accent-color));
}

/* NAVBAR */
[class*="NavBar-container-"] {
  background: rgba(0, 0, 0, .25) !important;
}

[class*="NavBarActivityButton-isHighlighted-"] [class*="NavBarActivityButton-activityIcon-"] {
  background: rgb(var(--accent-color));
  color: #000;
}

[class*="NavBarActivityButton-isHighlighted-"]:hover [class*="NavBarActivityButton-activityIcon-"] {
  background-color: var(--accent-color-hover);

}

[class*="NavBarActivityButton-isHighlighted-"] [class*="NavBarActivityButton-label-"] {
  color: rgb(var(--accent-color));
}

[class*="NavBarActivityButton-isHighlighted-"]:hover [class*="NavBarActivityButton-label-"] {
  color: var(--accent-color-hover);
}




/* ACCENTS */

[class*="PageHeaderTabButton-isSelected-"],
[class*="PageHeaderTabDropdown-isSelected-"],
[class*="MultiSelectPageHeader-selectedTitle-"],
[class*="PageHeaderMultiselectActions-container-"],
[class*="PageHeaderMultiselectActions-count-"] {
  color: rgb(var(--accent-color));
  border-color: rgb(var(--accent-color));
}

[class*="MetadataPosterCardOverlay-unplayedBadge-"],
[class*="MetadataPosterCard-legacyUnwatchedTag-"],
[class*="MetadataPosterCard-legacyUnwatchedEpisodesBadge-"],
[class*="MetadataPosterCardOverlay-versionBadge-"] {
  background-color: var(--poster-unwatched);
}

[class*="MetadataPosterCardFace-"]:hover,
[class*="PosterCardLink-hoveredLink-"] {
  box-shadow: 0 0 0 1px rgb(var(--accent-color)), 0 0 4px rgb(0 0 0 / 30%);
}

[class*="MultiSelectPageHeader-multiSelectPageHeader-"] {
  box-shadow: 0 2px 0 0 rgb(var(--accent-color));
}

[class*="MetadataPosterCardFace-isSelected-"],
[class*="MetadataPosterCard-hoveredSelectedLink-"],
[class*="MetadataPosterCard-selectedLink-"] {
  box-shadow: 0 0 0 2px rgb(var(--accent-color)), 0 0 4px rgb(0 0 0 / 30%);
}

[class*="SelectButton-isSelected-"] [class*="SelectButton-selectCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
  box-shadow: 0 0 4px rgb(0 0 0 / 60%);
  color: rgba(0, 0, 0, .75);
  transform: scale(1.4);
}

[class*="PlayButton-playButton-"]:hover [class*="PlayButton-playCircle-"],
[class*="PlayPauseOverlay-playCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
  color: #1f2326;
}

[class*="PosterCardOverlayProgress-progressBar-"],
[class*="MetadataPosterCardProgressBar-bar-"],
[class*="SeekBar-seekBarFill-"],
[class*="VolumeSlider-fill-"],
[class*="SessionTile-playProgressPercent-"] {
  background-color: rgb(var(--accent-color));
}

[class*="SeekBar-seekBarBuffer-"],
[class*="SessionTile-transcodeProgressPercent-"] {
  background-color: rgba(var(--accent-color), .3);
}

[class*="SessionTileDetails-playerContainer-"] {
  background-color: rgba(var(--accent-color), .2)
}

[class*="SessionTileDetails-videoStreamInformation-"] {
  background-color: rgba(var(--accent-color), .15)
}

[class*="SessionTileDetails-audioStreamInformation-"] {
  background-color: rgba(var(--accent-color), .1)
}

[class*="SessionTileDetails-subtitlesStreamInformation-"] {
  background-color: rgba(var(--accent-color), .05);
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(3) {
  background-color: rgba(var(--accent-color), .2) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(4) {
  background-color: rgba(var(--accent-color), .15) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(5) {
  background-color: rgba(var(--accent-color), .1) !important;
}

[class*="TopUsersList-container-"][class*="ServerDashboardSectionContent-container-"]>div>div>div>div:nth-child(6) {
  background-color: rgba(var(--accent-color), .05) !important;
}

[class*="TopUsersCell-playHistoryLink-"] {
  background-color: rgb(var(--accent-color));
  color: #fff;
}

[class*="TopPlayedColumnHeader-emptyTitleBackground-"] {
  background-color: rgba(var(--accent-color), .3);
}

[class*="SelectedMenuItem-isSelected-"],
[class*="SelectedMenuItem-isSelected-"] [class*="SelectedMenuItem-selectedIcon-"],
[class*="IconButton-isActive-"] {
  color: rgb(var(--accent-color));
}

[class*="IconButton-isActive-"]:hover {
  color: rgb(var(--accent-color-hover));
}

[class*="Spinner-spinner-"] {
  border-color: rgb(var(--accent-color)) transparent transparent rgb(var(--accent-color));
  border-top-color: rgb(var(--accent-color)) !important;
  border-left-color: rgb(var(--accent-color)) !important;
}

[class*="CircularProgressBar-circularProgressBar-"] {
  stroke-width: 2;
  stroke: rgb(var(--accent-color));
  stroke-dashoffset: 0;
}

.loading {
  border-color: rgb(var(--accent-color)) transparent transparent rgb(var(--accent-color));
}

.media-poster-container.selected .media-poster,
.media-poster-container:hover .media-poster {
  -webkit-box-shadow: 0 0 4px rgb(0 0 0 / 30%), inset 0 0 0 3px rgb(var(--accent-color));
  box-shadow: 0 0 4px rgb(0 0 0 / 30%), inset 0 0 0 3px rgb(var(--accent-color));
}

.media-poster-container.selected .media-poster:before {
  border-color: rgb(var(--accent-color)) rgb(var(--accent-color)) transparent transparent;
}

.media-poster-container.selected .media-poster:after {
  color: var(--button-text)
}

[class*="NavBarActivityMenuStatusItem-statusButtonIndicator-"] {
  color: rgb(var(--accent-color));
}

[class*="SelectButton-selectedCircle-"] {
  border-color: rgb(var(--accent-color));
  background-color: rgb(var(--accent-color));
}

/* MODAL */
[class*="ModalContent-modalContent-"] {
  background: var(--modal-bg-color);
}

.modal-header {
  padding: 15px 20px;
  background: var(--modal-bg-color);
  border-bottom: 1px solid rgba(255, 255, 255, .05);
}

.modal-content {
  position: relative;
  background: var(--modal-bg-color);
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 3px;
  -webkit-box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  box-shadow: 0 3px 9px rgb(0 0 0 / 50%);
  background-clip: padding-box;
  outline: none;
}

.modal-footer {
  padding: 15px 20px;
  margin-top: 0;
  background: var(--modal-bg-color);
  border-top: 1px solid rgba(255, 255, 255, .05);
}

.well,
.files ul li {
  color: var(--text-color);
  background-color: rgb(255 255 255 / 10%);
  border: 1px solid transparent;
  -webkit-box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
  box-shadow: inset 0 1px 1px rgb(0 0 0 / 5%);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selectable:hover {
  color: var(--text-color-hover);
  background-color: rgba(255, 255, 255, .05);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selectable {
  color: var(--text-color)
}

.striped-list-item>.striped-list-inner-item>.selected,
.striped-list-item>a.selected {
  border-left: 3px solid rgb(var(--accent-color));
}

.modal-header>h4>.modal-icon {
  color: var(--text-color-hover);
}

/* BUTTONS */
.btn-primary {
  border-color: var(--button-color);
  color: #fff;
  background-color: var(--button-color);
  -webkit-transition: background-color .1s;
  transition: background-color .1s;
}

.btn-primary:focus,
.btn-primary:hover {
  color: #fff;
  background-color: var(--button-color-hover);
}

[class*="Button-primary"].isDisabled {
  background: var(--button-color);
}

.btn-primary.disabled,
.btn-primary.disabled.active,
.btn-primary.disabled:active,
.btn-primary.disabled:focus,
.btn-primary.disabled:hover,
.btn-primary[disabled],
.btn-primary[disabled].active,
.btn-primary[disabled]:active,
.btn-primary[disabled]:focus,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary,
fieldset[disabled] .btn-primary.active,
fieldset[disabled] .btn-primary:active,
fieldset[disabled] .btn-primary:focus,
fieldset[disabled] .btn-primary:hover {
  background-color: var(--button-color);
}

.btn-gray.selected {
  color: rgb(var(--accent-color));
}

.btn-gray {
  color: var(--text-color);
}

.edit-lock-addon.locked {
  color: #fff;
  background-color: var(--button-color);
  border-color: var(--button-color);
}

.edit-lock-addon {
  color: var(--button-color-hover);
  background-color: rgba(0, 0, 0, .5);
  border-color: transparent;
  -webkit-box-shadow: 0 0 2px rgb(0 0 0 / 30%), inset -2px 2px 2px rgb(0 0 0 / 10%);
  box-shadow: 0 0 2px rgb(0 0 0 / 30%), inset -2px 2px 2px rgb(0 0 0 / 10%);
}

.edit-section-modal .wizard-blocks-group>.wizard-block.selected,
.edit-section-modal .wizard-blocks-group>.wizard-block.selected:hover {
  color: rgb(var(--accent-color));
}

.edit-section-modal .wizard-blocks-group>.wizard-block {
  color: var(--text-color);
}

[class*="Button-primary-"] {
  background-color: var(--button-color);
  color: var(--button-text);
}

[class*="Button-primary-"]:hover {
  background-color: var(--button-color-hover);
  color: var(--button-text-hover);
}

/* DROPDOWN MENU */
[class*="Menu-menu-"] {
  background: var(--modal-bg-color);
}

[class*="ServerMenuItem-selectedServerMenuItem-"],
[class*="ServerMenuItem-selectedIcon-"] {
  color: rgb(var(--accent-color));
}

/* SETTINGS */
[class*="SettingsFormSection-sectionWrapper-"],
[class*="ServerDashboardPageSection-section-"],
hr {
  border-top: 2px solid rgb(255 255 255 / 30%);
}

[class*="SettingsFormSection-sectionWrapper-"]:last-of-type,
[class*="ClaimedServer-container-"] {
  border-bottom: 2px solid rgb(255 255 255 / 30%);
}

/* ALERTS */
.alerts-container .page-count {
  margin-right: 15px;
  font-size: 14px;
  color: var(--text-color);
  vertical-align: top;
}

/* SYNC */
.filter-bar .dropdown.open>a {
  color: rgb(var(--accent-color));
}