
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */
:root {
    --main-bg-color: radial-gradient(ellipse at center, #F44336 0%, #0b3161 100%) center center/cover no-repeat fixed;
    --modal-bg-color: radial-gradient(ellipse at top, #F44336 0%, #0b3161 100%) center center/cover no-repeat fixed;
    --default-button-color: #F44336;
    --default-button-color-hover: rgb(247, 106, 96);
    --accent-color: #F44336; 
  }

main {
background: var(--main-bg-color);
}
h4 {
    color: #ffffff;
}
.v-toolbar {
    background: transparent !important;
    box-shadow: none;
}
.v-toolbar__content, .v-toolbar__extension {
    background-color: rgba(0, 0, 0, 0.6) !important;
}
p a {
    color: var(--accent-color) !important;
}
.application .theme--dark.v-card, .theme--dark .v-card .primary--text {
    color: var(--accent-color) !important;
}
.application .theme--dark.v-card, .theme--dark .v-card .accent--text {
    color: var(--accent-color) !important;
}
.application .theme--dark.v-card, .theme--dark .v-card .primary {
    color: var(--accent-color) !important;
}
.flex.xs12 a {
    color: var(--accent-color);
}
.v-list__tile {
    color: #fff !important;
}

.v-stepper__step__step .primary {
    background-color: var(--default-button-color) !important;
    border-color: var(--default-button-color)  !important;
}

.primary {
    background-color: var(--default-button-color) !important;
    border-color: var(--default-button-color)  !important;
}
.v-input__control .v-input__slot .primary--text input, .primary--text textarea {
    caret-color: var(--accent-color) !important;
}
.v-input input:active, .v-input input:focus, .v-input textarea:active, .v-input textarea:focus .primary--text input, .primary--text textarea {
    caret-color: var(--accent-color) !important; 
}


.application .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat), .theme--dark .v-btn:not(.v-btn--icon):not(.v-btn--flat) {
    background-color: var(--default-button-color) !important;
}
.v-btn__content {
    color: #fff;
}
.v-btn--active:before, .v-btn:focus:before, .v-btn:hover:before {
    background-color: white;
}
.application .theme--dark.v-card, .theme--dark .v-card {
    background: var(--modal-bg-color);
}
.flex.md3 .application .theme--dark.v-card, .theme--dark .v-card {
    background: rgba(255, 255, 255, 0.10) !important;
    color: #fff;
}
.flex.md3 .application .theme--dark.v-list, .theme--dark .v-list {
    background: rgba(255, 255, 255, 0.10) !important;
}
flex xs12 .flex.md3 .application .theme--dark.v-list, .theme--dark .v-list {
    background: inherit !important;
}
.v-navigation-drawer {
    background: var(--main-bg-color) !important;
}

/*popup modal */
.v-dialog {
    background: var(--modal-bg-color);
}
.menuable__content__active {
    background: var(--modal-bg-color);
}
