/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

@import url(https://theme-park.dev/CSS/defaults/placeholders.css);

:root {
    --v-primary-base: rgb(var(--accent-color));
    --v-anchor-base: rgb(var(--accent-color));
}

main {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text)
}

h4 {
    color: var(--text-hover);
}

.v-toolbar {
    background: transparent !important;
    box-shadow: none;
}

.v-toolbar__content,
.v-toolbar__extension {
    background-color: rgba(0, 0, 0, 0.6) !important;
}

p a {
    color: rgb(var(--accent-color)) !important;
}

.theme--dark.v-icon {
    color: rgb(var(--accent-color));
}

.application .theme--dark.v-card,
.theme--dark .v-card .primary--text {
    color: rgb(var(--accent-color)) !important;
}

.application .theme--dark.v-card,
.theme--dark .v-card .accent--text {
    color: rgb(var(--accent-color)) !important;
}

.application .theme--dark.v-card,
.theme--dark .v-card .primary {
    color: rgb(var(--accent-color)) !important;
}



.flex.xs12 a {
    color: rgb(var(--accent-color));
}

.v-list__tile {
    color: var(--text-hover) !important;
}

.v-stepper__step__step .primary {
    background-color: var(--button-color) !important;
    border-color: var(--button-color) !important;
}

.primary {
    background-color: var(--button-color) !important;
    border-color: var(--button-color) !important;
}

.primary:hover,
.primary:focus {
    background-color: var(--button-color-hover) !important;
    border-color: var(--button-color-hover) !important;
    color: var(--button-text-hover) !important;
}

.v-input__control .v-input__slot .primary--text input,
.primary--text textarea {
    caret-color: rgb(var(--accent-color)) !important;
}

.v-input input:active,
.v-input input:focus,
.v-input textarea:active,
.v-input textarea:focus .primary--text input,
.primary--text textarea {
    caret-color: rgb(var(--accent-color)) !important;
}

.theme--dark.v-app-bar.v-toolbar.v-sheet {
    background: var(--modal-bg-color) !important;
}

.application .theme--dark.v-btn:not(.v-btn--icon):not(.v-btn--flat),
.theme--dark .v-btn:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn:not(.v-btn--round).v-size--small) {
    background-color: var(--button-color) !important;
    color: var(--button-text);
}

.application .theme--dark.v-btn:hover:not(.v-btn--icon):not(.v-btn--flat),
.theme--dark .v-btn:hover:not(.v-btn--icon):not(.v-btn--flat):not(.v-btn:not(.v-btn--round).v-size--small) {
    background-color: var(--button-color-hover) !important;
    color: var(--button-text-hover);
}

.v-btn__content {
    color: var(--button-text);
}

.v-btn--active:before,
.v-btn:focus:before,
.v-btn:hover:before {
    background-color: var(--text-hover);
}

.application .theme--dark.v-card,
.theme--dark .v-card {
    background: var(--modal-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.flex.md3 .application .theme--dark.v-card,
.theme--dark .v-card {
    background: rgba(255, 255, 255, 0.10) !important;
    color: var(--text-hover);
}

.theme--dark.v-expansion-panels .v-expansion-panel {
    background-color: transparent;
    color: var(--text-hover);
}

.theme--dark.v-text-field--solo>.v-input__control>.v-input__slot {
    background: rgb(0 0 0 / 0.50);
}

.v-navigation-drawer {
    background: var(--modal-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

/*popup modal */

.v-dialog,
.theme--dark.v-list {
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.menuable__content__active {
    background: var(--drop-down-menu-bg);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}