
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

body {
    background: var(--main-bg-color);
}
  /* Scrollbar */  
  @media only screen and (min-width: 768px) {  
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    body {
        overflow-y: auto;
        height: 100%;
        background: var(--main-bg-color)
    }
}
    ::-webkit-scrollbar {
        width: 14px;
    }
    ::-webkit-scrollbar-thumb {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.2);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb:hover {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.5);
        background-clip: padding-box;
    }   
/* Navbar */
@media (max-width: 924px) {
    .collapse.in, .navbar-nav {
        background: var(--main-bg-color);
    }
    }

@media (max-width: 924px) {
    .navbar-left, .navbar-right {
        float: none!important;
        box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
    }
    }
    
.navbar-default .navbar-brand {
    color: var(--accent-color);
}
.navbar-default {
    background: var(--main-bg-color);
    border-color: #FFF;
}
.nav-tabs {
    border-bottom: 1px solid transparent;
    margin-bottom: 3px !important;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
}
.navbar-default .navbar-nav>.open>a {
    background-color: rgba(0, 0, 0, 0.25);
    color: #fff;
}
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: transparent;
}
.ui-tooltip .ui-tooltip-text{
background-color:var(--modal-bg-color) !important;
}
@media (max-width: 924px) {
    .navbar-collapse.collapse {
      box-shadow: 0px 15px 10px -10px rgba(0, 0, 0, 0.7);
    }
  }

 /* Loading bar */ 
  .pace .pace-progress {
    background: var(--loading-bar) !important;
}
.pace .pace-progress-inner {
	box-shadow: 0 0 10px var(--loading-bar), 0 0 5px var(--loading-bar) !important;
}

/* Search bar */
.search-bar-background[_ngcontent-c1] {
    border-radius: 3px;
    background-color: transparent !important;
}
.search-bar-background[_ngcontent-c2] {
    background-color: transparent;
}
.form-control-custom {
    background-color: rgba(0, 0, 0, 0.25) !important;
	border-radius: 0px;
}
.form-control-search {
    height: 49px;
}

.right-radius {
    border-radius: 0px;
}
.input-group-addon {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: 2px;
}

.nav-tabs.nav-justified {
    margin-bottom: 3px;
}
@media (max-width: 978px) {
.form-control-search[_ngcontent-c1] {
    width: -webkit-fill-available !important;
}
}

@media (min-width: 768px) {
.nav-tabs.nav-justified>li>a {
    border-bottom: none;
}
}
@media (min-width: 979px) {
.form-control-search[_ngcontent-c1] {
    width: 100%;
}
}
.refine-option[_ngcontent-c1] {
    box-shadow: none;
}
#movieTabButton:hover, #tvTabButton:hover {
    border: 1px solid transparent;
}

/* Expand season request */
.content-space[_ngcontent-c3] {
    padding: 15px;
    background: rgba(0, 0, 0, 0.25);
}
.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.25);
}
.table-hover>tbody>tr:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
table.table>thead>tr>th.active {
    background-color: rgba(255, 255, 255, 0.08);
}
/*filter */
.ui-widget-content {
    background: var(--main-bg-color) !important;
}
.ui-state-active {
    color: #ffffff!important;
	background-color: rgba(0, 0, 0, 0.25)!important;
}
.ui-state-default {
    border: 2px solid rgba(255, 255, 255, 0.25);
}

/*dropdown menu */
.dropdown-menu {
    background: var(--modal-bg-color);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
.dropdown-menu>li>a:hover {
    background-color: rgba(255, 255, 255, 0.08);
}
.navbar-nav>li>.dropdown-menu {
    width: 163.5px;
}
.dropdown-menu>.active>a, .dropdown-menu>.active>a:focus, .dropdown-menu>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.45);
}

/* Settings */
hr {
    border: 1px dashed #d7d7d7;
}

/* Buttons */
.btn-primary-outline{
    color: var(--request-button) !important;
    border-color: var(--request-button) !important;
    outline: none !important; 
}
.open>.btn-primary-outline.dropdown-toggle,.btn-primary-outline.active, .btn-primary-outline.focus, .btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover{
    background-color: var(--request-button-hover) !important;
    border-color: transparent !important;    
}

.btn-primary-outline:hover {
    background-color: var(--request-button-hover) !important;
	border-color: transparent!important;
}
.btn-link {
    color: #ffffff;
}
.btn-link:focus, .btn-link:hover {
    color: #ddd;
}
.input-group-addon .btn-group .btn {
    outline: none !important;
    border: 1px solid transparent !important;
    margin-right: 1px;
    background: none;
    padding: 5px 10px;
    width: auto !important;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active, .btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    background: rgba(255, 255, 255, 0.35) !important;
}

.input-group-btn:last-child>.btn, .input-group-btn:last-child>.btn-group {
    margin-left: 3px;
}
i.fa.fa-minus, i.fa.fa-plus {
    display:none;
}



.btn-success-outline {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    color: #ffffff!important;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: none;
    text-transform: uppercase;
    border-color: transparent !important;
    width: 137.28px;
    text-align: center !important;
    font-size: 12px;
    height: 29.45px;
    padding: 5px 10px;
}
.btn-success-outline.active, .btn-success-outline.focus, .btn-success-outline:active, .btn-success-outline:focus, .btn-success-outline:hover, .open>.btn-success-outline.dropdown-toggle {
    color: #fff!important;
    background-color: rgba(92, 184, 92, .75)!important;
    border-color: transparent!important;
}

.btn-primary-outline {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    color: #ffffff !important;
    border-color: #f4433600 !important;
    outline: none !important;
    text-transform: uppercase;
    background: rgba(255, 255, 255, 0.35);
    font-size: 12px;
    height: 29.45px;
    min-width: 137.28px;
    padding: 5px 10px;
    text-align: center !important;

}

.btn-info-outline, .btn-danger-outline {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    color: #ffffff!important;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: none;
    border-color: transparent !important;
    width: 137.28px;
    text-transform: uppercase;
    text-align: center !important;
    height: 29.45px;
    min-width: fit-content;
    font-size: 12px;
    padding: 5px 10px;
}

 .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle) {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    color: #ffffff!important;
    background-color: rgba(255, 255, 255, 0.35);
    background-image: none;
    border-color: transparent !important;
    width: 137.28px;
    text-transform: uppercase;
    text-align: center !important;
    height: 29.45px;
    font-size: 12px;
    padding: 5px 10px;
    border-radius: .25rem!important;
} 
.btn-split .btn.dropdown-toggle {
    border-radius: 0 .25rem .25rem 0!important;
    padding: 3.5px 10px;
    border: none;
}
.btn-split .btn.dropdown-toggle:hover, .btn-split .btn.dropdown-toggle:active, .btn-split .btn.dropdown-toggle:focus, .btn-split .btn.dropdown-toggle.active {
background: none !important;
}
.btn-warning-outline {
    -o-transition: all .8s;
    -moz-transition: all .8s;
    -webkit-transition: all .8s;
    transition: all .8s;
    color: #fff!important;
    background-color: transparent;
    background-image: none;
    border-color: transparent !important;
}
.btn-warning-outline.active, .btn-warning-outline.focus, .btn-warning-outline:active, .btn-warning-outline:focus, .btn-warning-outline:hover, .open>.btn-warning-outline.dropdown-toggle,.btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle):hover {
    color: #fff!important;
    background-color: rgba(196, 134, 42, 0.75)!important;
    border-color: transparent!important;
}


.btn-info-outline.active, .btn-info-outline.focus, .btn-info-outline:active, .btn-info-outline:focus, .btn-info-outline:hover, .open>.btn-info-outline.dropdown-toggle {
    color: #fff!important;
    background-color: rgba(91, 192, 222, 0.75)!important;
    border-color: transparent !important;
}

@media (max-width: 1090px) {
    .btn-danger-outline, .btn-info-outline, .btn-primary-outline, .btn-success-outline, .fa-eye:before, .fa-check:before,.fa-plus:before, .btn-group>.btn:first-child:not(:last-child):not(.dropdown-toggle)   {
        content: "";
    }
    }
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: -25px;
}
/* Settings menu */

.nav-tabs.nav-justified>.active>a, .nav-tabs.nav-justified>.active>a:focus, .nav-tabs.nav-justified>.active>a:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
    border: 1px solid #00000000 !important;
    border-radius: 3px;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: rgba(0, 0, 0, 0.45) !important;
    border: 1px solid #00000000 !important;
    border-radius: 3px;
}
.nav-tabs>li>a:hover {
    border-color: transparent;
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.08);
    border-radius: 3px;
}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #00000000;
}
.panel {
    background-color: rgba(0, 0, 0, 0.45);
}

.card-header {
    background-color: rgba(0, 0, 0, 0.25);
    color: #ebebeb;
    padding: 10px 15px;
    border-bottom: 1px solid #00000000;
}
a.active {
    background-color: rgba(0, 0, 0, 0.45);
}

.ui-state-highlight {
background: var(--modal-bg-color);
}
legend {
    border-bottom: 1px solid rgba(255, 255, 255, 0.25);
}
/*  Main page */
.backdrop {
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6) !important;
}
a>h4 {
    color: var(--accent-color);
}
.label-info {
    background-color: var(--label-color);
}
.label-success {
    background-color: rgba(92, 184, 92, 0.75);
}
.fa-film:before {
    content: "\F008";
    color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
    .input-group-addon .btn-group {
        position: absolute;
        right: 0px;
        top: 54px;
        box-shadow: 0 0 0;
    }
}

/* Issues */

.side-back {
    box-shadow: 0 0 10px #000000ad;
}
.form-control:focus {
    border-color: transparent;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px #000;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 3px #000;
}
