@import url("/css/defaults/servarr-darker-base.css");
:root {
    --main-bg-color: #202020;

    --modal-bg-color: #2a2a2a;
    --modal-header-color: #2a2a2a;
    --modal-footer-color: #2a2a2a;

    --drop-down-menu-bg: #333;

    --button-color: #5899eb;
    --button-color-hover: #4b91ea;
    --button-text: #eee;
    --button-text-hover: #fff;

    --accent-color: 255, 194, 48;
    --accent-color-hover: rgba(255, 194, 48, 0.8);
    --link-color: #ffc230;
    --link-color-hover: rgb(255, 194, 48, .8);
    --label-text-color: #2f2f2f;

    --text: #ccc;
    --text-hover: #fff;
    --text-muted: #999;

    /*Specials*/
    --arr-queue-color: #5d9cec;
    --side-menu-active: #333333;
    --scroller-hover: #606060;
    --scroller: #707070;
    --border-color: #606060;
    --label-color: #ffc230;
    --label-info: #5d9cec;
    --header-color: #2a2a2a;
    --toolbar-background: #262626;
    --side-menu-color: #2a2a2a;
    --side-menu-link-color: #ffc230;
}

/* SEARCH DROP DOWN */

[class*="MovieSearchInput-containerOpen-"] [class*="MovieSearchInput-movieContainer-"] {
    border: 1px solid var(--drop-down-menu-bg);
    background-color: var(--drop-down-menu-bg);
    box-shadow: inset 0 1px 1px rgb(0 0 0 / 8%);
    color: #e1e2e3;
}

/* SERIES PAGE */

[class*="MovieIndexPoster-controls-"] {
    background-color: var(--label-color) !important;
    color: var(--label-text-color) !important;
}