/*_____________________AMBER_THEME______________________*/
/*--body-before:#ffb52a1a; /* This is the background that flickers, background uses a transparency of 10%, SET IT TO BLACK TO REMOVE FLICKER! */
/*--body-after: #ffb52a33; /* This is the background that creates the crt lines, background uses a transparency of 20% */
/*--custom-text-header-animation: textflicker; /* SET TO NONE TO REMOVE THE FLICKER ANIMATION! */

@import url(https://gilbn.github.io/theme.park/CSS/addons/unraid/login-page/alien/retro-terminal/retro-terminal-base.css);
:root {
--main-bg-color:black;
--body-before:#ffb52a1a;
--body-after: #ffb52a33;
--logo: url(https://gilbn.github.io/theme.park/CSS/addons/unraid/login-page/alien/logo/nostromoyellow.png) center no-repeat;
--text-color: #ffb52a;
--input-color: #ffb52a;
--link-color: #ffb52a;
--link-color-hover: #ff6868;
--case-color: #ffb52a;
--button-text-color: #ffb52a;
--button-text-color-hover: #000;
--button-color: #ffb52a;
--button-color-hover: #ff6868;
--selection-color: #ff6868;
--custom-text-header:#ffb52a;
--custom-text-header-shadow:#ffb52a;
--custom-text-header-animation: textflicker;
--input-font: 'Share Tech Mono', monospace;
--text-font: 'Share Tech Mono', monospace;
--loginbox-background-color: transparent;
--text-shadow: 0 0 8px;
--text-shadow-color: #ffb52a;
--box-shadow: 0 0 15px;
}
