/*_____________________GREEN_THEME______________________*/
/* --body-before:#00ff771a; /* This is the background that flickers, background uses a transparency of 10% */
/* --body-after: #00ff7733; /* This is the background that creates the crt lines, background uses a transparency of 20% */
/* --custom-text-header-animation: textflicker; /* SET TO NONE TO REMOVE THE FLICKER ANIMATION! */

@import url(https://gflix.app/theme.park/CSS/addons/unraid/login-page/alien/retro-terminal/retro-terminal-base.css);
:root {
--main-bg-color:black;
--body-before:#00ff771a;
--body-after: #00ff7733;
--logo: url(https://gflix.app/theme.park/CSS/addons/unraid/login-page/alien/logo/nostromogreen.png) center no-repeat;
--text-color: #37f592;
--input-color: #37f592;
--link-color: #37f592;
--link-color-hover: #68ffff;
--case-color: #37f592;
--button-text-color: #37f592;
--button-text-color-hover: #000;
--button-color: #37f592;
--button-color-hover: #68ffff;
--selection-color: #68ffff;
--custom-text-header:#37f592;
--custom-text-header-shadow:#37f592;
--custom-text-header-animation: textflicker;
--input-font: 'Share Tech Mono', monospace;
--text-font: 'Share Tech Mono', monospace;
--loginbox-background-color: transparent;
--text-shadow: 0 0 8px;
--text-shadow-color: #37f592;
--box-shadow: 0 0 15px;
}