/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* SONARR AQUAMARINE THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/sonarr/sonarr-base.css);
:root {
  --main-bg-color: radial-gradient(ellipse at center, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(ellipse at top, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;

  --calendar-tv-unaired-premiere: 53 197 244;
  --calendar-tv-downloading: 122 67 182; 
  --calendar-tv-unmonitored: 173 173 173;
  --calendar-tv-unaired: 93 156 236;  
  --calendar-tv-missing: 240 80 80;
  --calendar-tv-on-air: 255 165 0; 
  --calendar-tv-available: 39 194 76;

  --button-color: #009688;
  --button-color-hover: #12afa0;
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color:  #009688;
  --accent-color-hover: #12afa0;
  --queue-color: #009688;
  --link-color: #0ed2bf;
  --link-color-hover: #fff;
    
  --text:#eee;
  --text-hover: #fff;
  --text-muted: #999;
}