/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* SONARR ORGANIZR-DARK THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/sonarr/sonarr-base.css);
:root {
  --main-bg-color: #1f1f1f;
  --modal-bg-color: #333;

  --calendar-tv-Unaired-Premiere: #707cd2;
  --calendar-tv-Downloading: #7932ea; 
  --calendar-tv-Unmonitored: grey;
  --calendar-tv-Unaired: #2cabe3;  
  --calendar-tv-missing: #ff7676;
  --calendar-tv-On-Air: #f0ad4e; 
  --calendar-tv-available: #53e69d;

  --button-color: #2cabe3;
  --button-color-hover: rgb(44 171 227 / .8);
  --accent-color:  #2cabe3;
  --accent-color-hover: white;
  --queue-color: #2cabe3;
  }