/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

/* SONARR PLEX THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/sonarr/sonarr-base.css);
:root {
  --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/preset-light2.png") center center/cover no-repeat fixed;
  --modal-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/preset-dark2.png") center center/cover no-repeat fixed;

  --calendar-tv-Unaired-Premiere: 53 197 244;
  --calendar-tv-Downloading: 122 67 182; 
  --calendar-tv-Unmonitored: 173 173 173;
  --calendar-tv-Unaired: 93 156 236;  
  --calendar-tv-missing: 240 80 80;
  --calendar-tv-On-Air: 255 165 0; 
  --calendar-tv-available: 39 194 76;

  --button-color: #cc7b19;
  --button-color-hover: #e59029;
  --accent-color:  #e5a00d;
  --accent-color-hover: #ffc107;
  --queue-color: #27c24c;
  --link-color: #e5a00d;
  --link-color-hover: #fff;
    
  --text:#eee;
  --text-hover: #fff;
  }