/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* SONARR POWER STONE THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/sonarr/sonarr-base.css);
:root {
    --main-bg-color: radial-gradient(ellipse at center bottom, rgba(166, 40, 140, .7) 0%, rgba(11,8,51,1) 80%, rgba(0,0,0,1) 100%) center center/cover no-repeat fixed,
        url("https://themepark-develop.netlify.app/Resources/power.jpg") center center/cover no-repeat fixed;
    --modal-bg-color: linear-gradient(180deg, rgba(35, 0, 57, .7) 0%, #000 100%) center center/cover no-repeat fixed,
        url("https://themepark-develop.netlify.app/Resources/power.jpg") center center/cover no-repeat fixed;
  
    --calendar-tv-Unaired-Premiere: 53 197 244;
    --calendar-tv-Downloading: 122 67 182; 
    --calendar-tv-Unmonitored: 173 173 173;
    --calendar-tv-Unaired: 93 156 236;  
    --calendar-tv-missing: 240 80 80;
    --calendar-tv-On-Air: 255 165 0; 
    --calendar-tv-available: 39 194 76;
  
      --button-color: #85096b;
      --button-color-hover: #85096bcc;
      --accent-color:  #85096bcc;
      --accent-color-hover: #85096bcc;
      --queue-color: #204c80cc;
    }