/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/* 			      https://github.com/gilbN/theme.park			 */

body {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text);
}

/* Froms */

[class*="FormInputHelpText-helpText-"] {
    color: var(--text);
}

[class*="FormInputGroup-inputUnit-"] {
    color: var(--text) !important;
}

/* LINKS */
[class*="Link-to-"] {
    color: var(--text);
}

[class*="Link-to-"]:hover {
    color: var(--text-hover);
    text-decoration: none;
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
}

[class*="TableRowCell-cell-"] [class*="Link-to-"],
[class*="EpisodeTitleLink-link-"] {
    color: var(--link-color) !important;
}

[class*="TableRowCell-cell-"] [class*="Link-to-"]:hover,
[class*="EpisodeTitleLink-link-"]:hover {
    color: var(--link-color-hover) !important;
}

/* Buttons */

[class*="Button-default-"] {
    color: var(--button-text);
    background-color: var(--button-color);
    border-color: transparent;
}

[class*="Button-default-"]:hover {
    border-color: transparent;
    background-color: var(--button-color-hover) !important;
    color: var(--button-text-hover);
}

[class*="Button-primary-"] {
    border-color: transparent;
    background-color: var(--button-color);
    color: var(--button-text);
}

[class*="Button-primary-"]:hover {
    border-color: transparent;
    background-color: var(--button-color-hover) !important;
    color: var(--button-text-hover);
}

[class*="Button-success-"] {
    border-color: var(--button-color);
    background-color: var(--button-color);
    color: var(--button-text);
}

[class*="Button-success-"]:hover {
    border-color: var(--button-color-hover);
    background-color: var(--button-color-hover);
    color: var(--button-text-hover);
}

/* LOADING PAGE */
[class*="ErrorPage-page-"],
[class*="ErrorPage-version-"],
[class*="LoadingMessage-loadingMessage-"] {
    color: var(--text);
}

[class*="LoadingIndicator-ripple-"] {
    border: 2px solid #fff;
}

/* MODAL */
[class*="ModalHeader-modalHeader-"] {
    background: var(--modal-bg-color);
    color: #fff;
    border-bottom: var(--accent-color);
}

[class*="ModalContent-modalContent-"] {
    background: var(--modal-bg-color);
    color: var(--text);
}

[class*="ModalFooter-modalFooter-"] {
    background: var(--modal-bg-color);
    color: #fff;
    border-top: 1px solid var(--accent-color);
}

[class*="ModalContent-closeButton-"]:hover {
    color: var(--text-hover);
}

/* SONARR SPECIFIC */
/* NOTE calendar modal popup */
[class*="EpisodeSummary-infoTitle-"],
[class*="EpisodeDetailsModalContent-tab-"],
[class*="DescriptionListItemTitle-title-"] {
    color: #fff;
}

/* INPUT */
[class*="TagInput-internalInput-"] {
    background-color: transparent;
    color: #fff;
}

[class*="SelectInput-select-"] {
    background-color: rgba(0, 0, 0, 0.25) !important;
}

[class*="SelectInput-select-"]:active,
[class*="SelectInput-select-"]:focus {
    background: #1e1e1e !important;
}

[class*="AutoSuggestInput-suggestionsList-"],
[class*="AutoSuggestInput-suggestionsContainerOpen-"],
[class*="AutoSuggestInput-suggestionsContainer-"] {
    background-color: #323232 !important;
    color: white;
    border: none !important;
}

[class*="AutoSuggestInput-suggestionHighlighted-"] {
    background-color: hsla(0, 0%, 100%, .08);
}

[class*="CheckInput-primaryIsChecked-"] {
    border-color: var(--accent-color) !important;
    background-color: var(--accent-color) !important;
    color: var(--label-text-color) !important;
}

[class*="CheckInput-input-"][class*="CheckInput-isNotChecked-"] {
    background: #fff;
}

/* HEADER */

[class*="PageHeader-header-"] {
    background-color: rgba(0, 0, 0, .35);
}

/* SEARCH DROPDOWN HEADER */

[class*="PageHeader-donate-"] {
    color: #c4273c !important;
}

/* SONARR SPECIFIC */
[class*="SeriesSearchInput-sectionTitle-"] {
    color: #fff;
}

[class*="SeriesSearchInput-containerOpen-"] [class*="SeriesSearchInput-seriesContainer-"] {
    border: none !important;
    background: var(--modal-bg-color);
    color: #fff !important;
    box-shadow: 0 0 10px 1px transparent !important;
}

[class*="SeriesSearchInput-highlighted-"] {
    background-color: hsla(0, 0%, 100%, .08);
}

[class*="SeriesSearchInput-seriesContainer-"]::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

[class*="Scroller-scroller-"]::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .08);
}

[class*="Scroller-scroller-"]::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.25);
}

/* SIDE MENU */
[class*="PageSidebar-sidebarContainer-"] {
    background-color: rgba(0, 0, 0, .25);
}

[class*="PageSidebar-sidebar-"] {
    background-color: transparent;
}

[class*="PageSidebarItem-link-"]:hover,
[class*="PageSidebarItem-link-"]:focus {
    color: var(--text-hover) !important;
    background-color: hsla(0, 0%, 100%, .08);
    text-decoration: none;
}

[class*="PageSidebarItem-isActiveLink-"] {
    color: #FFF !important;
    background-color: hsla(0, 0%, 100%, .08) !important;
}

[class*="PageSidebarItem-isActiveParentLink-"] {
    background-color: transparent;
}

@media only screen and (max-width: 768px) {
    [class*="PageSidebar-sidebarContainer-"] {
        background: var(--main-bg-color) !important;
    }
}

[class*="PageSidebarItem-isActiveItem-"] {
    border-left: 3px solid var(--accent-color);
}

/* SERIES PAGE */
/* SONARR SPECIFIC  */
[class*="SeriesIndexPoster-controls-"] {
    background-color: var(--accent-color) !important;
}

/* OVERVIEW PAGE */

[class*="SeriesIndexOverviews-container-"],
[class*="SeriesIndexOverviews-container-"]:hover {
    background-color: transparent !important;
}

[clas*="SeriesIndexOverview-container-"]:hover [class*="SeriesIndexOverview-content-"] {
    background-color: transparent;
}

[class*="SeriesIndexOverview-content-"]:hover {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

[class*="SeriesIndexOverview-link-"]:hover {
    text-decoration: none;
}

[class*="ProgressBar-container-"] {
    background-color: rgba(0, 0, 0, 0.25);
}


[class*=".ProgressBar-purple-"] {
    background-color: var(--accent-color);
}

/* SHOW PAGE */
[class*="SeriesDetailsSeason-season-"],
[class*="SeriesDetailsSeason-collapseButtonContainer-"] {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}

[class*="SeriesDetailsSeason-episodes-"] {
    border-top: 1px solid rgb(255 255 255 / 50%);
}

[class*="SeriesDetailsSeason-actionButton-"],
[class*="SeriesDetailsSeason-collapseButtonIcon-"] {
    color: var(--text) !important;
}
[class*="SeriesDetailsSeason-actionButton-"]:hover,
[class*="SeriesDetailsSeason-collapseButtonIcon-"]:hover {
    color: var(--text-hover) !important;
}

[class*="SeriesDetailsSeason-sizeOnDisk-"] {
    color: var(--text-muted);
}

[class*="SeriesDetails-contentContainer-"] {
    color: var(--text);
}

.fa-search:hover {
    color: var(--text-hover) !important;
}

[class*="Icon-default-"]:hover:not([class*="Label-large-"] [class*="Icon-default-"], [class*="PathInput-fileBrowserButton-"]svg) {
    color: var(--text-hover);
}

[class*="MonitorToggleButton-toggleButton-"] {
    color: #dadada;
}

[class*="ProtocolLabel-torrent-"] {
    border-color: #00853d !important;
    background-color: #00853d !important;
}

[class*="ProtocolLabel-usenet-"] {
    border-color: #17b1d9 !important;
    background-color: #17b1d9 !important;
}

[class*="SeriesDetailsSeason-seasonNumber-"] {
    color: #fff;
}

[class*="SeriesDetailsSeason-collapseButtonContainer-"] {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}

[class*="Popover-title-"],
[class*="SeasonInfo-title-"],
[class*="Popover-body-"],
[class*="Tooltip-bod-"] {
    background: var(--modal-bg-color) !important;
}

[class*="Tooltip-tooltipContainer-"] {
    color: #fff;
}

[class*="Tooltip-tooltip-"][class*=Tooltip-inverse-] {
    background: var(--modal-bg-color);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

[class*="Tooltip-bottom-"][class*="Tooltip-inverse-"] {
    border-bottom-color: #fff;
}

[class*="Tooltip-bottom-"][class*="Tooltip-default-"] {
    border-bottom-color: #fff !important;
}

[class*="Tooltip-right-"][class*="Tooltip-default-"] {
    border-right-color: #fff !important;
}

[class*="EpisodeTitleLink-link-"]:hover {
    color: var(--link-color-hover);
}

[class*="IconButton-button-"] {
    color: var(--text);
}

[class*="IconButton-button-"]:hover {
    background-color: transparent;
    color: var(--label-text-color);
}

.SeriesDetailsSeason-left-29MvW [class*="IconButton-button-"]:hover {
    color: var(--text-hover);
}

[class*="Table-tableContainer-"] [class*="IconButton-button-"]:hover {
    background-color: transparent;
    color: var(--text-hover);
}

[class*="Label-default-"] {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--label-text-color);
}

[class*="Label-info-"] {
    border-color: var(--accent-color);
    background-color: var(--accent-color);
    color: var(--label-text-color);
}

[class*="PageSidebarItem-status-"][class*="Label-info-"] {
    border-color: var(--queue-color);
    background-color: var(--queue-color);
    color: var(--label-text-color);
}

[class*="Label-success-"] {
    border-color: #27c24c;
    background-color: #27c24c;
    color: var(--label-text-color);
}

/* Table options*/
[class*="TableOptionsColumn-column-"] {
    background: rgba(0, 0, 0, .25);
    color: var(--text-hover);
    border: none;
}

[class*="TableHeaderCell-headerCell-"] {
    color: var(--text-hover);
}

[class*="Table-table-"] {
    color: var(--text);
}

[class*="TableRow-row-"]:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: var(--text-hover);
}

[class*="TableRowCell-cell-"] {
    border-top: 1px solid rgb(255 255 255 / 25%);
}

/* TOP MENU SERIES */
[class*="PageToolbar-toolbar-"] {
    background-color: rgba(0, 0, 0, .25);
    color: var(--text);
}

[class*="PageToolbarButton-toolbarButton-"][class*="PageToolbarButton-isDisabled-"] {
    opacity: .5;
    color: var(--text);
}

[class*="PageToolbarButton-toolbarButton-"][class*="PageToolbarButton-isDisabled-"]:hover,
[class*="PageToolbarButton-isDisabled-"]:hover {
    color: var(--text) !important;
}

[class*="PageToolbarButton-label-"] {
    color: var(--text);
}

[class*="PageToolbarButton-toolbarButton-"]:hover {
    color: var(--text-hover);
}

[class*="MenuButton-menuButton-"]:hover {
    color: var(--text-hover);
}

/* POSTERS */
[class*="SeriesIndexPoster-title-"],
[class*="SeriesIndexPoster-nextAiring-"],
[class*="SeriesIndexPosterInfo-info-"] {
    background-color: rgba(255, 255, 255, 0.08);
    color: var(--text-hover);
}

/* SERIES TOP HEADER DROPDOWN */
[class*="MenuItem-menuItem-"],
[class*="MenuContent-menuContent-"] {
    background: var(--modal-bg-color);
    color: var(--text);
}

[class*="MenuContent-scroller-"] {
    box-shadow: black 0 0 5px 0px;
}

[class*="MenuItem-menuItem-"]:hover,
[class*="MenuItem-menuItem-"]:focus {
    background: hsla(0, 0%, 100%, .08) !important;
    color: var(--text-hover);
    text-decoration: none;
}

[class*="MenuItemSeparator-separator-"] {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

/* ALPHABET JUMP BAR */
[class*="PageJumpBar-jumpBar-"] {
    color: #FFF;
}

/* MINI RIGHT SCROLL BAR */
[class*="OverlayScroller-thumb-"],
[class*="ImportSeriesSelectSeries-results-"]::-webkit-scrollbar-thumb {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

[class*="OverlayScroller-thumb-"]:hover,
[class*="ImportSeriesSelectSeries-results-"]::-webkit-scrollbar-thumb:hover {
    background-color: rgba(255, 255, 255, 0.25) !important;
}

/* ADD NEW */
[class*="EnhancedSelectInput-options-"] {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 4px;
    background: var(--modal-bg-color);
    color: var(--text);
}
[class*="EnhancedSelectInputOption-isSelected-"],
[class*="EnhancedSelectInputOption-isSelected-"]:hover {
    background-color: rgba(255, 255, 255, 0.20) !important;
    color: var(--text-hover);
}

[class*="EnhancedSelectInputOption-option-"]:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

[class*="HintedSelectInputOption-hintText-"],
[class*="RootFolderSelectInputOption-freeSpace-"] {
    color: var(--text);
}

/* SEARCH BAR */
[class*="Input-input-"],
[class*="AddNewSeries-searchIconContainer-"],
[class*="CheckInput-isIndeterminate-"] {
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: #fff;
}

[class*="SeriesSearchInput-container-"] [class*="Input-input-"] {
    background: transparent;
    border-bottom: solid 1px #fff;
}

[class*="SeriesSearchInput-container-"] [class*="Input-input-"]:focus {
    border-bottom: none;
    background: transparent;
}

[class*="SeriesSearchResult-alternateTitle-"] {
    color: #ffffff;
    font-size: 12px;
}

[class*="Input-input-"]:focus {
    outline: 0;
    border-color: #fff;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.25);
}

[class*="TagInput-input-"][class*="TagInput-isFocused-"] {
    outline: 0;
    border-color: #fff;
    box-shadow: none;
}

/* MOVE THIS */
::placeholder {
    color: var(--text);
}

:-ms-input-placeholder {
    color: var(--text)
}

::-webkit-input-placeholder {
    color: var(--text);
}

/* TEXT COLOR */
[class*="PageContentBody-innerContentBody-"] {
    color: var(--text);
}

/* SEARCH RESULTS */
[class*="AddNewSeriesSearchResult-underlay-"] {
    background-color: transparent !important;
}

[class*="AddNewSeriesSearchResult-underlay-"]:hover {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

[class*="AddNewSeriesSearchResult-year-"] {
    color: #fff;
}

[class*="RootFolderSelectInputSelectedValue-seriesFolder-"],
[class*="RootFolderSelectInputSelectedValue-freeSpace-"] {
    color: #fff;
}

[class*="RootFolderSelectInputOption-freeSpace-"],
[class*="RootFolderSelectInputOption-seriesFolder-"] {
    color: var(--text-muted);
}

/* IMPORT */

[class*="FieldSet-legend-"] {
    color: #FFF;
    border-bottom: 1px solid var(--accent-color);
}

[class*="VirtualTableRow-row-"]:hover {
    background-color: hsla(0, 0%, 100%, .08);
}

/* Drop down menu/button*/
[class*="ImportSeriesSelectSeries-button-"] {
    border: none !important;
    background-color: rgba(0, 0, 0, .25) !important;
}

[class*="ImportSeriesSearchResult-series-"]:hover {
    background-color: rgba(255, 255, 255, 0.08);
}

[class*="ImportSeriesSelectSeries-content-"],
[class*="ImportSeriesSelectSeries-searchIconContainer-"] {
    border: none;
    background-color: var(--modal-bg-color);
    color: white;
}

[class*="ImportSeriesTitle-year-"] {
    color: var(--text-muted);
}

/* MASS EDITOR */
/* FOOTER */
[class*="PageContentFooter-contentFooter-"] {
    border: none;
    background-color: rgba(0, 0, 0, .25);
    color: #FFF;
}

/* SEASON PASS */

[class*="SeasonPassSeason-season-"] {
    border: none;
    background-color: rgba(0, 0, 0, .25) !important;
}

[class*="SeasonPassSeason-allEpisodes-"] {
    background-color: #5cb85c;
}

/* CALENDAR */
[class*="CalendarEvent-downloaded-"] {
    background: rgb(var(--calendar-tv-available) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloaded-"]:hover {
    background: rgb(var(--calendar-tv-available) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-missing-"] {
    background: rgb(var(--calendar-tv-missing) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-missing-"]:hover {
    background: rgb(var(--calendar-tv-missing) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-unaired-"] {
    background: rgb(var(--calendar-tv-unaired) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unaired-"]:hover {
    background: rgb(var(--calendar-tv-unaired) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-unmonitored-"] {
    background: rgb(var(--calendar-tv-unmonitored) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-unmonitored-"]:hover {
    background: rgb(var(--calendar-tv-unmonitored) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-onAir-"] {
    background: rgb(var(--calendar-tv-on-air) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-onAir-"]:hover {
    background: rgb(var(--calendar-tv-on-air) / .5) !important;
    border-left-color: transparent !important;
}

[class*="CalendarEvent-downloading-"] {
    background: rgb(var(--calendar-tv-downloading) / .7) !important;
    border-left-color: transparent !important;
    color: #fff;
}

[class*="Calendar-calendar-"] [class*="CalendarEvent-downloading-"]:hover {
    background: rgb(var(--calendar-tv-downloading) / .5) !important;
    border-left-color: transparent !important;
}

[class*="DayOfWeek-dayOfWeek-"] {
    background-color: hsla(0, 0%, 100%, .08);
    color: #fff;
}

[class*="CalendarDay-dayOfMonth-"] {
    border-bottom: 1px solid hsla(0, 0%, 100%, .08);
    background-color: rgba(0, 0, 0, .25);
}

[class*="CalendarDay-isToday-"] {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

[class*="CalendarDay-day-"],
[class*="CalendarDays-days-"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1 0 14.28%;
    flex: 1 0 14.28%;
    overflow: hidden;
    min-height: 70px;
    border-bottom: 1px solid hsla(0, 0%, 100%, .08);
    border-left: 1px solid hsla(0, 0%, 100%, .08);
    border-right: 1px solid hsla(0, 0%, 100%, .08);
}

[class*="CalendarEvent-seriesTitle-"],
[class*="CalendarEvent-episodeInfo-"],
[class*="CalendarEvent-airTime-"],
[class*="Legend-legend-"] [class*="LegendItem-legendItem-"] {
    color: #ffffff !important;
}

[class*="CalendarEvent-event-"] {
    border-bottom: 1px solid transparent;
}

[class*="CalendarEventGroup-eventGroup-"] {
    border-bottom: 1px solid hsla(0, 0%, 100%, .08) !important;
}

[class*="CalendarEventGroup-seriesTitle-"] {
    color: #ffffff !important;
}

[class*="CalendarEventGroup-airTime-"] {
    color: var(--text);
}

[class*="CalendarEventGroup-episodeInfo-"] {
    color: var(--text);
}

/* calendar agenda */
[class*="AgendaEvent-event-"]:hover {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

/*QUEUE PAGE */
/* Manual Import*/
[class*="SelectEpisodeModalContent-path-"] {
    color: var(--text);
}

/* SETTINGS */
[class*="PageContentBody-innerContentBody"] [class*="Link-to"] {
    color: #fff;
}

[class*="Settings-summary"] {
    color: var(--text);
}

[class*="FormLabel-large-"] {
    color: #fff
}

[class*="FormLabel-isAdvanced-"] {
    color: #ff902b;
}

/* MEDIA MANAGEMENT - FILE NAME TOKENS */
[class*="NamingOption-option-"] {
    border: 1px solid transparent;
}

[class*="NamingOption-token-"] {
    background-color: rgba(255, 255, 255, 0.15);
}

[class*="NamingOption-example-"] {
    background-color: rgba(255, 255, 255, 0.25);
}

[class*="NamingOption-option-"]:hover [class*="NamingOption-token-"] {
    background-color: rgba(255, 255, 2550, 0.25);
}

[class*="NamingOption-option-"]:hover [class*="NamingOption-example-"] {
    background-color: rgba(255, 255, 2550, 0.35);
}

/* PROFILES */
[class*="Card-card-"],
[class*="QualityProfiles-addQualityProfile-"] {
    background-color: rgba(0, 0, 0, .45);
    box-shadow: 0 0 10px 1px #000000;
    color: var(--text);
}

[class*="Card-card-"]:hover {
    color: var(--text-hover);
}

[class*="QualityProfiles-center-"],
[class*="LanguageProfiles-center-"],
[class*="ReleaseProfiles-center-"] {
    background-color: transparent;
    border: none;
}

[class*="QualityProfileItem-qualityProfileItem-"],
[class*="QualityProfileItemGroup-qualityProfileItemGroup-"],
[class*="LanguageProfileItem-languageProfileItem-"] {
    border: none;
    background-color: rgba(0, 0, 0, .25);
    color: #FFF;
}

[class*="QualityProfileItemGroup-qualityProfileItemGroup-"][class*="QualityProfileItemGroup-editGroups-"] {
    background: rgba(0, 0, 0, 0.25);
}

[class*="KeyValueListInputItem-keyInput-"],
[class*="KeyValueListInputItem-valueInput-"] {
    border: none;
    background: transparent;
    color: white;
}

[class*="QualityDefinitions-sizeLimitHelpText-"] {
    color: var(--text);
}

/* PROFILES */
[class*="Indexers-center-"] {
    background-color: transparent;
    border: none;
}

/* INDEXERS */

/* DOWNLOAD CLIENTS */
[class*="DownloadClients-center-"] {
    background-color: transparent;
    border: none;
}

/*INPORT LISTS */
[class*="ImportLists-center-"] {
    background-color: transparent;
    border: none;
}

/* CONNECTIONS */
[class*="Notifications-center-"] {
    background-color: transparent;
    border: none;
}

/* LOG */
[class*="Alert-info-"] {
    border-color: transparent;
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFC107;
}

/* Login Page */

.panel-body {
    background-color: rgba(0, 0, 0, 0.25);
    color: var(--text);
}

.panel-header {
    background-color: rgba(0, 0, 0, 0.45);
}

.forgot-password {
    color: var(--text) !important;
}

input[type=email],
input[type=password] {
    border: none;
    background-color: rgba(255, 255, 255, 0.08);
    color: #FFF;
}

.button {
    border-color: var(--button-color);
    background-color: var(--button-color);
    cursor: pointer;
}
.button:hover {
    border-color: var(--button-color-hover);
    background-color: var(--button-color-hover);
    color: #fff;
    text-decoration: none;
}
.form-input:focus {
    outline: 0;
    border-color: #fff;
    box-shadow: none;
    background-color: rgba(255, 255, 255, 0.25);
}

/* Custom filter */
[class*="FilterBuilderRow-filterRow-"]:hover {
    background-color: transparent;
}

[class*="CustomFilter-customFilter-"]:hover {
    background-color: hsla(0, 0%, 100%, .08);
}

/* Scene information */
[class*="ReleaseSceneIndicator-levelNone-"] {
    border-color: var(--text);
    color: var(--text);
    opacity: 1;
}

[class*="ReleaseSceneIndicator-levelMapped-"] {
    border-color: var(--text);
    color: var(--text);
}

/* Scrollbar test fix

[class*="PageContentBody-contentBody-"],
[class*="PageSidebar-sidebar-"] {
    margin-right: -70px !important;
    margin-bottom: -70px !important;   
}