
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* RADARR DARK THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/radarr/radarr-base.css);
:root {
  --main-bg-color: radial-gradient(circle, #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(circle , #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;

  --calendar-in-cinemas: #35c5f4;
  --calendar-missing: #d9534f;
  --calendar-announced: #337ab7;
  --calendar-downloaded: #5cb85c;
  --calendar-downloading: #7932ea;
  --calendar-unmonitored: grey;

  --button-color: hsla(0,0%,100%,.15);
  --button-color-hover: hsla(0,0%,100%,.30);
  --accent-color:  rgba(255, 255, 255, 0.25);
  --accent-color-hover: rgba(255, 255, 255, 0.45);
  }