
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* RADARR HOTLINE THEME */
@import url(https://theme-park.dev/CSS/themes/radarr/radarr-base.css);
:root {
  --main-bg-color: radial-gradient(ellipse at center, #F44336 0%, #0b3161 100%) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(ellipse at top, #F44336 0%, #0b3161 100%) center center/cover no-repeat fixed;

  --calendar-in-cinemas: 53, 197, 244;
  --calendar-downloading: 122 67 182; 
  --calendar-unmonitored: 173 173 173;
  --calendar-unaired: 93 156 236;  
  --calendar-missing: 240 80 80;
  --calendar-available: 39 194 76;

  --button-color: hsla(0,0%,100%,.15);
  --button-color-hover: hsla(0,0%,100%,.30);
  --button-text: #eee;
  --button-text-hover: #FFF;
  
  --accent-color:  #F44336;
  --accent-color-hover: #0b3161;
  --queue-color: #6b5;
  --link-color: #ddd;
  --link-color-hover: #fff;
  --label-text-color: #fff;
    
  --text:#eee;
  --text-hover: #fff;
  --text-muted: #999;
}