body {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: #fff !important;
  }
  

/* VERSION */

#footer-region::after {
    content: "\A theme.park 2.0";
    font-size: 20px;
}
.footer {
    color: #fff;
}
#scroll-up {
    color: white;
}
@media (max-width: 991px) {
    .toolbar .page-toolbar .x-toolbar-left-1 {
        display: block;
    }
    .toolbar .page-toolbar .btn-group {
        display: block;
    }
    .btn-group.btn-group-collapse > .btn {
        margin: 2px;
        display: block;
        float: none;
        border-radius: 4px!important;
        word-wrap: normal;
        white-space: normal;
    }
}
@media screen and (max-width: 767px) {
    .table-responsive {
        border: none;
    }
}

.modal-content {
      box-shadow: 0 0 10px 1px #000;
      border-radius: 3px;
      background: var(--main-bg-color);
      background-repeat: repeat, no-repeat;
      background-attachment: fixed, fixed;
      background-position: center center, center center;
      background-size: auto, cover;
      -webkit-background-size: auto, cover;
      -moz-background-size: auto, cover;
      -o-background-size: auto, cover;
}

/* navbar and searchbar */
.navbar-nzbdrone li a {
    color: hsla(0,0%,100%,.7);
}
.navbar-nzbdrone li a:hover {
    background-color: hsla(0,0%,100%,.08);
    color: #ffffff;
}
.search .input-group .input-group-addon, .search .input-group input {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFF;
    border-color: transparent;
    height: 40px;
}
.search .input-group .input-group-addon, .search .input-group input:focus {
    color: #FFF;
}
.input-group-addon {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid transparent;
}
.tt-suggestion.tt-cursor {
    background-color: #191a1c !important;
    color: #ffffff !important;
}
.search .tt-dropdown-menu {
    background-color: #1f1f1f;
}
.fa-search {
    color: white;
}
.input-group-lg>.form-control, .input-group-lg>.input-group-addon, .input-group-lg>.input-group-btn>.btn {
    height: 50px;
}
.navbar-inverse, .navbar-toggle {
    background-color: rgba(0, 0, 0, .25);
    border-color: rgba(0, 0, 0, .25);
    color: #FFF;
}
.navbar-nzbdrone .navbar-toggle:focus, .navbar-nzbdrone .navbar-toggle:hover {
    color: #FFF;
    background-color: hsla(0,0%,100%,.08);
}
@media (max-width: 767px) {
.navbar-nzbdrone .navbar-collapse .navbar-nav li:focus, .navbar-nzbdrone .navbar-collapse .navbar-nav li:hover {
    background-color: hsla(0,0%,100%,.08);
    }
}
/* Form Stuff */

.form-control {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25) !important;
    border: 1px solid transparent;
}

.form-control:focus {
    background-color: #1f1f1f !important;
    border-color: rgba(0, 0, 0, 0.51);
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.6);
}

.bootstrap-tagsinput {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid rgba(0, 0, 0, .25);
    color: #FFF;
}
.form-group i {
    color: #ffffff;
}

/* /Movies/Series/Season page */
.started #page {
    background-color: rgba(0, 0, 0, .25);
    color: White;
    box-shadow: none;
    max-width: 1280px;
}
.series-item a {
    color: #FFF;
}
.series-posters .series-posters-item, .movie-posters-item {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #444;
    box-shadow: 0 0 10px 1px #000000 !important;
}
.movie-posters-item {
    min-height: 302px !important;
}
.header-text .year {
    color: #FFF;
}
.backdrop .navbar-nzbdrone {
    opacity: 0.98;
    box-shadow: 0 0 10px 1px #000;
    border-radius: 3px;
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.series-page-header, .movie-page-header {
  opacity: 0.98;
  box-shadow: 0 0 10px 1px #000;
  color: #ffffff;
  background: var(--main-bg-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}
.series-season, .movie-tabs-card {
  opacity: 0.98;
  box-shadow: 0 0 10px 1px #000;
  color: #ffffff;
  background: var(--main-bg-color);
  background-repeat: repeat, no-repeat;
  background-attachment: fixed, fixed;
  background-position: center center, center center;
  background-size: auto, cover;
  -webkit-background-size: auto, cover;
  -moz-background-size: auto, cover;
  -o-background-size: auto, cover;
}
.episode-title-cell {
    color: #ffffff;
}
a, .episode-title-cell {
    color: #FFFFFF !important;
    text-decoration: none;
}
th.sortable:hover, .table-hover > tbody > tr:hover {
    background-color: rgba(0, 0, 0, .25);
    color: #ffffff;
}
.progress.episode-progress .progressbar-back-text {
    color: #000 !important;
}
.text-warning {
    color: #ffffff;
}

/* SEARCH */
#add-series-screen .new-series .search-item,
#add-movies-screen .new-movies .search-item {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFFFFF !important;
    box-shadow: none;
}
div.form-group > label {
    font-weight: 500;
}
#add-series-screen .add-series-search > input.form-control.x-series-search,
#add-movies-screen .add-movies-search > input.form-control.x-movies-search {
    background-color: rgba(0, 0, 0, .25) !important;
    color: #FFFFFF !important;
    border: none;
    box-shadow: none;
}
#add-series-screen .search-item select.form-control,
#add-movies-screen .search-item select.form-control {
    background-color: #1f1f1f ;
    color: #FFFFFF;
}
.dropdown-menu>li>a {
      color: #ffffff;
}
.dropdown-menu>li>a:hover {
    color: #000;
}

.input-group.input-group-lg.add-series-search > .input-group-addon,
.input-group.input-group-lg.add-movies-search > .input-group-addon {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, .25);
    border: 0px solid rgba(0, 0, 0, .25);
}
/* Add Movies */
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: hsla(0,0%,100%,.08);
    border-color: #FFF;
}
.discoverable-list-item:hover {
    background-color: #1f1f1f;
    color: white;
}
.btn-group-vertical>.btn.active, .btn-group-vertical>.btn:active, .btn-group-vertical>.btn:focus, .btn-group-vertical>.btn:hover, .btn-group>.btn.active,
.btn-group>.btn:active, .btn-group>.btn:focus, .btn-group>.btn:hover {
    background-color: hsla(0,0%,100%,.08);
}

/* Add Series */
#add-series-screen .existing-series {
    background-color: rgba(0, 0, 0, 0);
    color: #fff;
    box-shadow: 0 0 10px 1px #000000;
}

/* Calendar page */
    /* In Cinemas */
    .calendar .premiere {
        border-color: rgb(var(--calendar-in-cinemas));
        background-color: rgb(var(--calendar-in-cinemas));
    }
    /* Missing */
    .calendar .danger {
        border-color: rgb(var(--calendar-missing));
        background-color: rgb(var(--calendar-missing));
        color: #fff;
    }
    /* Announced */
    .calendar .primary {
        border-color: rgb(var(--calendar-announced));
        background-color: rgb(var(--calendar-announced));
    }
    /* Downloaded */
    .calendar .success {
        border-color: rgb(var(--calendar-downloaded));
        background-color: rgb(var(--calendar-downloaded));
    }
    /* Downloading */
    .calendar .purple {
        border-color: rgb(var(-calendar-downloading));
        background-color: rgb(var(-calendar-downloading));
    }
    /* Unmonitored */
    .calendar .unmonitored {
        border-color: rgb(var(--calendar-unmonitored));
        background-color: rgb(var(--calendar-unmonitored));
    }

    .event .primary {
        border-color: rgba(0, 0, 0, .25);
    }

    /* upcoming panel */
.event h4, .date h4, .event .episode-title {
    color: #FFFFFF !important;
}
.event .episode-title {
    color: #f9be03 !important;
}
.event .episode-title:focus, .event .episode-title:hover {
    color: #f9be03;
    text-decoration: underline;
    background-color: transparent;
}
a:focus, a:hover {
    color: #ffffff;
}
.event p {
    color: #FFF;
}
.fc-title {
    color: #FFF;
}
/* calendar month */

.calendar th {
    background-color: hsla(0,0%,100%,.08);
    color: #FFFFFF;
}
.fc-day.fc-today.fc-state-highlight,
.fc-day-number.fc-today.fc-state-highlight,
.fc-day-top.fc-today.fc-state-highlight {
    background-color: hsla(0,0%,100%,.08);
    color: #f9be03;
}

/* Calendar List */

.fc-list-item:hover td {
    background-color: rgba(0, 0, 0, 0.1) !important;
}
.fc-unthemed .fc-divider, .fc-unthemed .fc-list-heading td, .fc-unthemed .fc-popover .fc-header {
    background: rgba(0, 0, 0, 0.1) !important;
}
.fc-unthemed .fc-list-view {
    border-color: rgba(0, 0, 0, 0.1);
}

/* Activity Page */
.popover.in {
    opacity: .9;
}
.popover {
    background-color: #000;
    color: #fff;
}
.popover > .popover-title {
    background-color: #000;
    color: #fff;
    border: none;
}
.popover.left > .arrow,
.popover.left > .arrow:after {
    border-left-color: #000;
}
.popover.right > .arrow:after {
    border-right-color: #000;
}

.backgrid-paginator ul .active span {
    background-color: rgba(0, 0, 0, 0);
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    background-color: hsla(0,0%,100%,.08);
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: hsla(0,0%,100%,.08);
}
.TableRowCell-cell-2fbg4 .ProgressBar-primary-3YDfb {
    background-color: var(--accent-color);
}

/* Season Pass */
.alert-info {
    background-color: rgba(255, 255, 255, 0.25);
    border-color: transparent;
    color: #ffffff;
}
/* alerts */
.alert-warning {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: #f0ad4e;
}
.alert-danger, .manual-import-error {
    background-color: rgba(0, 0, 0, 0.25);
    border-color: transparent;
    color: #d9534f;
}

/* Settings Page */
legend {
    color: #FFFFFF;
}
/* nav bar tabs */
.nav-tabs {
    border-bottom: 1px solid #ddd !important;
}

@media (min-width: 768px) {
.nav-tabs.nav-justified>li>a {
    margin-bottom: -1px;
}
}
/* Settings Page - Profile */
/*thingy*/

.thingy {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.25);
}

.add-card .center {
    background-color: rgba(0, 0, 0, 0);
    border: 1px solid rgba(0, 0, 0, 0);
}

.metadata-item {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
}

/* Settings add thingy*/

.add-thingy {
    background-color: rgba(0, 0, 0, 0.25);
    color: #FFFFFF;
    box-shadow: none;
}

.add-thingy > div > .btn-default,
.add-thingy > div > div > .btn.btn-xs.btn-default.dropdown-toggle {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #FFFFFF;
    outline-style: none;
}

.add-thingy > div > .btn-default:hover,
.add-thingy > div > div > .btn.btn-xs.btn-default.dropdown-toggle:hover {
    color: #FFF;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: #FFF;
    outline-style: none;
}
li.save-and-add {
    color: #ffffff;
}

/* Settings qualities*/
ul.qualities li {
    border: 1px solid rgba(0, 0, 0, .25);
    background: rgba(0, 0, 0, .25);
}
ul.qualities li:hover {
    border: 1px solid rgba(0, 0, 0, .25);
    background: rgba(255, 255, 255, .25);
}
ul.qualities li.selected .quality-label {
    color: #ffffff;
}

/* Settings Quality sliders */
#quality-definition-list .rows .row .ui-slider .ui-slider-range {
    background-color: rgb(46, 47, 49);
}
#quality-definition-list .rows .row .ui-slider .ui-slider-handle {
    background-color: #f5f5f5;
    border: 1px solid #c7c7c7;
}
#quality-definition-list .rows .row .ui-slider {
    border: 1px solid #2e2f31;
}
.label-warning {
    background-color: #d58512;
}
.label-info {
    background-color: #337ab7;
}

/* SYSTEM logs */
pre {
    color: #fff;
    background-color: rgba(0, 0, 0, .25);
}

/* BUTTONS */
  /* YES/NO Switch */
.well {
    background-color: rgba(0, 0, 0, .25);
    border: 1px solid transparent;
}
.toggle p span {
    color: rgba(0, 0, 0, 0);
}

.toggle input:checked ~ p span:nth-child(1) {
    color: #FFFFFF;
}

.toggle input:not(:checked) ~ p span:nth-child(2) {
    color: #FFFFFF;
}
  /* Close X button */
.close,
.close:hover,
.close:focus {
    color: #FFF !important;
    opacity: 1;
    outline: none;
}
.btn-default {
    color: hsla(0,0%,100%,.7);
    background-color: rgba(0, 0, 0, .25);
    border-color: transparent;
    outline-style: none;
}
.btn-default:hover {
    color: #FFFFFF;
    background-color: hsla(0,0%,100%,.08);
    border-color: transparent;
    outline-style: none;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    color: #fff;
}
.btn-group .btn+.btn, .btn-group .btn+.btn-group, .btn-group .btn-group+.btn, .btn-group .btn-group+.btn-group {
    margin-left: 0px;
}
.btn-default.active.focus, .btn-default.active:focus, .btn-default.active:hover, .btn-default:active.focus, .btn-default:active:focus, .btn-default:active:hover, .open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #fff;
    background-color: hsla(0,0%,100%,.08);
    border-color: #FFF;
}
.fc-state-default {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
    border-color: #FFF;
    outline-style: none;
    background-image: none;
    text-shadow: none;
}
.fc-state-default:hover {
  background-color: hsla(0,0%,100%,.08);
}
.input-group-btn > button.btn.btn-icon-only.dropdown-toggle,
.btn.btn-icon-only.x-copy-api-key.hidden-xs {
    color: #FFFFFF;
    background-color: #5cb85c;
}
.input-group-btn > button.btn.btn-icon-only.dropdown-toggle:hover {
    color: #FFFFFF;
    background-color: #449d44;
}

.btn {
    color: #FFF;
    outline: 0 !important;
}
.btn.btn-lg.btn-block.x-search-auto {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
}
.btn.btn-lg.btn-block.x-search-auto:hover {
    color: #FFF;
    background-color: rgba(255, 255, 255, 0.05);
}
.btn.focus, .btn:focus, .btn:hover {
    color: #fff;
    border-color: transparent;
}
.modal-footer > button:not([class*="btn-primary"]):not([class*="btn-danger"]):not([class*="btn-success"]) {
    color: #FFF;
    background-color: rgba(0, 0, 0, .25);
    border-color: transparent;
    outline-style: none;
}
.modal-footer > button:hover:not([class*="btn-primary"]):not([class*="btn-danger"]):not([class*="btn-success"]) {
    color: #FFF;
    background-color: rgba(255, 255, 255, .25);
    border-color: transparent;
    outline-style: none;
}
/* green button */
 .btn-success {
  color: #FFF;
}

/* save button */
.btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus,
.btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
    border-color: transparent;
}

/* blue button */
.btn-primary.focus, .btn-primary:focus, .btn-primary:hover {
    color: #fff;
    background-color: #286090 !important;
}
.btn-success.focus, .btn-success:focus, .btn-success:hover {
    color: #fff;
    background-color: #449d44 !important;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default {
    background-color: hsla(0,0%,100%,.08);
}
.btn-danger:hover {
    color: #fff;
    background-color: #c9302c;
    border-color: transparent;
}
.btn-primary, .btn-danger {
    border-color: transparent;
}
.dropdown-menu {
      background-color: #1f1f1f;
}
.dropdown-menu>li>a {
      color: #ffffff;
}
.dropdown-menu>li>a:hover {
    color: #000 !important;
}