@media (min-width: 752px) {
    [class*="PageHeader-logo-"] {
        content: url("/css/addons/sonarr/sonarr-text-logo/sonarr-text.png");
        margin-left: 15px;
        width: 120px;
        height: 40px;
    }
}

@media only screen and (max-width: 768px) {
    [class*="PageHeader-logo-"] {
        width: 32px;
        height: 32px;
        margin-left: 0px;
        content: url("sonarr/Content/Images/logo.svg");
    }
}

[class*="LoadingPage-logoFull-"] {
    content: url("/css/addons/sonarr/sonarr-text-logo/sonarr-text.png");
    margin-top: 50px;
    margin-right: auto;
    margin-left: auto;
    width: 120px;
    height: 40px;
    opacity: 1;
}