/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */
  
  body {
      color: #ccc;
      background: var(--main-bg-color);
  }
  p {
      color: #ccc !important;
  }
  
  /* SCROLLBAR */  
  @media only screen and (min-width: 768px) {  
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }
    body {
        overflow-y: auto;
        height: 100%;
        background: var(--main-bg-color)
    }
  }
    ::-webkit-scrollbar {
        width: 14px;
    }
    ::-webkit-scrollbar-thumb {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.2);
        background-clip: padding-box;
    }
    ::-webkit-scrollbar-track {
        background-color: transparent;
    }
    ::-webkit-scrollbar-thumb:hover {
        min-height: 50px;
        border: 3px solid transparent;
        border-radius: 8px;
        background-color: hsla(0,0%,100%,.5);
        background-clip: padding-box;
    } 
  
  /* NAVBAR */
  .navbar {
      border: 1px solid transparent;
      text-shadow: 1px 1px 1px rgb(0, 0, 0);
      background: rgba(0, 0, 0, 0);
  }
  .navbar-inverse {
      background-image: none;
      background-color: transparent;
      border-color: transparent;
  }
  .navbar-default .navbar-brand {
      color: #e4e4e4;
  }
  .navbar-default .navbar-nav>li>a {
      color: #e4e4e4;
  }
  .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
      color: #ffffff;
      background-image: none;
      background-color: rgba(0, 0, 0, .25);
  }
  /* BUTTONS */
  
  .btn-primary, .btn-default {
      background-image: none;
      color: #ffffff;
      background-color: var(--button-color);
      border-color: transparent;
      outline: none;
  }
  
  .btn-primary:hover, .btn-default:hover, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
      background-image: none;
      color: #ffffff;
      background-color: var(--button-color-hover);
      border-color: transparent;
  }
  .btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus {
      color: #ffffff;
      background-color: var(--button-color-hover);
      border-color: transparent;
  }
  .btn-primary.active.focus, .btn-primary.active:focus, .btn-primary.active:hover, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:active:hover, .open>.dropdown-toggle.btn-primary.focus, .open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover {
      color: #ffffff;
      background-color: var(--button-color-hover);
      border-color: transparent;
  }
  
  .btn-primary:active:hover, .btn-primary.active:hover, .open>.dropdown-toggle.btn-primary:hover, .btn-primary:active:focus, .btn-primary.active:focus, .open>.dropdown-toggle.btn-primary:focus, .btn-primary:active.focus, .btn-primary.active.focus, .open>.dropdown-toggle.btn-primary.focus,.btn:hover, .btn:focus, .btn.focus {
      outline: none;
      background-color: var(--button-color-hover);
      border-color: transparent;
  }
  .btn-link:hover, .btn-link:focus, button.close {
      outline:none
  }
  
  .btn-warning {
      background-image: none;
      color: #ffffff;
      background-color: #f89406;
      border-color: #f89406;
  }
  
  .btn-warning:hover {
      background-image: none;
      color: #ffffff;
      background-color: #c67605;
      border-color: #bc7005;
  }
  .btn:hover, .btn:focus, .btn.focus {
      color: #ffffff;
      text-decoration: none;
  }
  
  .pagination>li.disabled>a, .pagination>li.disabled>a:hover, .pagination>li.disabled>span, .pagination>li.disabled>span:hover {
      background-color: var(--button-color);
      background-image: none;
      outline:none;
  }
  .pagination>.disabled>span, .pagination>.disabled>span:hover, .pagination>.disabled>span:focus, .pagination>.disabled>a, .pagination>.disabled>a:hover, .pagination>.disabled>a:focus {
      color: #ccc;
      background-color: var(--button-color);
      border-color: transparent;
      cursor: not-allowed;
  }
  .pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
      color: #ffffff;
      background-image: none;
      background-color: rgba(0, 0, 0, 0.45);
      border-color: transparent;
      outline: none;
  }
  .pagination>li.active>a, .pagination>li.active>span {
      background-image: none;
  }
  .pagination>li>a, .pagination>li>span {
      text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
      background-image: none;
  }
  .pagination>li>a, .pagination>li>span {
      color: #ffffff;
      background-color: var(--button-color);
      border: 1px solid transparent;
  
  }
  .pagination>li>a:hover, .pagination>li>span:hover, .pagination>li>a:focus, .pagination>li>span:focus {
      color: #ffffff;
      background-image: none;
      background-color: var(--button-color-hover);
      border-color: transparent;
      outline: none;
  }
  
  /* FORM CONTYROL */
  
  .form-control:focus {
      border-color: transparent;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  
  .form-control {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.25);
      background-image: none;
      border: 1px solid transparent;
  }
  .form-control:active, .form-control:focus {
      color: #272b30;
      background-color: #fff !important;
      background-image: none;
      border: 1px solid transparent;  
  }
  #subhead_menu .input-group .form-control:active ,.input-group .form-control:focus {
      color: #272b30;
      background-color: #fff !important;
      height: 30px !important;
  }
  .configtable .input-group .form-control:active ,.configtable .input-group .form-control:focus {
      display: block;
      width: 100%;
      height: 38px !important;
      padding: 8px 12px;
      font-size: 14px;
      line-height: 1.42857143;
      color: #272b30;
      background-color: #fff !important;
      background-image: none;
      border: 1px solid #ccc;
      border-radius: 4px;
      -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      box-shadow: inset 0 1px 1px rgba(0,0,0,0.075);
      -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
      -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
      transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  }
  
  
  /* TABLE */
  
  table {
      background-color: rgba(255, 255, 255, 0.08);
  }
  
  .table-striped>tbody>tr:nth-of-type(odd) {
      background-color: rgba(0, 0, 0, 0.08);
  }
  .table-hover>tbody>tr:hover {
      background-color: rgba(255, 255, 255, 0.08) !important;
  }
  .table-bordered {
      border: 1px solid transparent;
  }
  .table-bordered>thead>tr>th, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>tbody>tr>td, .table-bordered>tfoot>tr>td {
      border: 1px solid rgba(255, 255, 255, 0.08);
  }
  
      /* BOOKWALL */
  
      .table-responsive>.table {
          background-color: rgba(255, 255, 255, .08);
      }
  
  /* SETTINGS */
  
  .nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
      color: #ffffff;
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid TRANSPARENT;
      border-bottom-color: transparent;
      cursor: default;
  }
  .nav-tabs {
      border-bottom: 1px solid rgba(255, 255, 255, 0.45);
  }
  .nav-tabs>li>a:hover {
      border-color: transparent;
  }
  .nav>li>a:hover, .nav>li>a:focus {
      text-decoration: none;
      background-color: rgba(255, 255, 255, 0.15);
  }
  .input-group-addon {
      border:none;
      border-color: transparent;
      background-image: none;
      color: #ffffff;
      background-color: rgba(0, 0, 0, .45);
  }
  .input-group {
      margin-top: 2px;
  }
  
  legend {
      border-bottom: 1px solid rgba(255, 255, 255, .45);
  }
  
  /* MODAL */
  
  .modal-content {
      background: var(--modal-bg-color);
      border: 1px solid transparent;
  }
  .modal-header {
      border-bottom: 1px solid rgba(255, 255, 255, .45);
  }
  .modal-footer {
      border-top: 1px solid rgba(255, 255, 255, .45);
  }
  pre {
      color: #ccc;
      background-color: rgba(0, 0, 0, 0.25);
      border: 1px solid transparent;
  }