/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

html,
body {
    background: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text) !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
label {
    color: var(--text-hover);
}

div.meterText:empty:before {
    color: var(--text-hover) !important;
}

#dlText {
    color: #F44336;
}

#ulText {
    color: #4CAF50;
}

#pingText,
#jitText {
    color: #2cabe3;
}

#startStopBtn {
    color: var(--button-text);
    background: var(--button-color);
    border: 0.15em solid var(--button-color);
}

#startStopBtn:hover {
    border: 0.15em solid var(--button-color-hover);
    background: var(--button-color-hover);
}

#startStopBtn.running {
    background: #FF3030 !important;
    border-color: #FF6060;
    color: #FFFFFF;
}

#startStopBtn.running:hover {
    background: #FF3030;
    border-color: #FF6060;
    color: #FFFFFF;
}

a,
a:-webkit-any-link {
    color: var(--link-color);
}

a:hover,
a:-webkit-any-link:hover {
    color: var(--link-color-hover);
}

#ip,
.unit {
    color: rgb(var(--accent-color));
}

#privacyPolicy {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

input {
    font-family: "Roboto", sans-serif;
    color: var(--text-hover);
    background-color: rgba(0, 0, 0, 0.25) !important;
    -webkit-rtl-ordering: logical;
    Font-size: 16px;
    padding: 10px;
    border: none;
    padding-left: 10px;
    max-width: -webkit-fill-available;
    border-radius: 3px;
    margin-bottom: 5px !important;
    outline: none;
}

.testName {
    color: var(--text-hover) !important;
}