@media (min-width: 752px) {
  [class*="PageHeader-logo-"] {
    content: url("/css/addons/prowlarr/prowlarr-text-logo/prowlarr-text.png");
    margin-left: 15px;
    width: 150px;
    height: 40px;
  }
}

[class*="LoadingPage-logoFull-"] {
  content: url("/css/addons/prowlarr/prowlarr-text-logo/prowlarr-text.png");
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
  width: 150px;
  height: 40px;
  opacity: 1;
}

.panel-header > img.logo {
  content: url("/css/addons/prowlarr/prowlarr-text-logo/prowlarr-text.png");
  width: auto;
}
