:root {
    --about: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 0)), var(--main-bg-color);
}

.bg-primary {
    background: var(--about) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.bg-dark,
.theme-overview,
#services,
#themes,
footer,
section {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.text-white-50 {
    color: var(--text) !important;
}
.page-section {
    padding: 1.2rem 0;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {

    #mainNav,
    #mainNav.navbar-scrolled {
        box-shadow: none;
        background-color: rgba(var(--accent-color),1);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
    }
}

@media (max-width: 768px) {

    #mainNav,
    #mainNav.navbar-scrolled {
        padding: 0 1rem 0 1rem !important;
    }

    .branding {
        height: 40px !important;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        padding-left: 1rem;
        color: var(--label-text-color)
    }
}

/* slightly transparent fallback for Firefox (not supporting backdrop-filter) */
@supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #mainNav,
    #mainNav.navbar-scrolled {
        box-shadow: none;
        background-color: rgba(var(--accent-color), 1);
    }
}
#mainNav .navbar-nav .nav-item .nav-link {
    color: var(--label-text-color);
  }

#mainNav .navbar-nav .nav-item .nav-link:hover,
#mainNav .navbar-nav .nav-item .nav-link:active {
    color: var(--label-text-color);
    opacity: .8;
}
@media (min-width: 992px) {
    @supports not ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        #mainNav {
            background-color: rgba(var(--accent-color), 0.95) !important;
        }
    }
    #mainNav {
        box-shadow: none;
        background-color: rgba(var(--accent-color), 0.25);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #mainNav .navbar-brand {
        color: rgba(255, 255, 255, 0.7);
    }

    #mainNav .navbar-brand:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item .nav-link {
        color: rgba(255, 255, 255, 0.7);
        padding: 0 1rem;
    }

    #mainNav .navbar-nav .nav-item .nav-link:hover {
        color: #fff;
    }

    #mainNav .navbar-nav .nav-item:last-child .nav-link {
        padding-right: 0;
    }

    #mainNav.navbar-scrolled {
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        background-color: rgba(var(--accent-color), 0.25);
        backdrop-filter: blur(10px);
        -webkit-backdrop-filter: blur(10px);
    }

    #mainNav.navbar-scrolled .navbar-brand {
        color: #212529;
    }

    #mainNav.navbar-scrolled .navbar-brand:hover {
        color: rgb(var(--accent-color));
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link {
        color: #fff;
    }

    #mainNav.navbar-scrolled .navbar-nav .nav-item .nav-link:hover {
        color: var(--link-color-hover);
    }
}


#mainNav .navbar-nav .nav-item .nav-link.active {
    color: var(--link-color-hover) !important;
}

/* .navbar-light .navbar-toggler-icon {
    filter: invert(1);
} */

.navbar-light .navbar-toggler {
    color: rgba(0, 0, 0, 0.5);
    border-color: rgb(255 255 255 / 10%);
}

.branding {
    height: 55px;
}

.mfp-container {
    backdrop-filter: blur(10px);
}

/* BUTTON SHIT*/
.btn-primary {
    color: var(--button-text);
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.btn-primary:hover {
    color: var(--button-text-hover);
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}

.btn-primary:focus,
.btn-primary.focus {
    color: var(--button-text-hover);
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
    box-shadow: 0 0 0 0.2rem rgba(var(--accent-color), 0.5);
}

.btn-primary.disabled,
.btn-primary:disabled {
    color: var(--text-muted);
    background-color: rgba(255, 255, 255, 0.3);
    border-color: rgba(255, 255, 255, 0.3);
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show>.btn-primary.dropdown-toggle {
    color: var(--button-text-hover);
    background-color: var(--button-color-hover);
    border-color: var(--button-color-hover);
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.show>.btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(var(--accent-color), 0.502);
}

hr.divider {
    border-color: rgb(var(--accent-color));
}

a {
    color: var(--link-color);
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: none;
}

.text-primary {
    color: rgb(var(--accent-color)) !important;
}

body,
header.masthead {
    background: black;
}

/* IMAGE SLIDER */
.jquery-bg-slideshow-wrap-bg-element {
    width: 100%;
    height: 100%;
    background-color: transparent;
}

@media (max-width: 768px) {

    .bg,
    header.masthead {
        background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 50%), url(../assets/img/space-gray.png) !important;
    }
}

.bg {
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    margin: 0;
}

/*
.bg-primary,
.bg-dark {
    background: #2d2d2d;
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0));
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0));
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0));
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ 

}
*/



.theme-overview {
    /* background: #2d2d2d;
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0));
    background: -moz-linear-gradient(bottom, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0));
    background: linear-gradient(to top, rgba(0, 0, 0, 1.0), rgba(87, 109, 117, 1.0)); */
    font-family: var(--font-family-sans-serif);
}

#services,
#themes {
    /* background: rgba(87, 109, 117, 1.0); */
    color: var(--text-hover);
    padding: 0rem 0 8rem 0;
}

.all-apps {
    max-width: 1980px;
}

.img-fluid {
    border-radius: 5px;
}

.app-container {
    background: rgba(0, 0, 0, 0.2);
    color: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    max-width: 130px;
    min-width: 130px;
}

.app-container:hover {
    color: white;
    text-decoration: none;
    background: rgba(var(--accent-color), 0.5);
}

.app-container:hover img {
    transform: scale(1.1);
}

.app-container img {
    transition: transform .5s;
}

.app-container-image {
    width: 48px;
    height: 48px;
}

p {
    margin-bottom: 0.5rem;
    font-family: "Merriweather Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-weight: 500;
    line-height: 1.2;
}

.animate__animated.animate__pulse {
    --animate-duration: 1.5s;
}

.animate__pulse:hover {
    box-shadow: 0 0 10px rgba(var(--accent-color), 0.502);
}

/* @media (min-width: 992px) {
.portfolio-box img {
    object-fit: cover;
 }
} */

/* EXAMPLE IMAGES*/
#portfolio [class*="container-"] .portfolio-box:hover .portfolio-box-caption[class*="-hover"] {
    opacity: .9;
    border-radius: 5px;
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.aquamarine-hover {
    background: radial-gradient(ellipse at center, #47918a 0%, #0b3161 100%);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.hotline-hover {
    background: linear-gradient(0deg, rgba(247, 101, 184, 1) 0%, rgb(21, 95, 165) 100%);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.space-gray-hover {
    background: radial-gradient(ellipse at center, rgba(87, 108, 117, 1) 0%, rgba(37, 50, 55, 1) 100.2%);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.organizr-hover {
    background: #1f1f1f;
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.dark-hover {
    background: radial-gradient(circle, #3a3a3a, #2d2d2d, #202020, #141414, #000000);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.plex-hover {
    background:  radial-gradient(circle farthest-side at 0% 100%, rgb(47, 47, 47) 0%, rgba(47, 47, 47, 0) 100%), radial-gradient(circle farthest-side at 100% 100%, rgb(63, 63, 63) 0%, rgba(63, 63, 63, 0) 100%), radial-gradient(circle farthest-side at 100% 0%, rgb(76, 76, 76) 0%, rgba(76, 76, 76, 0) 100%), radial-gradient(circle farthest-side at 0% 0%, rgb(58, 58, 58) 0%, rgba(58, 58, 58, 0) 100%), rgba(0, 0, 0, 0.5) center center/cover no-repeat fixed;
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.dracula-hover {
    background: #282a36;
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.overseerr-hover {
    background: linear-gradient(360deg, hsl(221, 39%, 11%) 65%, hsl(215, 28%, 17%) 100%);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.hotpink-hover {
    background: linear-gradient(45deg, #fb3f62 0%, #204c80 37%, #004249 97%);
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.nord-hover {
    background: #2E3440;
}

#portfolio [class*="container-"] .portfolio-box .portfolio-box-caption.maroon-hover {
    background: linear-gradient(0deg, rgba(76,21,51,.9) 0%, rgb(34,10,37,.9) 100%) center center/cover no-repeat fixed;;
}


@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-moz-keyframes fadein {

    /* Firefox */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-webkit-keyframes fadein {

    /* Safari and Chrome */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@-o-keyframes fadein {

    /* Opera */
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

body {
    animation: fadein 2s;
    -moz-animation: fadein 2s;
    /* Firefox */
    -webkit-animation: fadein 2s;
    /* Safari and Chrome */
    -o-animation: fadein 2s;
    /* Opera */
}

 @media only screen and (min-width: 200px) and (max-width: 767px)   {
    .app-container {
        min-width: 120px;
    }
    #services, #themes {
        padding: 0rem 0 3rem 0;
    }
}