.codicon-add:before { content: '\ea60'!important; }
.codicon-plus:before { content: '\ea60'!important; }
.codicon-gist-new:before { content: '\ea60'!important; }
.codicon-repo-create:before { content: '\ea60'!important; }
.codicon-lightbulb:before { content: '\ea61'!important; }
.codicon-light-bulb:before { content: '\ea61'!important; }
.codicon-repo:before { content: '\ea62'!important; }
.codicon-repo-delete:before { content: '\ea62'!important; }
.codicon-gist-fork:before { content: '\ea63'!important; }
.codicon-repo-forked:before { content: '\ea63'!important; }
.codicon-git-pull-request:before { content: '\ea64'!important; }
.codicon-git-pull-request-abandoned:before { content: '\ea64'!important; }
.codicon-record-keys:before { content: '\ea65'!important; }
.codicon-keyboard:before { content: '\ea65'!important; }
.codicon-tag:before { content: '\ea66'!important; }
.codicon-tag-add:before { content: '\ea66'!important; }
.codicon-tag-remove:before { content: '\ea66'!important; }
.codicon-person:before { content: '\ea67'!important; }
.codicon-person-follow:before { content: '\ea67'!important; }
.codicon-person-outline:before { content: '\ea67'!important; }
.codicon-person-filled:before { content: '\ea67'!important; }
.codicon-git-branch:before { content: '\ea68'!important; }
.codicon-git-branch-create:before { content: '\ea68'!important; }
.codicon-git-branch-delete:before { content: '\ea68'!important; }
.codicon-source-control:before { content: '\ea68'!important; }
.codicon-mirror:before { content: '\ea69'!important; }
.codicon-mirror-public:before { content: '\ea69'!important; }
.codicon-star:before { content: '\ea6a'!important; }
.codicon-star-add:before { content: '\ea6a'!important; }
.codicon-star-delete:before { content: '\ea6a'!important; }
.codicon-star-empty:before { content: '\ea6a'!important; }
.codicon-comment:before { content: '\ea6b'!important; }
.codicon-comment-add:before { content: '\ea6b'!important; }
.codicon-alert:before { content: '\ea6c'!important; }
.codicon-warning:before { content: '\ea6c'!important; }
.codicon-search:before { content: '\ea6d'!important; }
.codicon-search-save:before { content: '\ea6d'!important; }
.codicon-log-out:before { content: '\ea6e'!important; }
.codicon-sign-out:before { content: '\ea6e'!important; }
.codicon-log-in:before { content: '\ea6f'!important; }
.codicon-sign-in:before { content: '\ea6f'!important; }
.codicon-eye:before { content: '\ea70'!important; }
.codicon-eye-unwatch:before { content: '\ea70'!important; }
.codicon-eye-watch:before { content: '\ea70'!important; }
.codicon-circle-filled:before { content: '\ea71'!important; }
.codicon-primitive-dot:before { content: '\ea71'!important; }
.codicon-close-dirty:before { content: '\ea71'!important; }
.codicon-debug-breakpoint:before { content: '\ea71'!important; }
.codicon-debug-breakpoint-disabled:before { content: '\ea71'!important; }
.codicon-debug-hint:before { content: '\ea71'!important; }
.codicon-primitive-square:before { content: '\ea72'!important; }
.codicon-edit:before { content: '\ea73'!important; }
.codicon-pencil:before { content: '\ea73'!important; }
.codicon-info:before { content: '\ea74'!important; }
.codicon-issue-opened:before { content: '\ea74'!important; }
.codicon-gist-private:before { content: '\ea75'!important; }
.codicon-git-fork-private:before { content: '\ea75'!important; }
.codicon-lock:before { content: '\ea75'!important; }
.codicon-mirror-private:before { content: '\ea75'!important; }
.codicon-close:before { content: '\ea76'!important; }
.codicon-remove-close:before { content: '\ea76'!important; }
.codicon-x:before { content: '\ea76'!important; }
.codicon-repo-sync:before { content: '\ea77'!important; }
.codicon-sync:before { content: '\ea77'!important; }
.codicon-clone:before { content: '\ea78'!important; }
.codicon-desktop-download:before { content: '\ea78'!important; }
.codicon-beaker:before { content: '\ea79'!important; }
.codicon-microscope:before { content: '\ea79'!important; }
.codicon-vm:before { content: '\ea7a'!important; }
.codicon-device-desktop:before { content: '\ea7a'!important; }
.codicon-file:before { content: '\ea7b'!important; }
.codicon-file-text:before { content: '\ea7b'!important; }
.codicon-more:before { content: '\ea7c'!important; }
.codicon-ellipsis:before { content: '\ea7c'!important; }
.codicon-kebab-horizontal:before { content: '\ea7c'!important; }
.codicon-mail-reply:before { content: '\ea7d'!important; }
.codicon-reply:before { content: '\ea7d'!important; }
.codicon-organization:before { content: '\ea7e'!important; }
.codicon-organization-filled:before { content: '\ea7e'!important; }
.codicon-organization-outline:before { content: '\ea7e'!important; }
.codicon-new-file:before { content: '\ea7f'!important; }
.codicon-file-add:before { content: '\ea7f'!important; }
.codicon-new-folder:before { content: '\ea80'!important; }
.codicon-file-directory-create:before { content: '\ea80'!important; }
.codicon-trash:before { content: '\ea81'!important; }
.codicon-trashcan:before { content: '\ea81'!important; }
.codicon-history:before { content: '\ea82'!important; }
.codicon-clock:before { content: '\ea82'!important; }
.codicon-folder:before { content: '\ea83'!important; }
.codicon-file-directory:before { content: '\ea83'!important; }
.codicon-symbol-folder:before { content: '\ea83'!important; }
.codicon-logo-github:before { content: '\ea84'!important; }
.codicon-mark-github:before { content: '\ea84'!important; }
.codicon-github:before { content: '\ea84'!important; }
.codicon-terminal:before { content: '\ea85'!important; }
.codicon-console:before { content: '\ea85'!important; }
.codicon-repl:before { content: '\ea85'!important; }
.codicon-zap:before { content: '\ea86'!important; }
.codicon-symbol-event:before { content: '\ea86'!important; }
.codicon-error:before { content: '\ea87'!important; }
.codicon-stop:before { content: '\ea87'!important; }
.codicon-variable:before { content: '\ea88'!important; }
.codicon-symbol-variable:before { content: '\ea88'!important; }
.codicon-array:before { content: '\ea8a'!important; }
.codicon-symbol-array:before { content: '\ea8a'!important; }
.codicon-symbol-module:before { content: '\ea8b'!important; }
.codicon-symbol-package:before { content: '\ea8b'!important; }
.codicon-symbol-namespace:before { content: '\ea8b'!important; }
.codicon-symbol-object:before { content: '\ea8b'!important; }
.codicon-symbol-method:before { content: '\ea8c'!important; }
.codicon-symbol-function:before { content: '\ea8c'!important; }
.codicon-symbol-constructor:before { content: '\ea8c'!important; }
.codicon-symbol-boolean:before { content: '\ea8f'!important; }
.codicon-symbol-null:before { content: '\ea8f'!important; }
.codicon-symbol-numeric:before { content: '\ea90'!important; }
.codicon-symbol-number:before { content: '\ea90'!important; }
.codicon-symbol-structure:before { content: '\ea91'!important; }
.codicon-symbol-struct:before { content: '\ea91'!important; }
.codicon-symbol-parameter:before { content: '\ea92'!important; }
.codicon-symbol-type-parameter:before { content: '\ea92'!important; }
.codicon-symbol-key:before { content: '\ea93'!important; }
.codicon-symbol-text:before { content: '\ea93'!important; }
.codicon-symbol-reference:before { content: '\ea94'!important; }
.codicon-go-to-file:before { content: '\ea94'!important; }
.codicon-symbol-enum:before { content: '\ea95'!important; }
.codicon-symbol-value:before { content: '\ea95'!important; }
.codicon-symbol-ruler:before { content: '\ea96'!important; }
.codicon-symbol-unit:before { content: '\ea96'!important; }
.codicon-activate-breakpoints:before { content: '\ea97'!important; }
.codicon-archive:before { content: '\ea98'!important; }
.codicon-arrow-both:before { content: '\ea99'!important; }
.codicon-arrow-down:before { content: '\ea9a'!important; }
.codicon-arrow-left:before { content: '\ea9b'!important; }
.codicon-arrow-right:before { content: '\ea9c'!important; }
.codicon-arrow-small-down:before { content: '\ea9d'!important; }
.codicon-arrow-small-left:before { content: '\ea9e'!important; }
.codicon-arrow-small-right:before { content: '\ea9f'!important; }
.codicon-arrow-small-up:before { content: '\eaa0'!important; }
.codicon-arrow-up:before { content: '\eaa1'!important; }
.codicon-bell:before { content: '\eaa2'!important; }
.codicon-bold:before { content: '\eaa3'!important; }
.codicon-book:before { content: '\eaa4'!important; }
.codicon-bookmark:before { content: '\eaa5'!important; }
.codicon-debug-breakpoint-conditional-unverified:before { content: '\eaa6'!important; }
.codicon-debug-breakpoint-conditional:before { content: '\eaa7'!important; }
.codicon-debug-breakpoint-conditional-disabled:before { content: '\eaa7'!important; }
.codicon-debug-breakpoint-data-unverified:before { content: '\eaa8'!important; }
.codicon-debug-breakpoint-data:before { content: '\eaa9'!important; }
.codicon-debug-breakpoint-data-disabled:before { content: '\eaa9'!important; }
.codicon-debug-breakpoint-log-unverified:before { content: '\eaaa'!important; }
.codicon-debug-breakpoint-log:before { content: '\eaab'!important; }
.codicon-debug-breakpoint-log-disabled:before { content: '\eaab'!important; }
.codicon-briefcase:before { content: '\eaac'!important; }
.codicon-broadcast:before { content: '\eaad'!important; }
.codicon-browser:before { content: '\eaae'!important; }
.codicon-bug:before { content: '\eaaf'!important; }
.codicon-calendar:before { content: '\eab0'!important; }
.codicon-case-sensitive:before { content: '\eab1'!important; }
.codicon-check:before { content: '\eab2'!important; }
.codicon-checklist:before { content: '\eab3'!important; }
.codicon-chevron-down:before { content: '\eab4'!important; }
.codicon-drop-down-button:before { content: '\eab4'!important; }
.codicon-chevron-left:before { content: '\eab5'!important; }
.codicon-chevron-right:before { content: '\eab6'!important; }
.codicon-chevron-up:before { content: '\eab7'!important; }
.codicon-chrome-close:before { content: '\eab8'!important; }
.codicon-chrome-maximize:before { content: '\eab9'!important; }
.codicon-chrome-minimize:before { content: '\eaba'!important; }
.codicon-chrome-restore:before { content: '\eabb'!important; }
.codicon-circle-outline:before { content: '\eabc'!important; }
.codicon-debug-breakpoint-unverified:before { content: '\eabc'!important; }
.codicon-circle-slash:before { content: '\eabd'!important; }
.codicon-circuit-board:before { content: '\eabe'!important; }
.codicon-clear-all:before { content: '\eabf'!important; }
.codicon-clippy:before { content: '\eac0'!important; }
.codicon-close-all:before { content: '\eac1'!important; }
.codicon-cloud-download:before { content: '\eac2'!important; }
.codicon-cloud-upload:before { content: '\eac3'!important; }
.codicon-code:before { content: '\eac4'!important; }
.codicon-collapse-all:before { content: '\eac5'!important; }
.codicon-color-mode:before { content: '\eac6'!important; }
.codicon-comment-discussion:before { content: '\eac7'!important; }
.codicon-compare-changes:before { content: '\eafd'!important; }
.codicon-credit-card:before { content: '\eac9'!important; }
.codicon-dash:before { content: '\eacc'!important; }
.codicon-dashboard:before { content: '\eacd'!important; }
.codicon-database:before { content: '\eace'!important; }
.codicon-debug-continue:before { content: '\eacf'!important; }
.codicon-debug-disconnect:before { content: '\ead0'!important; }
.codicon-debug-pause:before { content: '\ead1'!important; }
.codicon-debug-restart:before { content: '\ead2'!important; }
.codicon-debug-start:before { content: '\ead3'!important; }
.codicon-debug-step-into:before { content: '\ead4'!important; }
.codicon-debug-step-out:before { content: '\ead5'!important; }
.codicon-debug-step-over:before { content: '\ead6'!important; }
.codicon-debug-stop:before { content: '\ead7'!important; }
.codicon-debug:before { content: '\ead8'!important; }
.codicon-device-camera-video:before { content: '\ead9'!important; }
.codicon-device-camera:before { content: '\eada'!important; }
.codicon-device-mobile:before { content: '\eadb'!important; }
.codicon-diff-added:before { content: '\eadc'!important; }
.codicon-diff-ignored:before { content: '\eadd'!important; }
.codicon-diff-modified:before { content: '\eade'!important; }
.codicon-diff-removed:before { content: '\eadf'!important; }
.codicon-diff-renamed:before { content: '\eae0'!important; }
.codicon-diff:before { content: '\eae1'!important; }
.codicon-discard:before { content: '\eae2'!important; }
.codicon-editor-layout:before { content: '\eae3'!important; }
.codicon-empty-window:before { content: '\eae4'!important; }
.codicon-exclude:before { content: '\eae5'!important; }
.codicon-extensions:before { content: '\eae6'!important; }
.codicon-eye-closed:before { content: '\eae7'!important; }
.codicon-file-binary:before { content: '\eae8'!important; }
.codicon-file-code:before { content: '\eae9'!important; }
.codicon-file-media:before { content: '\eaea'!important; }
.codicon-file-pdf:before { content: '\eaeb'!important; }
.codicon-file-submodule:before { content: '\eaec'!important; }
.codicon-file-symlink-directory:before { content: '\eaed'!important; }
.codicon-file-symlink-file:before { content: '\eaee'!important; }
.codicon-file-zip:before { content: '\eaef'!important; }
.codicon-files:before { content: '\eaf0'!important; }
.codicon-filter:before { content: '\eaf1'!important; }
.codicon-flame:before { content: '\eaf2'!important; }
.codicon-fold-down:before { content: '\eaf3'!important; }
.codicon-fold-up:before { content: '\eaf4'!important; }
.codicon-fold:before { content: '\eaf5'!important; }
.codicon-folder-active:before { content: '\eaf6'!important; }
.codicon-folder-opened:before { content: '\eaf7'!important; }
.codicon-gear:before { content: '\eaf8'!important; }
.codicon-gift:before { content: '\eaf9'!important; }
.codicon-gist-secret:before { content: '\eafa'!important; }
.codicon-gist:before { content: '\eafb'!important; }
.codicon-git-commit:before { content: '\eafc'!important; }
.codicon-git-compare:before { content: '\eafd'!important; }
.codicon-git-merge:before { content: '\eafe'!important; }
.codicon-github-action:before { content: '\eaff'!important; }
.codicon-github-alt:before { content: '\eb00'!important; }
.codicon-globe:before { content: '\eb01'!important; }
.codicon-grabber:before { content: '\eb02'!important; }
.codicon-graph:before { content: '\eb03'!important; }
.codicon-gripper:before { content: '\eb04'!important; }
.codicon-heart:before { content: '\eb05'!important; }
.codicon-home:before { content: '\eb06'!important; }
.codicon-horizontal-rule:before { content: '\eb07'!important; }
.codicon-hubot:before { content: '\eb08'!important; }
.codicon-inbox:before { content: '\eb09'!important; }
.codicon-issue-closed:before { content: '\eba4'!important; }
.codicon-issue-reopened:before { content: '\eb0b'!important; }
.codicon-issues:before { content: '\eb0c'!important; }
.codicon-italic:before { content: '\eb0d'!important; }
.codicon-jersey:before { content: '\eb0e'!important; }
.codicon-json:before { content: '\eb0f'!important; }
.codicon-kebab-vertical:before { content: '\eb10'!important; }
.codicon-key:before { content: '\eb11'!important; }
.codicon-law:before { content: '\eb12'!important; }
.codicon-lightbulb-autofix:before { content: '\eb13'!important; }
.codicon-link-external:before { content: '\eb14'!important; }
.codicon-link:before { content: '\eb15'!important; }
.codicon-list-ordered:before { content: '\eb16'!important; }
.codicon-list-unordered:before { content: '\eb17'!important; }
.codicon-live-share:before { content: '\eb18'!important; }
.codicon-loading:before { content: '\eb19'!important; }
.codicon-location:before { content: '\eb1a'!important; }
.codicon-mail-read:before { content: '\eb1b'!important; }
.codicon-mail:before { content: '\eb1c'!important; }
.codicon-markdown:before { content: '\eb1d'!important; }
.codicon-megaphone:before { content: '\eb1e'!important; }
.codicon-mention:before { content: '\eb1f'!important; }
.codicon-milestone:before { content: '\eb20'!important; }
.codicon-mortar-board:before { content: '\eb21'!important; }
.codicon-move:before { content: '\eb22'!important; }
.codicon-multiple-windows:before { content: '\eb23'!important; }
.codicon-mute:before { content: '\eb24'!important; }
.codicon-no-newline:before { content: '\eb25'!important; }
.codicon-note:before { content: '\eb26'!important; }
.codicon-octoface:before { content: '\eb27'!important; }
.codicon-open-preview:before { content: '\eb28'!important; }
.codicon-package:before { content: '\eb29'!important; }
.codicon-paintcan:before { content: '\eb2a'!important; }
.codicon-pin:before { content: '\eb2b'!important; }
.codicon-play:before { content: '\eb2c'!important; }
.codicon-run:before { content: '\eb2c'!important; }
.codicon-plug:before { content: '\eb2d'!important; }
.codicon-preserve-case:before { content: '\eb2e'!important; }
.codicon-preview:before { content: '\eb2f'!important; }
.codicon-project:before { content: '\eb30'!important; }
.codicon-pulse:before { content: '\eb31'!important; }
.codicon-question:before { content: '\eb32'!important; }
.codicon-quote:before { content: '\eb33'!important; }
.codicon-radio-tower:before { content: '\eb34'!important; }
.codicon-reactions:before { content: '\eb35'!important; }
.codicon-references:before { content: '\eb36'!important; }
.codicon-refresh:before { content: '\eb37'!important; }
.codicon-regex:before { content: '\eb38'!important; }
.codicon-remote-explorer:before { content: '\eb39'!important; }
.codicon-remote:before { content: '\eb3a'!important; }
.codicon-remove:before { content: '\eb3b'!important; }
.codicon-replace-all:before { content: '\eb3c'!important; }
.codicon-replace:before { content: '\eb3d'!important; }
.codicon-repo-clone:before { content: '\eb3e'!important; }
.codicon-repo-force-push:before { content: '\eb3f'!important; }
.codicon-repo-pull:before { content: '\eb40'!important; }
.codicon-repo-push:before { content: '\eb41'!important; }
.codicon-report:before { content: '\eb42'!important; }
.codicon-request-changes:before { content: '\eb43'!important; }
.codicon-rocket:before { content: '\eb44'!important; }
.codicon-root-folder-opened:before { content: '\eb45'!important; }
.codicon-root-folder:before { content: '\eb46'!important; }
.codicon-rss:before { content: '\eb47'!important; }
.codicon-ruby:before { content: '\eb48'!important; }
.codicon-save-all:before { content: '\eb49'!important; }
.codicon-save-as:before { content: '\eb4a'!important; }
.codicon-save:before { content: '\eb4b'!important; }
.codicon-screen-full:before { content: '\eb4c'!important; }
.codicon-screen-normal:before { content: '\eb4d'!important; }
.codicon-search-stop:before { content: '\eb4e'!important; }
.codicon-server:before { content: '\eb50'!important; }
.codicon-settings-gear:before { content: '\eb51'!important; }
.codicon-settings:before { content: '\eb52'!important; }
.codicon-shield:before { content: '\eb53'!important; }
.codicon-smiley:before { content: '\eb54'!important; }
.codicon-sort-precedence:before { content: '\eb55'!important; }
.codicon-split-horizontal:before { content: '\eb56'!important; }
.codicon-split-vertical:before { content: '\eb57'!important; }
.codicon-squirrel:before { content: '\eb58'!important; }
.codicon-star-full:before { content: '\eb59'!important; }
.codicon-star-half:before { content: '\eb5a'!important; }
.codicon-symbol-class:before { content: '\eb5b'!important; }
.codicon-symbol-color:before { content: '\eb5c'!important; }
.codicon-symbol-constant:before { content: '\eb5d'!important; }
.codicon-symbol-enum-member:before { content: '\eb5e'!important; }
.codicon-symbol-field:before { content: '\eb5f'!important; }
.codicon-symbol-file:before { content: '\eb60'!important; }
.codicon-symbol-interface:before { content: '\eb61'!important; }
.codicon-symbol-keyword:before { content: '\eb62'!important; }
.codicon-symbol-misc:before { content: '\eb63'!important; }
.codicon-symbol-operator:before { content: '\eb64'!important; }
.codicon-symbol-property:before { content: '\eb65'!important; }
.codicon-wrench:before { content: '\eb65'!important; }
.codicon-wrench-subaction:before { content: '\eb65'!important; }
.codicon-symbol-snippet:before { content: '\eb66'!important; }
.codicon-tasklist:before { content: '\eb67'!important; }
.codicon-telescope:before { content: '\eb68'!important; }
.codicon-text-size:before { content: '\eb69'!important; }
.codicon-three-bars:before { content: '\eb6a'!important; }
.codicon-thumbsdown:before { content: '\eb6b'!important; }
.codicon-thumbsup:before { content: '\eb6c'!important; }
.codicon-tools:before { content: '\eb6d'!important; }
.codicon-triangle-down:before { content: '\eb6e'!important; }
.codicon-triangle-left:before { content: '\eb6f'!important; }
.codicon-triangle-right:before { content: '\eb70'!important; }
.codicon-triangle-up:before { content: '\eb71'!important; }
.codicon-twitter:before { content: '\eb72'!important; }
.codicon-unfold:before { content: '\eb73'!important; }
.codicon-unlock:before { content: '\eb74'!important; }
.codicon-unmute:before { content: '\eb75'!important; }
.codicon-unverified:before { content: '\eb76'!important; }
.codicon-verified:before { content: '\eb77'!important; }
.codicon-versions:before { content: '\eb78'!important; }
.codicon-vm-active:before { content: '\eb79'!important; }
.codicon-vm-outline:before { content: '\eb7a'!important; }
.codicon-vm-running:before { content: '\eb7b'!important; }
.codicon-watch:before { content: '\eb7c'!important; }
.codicon-whitespace:before { content: '\eb7d'!important; }
.codicon-whole-word:before { content: '\eb7e'!important; }
.codicon-window:before { content: '\eb7f'!important; }
.codicon-word-wrap:before { content: '\eb80'!important; }
.codicon-zoom-in:before { content: '\eb81'!important; }
.codicon-zoom-out:before { content: '\eb82'!important; }
.codicon-list-filter:before { content: '\eb83'!important; }
.codicon-list-flat:before { content: '\eb84'!important; }
.codicon-list-selection:before { content: '\eb85'!important; }
.codicon-selection:before { content: '\eb85'!important; }
.codicon-list-tree:before { content: '\eb86'!important; }
.codicon-debug-breakpoint-function-unverified:before { content: '\eb87'!important; }
.codicon-debug-breakpoint-function:before { content: '\eb88'!important; }
.codicon-debug-breakpoint-function-disabled:before { content: '\eb88'!important; }
.codicon-debug-stackframe-active:before { content: '\eb89'!important; }
.codicon-debug-stackframe-dot:before { content: '\eb8a'!important; }
.codicon-debug-stackframe:before { content: '\eb8b'!important; }
.codicon-debug-stackframe-focused:before { content: '\eb8b'!important; }
.codicon-debug-breakpoint-unsupported:before { content: '\eb8c'!important; }
.codicon-symbol-string:before { content: '\eb8d'!important; }
.codicon-debug-reverse-continue:before { content: '\eb8e'!important; }
.codicon-debug-step-back:before { content: '\eb8f'!important; }
.codicon-debug-restart-frame:before { content: '\eb90'!important; }
.codicon-call-incoming:before { content: '\eb92'!important; }
.codicon-call-outgoing:before { content: '\eb93'!important; }
.codicon-menu:before { content: '\eb94'!important; }
.codicon-expand-all:before { content: '\eb95'!important; }
.codicon-feedback:before { content: '\eb96'!important; }
.codicon-group-by-ref-type:before { content: '\eb97'!important; }
.codicon-ungroup-by-ref-type:before { content: '\eb98'!important; }
.codicon-account:before { content: '\eb99'!important; }
.codicon-bell-dot:before { content: '\eb9a'!important; }
.codicon-debug-console:before { content: '\eb9b'!important; }
.codicon-library:before { content: '\eb9c'!important; }
.codicon-output:before { content: '\eb9d'!important; }
.codicon-run-all:before { content: '\eb9e'!important; }
.codicon-sync-ignored:before { content: '\eb9f'!important; }
.codicon-pinned:before { content: '\eba0'!important; }
.codicon-github-inverted:before { content: '\eba1'!important; }
.codicon-debug-alt:before { content: '\eb91'!important; }
.codicon-server-process:before { content: '\eba2'!important; }
.codicon-server-environment:before { content: '\eba3'!important; }
.codicon-pass:before { content: '\eba4'!important; }
.codicon-stop-circle:before { content: '\eba5'!important; }
.codicon-play-circle:before { content: '\eba6'!important; }
.codicon-record:before { content: '\eba7'!important; }
.codicon-debug-alt-small:before { content: '\eba8'!important; }
.codicon-vm-connect:before { content: '\eba9'!important; }
.codicon-cloud:before { content: '\ebaa'!important; }
.codicon-merge:before { content: '\ebab'!important; }
.codicon-export:before { content: '\ebac'!important; }
.codicon-graph-left:before { content: '\ebad'!important; }
.codicon-magnet:before { content: '\ebae'!important; }
.codicon-notebook:before { content: '\ebaf'!important; }
.codicon-redo:before { content: '\ebb0'!important; }
.codicon-check-all:before { content: '\ebb1'!important; }
.codicon-pinned-dirty:before { content: '\ebb2'!important; }
.codicon-pass-filled:before { content: '\ebb3'!important; }
.codicon-circle-large-filled:before { content: '\ebb4'!important; }
.codicon-circle-large-outline:before { content: '\ebb5'!important; }
.codicon-combine:before { content: '\ebb6'!important; }
.codicon-gather:before { content: '\ebb6'!important; }
.codicon-table:before { content: '\ebb7'!important; }
.codicon-variable-group:before { content: '\ebb8'!important; }
.codicon-type-hierarchy:before { content: '\ebb9'!important; }
.codicon-type-hierarchy-sub:before { content: '\ebba'!important; }
.codicon-type-hierarchy-super:before { content: '\ebbb'!important; }
.codicon-git-pull-request-create:before { content: '\ebbc'!important; }
.codicon-run-above:before { content: '\ebbd'!important; }
.codicon-run-below:before { content: '\ebbe'!important; }
.codicon-notebook-template:before { content: '\ebbf'!important; }
.codicon-debug-rerun:before { content: '\ebc0'!important; }
.codicon-workspace-trusted:before { content: '\ebc1'!important; }
.codicon-workspace-untrusted:before { content: '\ebc2'!important; }
.codicon-workspace-unspecified:before { content: '\ebc3'!important; }
.codicon-terminal-cmd:before { content: '\ebc4'!important; }
.codicon-terminal-debian:before { content: '\ebc5'!important; }
.codicon-terminal-linux:before { content: '\ebc6'!important; }
.codicon-terminal-powershell:before { content: '\ebc7'!important; }
.codicon-terminal-tmux:before { content: '\ebc8'!important; }
.codicon-terminal-ubuntu:before { content: '\ebc9'!important; }
.codicon-terminal-bash:before { content: '\ebca'!important; }
.codicon-arrow-swap:before { content: '\ebcb'!important; }
.codicon-copy:before { content: '\ebcc'!important; }
.codicon-person-add:before { content: '\ebcd'!important; }
.codicon-filter-filled:before { content: '\ebce'!important; }
.codicon-wand:before { content: '\ebcf'!important; }
.codicon-debug-line-by-line:before { content: '\ebd0'!important; }
.codicon-inspect:before { content: '\ebd1'!important; }
.codicon-layers:before { content: '\ebd2'!important; }
.codicon-layers-dot:before { content: '\ebd3'!important; }
.codicon-layers-active:before { content: '\ebd4'!important; }
.codicon-compass:before { content: '\ebd5'!important; }
.codicon-compass-dot:before { content: '\ebd6'!important; }
.codicon-compass-active:before { content: '\ebd7'!important; }
.codicon-azure:before { content: '\ebd8'!important; }
.codicon-issue-draft:before { content: '\ebd9'!important; }
.codicon-git-pull-request-closed:before { content: '\ebda'!important; }
.codicon-git-pull-request-draft:before { content: '\ebdb'!important; }
.codicon-debug-all:before { content: '\ebdc'!important; }
.codicon-debug-coverage:before { content: '\ebdd'!important; }
.codicon-run-errors:before { content: '\ebde'!important; }
.codicon-folder-library:before { content: '\ebdf'!important; }
.codicon-debug-continue-small:before { content: '\ebe0'!important; }
.codicon-beaker-stop:before { content: '\ebe1'!important; }
.codicon-graph-line:before { content: '\ebe2'!important; }
.codicon-graph-scatter:before { content: '\ebe3'!important; }
.codicon-pie-chart:before { content: '\ebe4'!important; }
.codicon-bracket:before { content: '\eb0f'!important; }
.codicon-bracket-dot:before { content: '\ebe5'!important; }
.codicon-bracket-error:before { content: '\ebe6'!important; }
.codicon-lock-small:before { content: '\ebe7'!important; }
.codicon-azure-devops:before { content: '\ebe8'!important; }
.codicon-verified-filled:before { content: '\ebe9'!important; }
.codicon-tree-item-expanded:before { content: '\eab4'!important; }
.codicon-tree-filter-on-type-on:before { content: '\eb83'!important; }
.codicon-tree-filter-on-type-off:before { content: '\eb85'!important; }
.codicon-tree-filter-clear:before { content: '\ea76'!important; }
.codicon-tree-item-loading:before { content: '\eb19'!important; }
.codicon-scrollbar-button-left:before { content: '\eb6f'!important; }
.codicon-scrollbar-button-right:before { content: '\eb70'!important; }
.codicon-scrollbar-button-up:before { content: '\eb71'!important; }
.codicon-scrollbar-button-down:before { content: '\eb6e'!important; }
.codicon-menu-selection:before { content: '\eab2'!important; }
.codicon-menu-submenu:before { content: '\eab6'!important; }
.codicon-quick-input-back:before { content: '\ea9b'!important; }
.codicon-widget-close:before { content: '\ea76'!important; }
.codicon-diff-review-insert:before { content: '\ea60'!important; }
.codicon-diff-review-remove:before { content: '\eb3b'!important; }
.codicon-diff-review-close:before { content: '\ea76'!important; }
.codicon-parameter-hints-next:before { content: '\eab4'!important; }
.codicon-parameter-hints-previous:before { content: '\eab7'!important; }
.codicon-suggest-more-info:before { content: '\eab6'!important; }
.codicon-diff-insert:before { content: '\ea60'!important; }
.codicon-diff-remove:before { content: '\eb3b'!important; }
.codicon-find-selection:before { content: '\eb85'!important; }
.codicon-find-collapsed:before { content: '\eab6'!important; }
.codicon-find-expanded:before { content: '\eab4'!important; }
.codicon-find-replace:before { content: '\eb3d'!important; }
.codicon-find-replace-all:before { content: '\eb3c'!important; }
.codicon-find-previous-match:before { content: '\eaa1'!important; }
.codicon-find-next-match:before { content: '\ea9a'!important; }
.codicon-folding-expanded:before { content: '\eab4'!important; }
.codicon-folding-collapsed:before { content: '\eab6'!important; }
.codicon-marker-navigation-next:before { content: '\ea9a'!important; }
.codicon-marker-navigation-previous:before { content: '\eaa1'!important; }

			.monaco-scrollable-element > .shadow.top {
				box-shadow: #000000 0 6px 6px -6px inset;
			}

			.monaco-scrollable-element > .shadow.left {
				box-shadow: #000000 6px 0 6px -6px inset;
			}

			.monaco-scrollable-element > .shadow.top.left {
				box-shadow: #000000 6px 6px 6px -6px inset;
			}
		

			.monaco-scrollable-element > .scrollbar > .slider {
				background: rgba(121, 121, 121, 0.4);
			}
		

			.monaco-scrollable-element > .scrollbar > .slider:hover {
				background: rgba(100, 100, 100, 0.7);
			}
		

			.monaco-scrollable-element > .scrollbar > .slider.active {
				background: rgba(191, 191, 191, 0.4);
			}

.monaco-editor .view-overlays .current-line { background-color: rgba(255, 255, 255, .2)!important; }
.monaco-editor .margin-view-overlays .current-line-margin { background-color: rgba(255, 255, 255, .2); border: none!important; }		
.monaco-editor .minimap-slider .minimap-slider-horizontal { background: rgba(121, 121, 121, 0.2)!important; }
.monaco-editor .minimap-slider:hover .minimap-slider-horizontal { background: rgba(100, 100, 100, 0.35)!important; }
.monaco-editor .minimap-slider.active .minimap-slider-horizontal { background: rgba(191, 191, 191, 0.2)!important; }
.monaco-editor .minimap-shadow-visible { box-shadow: #000000 -6px 0 6px -6px inset!important; }
.monaco-editor .scroll-decoration { box-shadow: #000000 0 6px 6px -6px inset!important; }
.monaco-editor .focused .selected-text { background-color: #264f78!important; }
.monaco-editor .selected-text { background-color: #3a3d41!important; }
.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input { background-color: #1e1e1e!important; }
.monaco-editor, .monaco-editor .inputarea.ime-input { color: #d4d4d4!important; }
.monaco-editor .margin { background-color: #1e1e1e!important; }
.monaco-editor .rangeHighlight { background-color: rgba(255, 255, 255, 0.04)!important; }
.monaco-editor .symbolHighlight { background-color: rgba(234, 92, 0, 0.33)!important; }
.monaco-editor .mtkw { color: rgba(227, 228, 226, 0.16) !important; }
.monaco-editor .mtkz { color: rgba(227, 228, 226, 0.16) !important; }
.monaco-editor .view-overlays .current-line { border: 2px solid #282828!important; }
.monaco-editor .margin-view-overlays .current-line-margin { border: 2px solid #282828!important; }
.monaco-editor .line-numbers { color: #858585!important; }
.monaco-editor .line-numbers.active-line-number { color: #c6c6c6!important; }
.monaco-editor .view-ruler { box-shadow: 1px 0 0 0 #5a5a5a inset!important; }
.monaco-editor .cursors-layer .cursor { background-color: #aeafad; border-color: #aeafad; color: #515052!important; }
.monaco-editor .unexpected-closing-bracket { color: rgba(255, 18, 18, 0.8)!important; }
.monaco-editor .bracket-highlighting-0 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-1 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-2 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-3 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-4 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-5 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-6 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-7 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-8 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-9 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-10 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-11 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-12 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-13 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-14 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-15 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-16 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-17 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-18 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-19 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-20 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-21 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-22 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-23 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-24 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-25 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-26 { color: #179fff!important; }
.monaco-editor .bracket-highlighting-27 { color: #ffd700!important; }
.monaco-editor .bracket-highlighting-28 { color: #da70d6!important; }
.monaco-editor .bracket-highlighting-29 { color: #179fff!important; }
.codicon.codicon-symbol-array { color: #cccccc!important; }
.codicon.codicon-symbol-boolean { color: #cccccc!important; }
.codicon.codicon-symbol-class { color: #ee9d28!important; }
.codicon.codicon-symbol-method { color: #b180d7!important; }
.codicon.codicon-symbol-color { color: #cccccc!important; }
.codicon.codicon-symbol-constant { color: #cccccc!important; }
.codicon.codicon-symbol-constructor { color: #b180d7!important; }

			.codicon.codicon-symbol-value,.codicon.codicon-symbol-enum { color: #ee9d28!important; }
.codicon.codicon-symbol-enum-member { color: #75beff!important; }
.codicon.codicon-symbol-event { color: #ee9d28!important; }
.codicon.codicon-symbol-field { color: #75beff!important; }
.codicon.codicon-symbol-file { color: #cccccc!important; }
.codicon.codicon-symbol-folder { color: #cccccc!important; }
.codicon.codicon-symbol-function { color: #b180d7!important; }
.codicon.codicon-symbol-interface { color: #75beff!important; }
.codicon.codicon-symbol-key { color: #cccccc!important; }
.codicon.codicon-symbol-keyword { color: #cccccc!important; }
.codicon.codicon-symbol-module { color: #cccccc!important; }
.codicon.codicon-symbol-namespace { color: #cccccc!important; }
.codicon.codicon-symbol-null { color: #cccccc!important; }
.codicon.codicon-symbol-number { color: #cccccc!important; }
.codicon.codicon-symbol-object { color: #cccccc!important; }
.codicon.codicon-symbol-operator { color: #cccccc!important; }
.codicon.codicon-symbol-package { color: #cccccc!important; }
.codicon.codicon-symbol-property { color: #cccccc!important; }
.codicon.codicon-symbol-reference { color: #cccccc!important; }
.codicon.codicon-symbol-snippet { color: #cccccc!important; }
.codicon.codicon-symbol-string { color: #cccccc!important; }
.codicon.codicon-symbol-struct { color: #cccccc!important; }
.codicon.codicon-symbol-text { color: #cccccc!important; }
.codicon.codicon-symbol-type-parameter { color: #cccccc!important; }
.codicon.codicon-symbol-unit { color: #cccccc!important; }
.codicon.codicon-symbol-variable { color: #75beff!important; }
.monaco-editor .monaco-editor-overlaymessage .anchor.below { border-top-color: #007acc!important; }
.monaco-editor .monaco-editor-overlaymessage .anchor.top { border-bottom-color: #007acc!important; }
.monaco-editor .monaco-editor-overlaymessage .message { border: 1px solid #007acc!important; }
.monaco-editor .monaco-editor-overlaymessage .message { background-color: #063b49!important; }
.monaco-editor .accessibilityHelpWidget { background-color: #252526!important; }
.monaco-editor .accessibilityHelpWidget { color: #cccccc!important; }
.monaco-editor .accessibilityHelpWidget { box-shadow: 0 2px 8px rgba(0, 0, 0, 0.36)!important; }
.monaco-editor .tokens-inspect-widget { border: 1px solid #454545!important; }
.monaco-editor .tokens-inspect-widget .tokens-inspect-separator { background-color: #454545!important; }
.monaco-editor .tokens-inspect-widget { background-color: #252526!important; }
.monaco-editor .tokens-inspect-widget { color: #cccccc!important; }

			.monaco-editor .zone-widget .codicon.codicon-error,
			.markers-panel .marker-icon.codicon.codicon-error,
			.text-search-provider-messages .providerMessage .codicon.codicon-error,
			.extensions-viewlet > .extensions .codicon.codicon-error {
				color: #f14c4c;
			}
		

			.monaco-editor .zone-widget .codicon.codicon-warning,
			.markers-panel .marker-icon.codicon.codicon-warning,
			.extensions-viewlet > .extensions .codicon.codicon-warning,
			.extension-editor .codicon.codicon-warning,
			.text-search-provider-messages .providerMessage .codicon.codicon-warning,
			.preferences-editor .codicon.codicon-warning {
				color: #cca700;
			}
		

			.monaco-editor .zone-widget .codicon.codicon-info,
			.markers-panel .marker-icon.codicon.codicon-info,
			.extensions-viewlet > .extensions .codicon.codicon-info,
			.text-search-provider-messages .providerMessage .codicon.codicon-info,
			.extension-editor .codicon.codicon-info {
				color: #3794ff;
			}
		
.monaco-diff-editor .diff-review-line-number { color: #858585!important; }
.monaco-diff-editor .diff-review-shadow { box-shadow: #000000 0 -6px 6px -6px inset!important; }
.monaco-editor .parameter-hints-widget { border: 1px solid #454545!important; }
.monaco-editor .parameter-hints-widget.multiple .body { border-left: 1px solid rgba(69, 69, 69, 0.5)!important; }
.monaco-editor .parameter-hints-widget .signature.has-docs { border-bottom: 1px solid rgba(69, 69, 69, 0.5)!important; }
.monaco-editor .parameter-hints-widget { background-color: #252526!important; }
.monaco-editor .parameter-hints-widget a { color: #3794ff!important; }
.monaco-editor .parameter-hints-widget a:hover { color: #3794ff!important; }
.monaco-editor .parameter-hints-widget { color: #cccccc!important; }
.monaco-editor .parameter-hints-widget code { background-color: rgba(10, 10, 10, 0.4)!important; }
.monaco-editor .parameter-hints-widget .parameter.active { color: #18a3ff}
.monaco-editor .lines-content .core-guide-indent { box-shadow: 1px 0 0 0 #404040 inset!important; }
.monaco-editor .lines-content .core-guide-indent-active { box-shadow: 1px 0 0 0 #707070 inset!important; }
.monaco-editor .bracket-indent-guide.lvl-0 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-1 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-2 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-3 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-4 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-5 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-6 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-7 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-8 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-9 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-10 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-11 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-12 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-13 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-14 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-15 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-16 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-17 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-18 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-19 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-20 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-21 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-22 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-23 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-24 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-25 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-26 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .bracket-indent-guide.lvl-27 { --guide-color: rgba(255, 215, 0, 0.3); --guide-color-active: #ffd700!important; }
.monaco-editor .bracket-indent-guide.lvl-28 { --guide-color: rgba(218, 112, 214, 0.3); --guide-color-active: #da70d6!important; }
.monaco-editor .bracket-indent-guide.lvl-29 { --guide-color: rgba(23, 159, 255, 0.3); --guide-color-active: #179fff!important; }
.monaco-editor .vertical { box-shadow: 1px 0 0 0 var(--guide-color) inset!important; }
.monaco-editor .horizontal-top { border-top: 1px solid var(--guide-color)!important; }
.monaco-editor .horizontal-bottom { border-bottom: 1px solid var(--guide-color)!important; }
.monaco-editor .vertical.indent-active { box-shadow: 1px 0 0 0 var(--guide-color-active) inset!important; }
.monaco-editor .horizontal-top.indent-active { border-top: 1px solid var(--guide-color-active)!important; }
.monaco-editor .horizontal-bottom.indent-active { border-bottom: 1px solid var(--guide-color-active)!important; }
.monaco-editor .squiggly-error { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23f14c4c'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left!important; }
.monaco-editor .squiggly-warning { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%23cca700'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left!important; }
.monaco-editor .squiggly-info { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%206%203'%20enable-background%3D'new%200%200%206%203'%20height%3D'3'%20width%3D'6'%3E%3Cg%20fill%3D'%233794ff'%3E%3Cpolygon%20points%3D'5.5%2C0%202.5%2C3%201.1%2C3%204.1%2C0'%2F%3E%3Cpolygon%20points%3D'4%2C0%206%2C2%206%2C0.6%205.4%2C0'%2F%3E%3Cpolygon%20points%3D'0%2C2%201%2C3%202.4%2C3%200%2C0.6'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") repeat-x bottom left!important; }
.monaco-editor .squiggly-hint { background: url("data:image/svg+xml,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20height%3D%223%22%20width%3D%2212%22%3E%3Cg%20fill%3D%22rgba(238%2C%20238%2C%20238%2C%200.7)%22%3E%3Ccircle%20cx%3D%221%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%225%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3Ccircle%20cx%3D%229%22%20cy%3D%221%22%20r%3D%221%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E") no-repeat bottom left!important; }
.monaco-editor.showUnused .squiggly-inline-unnecessary { opacity: 0.667!important; }
.monaco-editor.showDeprecated .squiggly-inline-deprecated { text-decoration: line-through; text-decoration-color: #d4d4d4}
.monaco-editor .line-insert, .monaco-editor .char-insert { background-color: rgba(155, 185, 85, 0.2)!important; }
.monaco-diff-editor .line-insert, .monaco-diff-editor .char-insert { background-color: rgba(155, 185, 85, 0.2)!important; }
.monaco-editor .inline-added-margin-view-zone { background-color: rgba(155, 185, 85, 0.2)!important; }
.monaco-editor .line-delete, .monaco-editor .char-delete { background-color: rgba(255, 0, 0, 0.2)!important; }
.monaco-diff-editor .line-delete, .monaco-diff-editor .char-delete { background-color: rgba(255, 0, 0, 0.2)!important; }
.monaco-editor .inline-deleted-margin-view-zone { background-color: rgba(255, 0, 0, 0.2)!important; }
.monaco-diff-editor.side-by-side .editor.modified { box-shadow: -6px 0 5px -5px #000000!important; }

			.monaco-diff-editor .diffViewport {
				background: rgba(121, 121, 121, 0.4);
			}
		

			.monaco-diff-editor .diffViewport:hover {
				background: rgba(100, 100, 100, 0.7);
			}
		

			.monaco-diff-editor .diffViewport:active {
				background: rgba(191, 191, 191, 0.4);
			}
		

	.monaco-editor .diagonal-fill {
		background-image: linear-gradient(
			-45deg,
			rgba(204, 204, 204, 0.2) 12.5%,
			#0000 12.5%, #0000 50%,
			rgba(204, 204, 204, 0.2) 50%, rgba(204, 204, 204, 0.2) 62.5%,
			#0000 62.5%, #0000 100%
		);
		background-size: 8px 8px;
	}
	
.monaco-editor .bracket-match { background-color: rgba(0, 100, 0, 0.1)!important; }
.monaco-editor .bracket-match { border: 1px solid #888888!important; }

		.monaco-editor .contentWidgets .codicon.codicon-light-bulb {
			color: #ffcc00;
			background-color: rgba(30, 30, 30, 0.7);
		}

		.monaco-editor .contentWidgets .codicon.codicon-lightbulb-autofix {
			color: #75beff;
			background-color: rgba(30, 30, 30, 0.7);
		}
.monaco-editor .codelens-decoration { color: #999999!important; }
.monaco-editor .codelens-decoration .codicon { color: #999999!important; }
.monaco-editor .codelens-decoration > a:hover { color: #4e94ce !important; }
.monaco-editor .codelens-decoration > a:hover .codicon { color: #4e94ce !important; }
.monaco-editor .findOptionsWidget { background-color: #252526!important; }
.monaco-editor .findOptionsWidget { color: #cccccc!important; }
.monaco-editor .findOptionsWidget { box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.36)!important; }
.monaco-editor .findMatch { background-color: rgba(234, 92, 0, 0.33)!important; }
.monaco-editor .currentFindMatch { background-color: #515c6a!important; }
.monaco-editor .findScope { background-color: rgba(58, 61, 65, 0.4)!important; }
.monaco-editor .find-widget { background-color: #252526!important; }
.monaco-editor .find-widget { box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.36)!important; }
.monaco-editor .find-widget { color: #cccccc!important; }
.monaco-editor .find-widget.no-results .matchesCount { color: #f48771!important; }
.monaco-editor .find-widget .monaco-sash { background-color: #454545!important; }

		.monaco-editor .find-widget .button:not(.disabled):hover,
		.monaco-editor .find-widget .codicon-find-selection:hover {
			background-color: rgba(90, 93, 94, 0.31) !important;
		}
	
.monaco-editor .find-widget .monaco-inputbox.synthetic-focus { outline-color: #007fd4!important; }
.monaco-editor .folded-background { background-color: rgba(38, 79, 120, 0.3)!important; }

		.monaco-editor .cldr.codicon.codicon-folding-expanded,
		.monaco-editor .cldr.codicon.codicon-folding-collapsed {
			color: #c5c5c5 !important;
		}
		
.monaco-editor.vs .valueSetReplacement { outline: solid 2px #888888!important; }
.monaco-editor .ghost-text-decoration { opacity: 0.337 !important; color: #ffffff !important; }
.monaco-editor .ghost-text-decoration-preview { color: rgba(255, 255, 255, 0.34) !important; }
.monaco-editor .suggest-preview-text .ghost-text { opacity: 0.337 !important; color: #ffffff !important; }
.monaco-editor .linked-editing-decoration { background: rgba(255, 0, 0, 0.3); border-left-color: rgba(255, 0, 0, 0.3)!important; }
.monaco-editor .detected-link-active { color: #4e94ce !important; }
.monaco-editor .suggest-widget .monaco-list .monaco-list-row .monaco-highlighted-label .highlight { color: #18a3ff!important; }
.monaco-editor .suggest-widget .monaco-list .monaco-list-row.focused .monaco-highlighted-label .highlight { color: #18a3ff!important; }
.monaco-editor .suggest-widget, .monaco-editor .suggest-details { color: #d4d4d4!important; }
.monaco-editor .suggest-widget .monaco-list .monaco-list-row.focused { color: #ffffff!important; }
.monaco-editor .suggest-details a { color: #3794ff!important; }
.monaco-editor .suggest-details a:hover { color: #3794ff!important; }
.monaco-editor .suggest-details code { background-color: rgba(10, 10, 10, 0.4)!important; }
.monaco-editor .focused .selectionHighlight { background-color: rgba(173, 214, 255, 0.15)!important; }
.monaco-editor .selectionHighlight { background-color: rgba(173, 214, 255, 0.07)!important; }
.monaco-editor .wordHighlight { background-color: rgba(87, 87, 87, 0.72)!important; }
.monaco-editor .wordHighlightStrong { background-color: rgba(0, 73, 114, 0.72)!important; }
.monaco-editor .marker-widget a.code-link span { color: #3794ff!important; }
.monaco-editor .marker-widget a.code-link span:hover { color: #3794ff!important; }
.monaco-editor .reference-zone-widget .ref-tree .referenceMatch .highlight { background-color: rgba(234, 92, 0, 0.3)!important; }
.monaco-editor .reference-zone-widget .preview .reference-decoration { background-color: rgba(255, 143, 0, 0.6)!important; }
.monaco-editor .reference-zone-widget .ref-tree { background-color: #252526!important; }
.monaco-editor .reference-zone-widget .ref-tree { color: #bbbbbb!important; }
.monaco-editor .reference-zone-widget .ref-tree .reference-file { color: #ffffff!important; }
.monaco-editor .reference-zone-widget .ref-tree .monaco-list:focus .monaco-list-rows > .monaco-list-row.selected:not(.highlighted) { background-color: rgba(51, 153, 255, 0.2)!important; }
.monaco-editor .reference-zone-widget .ref-tree .monaco-list:focus .monaco-list-rows > .monaco-list-row.selected:not(.highlighted) { color: #ffffff !important; }
.monaco-editor .reference-zone-widget .preview .monaco-editor .monaco-editor-background,.monaco-editor .reference-zone-widget .preview .monaco-editor .inputarea.ime-input {	background-color: #001f33;}
.monaco-editor .reference-zone-widget .preview .monaco-editor .margin {	background-color: #001f33;}
.monaco-editor .goto-definition-link { color: #4e94ce !important; }
.monaco-hover .hover-contents a.code-link span { color: #3794ff!important; }
.monaco-hover .hover-contents a.code-link span:hover { color: #3794ff!important; }
.monaco-editor .snippet-placeholder { background-color: rgba(124, 124, 124, 0.3); outline-color: transparent!important; }
.monaco-editor .finish-snippet-placeholder { background-color: transparent; outline-color: #525252!important; }
.monaco-editor .hoverHighlight { background-color: rgba(38, 79, 120, 0.25)!important; }
.monaco-editor .monaco-hover { background-color: #252526!important; }
.monaco-editor .monaco-hover { border: 1px solid #454545!important; }
.monaco-editor .monaco-hover .hover-row:not(:first-child):not(:empty) { border-top: 1px solid rgba(69, 69, 69, 0.5)!important; }
.monaco-editor .monaco-hover hr { border-top: 1px solid rgba(69, 69, 69, 0.5)!important; }
.monaco-editor .monaco-hover hr { border-bottom: 0px solid rgba(69, 69, 69, 0.5)!important; }
.monaco-editor .monaco-hover a { color: #3794ff!important; }
.monaco-editor .monaco-hover a:hover { color: #3794ff!important; }
.monaco-editor .monaco-hover { color: #cccccc!important; }
.monaco-editor .monaco-hover .hover-row .actions { background-color: #2c2c2d!important; }
.monaco-editor .monaco-hover code { background-color: rgba(10, 10, 10, 0.4)!important; }

.mtk1 { color: #d4d4d4!important; }
.mtk2 { color: #1e1e1e!important; }
.mtk3 { color: #cc6666!important; }
.mtk4 { color: #9cdcfe!important; }
.mtk5 { color: #ce9178!important; }
.mtk6 { color: #b5cea8!important; }
.mtk7 { color: #608b4e!important; }
.mtk8 { color: #569cd6!important; }
.mtk9 { color: #dcdcdc!important; }
.mtk10 { color: #808080!important; }
.mtk11 { color: #f44747!important; }
.mtk12 { color: #c586c0!important; }
.mtk13 { color: #a79873!important; }
.mtk14 { color: #dd6a6f!important; }
.mtk15 { color: #5bb498!important; }
.mtk16 { color: #909090!important; }
.mtk17 { color: #778899!important; }
.mtk18 { color: #ff00ff!important; }
.mtk19 { color: #b46695!important; }
.mtk20 { color: #ff0000!important; }
.mtk21 { color: #4f76ac!important; }
.mtk22 { color: #3dc9b0!important; }
.mtk23 { color: #74b0df!important; }
.mtk24 { color: #4864aa!important; }
.mtki { font-style: italic!important; }
.mtkb { font-weight: bold!important; }
.mtku { text-decoration: underline; text-underline-position: under!important; }