
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* EMBY ORGANIZR-DARK THEME */
@import url("https://gflix.app/theme.park/CSS/themes/emby/emby-base.css");

:root {
    --theme-primary-color: #2cabe3;
    --theme-text-color: #96a2b4;
    --theme-text-color-opaque: #fff;
    --theme-accent-text-color: #2cabe3;
    --theme-primary-color-lightened: rgba(44, 171, 227 , 0.8);
    --theme-icon-focus-background: rgba(44, 171, 227 , 0.2);

    --theme-background: #1f1f1f;
    --header-blur-background: rgba(20,20,20,0.66);
    --drawer-background: #2C2C2E;
    --docked-drawer-background: #1C1C1E;
    --button-background: #242424;
    --card-background: #242424;
    --footer-background: #1d1d1d;
    --footer-blur-background: rgba(29,29,31,0.66);
    
    --header-background: var(--theme-background);
    --theme-body-secondary-text-color: rgba(255, 255, 255, .6);
    --line-background: rgba(255, 255, 255, .08);
    --line-size: .08em;
    --scrollbar-thumb-background: rgba(255,255,255,.3);
}

@media (pointer: fine) {
    :not(.layout-tv):root {
        --theme-background: #1f1f1f;
        --header-blur-background: rgba(20,20,20,0.66);
        --drawer-background: #2C2C2E;
        --docked-drawer-background: #1C1C1E;
        --button-background: #242424;
        --card-background: #242424;
        --footer-background: #1d1d1d;
        --footer-blur-background: rgba(29,29,31,0.66);
    }
}

.layout-tv:root {
    --theme-background: #1f1f1f;
    --header-blur-background: rgba(20,20,20,0.66);
    --drawer-background: #2C2C2E;
    --docked-drawer-background: #1C1C1E;
    --button-background: #242424;
    --card-background: #242424;
    --footer-background: #1d1d1d;
    --footer-blur-background: rgba(29,29,31,0.66);
}