
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* BAZARR AQUAMARINE THEME */
@import url(https://theme-park.dev/CSS/themes/bazarr/bazarr-base.css);
:root {
  --main-bg-color: #282a36;
  --modal-bg-color: #282a36;

  --button-color: #bd93f9;
  --button-color-hover: #ff79c6;
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color:  80, 250, 123;
  --accent-color-hover: #50fa7b;
  --queue-color: #50fa7b;
  --link-color: #ff79c6;
  --link-color-hover: #8be9fd;
  --label-text-color: #282a36;
    
  --text:#6272a4;
  --text-hover: #95adfa;
  --text-muted: #999;
}