
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */
  body {
      background: var(--main-bg-color);
  }
  
  /* Text */
  .text-muted, .help-block, .small-muted ,h1 small, h2 small, h3 small, h4 small, h5 small, h6 small, .h1 small, .h2 small, .h3 small, .h4 small, .h5 small, .h6 small, h1 .small, h2 .small, h3 .small, h4 .small, h5 .small, h6 .small, .h1 .small, .h2 .small, .h3 .small, .h4 .small, .h5 .small, .h6 .small {
      color: #FFF;
  }
  a.no-highlight {
      color: #dedede;
  }
  #plexpy-notifiers-table .friendly_name, #notifier-config-modal span.notifier_id, #plexpy-newsletters-table .friendly_name, #newsletter-config-modal span.newsletter_id, #plexpy-mobile-devices-table .friendly_name, #mobile-device-config-modal span.notifier_id {
      color: #fff;
  }
  /* Navbar */
  .navbar {
      background: var(--main-bg-color);
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      box-shadow: none;
  }
  #search_form #search_button.btn-inactive {
      background-color: #0000;
  }
  .nav > li.active > a, .nav > li.active > a:hover, .nav > li.active > a:focus {
      color: #f9be03;
      background-color: rgba(0, 0, 0, 0.25);
  }
  .nav > li > a {
      color: #FFF;
  }
  .nav > li > a:hover, .nav > li > a:focus {
      background-color: rgba(255, 255, 255, 0.08);
  }
  .nav .open > a, .nav .open > a:hover, .nav .open  > a:focus {
      background-color: rgba(255, 255, 255, 0.08);
  }
  
  /* Dropdown */
  .dropdown-menu {
      background: var(--modal-bg-color);
  }
  .dropdown-menu > li > a {
      color: #FFF;
  }
  .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
      background-color: rgba(255, 255, 255, 0.08);
  }
  .dropdown-menu .divider {
      background-color: rgba(255, 255, 255, 0.08);
  }
  select, .react-selectize.bootstrap3.root-node .react-selectize-control {
      background: rgba(0, 0, 0, 0.25);
  }
  
  /* Dashboard */
  .dashboard-stats-background, .dashboard-activity-background, .dashboard-activity-poster-container {
      background-color: rgba(0, 0, 0, 0.25);
  }
  .dashboard-activity-progress-bar {
      background-color: rgba(0, 0, 0, 0.25);
  }
  .dashboard-activity-progress .buffer-bar {
      background-color: rgba(255, 255, 255, 0.25);
  }
  .dashboard-activity-metadata-user a {
      color: #fff;
  }
  .dashboard-activity-metadata-subtitle-container {
      color: #fff;
  }
  .dashboard-recent-media-metacontainer h3.text-muted a {
      color: #fff;
  }
  .dashboard-recent-media-metacontainer h3.text-muted {
      color: #fff;
  }
  /* Buttons */
  .btn-dark {
      background-color: rgba(0, 0, 0, 0.25);
      border-color: transparent;
  }
  .btn-dark:hover {
      color: #d7d7d7;
      background-color: rgba(255, 255, 255, 0.08);
      border-color: transparent;
  }
  .btn-dark:active, .btn-dark.active, .open > .dropdown-toggle.btn-dark, .btn-dark.active:focus {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.45);
      border-color: transparent;
  }
  .btn:focus, .btn.focus, .btn-dark:focus, .btn-dark.focus, .btn-dark:active:focus {
     color: #fff;
     background-color: rgba(0, 0, 0, 0.45) !important;
  }
   .btn-dark.active:hover {
      background-color: rgba(255, 255, 255, 0.08);
  }
   .btn-dark.inactive:hover {
      background-color: rgba(255, 255, 255, 0.08);
  }
  .btn-danger.btn-edit {
      background-color: rgba(255, 255, 255, 0.25);
  }
  .btn-form {
      background-color: rgba(0, 0, 0, 0.45);
  }
  .btn-form:hover {
      background-color: rgba(255, 255, 255, 0.08);
  }
  
  /* Inputs */
  textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
      background-color: rgba(0, 0, 0, 0.25);
  }
  .react-selectize.root-node .react-selectize-control, .selectize-control.form-control .selectize-input {
      background: rgba(0, 0, 0, 0.25) !important;
  }
  
  /*Formcontrol */
  select.form-control, div.form-control .selectize-input {
      background-color: rgba(0, 0, 0, 0.25);
  }
  @media (min-width: 768px) {
  .form-inline .input-group > .form-control {
      width: auto;
  }
  }
  .form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
      background-color: rgba(236, 236, 236, 0.25);
  }
  textarea.form-control {
      background-color: rgba(0, 0, 0, 0.25);
  }
  textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
      color: #fff;
      background: rgba(0, 0, 0, 0.25);
  }
  .form-control:focus {
      border-color: transparent;
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
  }
  /* Settings table cards */
  .table-card-header {
      background-color: rgba(0, 0, 0, 0.25);
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
      border-top: 1px solid #00000000;
  }
  .table-card-back {
      background-color: rgba(0, 0, 0, 0.15);
  }
  table.display thead th {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.25);
  }
  table.display thead tr:hover {
      background-color: rgba(0, 0, 0, 0.45);
  }
  /*Settings menu */
  .card-back-full {
      background-color: transparent;
  }
  .nav-settings > li > a {
      border-bottom: 1px solid transparent;
      color: #fff;
  }
  .nav-settings > li {
      background-color: rgba(0, 0, 0, 0.45);
      border-top: 1px solid transparent;
  }
  .nav-settings > .active > a, .nav-settings > .active > a:hover, .nav-settings > .active > a:focus {
      background-color: rgba(0, 0, 0, 0.25);
  }
  .nav-settings > li > a:hover, .nav-settings > li > a:focus {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.08);
  }
  .card {
      background-color: rgba(0, 0, 0, 0.25);
      border-top: 1px solid #00000000;
  }
  .card-sortable {
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  .card-handle {
      color: #fff;
      background-color: rgba(0, 0, 0, 0.25);
  }
      /*Notification agents menu */
      .stacked-configs > li {
      background-color: rgba(0, 0, 0, 0.25);
  }
  .stacked-configs > li > span {
      color: #FFF;
      border-left: 2px solid rgba(0, 0, 0, 0.25);
      border-top: 1px solid rgba(255, 255, 255, 0.08);
  }
  .stacked-configs > li > span:hover, .stacked-configs > li > span:focus {
      color: #fff;
      background-color: rgba(255, 255, 255, 0.08);
  }
  .stacked-configs > li > span > a.toggle-left, .stacked-configs > li > span > span.toggle-left {
    color: #999;
  }
span > a.active, .stacked-configs > li > span > span.active {
    color: #f9be03;
  }
  .inline-pre {
      background-color: rgba(255, 255, 255, 0.25);
  }
  /* Summary containers */
  .summary-container .table-card-header, .summary-container .table-card-back {
      background: rgba(0, 0, 0, 0.45);
  }
  .summary-navbar {
      background-color: rgba(0, 0, 0, 0.25);
  }
  
  /* pagination */
  .pagination > .disabled > span, .pagination > .disabled > span:hover, .pagination > .disabled > span:focus, .pagination > .disabled > a, .pagination > .disabled > a:hover, .pagination > .disabled > a:focus {
      background-color: rgba(0, 0, 0, 0.25);
      border-color: #00000000;
  }
  .pagination > li > a, .pagination > li > span {
      background-color: rgba(0, 0, 0, 0.25);
      border: 1px solid #00000000;
  }
  .pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus {
      background-color: rgba(255, 255, 255, 0.08);
      border: 1px solid #00000000;
      color: #FFF;
  }
  /* Graphs */
  .graphs-instance {
      background-color: rgba(0, 0, 0, 0.45);
  }
  /* Modal */
  .modal-body li {
      color: #fff;
  }
  .modal-body {
      background: var(--modal-bg-color);
  }
  .modal-header {
      background: var(--modal-bg-color);
      border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  }
  .modal-footer {
      background: var(--modal-bg-color);
      border-top: 1px solid rgba(255, 255, 255, 0.15);	
  }
  .modal-config-section {
      border-top: 1px solid rgba(255, 255, 255, .08);
  }
  #changelog-modal .modal-body > h2 {
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  #notifier-config-modal .nav-tabs > li > a, #newsletter-config-modal .nav-tabs > li > a {
      color: #ffffff;
  }
  #notifier-config-modal .nav-tabs > li.active > a, #notifier-config-modal .nav-tabs > li.active > a:hover, #notifier-config-modal .nav-tabs > li.active > a:focus, #newsletter-config-modal .nav-tabs > li.active > a, #newsletter-config-modal .nav-tabs > li.active > a:hover, #newsletter-config-modal .nav-tabs > li.active > a:focus {
      color: #fff;
      background: rgba(0, 0, 0, 0.45);
  }
  #notifier-config-modal .nav-tabs > li.active > a, #notifier-config-modal .nav-tabs > li.active > a:hover, #notifier-config-modal .nav-tabs > li.active > a:focus, #newsletter-config-modal .nav-tabs > li.active > a, #newsletter-config-modal .nav-tabs > li.active > a:hover, #newsletter-config-modal .nav-tabs > li.active > a:focus {
      border: 1px solid #0000;
      border-bottom-color: transparent;
  }
  #notifier-config-modal .nav-tabs > li > a:hover, #newsletter-config-modal .nav-tabs > li > a:hover {
      border-color: #0000;
      background: rgba(255, 255, 255, 0.08);
  }
  #notifier-config-modal .nav-tabs, #newsletter-config-modal .nav-tabs {
      border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  }
  .accordion {
      background: rgba(0, 0, 0, 0.25);
  }
  .accordion li .link {
      color: #fff;
      border-bottom: 1px solid rgba(255, 255, 255, 0.08);
  }
  .accordion li .link:hover, .accordion li .link:hover i.fa {
      background: rgba(255, 255, 255, 0.08);
  }
  .submenu {
      background: rgba(0, 0, 0, 0.25);
  }
  /* Stream info */
  .stream-info {
      background-color: rgba(0, 0, 0, 0.25);
  }
  /* Edit metadata */
  .item-children-section-title {
      background-color: rgba(255, 255, 255, 0.08);
      border-bottom: 1px solid #00000000;
      border-top: 1px solid #00000000;
  }
  
  /* Mobile */
  .navbar-toggle:hover, .navbar-toggle:focus {
      background-color: rgba(255, 255, 255, 0.08);
  }
  .navbar-toggle {
      background-color: rgba(255, 255, 255, 0.08);
  }