@media (min-width: 752px) {
    [class*="PageHeader-logo-"]  {
        display: none !important;
    }
    [class*="PageHeader-logoContainer-"]:before {
        background-image: url("https://theme-park.dev/CSS/addons/readarr/readarr-alt-logo/readarr_alt.png");
        display: inline-block;
        width: 34px; 
        height: 34px;
        content:"";
        background-size:  cover;
        -webkit-background-size:  cover;
        -moz-background-size:  cover;
        -o-background-size: cover;
    }    
} 

@media (max-width: 767px) {
    [class*="PageHeader-logo-"]   {
        display: none !important;
    }   
    [class*="PageHeader-logoContainer-"]:before {
        background-image: url("https://theme-park.dev/CSS/addons/readarr/readarr-alt-logo/readarr_alt.png");
        display: inline-block;
        width: 34px; 
        height: 34px;
        content:"";
        background-size:  cover;
        -webkit-background-size:  cover;
        -moz-background-size:  cover;
        -o-background-size: cover;
    } 
}

[class*="LoadingPage-logoFull-"] {
    display: none !important;
}

[class*="LoadingPage-page-"]:before {
        background-image: url("https://theme-park.dev/CSS/addons/readarr/readarr-alt-logo/readarr_alt.png");
        display: inline-block;
        width: 48px; 
        height: 48px;
        content:"";
        background-size:  cover;
        -webkit-background-size:  cover;
        -moz-background-size:  cover;
        -o-background-size: cover;
        margin-top: 50px;
        margin-right: auto;
        margin-left: auto;

}
