@media (min-width: 752px) {
    [class*="PageHeader-logo-"] {
        content: url("/css/addons/readarr/readarr-alt-logo/readarr_alt.png");
    }
}

@media only screen and (max-width: 768px) {
    [class*="PageHeader-logo-"] {
        content: url("/css/addons/readarr/readarr-alt-logo/readarr_alt.png");
    }
}

[class*="LoadingPage-logoFull-"] {
    content: url("/css/addons/readarr/readarr-alt-logo/readarr_alt.png");
    opacity: 1;
}