
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

/* READARR DARK THEME */
@import url(https://gilbn.github.io/theme.park/CSS/themes/readarr/readarr-base.css);
:root {
  --main-bg-color: radial-gradient(circle, #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(circle , #3a3a3a, #2d2d2d, #202020, #141414, #000000) center center/cover no-repeat fixed;

  --calendar-Downloading: 122 67 182; 
  --calendar-Downloaded: 39 194 76;
  --calendar-Unreleased: 93, 156, 236;
  --calendar-Partial: 255, 165, 0;  
  --calendar-Unmonitored: 173 173 173;
  --calendar-Missing: 240 80 80;

  --button-color: hsla(0,0%,100%,.15);
  --button-color-hover: hsla(0,0%,100%,.30);
  --accent-color:  rgba(255, 255, 255, 0.25);
  --accent-color-hover: rgba(255, 255, 255, 0.45);
  }