:root {
  --main-bg-color: radial-gradient(ellipse at center, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;
  --modal-bg-color: radial-gradient(ellipse at top, #47918a 0%, #0b3161 100%) center center/cover no-repeat fixed;

  --button-color: #009688;
  --button-color-hover: #12afa0;
  --button-text: #eee;
  --button-text-hover: #FFF;

  --accent-color:  0, 150, 136;
  --accent-color-hover: #12afa0;
  --link-color: #0ed2bf;
  --link-color-hover: #fff;
  --label-text-color: #fff;

  --text:#eee;
  --text-hover: #fff;
  --text-muted: #bbb;
}