:root {
  --main-bg-color: #1f1f1f;

  --modal-bg-color: #333;
  --modal-header-color: #232323;
  --modal-footer-color: #232323;

  --drop-down-menu-bg: #1b1b1b;

  --button-color: #2cabe3;
  --button-color-hover: rgb(44 171 227 / .8);
  --button-text: #eee;
  --button-text-hover: #fff;

  --accent-color:  44, 171, 227;
  --accent-color-hover: rgb(var(--accent-color),.8);
  --link-color: #2cabe3;
  --link-color-hover: #3cc5ff;
  --label-text-color: #fff;
    
  --text:#96a2b4;
  --text-hover: #fff;
  --text-muted: #999;

  /*Specials*/
  --queue-color: #2cabe3; /* Servarr apps + Bazarr*/
  --poster-unwatched: #2cabe3;/* Plex */
  --spinner: invert(65%) sepia(83%) saturate(2026%) hue-rotate(167deg) brightness(90%) contrast(97%); /* Petio */ /* Made with https://codepen.io/jsm91/embed/ZEEawyZ */

  --gitea-color-secondary-alpha-70: rgba(0, 0, 0, 0.35);
  --gitea-color-primary-light-4: #002A57;
  --gitea-color-primary-light-2: #004878;
  --gitea-color-primary: #00679A;
  --gitea-color-primary-dark-2: #0088BE; 
  --gitea-color-primary-dark-4: #2CABE3;
}