:root {
  --main-bg-color: url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/blur-noise.png"), url("https://raw.githubusercontent.com/gilbN/theme.park/master/Resources/preset-light2.png") center center/cover no-repeat fixed;
  
  --modal-bg-color: #282828;
  --modal-header-color: #282828;
  --modal-footer-color: #323232;

  --drop-down-menu-bg: #191a1c;

  --button-color: #cc7b19;
  --button-color-hover: #e59029;
  --button-text: #eee;
  --button-text-hover: #fff;

  --accent-color:  229, 160, 13;
  --accent-color-hover: #ffc107;
  --link-color: #e5a00d;
  --link-color-hover: #fff;
  --label-text-color: #fff;
    
  --text:#eee;
  --text-hover: #fff;
  --text-muted: #bbb;
}