 :root {
   /* 
     --main-bg-color: url(/resources/blur-noise.png), url(/resources/preset-light2.png) center center/cover no-repeat fixed;
     --modal-bg-color: url(/resources/blur-noise.png), url(/resources/preset-dark2.png) center center/cover no-repeat fixed;
     --main-bg-color: url(/resources/blur-noise.png) repeat scroll 0% 0%, radial-gradient(circle at 0% 100%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 100% 100%, rgba(113, 135, 153, 0.55) 0%, rgba(113, 135, 153, 0.043) 70%, rgba(113, 135, 153, 0) 80%), radial-gradient(circle at 100% 0%, rgba(54, 66, 84, 0.55) 0%, rgba(54, 66, 84, 0.043) 70%, rgba(54, 66, 84, 0) 80%), radial-gradient(circle at 0% 0%, rgba(91, 114, 135, 0.55) 0%, rgba(91, 114, 135, 0.043) 70%, rgba(91, 114, 135, 0) 80%), rgb(0, 0, 0) center center/cover no-repeat fixed;
     */
   --main-bg-color: radial-gradient(circle farthest-side at 0% 100%, rgb(47, 47, 47) 0%, rgba(47, 47, 47, 0) 100%), radial-gradient(circle farthest-side at 100% 100%, rgb(63, 63, 63) 0%, rgba(63, 63, 63, 0) 100%), radial-gradient(circle farthest-side at 100% 0%, rgb(76, 76, 76) 0%, rgba(76, 76, 76, 0) 100%), radial-gradient(circle farthest-side at 0% 0%, rgb(58, 58, 58) 0%, rgba(58, 58, 58, 0) 100%), black center center/cover no-repeat fixed;
   --modal-bg-color: #282828;
   --modal-header-color: #323232;
   --modal-footer-color: #323232;

   --drop-down-menu-bg: #191a1c;

   --button-color: #cc7b19;
   --button-color-hover: #e59029;
   --button-text: #eee;
   --button-text-hover: #fff;

   --accent-color: 229, 160, 13;
   --accent-color-hover: #ffc107;
   --link-color: #e5a00d;
   --link-color-hover: #fff;
   --label-text-color: #333;

   --text:#ddd;
   --text-hover: #fff;
   --text-muted: #999;

    /*Specials*/
    --arr-queue-color: #27c24c; /* Servarr apps + Bazarr*/
    --plex-poster-unwatched: #e5a00d;
    --petio-spinner: invert(0%) sepia(0%) saturate(100%) hue-rotate(0deg) brightness(100%) contrast(100%);/* Made with https://codepen.io/jsm91/embed/ZEEawyZ */
    --gitea-color-primary-dark-4: 255, 193, 7;
    --overseerr-gradient: radial-gradient(circle farthest-side at 0% 100%, rgb(47, 47, 47) 0%, rgba(47, 47, 47, 0) 100%), radial-gradient(circle farthest-side at 100% 100%, rgb(63, 63, 63) 0%, rgba(63, 63, 63, 0) 100%), radial-gradient(circle farthest-side at 100% 0%, rgb(76, 76, 76) 0%, rgba(76, 76, 76, 0) 100%), radial-gradient(circle farthest-side at 0% 0%, rgb(58, 58, 58) 0%, rgba(58, 58, 58, 0) 100%), rgba(0, 0, 0, 0.5) center center/cover no-repeat fixed;
  }