
/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

body {
	color:#FFFFFF !important;
	background: var(--main-bg-color) !important;
}
.theme-dark, .theme-light, .preloader {
	background: var(--main-bg-color) !important;
	background-repeat: repeat, no-repeat!important;
	background-attachment: fixed, fixed!important;
	background-position: center center, center center!important;
	background-size: auto, cover!important;
	-webkit-background-size: auto, cover!important;
	-moz-background-size: auto, cover!important;
	-o-background-size: auto, cover!important;
}
.page-header-canvas {
    background: rgba(0, 0, 0, 0.25) !important;
    box-shadow: none !important;
    border-bottom: none !important;
}
.main-view {
    background: linear-gradient(180deg,#ffffff00 10px,#ffffff00 100px) !important;
}

/* login page */
.login {
background-image: var(--main-bg-color) !important;
background-repeat: repeat, no-repeat!important;
background-attachment: fixed, fixed!important;
background-position: center center, center center!important;
background-size: auto, cover!important;
-webkit-background-size: auto, cover!important;
-moz-background-size: auto, cover!important;
-o-background-size: auto, cover!important;
background-color: rgba(0,0,0,.0) !important;
color:#FFFFFF !important;
}
.login-branding {
    border-right: none !important;
}
/* Configuration menu */
.card-item {
    background: rgba(0, 0, 0, .25) !important;
}
.card-item:hover {
    background: hsla(0,0%,100%,.08) !important;
}
.card-item-sub-name, .card-item-type {
    color: #FFF !important;
}
.gf-form--has-input-icon .gf-form-input-icon {
    color: #fff !important;
}
.gf-tabs-link.active, .gf-tabs-link.active:focus, .gf-tabs-link.active:hover {
    background: rgba(0, 0, 0, 0.25) !important;
}
.filter-table tbody tr:nth-child(odd) {
    background: hsla(0,0%,100%,.08) !important;
}
.cta-form {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
.empty-list-cta {
    background-color: rgba(0, 0, 0, .25) !important;
}
.layout-selector button {
    background: rgba(0, 0, 0, 0.25);
    color: #ffffff;
}
.layout-selector button.active {
    background-color: rgba(0, 0, 0, 0.45);
    color: #ffffff;
}
/* Configuration menu - Teams */
.css-1ph0cdx-call-to-action-card {
    background: rgba(0, 0, 0, .25) !important;
}
.grafana-info-box {
    background-color: rgba(0, 0, 0, 0.45);
}
/* sidemenu */
.sidemenu-open, .sidemenu {
    background: rgba(0, 0, 0, .25) !important;
}
.sidemenu__logo:hover {
    background: rgba(0, 0, 0, .25) !important;
}
.sidemenu-item.active, .sidemenu-item:hover {
    background-color: rgba(0, 0, 0, .25) !important;
}
.side-menu-header, .dropdown-menu--menu, .dropdown-menu--navbar, .dropdown-menu--sidemenu {
    background: var(--modal-bg-color);
}
.dropdown-menu .divider {
    border-bottom: 1px solid #d8d9da;
}
.dropdown-menu--sidemenu>li>.side-menu-header-link:hover {
    color: #fff!important;
    background: var(--modal-bg-color)!important;
}
.dropdown-menu--menu>li>a:hover, .dropdown-menu--navbar>li>a:hover, .dropdown-menu--sidemenu>li>a:hover {
    background: rgba(0, 0, 0, 0.25)!important;
}
.dropdown-menu>li>a {
    color: #ffffff!important;
}
.dropdown-menu-item-shortcut {
    color: #ffffff!important;
}
.dropdown-submenu:hover>a {
    Background-color: rgba(0, 0, 0, 0.25)!important;
}
.icon-circle:hover .fa:hover, .icon-circle:hover .gicon:hover, .icon-circle:hover .icon-gf:hover {
    color: #ffffff;
    opacity: 1;
}
/* Dashboard dropdown menu */
.search-dropdown__col_1 {
    background: var(--modal-bg-color) !important;
}
.search-container {
    left: 0px !important;
}
.navbar-page-btn {
    color: #FFFFFF !important;
}
/* dropdown menu */
.css-n9566h, .css-1m7hyr {
    background: var(--modal-bg-color) !important;
}
.search-filter-box {
    background: var(--modal-bg-color);
}
/* Dashboard row  */
.dashboard-row--collapsed {
    background: rgba(0, 0, 0, 0.25);
}
.search-section {
    background: rgba(255, 255, 255, 0.08);
    border: none;
}
.search-item {
    background: rgba(0, 0, 0, 0.15);
}
.search-item.selected, .search-item:hover {
    background: rgba(0, 0, 0, 0.25);
}
/* Panel fullscreen navbar */
.panel-in-fullscreen .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25)) !important;
}

/* Dashboard search menu */
.search-field-wrapper>input {
	height: 55px !important;
}

/* Dashboard settings menu */
.dashboard-settings__aside {
    background: rgba(0, 0, 0, .25) !important;
}
.dashboard-page--settings-open .navbar {
    background: linear-gradient(90deg,rgba(0, 0, 0, .15),rgba(0, 0, 0, 0.25)) !important;
}
.navbar-button--primary {
    border-color: #ffffff00 !important;
}
.dashboard-settings__aside-header {
    color: #ffffff !important;
}
.dashboard-settings__nav-item {
    color: #ffffff !important;
}
.bootstrap-tagsinput {
    background-color: #09090b !important;
}

.gf-form-switch--table-cell {
    background-color: transparent !important;
}
.gf-form-select-wrapper {
    background-color: hsla(0,0%,100%,.08) !important;
}
.dashboard-settings__nav-item.active {
    background: rgba(255, 255, 255, 0.08);
}
.gf-form-checkbox {
    background: rgba(0, 0, 0, 0.25);
    border: none;
}
.gf-form-switch__checkbox {
    border: none;
    background: #ffffff;
}
.filter-table td.filter-table__switch-cell {
    border-right: none;
}
/* Variable label color  */
.template-variable {
    color: var(--accent-color) !important;
}

/* Variable label box */
.gf-form-label {
    background-color: rgba(0, 0, 0, 0.25) !important;
	border: none !important;
}
.gf-form-label--btn:hover {
    background: rgba(0, 0, 0, 0.45) !important;
}

.variable-option.highlighted, .variable-option:hover {
    background-color: hsla(0,0%,100%,.1) !important;
}

/* Variable dashboard dropdown */
.variable-value-link {
    padding: 7.4px 10px !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    border: none !important;
    color: #FFFFFF !important;
}

/* Variable input box */
.gf-form-input {
	color: #FFFFFF !important; 
	border: none !important;	
}
.gf-form-input:focus {
    color: #FFF !important;
	box-shadow: none !important;
}
.gf-form-select-box-button-select {
    background: transparent;
	border: none; 
}
.gf-form-select-wrapper .gf-form-select-icon+.gf-form-input option {
    color: #fff;
	background: #1f1f1f;
}
.css-0 > .gf-form-input {
	background-color: transparent !important;
}

/* NAVBAR BUTTONS */
.navbar-button {
    color: #FFF !important;
    background-color: rgba(0, 0, 0, 0.25) !important;
    background-image: linear-gradient(180deg,rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25)) !important;
    border: none !important;
}

/* Custom Range Refreshing every X Dropdown */
.gf-timepicker-absolute-section select {
    background-color: #393a3b !important;
}

/* PANEL BACKGROUND COLOR*/
.panel-container {
    background-color: rgba(0, 0, 0, .25);
    border: transparent;
}
.panel-container.panel-transparent {
	background-color: transparent;
	border: transparent;
}
.panel-header:hover {
    background-color: rgba(0, 0, 0, 0.25) !important;
}
/* ////PANEL BACKGROUND COLOR//// */

.graph-legend-table .graph-legend-series:nth-child(odd) {
    background: transparent !important;
}

/* Panel text color*/
div.flot-text {
    color: #FFF !important;
}

/* panel loading circle*/
.panel-loading {
    color: #FFF !important;
}

/* panel resize arrow */
.theme-dark .react-grid-item>.react-resizable-handle:after {
    border-right: 2px solid #fff !important;
    border-bottom: 2px solid #fff !important;
}

/* table panel background color */
.table-panel-container {
    background-color: rgba(0, 0, 0, .25) !important;
}
/* table panel border size */
.table-panel-table td {
    padding: .45em 0 .45em 1.1em;
    border-bottom: 1px solid #171819;
    border-right: 1px solid #171819;
}
.table-panel-header-bg {
    background: rgba(0, 0, 0, 0.25);
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

}
/* Edit panel tabs  */
.tabbed-view-header {
    box-shadow: none;
    background: rgba(0, 0, 0, 0.25);
    border-bottom: none;
}
.tabbed-view-panel-title {
    padding-left: 10px;
}
/* panel query settings  */
.panel-editor__right, .toolbar {
    background: rgba(0, 0, 0, 0.25);
}
.query-editor-row__header {
    background: rgba(0, 0, 0, 0.25);
}
.query-editor-row__body {
    background: rgba(0, 0, 0, 0.15);
}
.panel-options-group {
    background: rgba(0, 0, 0, 0.15);
}

.gf-form-switch {
    background: rgba(0, 0, 0, 0.25);
    border: transparent;
}
.viz-picker__item {
    background: rgba(0, 0, 0, 0.25);
    border: transparent;
}
.viz-picker__item--current {
    box-shadow: 0 0 6px #eb7b18!important;
    border: 1px solid #eb7b18!important;
    background: rgba(0, 0, 0, 0.4)!important;
}
.viz-picker__item:hover {
    box-shadow: 0 0 6px #eb7b18!important;
    background: rgba(0, 0, 0, 0.4);
    border: 1px solid #eb7b18!important;
}
.panel-options-group__header {
    background: rgba(0, 0, 0, 0.25);
}
.custom-scrollbar .thumb-vertical, .custom-scrollbar .thumb-horizontal {
    background-color: rgba(255, 255, 255, 0);
    background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(255, 255, 255, 0.25)),to(rgba(255, 255, 255, 0.25)));
    background-image: -webkit-linear-gradient(top,rgba(255, 255, 255, 0.25),rgba(255, 255, 255, 0.25));
    background-image: -o-linear-gradient(top,#404357,#424345);
    background-image: linear-gradient(180deg,rgba(249, 249, 249, 0.25),rgba(251, 251, 251, 0.25));
}
.toolbar__main {
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.15);
    border: transparent;
}

/* worldmap zoom buttons and leaflet  */
.leaflet-bar a, .leaflet-bar a:hover {
    background-color: #1f1f1f !important;
    border-bottom: 1px solid #1f1f1f !important;
    color: white !important;
}
.leaflet-bar a:hover {
    background-color: #1b1b1b !important;
}
.leaflet-control-attribution {
    display: none;
}
/* buttons  
.btn-inverse {
border-color: #b56d16 !important;
    color: #fff !important;
    background-color: #cc7b19 !important;
    -webkit-transition: background-color .1s !important;
    transition: background-color .1s !important;
	}
	.btn-inverse.active, .btn-inverse.disabled, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse[disabled] {
		color: #fff;
    background-color: #e59029 !important;
}
.btn-outline-disabled {
    color: #fff;
}*/

.btn-inverse {
    background: rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.45), 1px 1px 0 0 rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.45), 1px 1px 0 0 rgba(0,0,0,.3);
}
.btn-primary, .btn-success {
	-webkit-box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.45), 1px 1px 0 0 rgba(0,0,0,.3);
    box-shadow: 0px 0px 5px 1px hsla(0, 0%, 0%, 0.45), 1px 1px 0 0 rgba(0,0,0,.3);
}
.btn-inverse.active, .btn-inverse.disabled, .btn-inverse:active, .btn-inverse:focus, .btn-inverse:hover, .btn-inverse[disabled] {
    background-color: rgba(255, 255, 255, 0.08);
}

/* New Dashboard */
.add-panel__item {
    background: linear-gradient(135deg,rgba(0, 0, 0, 0),rgba(0, 0, 0, 0.25));
    box-shadow: -1px -1px 0 0 hsla(0,0%,100%,.1), 1px 1px 0 0 rgba(0, 0, 0, 0);
}
.add-panel__item.active, .add-panel__item:hover {
    background: linear-gradient(135deg,rgba(0, 0, 0, 0.25),rgba(0, 0, 0, 0.25));
}
.add-panel__header {
    background: rgba(0, 0, 0, 0.25);
    box-shadow: none;
    border-bottom: 0px;
}
/* Explore */
.query-transaction {
    color: #fff;
}
.query-type-toggle .btn.active {
    background-color: rgba(0, 0, 0, 0.45);
    border: none;
    border-radius: 3px;
}
.toggle-button-group .btn {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: none;
    border-color: #00000000;
    border-radius: 3px !important;
    border-right: 1px;
}
.toggle-button-group .btn:hover {
    background-color: rgba(0, 0, 0, 0.45);
}
.logs-panel-options {
    background-color: transparent;
    border: none;
}
/* JSON Model */
.gf-code-dark {
    background-color: rgba(0, 0, 0, 0.25);
    color: #e0e0e0;
}
.gf-code-editor.ace_editor {
    border: none;
}

.modal-header {
    background: var(--modal-bg-color);
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #d8d9da;
}
.modal-body {
    position: relative;
    background: var(--modal-bg-color);
}