/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

body {
    background: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: transparent;
    color: hsla(0, 0%, 100%, .7) !important;
    font-family: Open Sans Bold, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    font-size: 1.4em !important;
    overflow-y: auto;
    height: 100%;
}

/* Scrollbar */
@media only screen and (min-width: 768px) {
    html {
        height: 100%;
        width: 100%;
        overflow: hidden;
    }

    body {
        overflow-y: auto;
        height: 100%;
        background: var(--main-bg-color);
        background-repeat: repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: center center, center center;
        background-size: auto, cover;
        -webkit-background-size: auto, cover;
        -moz-background-size: auto, cover;
        -o-background-size: auto, cover;
    }
}

::-webkit-scrollbar {
    width: 14px;
}

::-webkit-scrollbar-thumb {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .2);
    background-clip: padding-box;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb:hover {
    min-height: 50px;
    border: 3px solid transparent;
    border-radius: 8px;
    background-color: hsla(0, 0%, 100%, .5);
    background-clip: padding-box;
}

legend {
    border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.navbar-inverse {
    background-color: rgba(0, 0, 0, 0.6);
    border-color: transparent;
}

.side-nav {
    background-color: rgba(0, 0, 0, 0.15);
}

.navbar-inverse .navbar-nav>li>a {
    color: hsla(0, 0%, 100%, .7);
}

.navbar-inverse .navbar-nav>li>a:hover,
.navbar-inverse .navbar-nav>li>a:focus {
    background-color: hsla(0, 0%, 100%, .08);
}

.nav>li.selected>a {
    background-color: transparent;
    color: #f9be03 !important;
}

@media only screen and (max-width: 768px) {

    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
        border-color: transparent;
        background: var(--modal-bg-color);
        background-repeat: repeat, no-repeat;
        background-attachment: fixed, fixed;
        background-position: center center, center center;
        background-size: auto, cover;
        -webkit-background-size: auto, cover;
        -moz-background-size: auto, cover;
        -o-background-size: auto, cover;
    }
}

.breadcrumb>.active {
    text-transform: uppercase;
    text-transform: bold;
}

.panel,
.panel-default>.panel-heading,
.breadcrumb>.active {
    background-color: transparent;
    border: transparent;
    color: inherit;
    font-size: 15px;
    font-family: Open Sans Bold, Helvetica Neue, Helvetica, Arial, sans-serif !important;
    line-height: 24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0);
}

.plpp_table.even:hover,
.plpp_table.odd:hover {
    background-color: hsla(0, 0%, 100%, .08) !important;
}

.panel-heading {
    font-weight: bold;
}

.plpp_thumbs_Title:hover,
.plpp_slider_Title:hover,
.plpp_thumbs_Episode_Title:hover,
.plpp_slider_Episode_Title:hover,
.plpp_thumbs_Season_Title:hover,
.plpp_slider_Season_Title:hover,
.plpp_thumbs_Show_Title:hover,
.plpp_slider_Show_Title:hover,
.plpp_thumbs_Artist:hover,
.plpp_slider_Artist:hover,
.plpp_thumbs_Year:hover,
.plpp_thumbs_Episode_No:hover,
.plpp_slider_Year:hover,
.plpp_slider_Episode_no:hover,
.plpp_thumbs_Track_no:hover,
.plpp_slider_Track_no:hover,
.plpp_thumbs_Episode_Count:hover,
.plpp_slider_Episode_Count:hover,
.plpp_thumbs_Track_Count:hover,
.plpp_slider_Track_Count:hover,
.plpp_thumbs_Dimensions:hover,
.plpp_slider_Dimensions:hover,
.plpp_thumbs_Duration:hover,
.plpp_slider_Duration:hover {
    text-decoration: underline;
}

.img-rounded {
    border-radius: 0px;
}

.img-rounded:hover {
    border-radius: 0px;
    box-shadow: 0 0 0 2px #cc7b19;
    background: radial-gradient(farthest-corner at 50% 50%, rgba(50, 50, 50, .5) 50%, #323232 100%);
    opacity: .7;
    transition: linear .2s;
}

.img-responsive,
.thumbnail>img,
.thumbnail a>img,
.carousel-inner>.item>img,
.carousel-inner>.item>a>img {
    width: 100%;
}

div.modal-content>div.modal-body>div.plpp_details_container>div.plpp_details_Thumbnail,
div.plpp_details_Poster>.img-rounded {
    box-shadow: none;
    opacity: 1;
}

div.plpp_slider {
    margin: 2px 15px 10px 2px;
}

table {
    background-color: rgba(0, 0, 0, 0.25);
}

table,
.table {
    color: hsla(0, 0%, 100%, .7);
}

.table>thead>tr>th,
.table>tbody>tr>th,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>tbody>tr>td,
.table>tfoot>tr>td {
    border-top: 1px solid rgba(255, 255, 255, .15);
}

.table>thead>tr>th {
    vertical-align: bottom;
    border-bottom: 2px solid rgba(255, 255, 255, .15);
}

.pagination>li>a,
.pagination>li>span {
    color: var(--text-hover);
    background-color: rgba(0, 0, 0, 0.25);
    border: transparent;
}

.pagination>.disabled>span,
.pagination>.disabled>span:hover,
.pagination>.disabled>span:focus,
.pagination>.disabled>a,
.pagination>.disabled>a:hover,
.pagination>.disabled>a:focus {
    color: #BDBDBD;
    background-color: rgba(0, 0, 0, 0.25);
    border: transparent;
    cursor: not-allowed;
}

/* Modal */
.modal-header,
div.modal-body,
.modal-footer {
    border-bottom: 1px solid rgba(255, 255, 255, .15);
    background: var(--modal-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

/* Buttons */
.btn-default {
    background-color: var(--button-color);
    border-color: transparent;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-color: var(--button-color-hover);
    border-color: transparent;
}

.modal-header .close {
    color: #dadada;
}

.modal-header .close:hover {
    color: var(--text-hover);
}