/*    dP   dP                                                                  dP        */
/*    88   88                                                                  88        */
/*  d8888P 88d888b. .d8888b. 88d8b.d8b. .d8888b.    88d888b. .d8888b. 88d888b. 88  .dP   */
/*    88   88'  `88 88ooood8 88'`88'`88 88ooood8    88'  `88 88'  `88 88'  `88 88888"    */
/*    88   88    88 88.  ... 88  88  88 88.  ...    88.  .88 88.  .88 88       88  `8b.  */
/*    dP   dP    dP `88888P' dP  dP  dP `88888P' 88 88Y888P' `88888P8 dP       dP   `YP  */
/*                                                  88                                   */
/*                                                  dP					 */

/*		   		        Made by @gilbN					 */
/*			      https://github.com/gilbN/theme.park			 */

@import url("/css/defaults/placeholders.css");

body {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text) !important;
}

/* scroller */
::-webkit-scrollbar-corner {
    background-color: rgba(0, 0, 0, .25);
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: #0c1218;

}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background-color: hsla(0, 0%, 100%, .08);
}

.modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid rgb(var(--accent-color));
    background: var(--modal-footer-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.modal {
    background: var(--modal-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text) !important;
}

.modal-footer {
    background-color: var(--modal-footer-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    border-top: 1px solid rgb(var(--accent-color));
    -webkit-box-shadow: inset 0 1px 0 transparent;
    -moz-box-shadow: inset 0 1px 0 transparent;
    box-shadow: inset 0 1px 0 transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text-hover);
}

/* TABLES */
.table a {
    color: var(--link-color);
}

.table a:hover {
    color: var(--link-color-hover) !important;
}

.table-striped tbody tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.25);
}

.table-striped tbody tr:nth-child(odd) td,
.table-striped tbody tr:nth-child(odd) th {
    background-color: transparent;
}

.table-striped tbody tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.08);
}

.table tbody tr:hover,
.table tbody tr:hover td,
.table tbody tr:hover a {
    color: var(--text-hover);
    background-color: hsla(0, 0%, 100%, .08);
}

.table-striped tbody tr.checked:nth-child(2n+1) td,
.checked .progress {
    background-color: hsla(0, 0%, 100%, .08);
}

tr.checked,
tr.checked td,
tr.checked:nth-child(odd) .progress {
    background-color: hsla(0, 0%, 100%, .08);
}

.table tbody tr.checked:hover,
.table tbody tr.checked:hover td {
    background-color: hsla(0, 0%, 100%, .08);
}

.table tbody tr.checked:hover,
.table tbody tr.checked:hover td {
    background-color: hsla(0, 0%, 100%, .08);
}

.table.check-simple tbody tr.checked:hover,
.table.check-simple tbody tr.checked:hover td {
    background-color: hsla(0, 0%, 100%, .08);
}

.table th,
.table td {
    border-top: none;
}

.table-bordered {
    border-left: none;
    border: none;
}

.pagination a {
    border: none;
    background: rgba(0, 0, 0, .25);
}

.pagination a:hover,
.pagination .active a {
    background-color: hsla(0, 0%, 100%, .08);
}

.pagination .active a {
    color: rgb(rgb(var(--accent-color)));
}

/* PROGRESS BAR */
.progress {
    background: hsla(0, 0%, 100%, .08);
}

.progress-warning.progress-striped .bar {
    background-color: #cc7b19;
}

.progress-success.progress-striped .bar {
    background-color: #51a351;
}

.bar-text-left,
.bar-text-right {
    var(--text-hover);
}

/* NAVBAR */
.navbar-fixed-top .navbar-inner {
    color: var(--text-hover) !important;
}

.navbar-inner {
    background-image: none;
    background-color: transparent;
}

.navbar-container {
    background: var(--main-bg-color);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
}

.navbar .nav>li>a:hover {
    color: rgb(var(--accent-color)) !important;
    background: hsla(0, 0%, 100%, .08);
}

.navbar .nav .active>a {
    background: hsla(0, 0%, 100%, .08);
    color: rgb(var(--accent-color));
}

.navbar .nav .active>a:hover {
    background: hsla(0, 0%, 100%, .08);
    color: var(--accent-color-hover) !important;
}

div.check:hover {
    border: 1px solid var(--accent-color-hover);
}

#DownloadsTable>tbody>tr.checked td .check {
    border: 1px solid rgb(var(--accent-color));
}

[class^="icon-"],
[class*=" icon-"],
[class^="img-"],
[class*=" img-"] {
    background-image: url(/resources/nzbget/icons.png);
}

.navbar-search .search-query {
    color: var(--text);
    background-color: rgba(0, 0, 0, 0.25) !important;


}

.navbar-search .search-query:focus,
.navbar-search .search-query.focused {
    color: var(--text-hover) !important;
    text-shadow: none;
    background-color: rgba(0, 0, 0, 0.45) !important;
}

.focused .search-caret-button .caret {
    margin-left: 5px;
    border-top-color: rgb(255, 255, 255);
    border-bottom-color: rgb(255, 255, 255);
}

.search-caret-button {
    outline: none;
}

.menu-header {
    color: var(--text-hover);
}

.dropdown-menu {
    background: var(--drop-down-menu-bg);
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    color: var(--text);
}

.dropdown-menu a {
    color: var(--text);
}

.dropdown-menu li>a:hover,
.dropdown-menu .active>a,
.dropdown-menu .active>a:hover {
    color: var(--text-hover);
    background-color: hsla(0, 0%, 100%, .05);
}

.dropdown-menu .divider {
    height: 0px;
    border-bottom: none;
}

#ConfigContent .config-header {
    border-bottom: 1px solid rgb(var(--accent-color));
    color: var(--text-hover);
}

#StatDialog_Custom a,
#AddDialog_Files a {
    color: var(--link-color);
}

#StatDialog_Custom a:hover,
#AddDialog_Files a:hover {
    color: var(--link-color-hover);
    cursor: pointer;
}

/* BUTTONS */
.btn-primary,
.btn-primary:hover,
.btn-warning,
.btn-warning:hover,
.btn-danger,
.btn-danger:hover,
.btn-success,
.btn-success:hover,
.btn-info,
.btn-info:hover,
.btn-inverse,
.btn-inverse:hover {
    text-shadow: none;
}

.btn-group>.dropdown-toggle {
    box-shadow: none;
}

.config-header .btn {
    background: #FFF;
    color: #adb1b1;
    text-shadow: unset;
}

#ConfigData>div>button.btn {
    background: var(--button-color) !important;
    color: var(--button-text) !important;
    font-weight: bold;
    text-shadow: unset;
}

#ConfigData>div>button.btn:hover {
    background: var(--button-color-hover) !important;
    color: var(--button-text-hover) !important;
    font-weight: bold;
    text-shadow: unset;
}

#ConfigData>div>div>table>tbody>tr>td>.btn {
    background: var(--button-color);
    color: var(--button-text);
    text-shadow: unset;
    font-weight: bold;
}

#Config_Save:hover {
    background-color: rgb(81, 163, 81);
    color: #eee;
}

#Config_Save {
    background: rgba(81, 163, 81, 0.8);
    color: #FFF;
    margin: auto;
}

#ConfigData>div>div>button.btn.btn-danger {
    background: #ad292c;
    text-shadow: unset;
}

#ConfigData>div>div>button.btn.btn-danger:hover {
    background: #d33a3e;
    text-shadow: unset;
}

#ConfigData>div:nth-child(3)>div>button,
#ConfigData>div:nth-child(4)>div>button,
#ConfigData>div:nth-child(5)>div>button {
    text-shadow: unset;
    background: rgba(0, 0, 0, 0.25);
    color: var(--text-hover);
}

#ConfigData>div:nth-child(3)>div>button:hover,
#ConfigData>div:nth-child(4)>div>button:hover,
#ConfigData>div:nth-child(5)>div>button:hover {
    text-shadow: unset;
    background: hsla(0, 0%, 100%, .08);
    color: var(--text-hover);
}

#ConfigData input.btn.btn-primary {
    background: var(--button-color-hover) !important;
    text-shadow: unset;
    color: var(--button-text-hover) !important;
    border: 1px solid var(--button-color-hover);
}

#ConfigData input.btn {
    background: rgba(0, 0, 0, 0.25) !important;
    text-shadow: unset;
    color: #a8a8a8;
}

#Config_ViewButton {
    background: rgba(0, 0, 0, 0.25);
    color: var(--text-hover);
}

#Config_ViewButton:hover {
    background: hsla(0, 0%, 100%, .08);
    color: var(--text-hover);
}

#DownloadsEditDialog input.btn.btn-primary {
    background: var(--button-color) !important;
    text-shadow: unset;
    color: var(--button-text);
}

#HistoryEdit_ParamData input.btn.btn-primary {
    background: var(--button-color) !important;
    text-shadow: unset;
    color: var(--button-text);
}

.btn {
    color: var(--button-text);
    text-shadow: none;
    background-color: var(--button-color);
    background-image: none;
    /* border-color: transparent;
    border-bottom-color: transparent; */
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: transparent;
}

.btn:hover {
    color: var(--button-text-hover);
    background-color: var(--button-color-hover);

}

.config-header .btn {
    background-color: rgba(0, 0, 0, 0.25);
}

.btn-group.open .btn.dropdown-toggle {
    background-color: var(--button-color-hover);
}

#ConfigData>div>div>table>tbody>tr>td>.btn {
    background: var(--button-color);
    color: var(--button-text);
    text-shadow: unset;
    font-weight: bold;
}

#ConfigData>div>div>table>tbody>tr>td>.btn:hover {
    background: var(--button-color-hover);
    color: var(--button-text-hover);
}

input,
textarea,
.uneditable-input {
    background: rgba(0, 0, 0, 0.25) !important;
    color: var(--text) !important;
    border: transparent;
}

input:focus:not(.btn),
textarea:focus,
.uneditable-input:focus {
    background: rgba(255, 255, 255, 0.10) !important;
    color: var(--text-hover) !important;
    border: transparent;
}

select {
    background-color: rgba(0, 0, 0, 0.25);
    border: 1px solid #00000000;
    color: var(--text)
}

select:focus {
    background: #1b1b1b !important;
    color: var(--text-hover) !important;
}

input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus,
select:focus {
    outline: thin dotted #333;
    outline: none;
    outline-offset: -2px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

input:focus,
textarea:focus {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.alert-info {
    font-weight: bold;
    border-radius: unset;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border: 0px;
    background-color: hsla(0, 0%, 100%, .05);
    text-shadow: unset;
    color: var(--text-hover);
    text-transform: capitalize;
}

.alert-inverse {
    background-color: #414141;
    background-image: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    border-color: transparent;
    opacity: 1;

}

/* SETTINGS */

label {
    color: var(--text-hover);
}

.badge-active,
#MessagesTabBadge {
    background-color: var(--button-color-hover);
    color: var(--button-text-hover);
    -webkit-box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgb(0 0 0 / 20%);
}

.label:not(.label-success, .label-warning, .label-important, .label-info, .label-inverse),
.badge:not(.badge-success, .badge-warning, .badge-important, .badge-info, .badge-inverse) {
    font-size: 10.998px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgb(0 0 0 / 25%);
    white-space: nowrap;
    vertical-align: baseline;
    background-color: rgb(255 255 255 / 25%);
}

#ConfigNav {
    border: 1px solid rgba(0, 0, 0, .25);
    background-color: rgba(0, 0, 0, .25);
}

#ConfigNav.nav-list a {
    color: var(--text);
    text-decoration: none;
}

.nav-list>li>a,
.nav-list .nav-header {
    text-shadow: none;
}

.nav-list>.active>a,
.nav-list>.active>a:hover {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
    background-color: #0088cc;
}

.nav-list>.active>a,
.nav-list>.active>a:hover {
    color: rgb(var(--accent-color)) !important;
    background-color: transparent;
}

.nav>li>a:hover {
    background-color: hsla(0, 0%, 100%, .08);
    color: var(--text-hover) !important;
}

.nav-list .divider {
    background-color: rgb(var(--accent-color));
    border-bottom: 1px solid rgb(var(--accent-color));
}

span.help-option-title {
    color: var(--text);
}

.help-block,
.help-inline {
    color: var(--text);
}

.confirm-help-block {
    color: var(--text);
    font-size: 13px;
    line-height: 16px;
    margin-bottom: 0;
}

.input-prepend .add-on,
.input-append .add-on {
    background-color: rgba(0, 0, 0, 0.25);
    background-image: var(--main-bg-color) !important;
    background-repeat: repeat, no-repeat;
    background-attachment: fixed, fixed;
    background-position: center center, center center;
    background-size: auto, cover;
    -webkit-background-size: auto, cover;
    -moz-background-size: auto, cover;
    -o-background-size: auto, cover;
    background-color: transparent;
    color: var(--text-hover) !important;
    border: none;
}

.config-settitle {
    background-color: rgba(0, 0, 0, 0.25);
    border-bottom: none;
}

a {
    color: var(--link-color);
    text-decoration: none;
}

a:hover {
    color: var(--link-color-hover);
    text-decoration: underline;
}

.caret {
    border-top: 4px solid #ffffff;
}

hr {
    margin: 18px 0;
    border: 0;
    border-top: 1px solid gb(var(--accent-color));
    border-bottom: 1px solid gb(var(--accent-color));
}