:root {
    --main-bg-color: #202020;

    --modal-bg-color: #2a2a2a;
    --modal-header-color: #2a2a2a;
    --modal-footer-color: #2a2a2a;

    --drop-down-menu-bg: #333;

    --button-color: #5899eb;
    --button-color-hover: #4b91ea;
    --button-text: #eee;
    --button-text-hover: #fff;

    --accent-color: 230, 96, 0;
    --accent-color-hover: rgb(var(--accent-color),.8);
    --link-color: rgb(230, 96, 0);
    --link-color-hover: rgb(230, 96, 0, .8);
    --label-text-color: #eee;

    --text: #ccc;
    --text-hover: #fff;
    --text-muted: #999;

    /*Specials*/
    --arr-queue-color: #5d9cec;
    --side-menu-active: #333333;
    --scroller-hover: #606060;
    --scroller: #707070;
    --border-color: #606060;
    --label-color: #e66000;
    --label-info: #5d9cec;
    --header-color: #2a2a2a;
    --toolbar-background: #262626;
    --side-menu-color: #2a2a2a;
    --side-menu-link-color: #e66000;
}

/* HEADER */

[class*="PageHeader-header-"] {
    background-color: var(--header-color);
    color: #fff;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}

[class*="PageToolbar-toolbar-"] {
    background-color: var(--toolbar-background);
    color: var(--text);
}

/* SIDE MENU */

[class*="PageSidebar-sidebar-"] {
    background-color: var(--side-menu-color);
    color: #fff;
}

[class*=PageSidebarItem-link-]:focus {
    color: rgb(var(--accent-color)) !important;
}

[class*=PageSidebarItem-isActiveLink-] {
    color: var(--side-menu-link-color) !important;
}

[class*=PageSidebarItem-isActiveParentLink-] {
    background-color: var(--side-menu-active);
}

/* SCROLLER */

[class*=ImportSeriesSelectSeries-results-]::-webkit-scrollbar-thumb:hover,
[class*=OverlayScroller-thumb-]:hover {
    background-color: var(--scroller-hover) !important;
}

[class*="OverlayScroller-thumb-"],
[class*=Scroller-scroller-]::-webkit-scrollbar-thumb {
    background-color: var(--scroller) !important;
}

/* MODALS */

[class*=ModalHeader-modalHeader-],
[class*=FieldSet-legend-] {
    border-bottom: 1px solid var(--border-color);
}

[class*=ModalFooter-modalFooter-] {
    border-top: 1px solid var(--border-color);
}

/* LABLES */

[class*="Label-default-"] {
    border-color: var(--label-color);
    background-color: var(--label-color);
    color: white;
}

[class*="Label-info-"]:not([class*="PageSidebarItem-status-"] [class*="Label-info-"]) {
    border-color: var(--label-info);
    background-color: var(--label-info);
    color: #fff;
}

[class*="Label-disabled-"][class*="Label-outline-"] {
    color: #000;
}

[class*="Label-outline-"] {
    background-color: #989898;
}

[class*="Label-success-"] {
    color: #000;
}

/* SETTINGS */

[class*=Settings-link-] {
    border-bottom: 1px solid var(--border-color);
}

/* SEARCH DROP DOWN */

[class*=IndexerSearchInput-containerOpen-] [class*=IndexerSearchInput-movieContainer-] {
    border: 1px solid var(--drop-down-menu-bg);
    background-color: var(--drop-down-menu-bg);
    box-shadow: none;
    color: #e1e2e3;
}

[class*="MenuContent-scroller-"] {
    box-shadow: none;
}

canvas {
    filter: none !important
}

[class*="Stats-fullWidthChart-"], [class*="Stats-halfWidthChart-"] {
    background: transparent !important;
}

[class*="Card-card-"], [class*="QualityProfiles-addQualityProfile-"] {
    background: var(--transparency-light-10);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    color: var(--text);
}